<!-- ======================  
 Success Stories Hero 
====================== -->
<section
  class="xl:pt-[180px] md:pt-42 pt-36 xl:pb-28 md:pb-24 pb-10"
  aria-label="success stories hero section"
>
  <div class="main-container">
    <div class="lg:max-w-[610px] text-center space-y-4 lg:mx-auto">
      <h1 class="lg:text-heading-2" data-ns-animate data-delay="0.1" data-instant>
        Success stories that inspire innovation
      </h1>
      <p data-ns-animate data-delay="0.2" data-instant>
        Discover how teams and creators are scaling faster, simplifying workflows, and unlocking
        growth all powered by NextSaaS.
      </p>
    </div>
  </div>
</section>
