<section class="md:pb-28 pb-14">
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.1"
      class="md:p-14 p-9 space-y-6 rounded-4xl bg-background-3 dark:bg-background-8 max-w-[950px] mx-auto"
    >
      <div data-ns-animate data-delay="0.2" class="flex items-center gap-x-3">
        <p class="flex items-center gap-x-1 text-secondary dark:text-accent font-medium">
          <a href="./glossary-page-02.html">Glossary</a>
          <span class="size-[22px] flex items-center justify-center shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              class="stroke-secondary dark:stroke-accent"
            >
              <path d="M7.5 15L12.5 10L7.5 5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </p>
        <p>What is A/B testing?</p>
      </div>
      <div class="space-y-2">
        <h3 data-ns-animate data-delay="0.3" class="text-heading-5 font-normal">
          What is A/B Testing?
        </h3>
        <p data-ns-animate data-delay="0.4">
          A/B testing, also known as split testing, is a method used to compare two versions of a
          webpage, email, or feature to determine which one performs better based on user behavior.
          In this process, users are randomly shown either version A (the control) or version B (the
          variation), and their interactions—such as clicks, <br />
          conversions, or engagement—are measured. By analyzing the data collected, teams can <br />
          identify which version drives better results and make informed decisions to optimize user
          experience, boost performance, and achieve business goals more effectively.
        </p>
      </div>
    </div>
  </div>
</section>
