<section class="md:pt-[192px] pt-[140px] md:pb-28 pb-14">
  <div class="main-container">
    <div class="space-y-4 text-center">
      <h1 data-ns-animate data-delay="0.1" class="md:text-heading-2 text-heading-3 font-normal">
        A/B testing
      </h1>
      <p data-ns-animate data-delay="0.2" class="max-w-[600px] text-center mx-auto">
        A method of comparing two versions of a webpage, email, or feature to determine which
        performs better based on user behavior.
      </p>
    </div>
  </div>
</section>
