<!-- =========================
Blog section
===========================-->
<section class="lg:py-[150px] md:py-[100px] py-[80px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="text-center mb-[70px] space-y-3">
      <h2 data-ns-animate data-delay="0.1">Learn defi, step by step</h2>
      <p data-ns-animate data-delay="0.2">
        New to defi? we’ve got you covered with beginner-friendly guides and insights.
      </p>
    </div>
    <div class="grid grid-cols-12 md:gap-8 gap-y-6 items-start mb-14">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 xl:col-span-4">
        <article
          class="bg-white scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500 dark:bg-background-6 rounded-[20px] overflow-hidden"
        >
          <figure>
            <img
              src="./images/ns-img-490.jpg"
              alt="What is decentralized finance?"
              loading="lazy"
              class="w-full h-full object-cover"
            />
          </figure>
          <div class="sm:p-6 p-5 space-y-6 sm:min-h-[292px]">
            <div
              class="flex items-center max-[435px]:items-start max-[435px]:flex-col flex-row gap-3"
            >
              <span class="badge badge-green"> Finance </span>
              <div class="flex items-center gap-2.5">
                <span
                  rel="author"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  Kristin Watson
                </span>
                <span class="size-[5px] bg-primary-100 rounded-full"></span>
                <time
                  datetime="2025-03-20"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  March 20, 2025
                </time>
              </div>
            </div>
            <div class="space-y-2">
              <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1">
                <a
                  href="./decentralized-finance-blog-details.html"
                  aria-label="Read more about electronic prescription in finance sector"
                >
                  What is decentralized finance?
                </a>
              </h3>
              <p class="max-w-[360px]"> A simple breakdown of how DeFi works and why it matters.</p>
            </div>
            <div>
              <a
                href="./decentralized-finance-blog-details.html"
                class="btn btn-md btn-white dark:btn-transparent hover:btn-primary"
                aria-label="Read full article about electronic prescription"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </article>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 xl:col-span-4">
        <article
          class="bg-white scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500 dark:bg-background-6 rounded-[20px] overflow-hidden"
        >
          <figure>
            <img
              src="./images/ns-img-441.png"
              alt="How to earn passive income with defi tools"
              loading="lazy"
              class="w-full h-full object-cover"
            />
          </figure>
          <div class="sm:p-6 p-5 space-y-6 sm:min-h-[292px]">
            <div
              class="flex items-center max-[435px]:items-start max-[435px]:flex-col flex-row gap-3"
            >
              <span class="badge badge-green"> Crypto marketing </span>
              <div class="flex items-center gap-2.5">
                <span
                  rel="author"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  Kristin Watson
                </span>
                <span class="size-[5px] bg-primary-100 rounded-full"></span>
                <time
                  datetime="2025-03-20"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  March 31, 2025
                </time>
              </div>
            </div>
            <div class="space-y-2">
              <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1">
                <a
                  href="./decentralized-finance-blog-details.html"
                  aria-label="Read more about electronic prescription in finance sector"
                >
                  How to earn passive income with defi tools
                </a>
              </h3>
              <p class="max-w-[360px]">
                 Discover safe strategies for staking, lending, and yield farming.
              </p>
            </div>
            <div>
              <a
                href="./decentralized-finance-blog-details.html"
                class="btn btn-md btn-white dark:btn-transparent hover:btn-primary"
                aria-label="Read full article about electronic prescription"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </article>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 xl:col-span-4">
        <article
          class="bg-white scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500 dark:bg-background-6 rounded-[20px] overflow-hidden"
        >
          <figure>
            <img
              src="./images/ns-img-491.jpg"
              alt="Understanding wallet security in web3"
              loading="lazy"
              class="w-full h-full object-cover"
            />
          </figure>
          <div class="sm:p-6 p-5 space-y-6 sm:min-h-[292px]">
            <div
              class="flex items-center max-[435px]:items-start max-[435px]:flex-col flex-row gap-3"
            >
              <span class="badge badge-green"> Finance </span>
              <div class="flex items-center gap-2.5">
                <span
                  rel="author"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  Kristin Watson
                </span>
                <span class="size-[5px] bg-primary-100 rounded-full"></span>
                <time
                  datetime="2025-03-20"
                  class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60"
                >
                  March 20, 2025
                </time>
              </div>
            </div>
            <div class="space-y-2">
              <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1">
                <a
                  href="./decentralized-finance-blog-details.html"
                  aria-label="Read more about electronic prescription in finance sector"
                >
                  Understanding wallet security in web3
                </a>
              </h3>
              <p class="max-w-[360px]">
                 Learn how to protect your crypto and stay in control of your assets.
              </p>
            </div>
            <div>
              <a
                href="./decentralized-finance-blog-details.html"
                class="btn btn-md btn-white dark:btn-transparent hover:btn-primary"
                aria-label="Read full article about electronic prescription"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="text-center">
      <a
        href="./decentralized-finance-blog.html"
        class="btn btn-md hover:btn-primary dark:btn-transparent btn-white"
        aria-label="Explore the blog"
      >
        <span>Explore the blog</span>
      </a>
    </div>
  </div>
</section>
