<!-- =========================
CTA section
===========================-->
<section class="bg-white dark:bg-black py-[100px]">
  <div class="main-container">
    <div class="text-center space-y-4 mb-6">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Let's start</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2" class="max-w-[558px] mx-auto">
          Finance is evolving. are you ready?
        </h2>
        <p data-ns-animate data-delay="0.3">
           Sign up for free and experience secure, decentralized financial tools with no borders and
          no limits
        </p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.4" class="text-center">
      <li class="list-none">
        <a
          href="./decentralized-finance-contact.html"
          class="btn btn-md hover:btn-secondary dark:hover:btn-accent btn-primary"
          aria-label="Get started"
        >
          <span>Book Your Free Strategy Call</span>
        </a>
      </li>
    </div>
  </div>
</section>
