<!-- =========================
Hero section
===========================-->
<section class="lg:pt-[180px] pt-[150px] relative overflow-hidden">
  <div class="main-container">
    <div class="text-center space-y-4 mb-14">
      <h1
        data-ns-animate
        data-delay="0.1"
        class="md:max-w-[804px] sm:max-w-[600px] max-w-[400px] mx-auto"
      >
        <span class="hero-text-gradient hero-text-color-1 block">
          Secure, scalable, 100% decentralized.
        </span>
      </h1>
      <p
        data-ns-animate
        data-delay="0.2"
        class="md:max-w-full sm:max-w-[560px] max-w-[390px] mx-auto"
      >
        NextSaaS brings you borderless, trustless finance—powered by DeFi. Access global tools with
        zero middlemen and full control.
      </p>
    </div>
    <ul class="flex justify-center sm:flex-row flex-col items-center gap-4 mb-10">
      <li
        data-ns-animate
        data-delay="0.3"
        data-direction="left"
        data-offset="50"
        class="w-full sm:w-auto text-center sm:text-left"
      >
        <a
          href="./decentralized-finance-signup.html"
          class="btn btn-xl hover:btn-secondary dark:hover:btn-accent btn-primary sm:w-auto w-[90%]"
        >
          <span>Start for free</span>
        </a>
      </li>

      <li
        data-ns-animate
        data-delay="0.4"
        data-direction="left"
        data-offset="50"
        class="w-full sm:w-auto text-center sm:text-left"
      >
        <a
          href="./decentralized-finance-services.html"
          class="btn btn-white btn-xl dark:btn-white-dark hover:btn-primary sm:w-auto w-[90%]"
        >
          <span>Explore the platform</span>
        </a>
      </li>
    </ul>
    <div>
      <div class="flex items-center justify-center sm:gap-4 gap-y-4 sm:flex-row flex-col">
        <div class="flex -space-x-3.5">
          <img
            data-ns-animate
            data-delay="0.5"
            data-direction="right"
            data-offset="50"
            class="inline-block sm:size-12 size-10 rounded-full ring-2 ring-white bg-ns-yellow"
            src="./images/ns-avatar-1.png"
            alt="Avatar 1"
          />
          <img
            data-ns-animate
            data-delay="0.6"
            data-direction="right"
            data-offset="50"
            class="inline-block sm:size-12 size-10 rounded-full ring-2 ring-white bg-ns-red"
            src="./images/ns-avatar-2.png"
            alt="Avatar 2"
          />
          <img
            data-ns-animate
            data-delay="0.7"
            data-direction="right"
            data-offset="50"
            class="inline-block sm:size-12 size-10 rounded-full ring-2 ring-white bg-ns-green"
            src="./images/ns-avatar-3.png"
            alt="Avatar 3"
          />
          <div
            data-ns-animate
            data-delay="0.8"
            data-direction="right"
            data-offset="50"
            class="inline-flex items-center justify-center sm:size-12 size-10 rounded-full ring-2 ring-white dark:text-accent text-secondary/80 bg-background-3 dark:bg-background-6 text-tagline-3 font-medium"
          >
            99+
          </div>
        </div>
        <div
          data-ns-animate
          data-delay="0.9"
          data-direction="right"
          data-offset="50"
          class="text-center sm:text-left"
        >
          <p class="text-tagline-2 font-medium text-secondary dark:text-accent">Join 36,000+</p>
          <p class="text-tagline-3">Use NextSaaS for smarter decisions.</p>
        </div>
      </div>
    </div>
    <div class="mt-14 relative">
      <!-- bg img  -->
      <figure
        data-ns-animate
        data-delay="1"
        data-instant
        class="absolute max-[376px]:left-[25px] left-[45px] sm:left-[78px] lg:left-[116px] xl:left-[198px] top-[-81px] sm:top-[-136px] lg:top-[-157px] z-[-1] size-[300px] md:size-[600px] lg:size-[800px] overflow-hidden rotate-90 select-none pointer-events-none"
      >
        <img class="size-full object-cover" src="./images/ns-img-525.png" alt="Hero" />
      </figure>

      <!-- main img  -->
      <figure data-ns-animate data-delay="1.2" data-instant class="max-w-[1251px] mx-auto w-full">
        <img
          class="size-full object-cover dark:hidden"
          src="./images/ns-img-304.png"
          alt="Hero"
        />
        <img
          class="size-full object-cover hidden dark:block"
          src="./images/ns-img-dark-203.png"
          alt="Hero"
        />
      </figure>
    </div>
  </div>
  <div
    data-ns-animate
    data-delay="0.3"
    data-instant
    data-direction="up"
    class="hidden md:block absolute w-full h-full top-0 left-0 before:content-[''] before:absolute before:left-[110px] before:z-10 before:w-px before:h-[100%] before:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:before:bg-[linear-gradient(180deg,#1B232F_0%,#13171E_100%)] before:top-0 after:content-[''] after:absolute after:right-[110px] after:z-10 after:w-px after:h-[100%] after:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:after:bg-[linear-gradient(180deg,#1B232F_0%,#13171E_100%)] after:top-0 -z-10"
  >
    <div
      class="absolute w-[100%] h-px bg-stroke-1 dark:bg-stroke-5 top-[106px] before:absolute before:content-[''] before:w-2 before:h-2 before:bg-stroke-1 dark:before:bg-stroke-5 before:left-[106px] before:z-20 before:-top-1 before:ring-8 before:ring-background-2 dark:before:ring-black before:rotate-45 after:absolute after:content-[''] after:w-2 after:h-2 after:bg-stroke-1 dark:after:bg-stroke-5 after:ring-8 after:ring-background-2 dark:after:ring-black after:right-[106px] after:z-20 after:-top-1 after:rotate-[-45deg]"
    ></div>
  </div>
</section>
