<!-- =========================
Services section
===========================-->
<section class="lg:py-[150px] md:py-[100px] py-[50px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <h2
        data-ns-animate
        data-delay="0.1"
        class="md:max-w-[828px] sm:max-w-[600px] max-[375px]:max-w-[270px] mx-auto"
      >
        Why NextSaaS is the smarter way to manage your digital assets.
      </h2>
      <p
        data-ns-animate
        data-delay="0.2"
        class="md:max-w-[606px] sm:max-w-[400px] max-w-[390px] mx-auto"
      >
        NextSaaS offers a smarter approach to managing your digital assets by providing intuitive
        tools and expert guidance tailored to your needs.
      </p>
    </div>
    <div class="grid grid-cols-12 lg:gap-9 md:gap-8 gap-y-6 mb-14">
      <div data-ns-animate data-delay="0.3" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div class="bg-white dark:bg-background-6 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4">
          <div>
            <span class="ns-shape-3 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6">Trustless by design</h3>
            <p>
              No banks, no brokers. your assets are secured by smart contracts, not gatekeepers.
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div class="bg-white dark:bg-background-6 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4">
          <div>
            <span class="ns-shape-35 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6">Built on proven tech</h3>
            <p>Audited protocols, hardened smart contracts, and years of real-world uptime.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4 md:col-span-12">
        <div class="bg-white dark:bg-background-6 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4">
          <div>
            <span class="ns-shape-46 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6">Globally borderless</h3>
            <p>No more limitations NextSaaS works wherever you are, whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="flex items-center justify-center">
      <a
        href="./decentralized-finance-services.html"
        class="btn hover:btn-secondary dark:hover:btn-accent btn-primary btn-md"
      >
        <span>Explore the platform</span>
      </a>
    </div>
  </div>
</section>
