<!-- =========================
Testimonial section
===========================-->
<section class="lg:py-[150px] md:py-[100px] py-[80px] bg-white dark:bg-background-6">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <h2 data-ns-animate data-delay="0.1">What our users say</h2>
      <p data-ns-animate data-delay="0.2" class="max-w-[472px] mx-auto">
        "DeFi solutions launched our complete financial ecosystem ahead of time—seamless
        implementation and true collaboration."
      </p>
    </div>
    <div data-ns-animate data-delay="0.3" class="relative">
      <!-- Swiper -->
      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-6 z-0"
            >
              <!-- Gradient overlay for active slide -->

              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>

              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#FFB9A2_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-7.png" alt="John Smith avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "I built a fully functional app for my business in a weekend—without a developer."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  John Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-6 z-0 overflow-hidden"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-1.png"
                  alt="Customer testimonial avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "App Builder saved us thousands in dev costs. It's like magic."
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  John Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col z-10 gap-y-6"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#FFB9A2_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-2.png"
                  alt="Customer testimonial avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Discover the ultimate solution designed specifically for agencies and freelancers."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  John Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>

          <!-- slide 4 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-6 z-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-3.png" alt="Sarah Johnson avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "The platform exceeded our expectations. Highly recommended for any business."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Sarah Johnson
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Tech Solutions
                </p>
              </div>
            </div>
          </div>

          <!-- slide 5 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-6 z-0 overflow-hidden"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#C6F56F_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-4.png" alt="Mike Davis avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Incredible performance and user experience. Game changer!"
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Mike Davis
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Digital Agency
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
