<!-- =========================
Client Feedbacks section
===========================-->
<section>
  <div
    data-ns-animate
    data-delay="0.2"
    class="main-container text-center rounded-4xl py-[100px] -z-0 bg-background-3 dark:bg-background-7 overflow-hidden relative"
  >
    <div
      class="absolute -top-[164%] rotate-[21deg] -left-[35%] w-full h-full -z-10 select-none pointer-events-none"
      aria-hidden="true"
    >
      <img src="./images/ns-img-498.png" alt="Decorative background gradient" class="scale-[40%]" />
    </div>

    <!-- Customer Testimonial -->
    <article class="text-center space-y-4 mb-6">
      <!-- Customer Avatars -->
      <div
        class="flex justify-center -space-x-2.5 cursor-pointer"
        role="group"
        aria-label="Customer avatars"
      >
        <img
          class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-yellow"
          src="./images/ns-avatar-1.png"
          alt="Customer avatar 1"
          width="38"
          height="38"
        />
        <img
          class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-red"
          src="./images/ns-avatar-2.png"
          alt="Customer avatar 2"
          width="38"
          height="38"
        />
        <img
          class="inline-block size-[38px] rounded-full relative z-0 ring-2 ring-accent bg-ns-green"
          src="./images/ns-avatar-3.png"
          alt="Customer avatar 3"
          width="38"
          height="38"
        />
        <div
          class="inline-flex items-center relative z-10 justify-center size-[38px] bg-ns-cyan rounded-full ring-2 ring-accent text-secondary/80 text-tagline-3 font-medium"
        >
          99+
        </div>
      </div>

      <!-- Trust Metrics -->
      <div>
        <p class="text-tagline-2 text-secondary dark:text-accent font-medium">Tushed by 20k+</p>
        <p class="text-tagline-3">Customers Across the Globe</p>
      </div>
    </article>

    <!-- Client Logos -->

    <div class="max-w-[1130px] mx-auto relative">
      <div
        class="absolute left-0 top-5 h-full w-[7%] bg-gradient-to-r from-background-3 to-transparent dark:from-background-7 z-40"
      ></div>
      <div
        class="absolute right-0 top-5 h-full w-[7%] bg-gradient-to-l from-background-3 to-transparent dark:from-background-7 z-40"
      ></div>

      <div class="logos-marquee-container">
        <div
          class="flex items-center justify-center border-t border-secondary/10 dark:border-accent/10 pt-10 gap-8"
          role="group"
        >
          <figure class="min-w-[140px] md:min-w-[201px] ml-8">
            <img
              src="./images/icons/client-logo-6.svg"
              alt="Client company logo 1"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />

            <img
              src="./images/icons/client-logo-6-dark.svg"
              alt="Client company logo 1"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/client-logo-7.svg"
              alt="Client company logo 2"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="./images/icons/client-logo-7-dark.svg"
              alt="Client company logo 2"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/client-logo-8.svg"
              alt="Client company logo 3"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="./images/icons/client-logo-8-dark.svg"
              alt="Client company logo 3"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/client-logo-9.svg"
              alt="Client company logo 4"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="./images/icons/client-logo-9-dark.svg"
              alt="Client company logo 4"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/client-logo-10.svg"
              alt="Client company logo 5"
              class="lg:w-auto inline-block dark:hidden"
              width="120"
              height="40"
            />
            <img
              src="./images/icons/client-logo-10-dark.svg"
              alt="Client company logo 5"
              class="lg:w-auto hidden dark:block"
              width="120"
              height="40"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
