<!-- =========================
Services section
===========================-->
<section class="lg:py-[100px] py-[50px] bg-background-2 dark:bg-background-7">
  <div class="main-container">
    <div class="text-center space-y-5 mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Services</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">
          Core service <span class="text-primary-500">features</span>
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[490px] mx-auto">
          We're here to help you every step of the way. Whether you're looking for detailed
          documentation, community forums
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 md:gap-8 gap-y-6">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div
          class="sm:p-8 p-6 bg-white dark:bg-background-9 rounded-[20px] sm:space-y-6 space-y-4 text-center hover:-translate-y-2 duration-500 ease-in-out"
        >
          <div class="w-fit mx-auto">
            <span
              class="ns-shape-9 md:text-[52px] text-[40px] text-secondary dark:text-accent"
            ></span>
          </div>
          <div class="space-y-2">
            <h3 class="xl:text-heading-5 text-heading-6">Effortless management</h3>
            <p class="line-clamp-2">
              Automate workflows, lease tracking, and payments—all in one place.
            </p>
          </div>
          <div>
            <a
              href="./social-media-management-service-details.html"
              class="btn btn-white dark:btn-transparent hover:btn-secondary dark:hover:btn-accent btn-md"
            >
              <span>View service</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div
          class="sm:p-8 p-6 bg-white dark:bg-background-9 rounded-[20px] sm:space-y-6 space-y-4 text-center hover:-translate-y-2 duration-500 ease-in-out"
        >
          <div class="w-fit mx-auto">
            <span
              class="ns-shape-3 md:text-[52px] text-[40px] text-secondary dark:text-accent"
            ></span>
          </div>
          <div class="space-y-2">
            <h3 class="xl:text-heading-5 text-heading-6">Lead generation</h3>
            <p class="line-clamp-2">
              AI-powered tools to attract and convert high-quality tenants and buyers.
            </p>
          </div>
          <div>
            <a
              href="./social-media-management-service-details.html"
              class="btn btn-white dark:btn-transparent hover:btn-secondary dark:hover:btn-accent btn-md"
            >
              <span>View service</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div
          class="sm:p-8 p-6 bg-white dark:bg-background-9 rounded-[20px] sm:space-y-6 space-y-4 text-center hover:-translate-y-2 duration-500 ease-in-out"
        >
          <div class="w-fit mx-auto">
            <span
              class="ns-shape-12 md:text-[52px] text-[40px] text-secondary dark:text-accent"
            ></span>
          </div>
          <div class="space-y-2">
            <h3 class="xl:text-heading-5 text-heading-6">Financial insights</h3>
            <p class="line-clamp-2">
              Track revenue, expenses, and optimize ROI with real-time reporting.
            </p>
          </div>
          <div>
            <a
              href="./social-media-management-service-details.html"
              class="btn btn-white dark:btn-transparent hover:btn-secondary dark:hover:btn-accent btn-md"
            >
              <span>View service</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
