<!-- =========================
Social Activity section
===========================-->
<section class="xl:py-[200px] md:py-[100px] py-[50px] bg-white dark:bg-background-7">
  <div
    class="2xl:max-w-[1440px] xl:max-w-[1240px] lg:max-w-[980px] md:max-w-[700px] sm:max-w-[600px] min-[475px]:max-w-[450px] min-[425px]:max-w-[380px] max-w-full sm:mx-auto mx-5"
  >
    <div
      class="relative py-[100px] rounded-[25px] bg-[url('/images/ns-img-242.png')] bg-cover bg-bottom px-3 sm:px-0"
    >
      <div class="space-y-5 text-center mb-[70px]">
        <span data-ns-animate data-delay="0.1" class="badge badge-blur text-ns-yellow"
          >Social activity</span
        >
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2" class="text-accent">
            Select in <span class="text-primary-500">social media</span>
            platform
          </h2>
          <p
            data-ns-animate
            data-delay="0.3"
            class="lg:max-w-[510px] sm:max-w-[400px] max-w-[300px] mx-auto text-accent/60 px-3 sm:px-0"
          >
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text.
            It's not Latin though it looks like nothing.
          </p>
        </div>
      </div>
      <div
        class="lg:max-w-[852px] min-[445px]:max-w-[500px] mx-auto grid grid-cols-12 lg:gap-8 gap-y-6 mb-14 px-3 sm:px-0"
      >
        <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/zapier.svg" alt="zapier" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    Zapier
                  </h3>
                  <p class="text-accent/60">Communication</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/snapchat.svg" alt="snapchat" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    Snapchat
                  </h3>
                  <p class="text-accent/60">Messaging app</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/shopify.svg" alt="Shopify" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    Shopify
                  </h3>
                  <p class="text-accent/60">E-commerce</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div data-ns-animate data-delay="0.7" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/figma.svg" alt="figma" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    Figma
                  </h3>
                  <p class="text-accent/60">Design tool</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div data-ns-animate data-delay="0.8" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/slack.svg" alt="slack" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    Slack
                  </h3>
                  <p class="text-accent/60">Communication</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
        <div data-ns-animate data-delay="0.9" class="col-span-12 lg:col-span-6 group">
          <a href="./social-media-management-integration.html">
            <div
              class="sm:p-8 p-4 sm:rounded-2xl rounded-xl bg-white/15 flex items-center justify-between group-hover:scale-[102%] group-hover:shadow-1 transition-all duration-500 ease-in-out"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="sm:size-14 size-10 rounded-lg bg-white flex items-center justify-center grow-0 shrink-0 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/tiktok.svg" alt="tiktok" class="sm:size-12 size-8" />
                </figure>
                <div
                  class="space-y-1 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h3 class="md:text-heading-5 sm:text-heading-6 text-tagline-1 text-accent">
                    TikTok
                  </h3>
                  <p class="text-accent/60">Video feed</p>
                </div>
              </div>
              <div
                class="sm:size-14 size-10 bg-accent/10 rounded-full flex items-center justify-center group-hover:bg-ns-green/90 transition-all duration-[600ms] ease-in-out group-hover:shadow-1 relative overflow-hidden"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div data-ns-animate data-delay="1" class="flex items-center justify-center">
        <a
          href="./social-media-management-refund-policy.html"
          class="btn btn-white btn-xl hover:btn-white-dark dark:btn-transparent dark:hover:btn-accent"
        >
          <span>See It in action</span>
        </a>
      </div>
    </div>
  </div>
</section>
