<!-- =========================
Testimonial section
===========================-->

<section class="pt-[100px] xl:pb-[200px] pb-[100px] bg-background-3 dark:bg-background-5">
  <div class="main-container">
    <div class="mb-[72px] text-center max-w-[595px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5">Testimonial</span>
      <h2 data-ns-animate data-delay="0.2">Client words</h2>
    </div>
  </div>

  <!-- testimonial slider -->
  <div data-ns-animate data-delay="0.3" class="cards-marquee-container">
    <div class="flex gap-x-10 items-center scroll-bar">
      <!-- testimonial card 1 -->
      <article
        class="bg-background-2 dark:bg-background-6 rounded-[12px] lg:rounded-[20px] min-w-[320px] sm:min-w-[400px] cursor-pointer lg:min-w-[722px] space-y-6 lg:space-y-10 p-5 lg:p-14 backdrop-blur-[22px] relative group transition-all duration-500 ease-in-out hover:bg-secondary hover:dark:bg-background-8 overflow-hidden ml-10"
      >
        <!-- gradient -->
        <div
          class="absolute -top-[147%] lg:-top-[162%] -right-[56%] lg:-right-[56%] max-w-[500px] lg:max-w-[723px] blur-[10px] rotate-[295deg] opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out select-none pointer-events-none"
        >
          <img src="./images/ns-img-510.png" alt="gradient" class="w-full h-full object-cover" />
        </div>
        <div class="flex items-center justify-between relative z-10">
          <div class="flex items-center gap-2">
            <figure
              class="md:size-[84px] size-[60px] rounded-full overflow-hidden transform group-hover:scale-[102%] transition-transform duration-500 ease-in-out"
            >
              <img
                src="./images/ns-avatar-4.png"
                alt="Michael Lee"
                class="w-full h-full object-cover bg-linear-[156deg,#a585ff_32.92%,#A585FF_91%]"
              />
            </figure>
            <div class="space-y-1">
              <h3
                class="text-tagline-2 font-semibold group-hover:text-accent transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                Michael Lee
              </h3>
              <p
                class="text-tagline-3 group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                Urban Brew
              </p>
            </div>
          </div>

          <a
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Michael Lee's Twitter"
            href="https://x.com"
            class="w-[74px] h-11 rounded-[360px] backdrop-blur-[15px] px-2.5 py-1 inline-flex items-center justify-center transition-all duration-500 ease-in-out bg-background-1 dark:bg-background-6 group-hover:bg-background-1 group-hover:dark:bg-background-7 hover:shadow-4 hover:scale-110"
          >
            <img src="./images/icons/x.svg" alt="twitter" class="dark:invert" />
          </a>
        </div>

        <blockquote>
          <p
            class="max-w-[530px] text-wrap group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:translate-x-1"
          >
            They captured every moment beautifully with creativity and professionalism. Their
            attention to detail and seamless editing exceeded our expectations. Highly recommend!
          </p>
        </blockquote>
      </article>
      <!-- testimonial card 2 -->
      <article
        class="bg-background-2 dark:bg-background-6 rounded-[12px] lg:rounded-[20px] min-w-[320px] sm:min-w-[400px] cursor-pointer lg:min-w-[722px] space-y-6 lg:space-y-10 p-5 lg:p-14 backdrop-blur-[22px] relative group transition-all duration-500 ease-in-out hover:bg-secondary hover:dark:bg-background-8 overflow-hidden"
      >
        <!-- gradient -->
        <div
          class="absolute -top-[147%] lg:-top-[162%] -right-[56%] lg:-right-[56%] max-w-[500px] lg:max-w-[723px] blur-[10px] rotate-[295deg] opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out select-none pointer-events-none"
        >
          <img src="./images/ns-img-510.png" alt="gradient" class="size-full object-cover" />
        </div>
        <div class="flex items-center justify-between relative z-10">
          <div class="flex items-center gap-2">
            <figure
              class="md:size-[84px] size-[60px] rounded-full overflow-hidden transform group-hover:scale-[102%] transition-transform duration-500 ease-in-out"
            >
              <img
                src="./images/ns-avatar-5.png"
                alt="Michael Lee"
                class="w-full h-full object-cover bg-linear-[156deg,#a585ff_32.92%,#A585FF_91%]"
              />
            </figure>
            <div class="space-y-1">
              <h3
                class="text-tagline-2 font-semibold group-hover:text-accent transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                David Johnson
              </h3>
              <p
                class="text-tagline-3 group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                TechFlow Solutions
              </p>
            </div>
          </div>

          <a
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Michael Lee's Twitter"
            href="https://x.com"
            class="w-[74px] h-11 rounded-[360px] backdrop-blur-[15px] px-2.5 py-1 inline-flex items-center justify-center transition-all duration-500 ease-in-out bg-background-1 dark:bg-background-6 group-hover:bg-background-1 group-hover:dark:bg-background-7 hover:shadow-4 hover:scale-110"
          >
            <img src="./images/icons/x.svg" alt="twitter" class="dark:invert" />
          </a>
        </div>

        <blockquote>
          <p
            class="max-w-[530px] text-wrap group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:translate-x-1"
          >
            Working with this team was a game-changer for our business. They understood our vision
            perfectly and executed it flawlessly, exceeding our expectations in every way.
          </p>
        </blockquote>
      </article>
      <!-- testimonial card 3 -->
      <article
        class="bg-background-2 dark:bg-background-6 rounded-[12px] lg:rounded-[20px] min-w-[320px] sm:min-w-[400px] cursor-pointer lg:min-w-[722px] space-y-6 lg:space-y-10 p-5 lg:p-14 backdrop-blur-[22px] relative group transition-all duration-500 ease-in-out hover:bg-secondary hover:dark:bg-background-8 overflow-hidden"
      >
        <!-- gradient -->
        <div
          class="absolute -top-[147%] lg:-top-[162%] -right-[56%] lg:-right-[56%] max-w-[500px] lg:max-w-[723px] blur-[10px] rotate-[295deg] opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out select-none pointer-events-none"
        >
          <img src="./images/ns-img-510.png" alt="gradient" class="w-full h-full object-cover" />
        </div>
        <div class="flex items-center justify-between relative z-10">
          <div class="flex items-center gap-2">
            <figure
              class="md:size-[84px] size-[60px] rounded-full overflow-hidden transform group-hover:scale-[102%] transition-transform duration-500 ease-in-out"
            >
              <img
                src="./images/ns-avatar-6.png"
                alt="Michael Lee"
                class="w-full h-full object-cover bg-linear-[156deg,#a585ff_32.92%,#A585FF_91%]"
              />
            </figure>
            <div class="space-y-1">
              <h3
                class="text-tagline-2 font-semibold group-hover:text-accent transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                Emily Rodriguez
              </h3>
              <p
                class="text-tagline-3 group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:-translate-y-0.5 group-hover:transition-transform"
              >
                Creative Studios
              </p>
            </div>
          </div>

          <a
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit Michael Lee's Twitter"
            href="https://x.com"
            class="w-[74px] h-11 rounded-[360px] backdrop-blur-[15px] px-2.5 py-1 inline-flex items-center justify-center transition-all duration-500 ease-in-out bg-background-1 dark:bg-background-6 group-hover:bg-background-1 group-hover:dark:bg-background-7 hover:shadow-4 hover:scale-110"
          >
            <img src="./images/icons/x.svg" alt="twitter" class="dark:invert" />
          </a>
        </div>

        <blockquote>
          <p
            class="max-w-[530px] text-wrap group-hover:text-accent/60 transition-all duration-500 ease-in-out transform group-hover:translate-x-1"
          >
            The level of creativity and technical expertise they brought to our project was
            outstanding. They delivered a solution that perfectly captured our brand's essence and
            vision.
          </p>
        </blockquote>
      </article>
    </div>
  </div>
</section>
