<!-- =========================
Case study section
===========================-->
<section
  class="bg-background-2 dark:bg-background-7 pt-16 md:pt-20 lg:pt-[90px] xl:pt-[100px] pb-16 md:pb-20 lg:pb-[90px] xl:pb-[100px]"
>
  <div class="main-container">
    <div class="mb-[70px] text-center lg:text-left">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">use cases</span>
      <div class="flex flex-col lg:flex-row gap-8 justify-between items-center lg:items-end">
        <h2 data-ns-animate data-delay="0.3">
          How we connect with <br />
          customers
        </h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[518px]">
          Explore the ways our innovative solutions improve communication and boost efficiency in
          your organization. From streamlined workflows to enhanced collaboration tools, we provide
          everything you need to succeed.
        </p>
      </div>
    </div>
    <div class="md:mb-14 grid grid-cols-12 md:gap-x-8 max-sm:gap-y-12 items-center">
      <!--Case Study Item 1-->
      <div
        data-ns-animate
        data-delay="0.5"
        class="col-span-12 md:col-span-4 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-32 text-[52px] text-secondary dark:text-accent"> </span>
        <div class="space-y-1">
          <h5 class="max-md:text-heading-6">Web & mobile apps</h5>
          <p class="max-w-[337px]">
            Engage visitors with real-time chat on your website and mobile apps.
          </p>
        </div>
        <a
          href="./messaging-platform-case-study-details.html"
          class="btn btn-white btn-md inline-block dark:btn-transparent hover:btn-primary w-[90%] md:w-auto"
        >
          <span>Read More</span>
        </a>
      </div>
      <!--Case Study Item 2-->
      <div
        data-ns-animate
        data-delay="0.6"
        class="col-span-12 md:col-span-4 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-35 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="max-md:text-heading-6" class="mb-2">Social media</h5>
          <p class="max-w-[337px]">
            Provide instant support on WhatsApp, Facebook Messenger, Instagram
          </p>
        </div>

        <a
          href="./messaging-platform-case-study-details.html"
          class="btn btn-white btn-md inline-block dark:btn-transparent hover:btn-primary w-[90%] md:w-auto"
        >
          <span>Read More</span>
        </a>
      </div>
      <!--Case Study Item 3-->
      <div
        data-ns-animate
        data-delay="0.7"
        class="col-span-12 md:col-span-4 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-52 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="max-md:text-heading-6" class="mb-2">Business tools</h5>
          <p class="max-w-[337px]">
            Connect messaging with Slack, Microsoft Teams, and CRM platforms for seamless
          </p>
        </div>
        <a
          href="./messaging-platform-case-study-details.html"
          class="btn btn-white btn-md inline-block dark:btn-transparent hover:btn-primary w-[90%] md:w-auto"
        >
          <span>Read More</span>
        </a>
      </div>
    </div>
  </div>
</section>
