<!-- =========================
Features section
===========================-->
<section class="py-16 md:py-20 lg:py-[90px] xl:py-[100px]">
  <div class="main-container">
    <div class="mb-10 md:mb-[70px] text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"> Features</span>
      <h2 data-ns-animate data-delay="0.3">
        Meet our cutting-edge <br class="hidden md:block" />crypto features
      </h2>
    </div>
    <div class="mb-14 grid grid-cols-12 gap-y-8 lg:gap-x-8">
      <!--Feature Item 1-->
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div
          class="px-8 md:px-[42px] pt-[42px] pb-[42px] lg:pb-[56px] rounded-[20px] bg-white dark:bg-background-6 flex flex-col gap-y-6 sm:gap-y-0 md:flex-row md:gap-x-6 lg:gap-y-6 lg:gap-x-0 lg:flex-col items-center lg:items-start space-y-6"
        >
          <figure class="rounded-2xl overflow-hidden my-auto">
            <img
              src="./images/ns-img-125.png"
              alt="feature image"
              class="dark:hidden size-full"
            />
            <img
              src="./images/ns-img-dark-94.png"
              alt="feature image"
              class="hidden dark:block"
            />
          </figure>
          <div class="space-y-2">
            <h5 class="max-md:text-heading-6">Live chat & voice messages</h5>
            <p class="line-clamp-2">
              Enjoy seamless communication that keeps you connected in real-time, eliminating any
              delays.
            </p>
          </div>
        </div>
      </div>

      <!--Feature Item 2-->
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div
          class="px-8 md:px-[42px] pt-[42px] pb-[42px] lg:pb-[56px] rounded-[20px] bg-white dark:bg-background-6 flex flex-col gap-y-6 sm:gap-y-0 md:flex-row md:gap-x-6 lg:gap-y-6 lg:gap-x-0 lg:flex-col items-center lg:items-start space-y-6"
        >
          <figure class="rounded-2xl overflow-hidden my-auto">
            <img
              src="./images/ns-img-126.png"
              alt="feature image"
              class="dark:hidden size-full"
            />
            <img
              src="./images/ns-img-dark-95.png"
              alt="feature image"
              class="hidden dark:block"
            />
          </figure>
          <div class="space-y-2">
            <h5 class="max-md:text-heading-6">Task & reminder management</h5>
            <p class="line-clamp-2">
              Ensure your projects stay on schedule by integrating project management directly into
            </p>
          </div>
        </div>
      </div>

      <!--Feature Item 3-->

      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div
          class="px-8 md:px-[42px] pt-[42px] pb-[42px] lg:pb-[56px] rounded-[20px] bg-white dark:bg-background-6 flex flex-col gap-y-6 sm:gap-y-0 md:flex-row md:gap-x-6 lg:gap-y-6 lg:gap-x-0 lg:flex-col items-center lg:items-start space-y-6"
        >
          <figure class="rounded-2xl overflow-hidden my-auto">
            <img
              src="./images/ns-img-127.png"
              alt="feature image"
              class="dark:hidden size-full"
            />
            <img
              src="./images/ns-img-dark-96.png"
              alt="feature image"
              class="hidden dark:block"
            />
          </figure>
          <div class="space-y-2">
            <h5 class="max-md:text-heading-6">Cloud storage history Checking</h5>
            <p class="line-clamp-2">
              Safeguard your crucial chats and files, ensuring they are always accessible and never
              lost.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.7" class="flex items-center justify-center">
      <a
        href="./messaging-platform-features.html"
        class="btn btn-secondary dark:btn-accent hover:btn-primary btn-lg lg:btn-xl w-[90%] md:w-auto mx-auto md:mx-0"
      >
        <span>Explore features</span>
      </a>
    </div>
  </div>
</section>
