<!-- =========================
Hero section
===========================-->
<section class="hero-section relative bg-white dark:bg-background-9 z-0" id="scene">
  <!-- border area -->
  <div
    data-ns-animate
    data-delay="0.8"
    data-offset="0"
    class="hidden md:block absolute w-full h-full top-5 left-0 before:content-[''] before:absolute before:left-[6%] before:w-[1px] before:h-[90%] before:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:before:bg-[linear-gradient(180deg,_#303B49_0%,_rgba(48,_59,_73,_0.00)_100%)] before:top-0 before:z-0 after:content-[''] after:absolute after:right-[6%] after:-z-10 after:w-[1px] after:h-[90%] after:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:after:bg-[linear-gradient(180deg,_#303B49_0%,_rgba(48,_59,_73,_0.00)_100%)] after:top-0"
  >
    <div
      data-ns-animate
      data-delay="0.8"
      data-offset="0"
      class="absolute w-[100%] h-[1px] bg-stroke-1 dark:bg-stroke-8 top-[6.5%] before:absolute before:content-[''] before:w-2 before:h-2 before:bg-stroke-1 before:left-[5.8%] before:z-30 before:-top-1 before:ring-8 before:ring-white dark:before:ring-background-9 before:rotate-45 after:absolute after:content-[''] after:w-2 after:h-2 after:bg-stroke-1 after:ring-8 after:ring-white dark:after:ring-background-9 after:right-[5.8%] after:z-30 after:-top-1 after:rotate-[-45deg]"
    ></div>
  </div>
  <div class="relative pt-[160px] lg:pt-[230px] pb-[50px] lg:pb-[100px]">
    <!-- Background shape-->

    <!-- Hero images -->
    <figure
      data-ns-animate
      data-delay="0.1"
      class="w-[50px] h-[50px] rounded-full absolute left-[8%] top-[14%] md:left-[19%] md:top-[22%] xl:left-[19%] xl:top-[14%] -z-10 rounded-br-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.8"
      data-data-parallax-x="1"
      data-data-parallax-y="0.5"
    >
      <img
        src="./images/ns-img-15.png"
        alt="Hero shape 1"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.2"
      class="w-[50px] hidden md:inline-block h-[50px] rounded-full absolute left-[0%] top-[50%] md:left-[16%] md:top-[34%] xl:left-[22%] xl:top-[41%] -z-10 rounded-br-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="2.2"
      data-data-parallax-x="-1"
      data-data-parallax-y="1"
    >
      <img
        src="./images/ns-img-16.png"
        alt="Hero shape 2"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.3"
      class="w-[50px] hidden md:inline-block h-[50px] rounded-full absolute right-[1%] top-[34%] md:right-[4%] md:top-[43%] xl:right-[22%] xl:top-[12%] -z-10 rounded-bl-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.4"
      data-data-parallax-x="0.7"
      data-data-parallax-y="-1"
    >
      <img
        src="./images/ns-img-17.png"
        alt="Hero shape 3"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.4"
      class="w-[50px] h-[50px] rounded-full absolute right-[4%] top-[20%] md:right-[20%] md:top-[22%] xl:right-[9%] xl:top-[22%] -z-10 rounded-bl-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.9"
      data-data-parallax-x="1"
      data-data-parallax-y="-0.7"
    >
      <img
        src="./images/ns-img-18.png"
        alt="Hero shape 4"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.5"
      class="w-[50px] hidden md:inline-block h-[50px] rounded-full absolute right-[3%] md:right-[10%] top-[49%] md:top-[34%] xl:right-[11%] xl:top-[45%] -z-10 rounded-bl-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.6"
      data-data-parallax-x="-0.8"
      data-data-parallax-y="1"
    >
      <img
        src="./images/ns-img-19.png"
        alt="Hero shape 5"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.6"
      class="w-[50px] h-[50px] rounded-full absolute left-[1%] top-[20%] md:left-[8%] md:top-[18%] xl:left-[18%] xl:top-[57%] -z-10 rounded-br-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.7"
      data-data-parallax-x="1"
      data-data-parallax-y="0.8"
    >
      <img
        src="./images/ns-img-20.png"
        alt="Hero shape 6"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.7"
      class="w-[50px] hidden md:inline-block h-[50px] rounded-full absolute left-[0%] top-[32%] md:left-[3%] md:top-[42%] xl:left-[8%] xl:top-[29%] -z-10 rounded-br-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.5"
      data-data-parallax-x="-1"
      data-data-parallax-y="-1"
    >
      <img
        src="./images/ns-img-21.png"
        alt="Hero shape 7"
        class="size-11 rounded-full"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.8"
      class="w-[50px] h-[50px] rounded-full absolute right-[10%] top-[13%] md:right-[8%] md:top-[18%] xl:right-[18%] xl:top-[57%] -z-10 rounded-bl-none bg-white dark:bg-accent/20 p-[3px] parallax-effect"
      data-parallax-value="1.3"
      data-data-parallax-x="0.5"
      data-data-parallax-y="-1"
    >
      <img src="./images/ns-img-22.png" alt="Hero shape 8" class="w-full h-full" />
    </figure>
    <!-- Content -->
    <div class="main-container flex flex-col items-center text-center z-40 relative">
      <figure
        class="absolute animate-pulse left-1/2 -translate-x-1/2 -top-20 -z-1"
        data-ns-animate
        data-delay="1"
        data-duration="1.5"
        data-spring
        data-offset="0"
      >
        <img src="./images/ns-img-hero-dot-bg.png" alt="Hero background" />
      </figure>
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">
        Your world, one message away.
      </span>
      <h1 data-ns-animate data-delay="0.3" class="font-medium mb-4">
        Engage, support & convert with <br class="hidden md:block" />smart messaging
      </h1>
      <p data-ns-animate data-delay="0.4" class="max-w-[625px] mb-7 md:mb-14">
        Deliver real-time, personalized messaging experiences across your website, mobile apps,
        social media, and business communication channels.
      </p>
      <div data-ns-animate data-delay="0.5" class="inline-block mb-18 w-full">
        <a
          href="./messaging-platform-login.html"
          class="btn btn-primary btn-lg md:btn-xl hover:btn-secondary w-[90%] md:w-auto dark:hover:btn-accent"
        >
          <span>Start your free trial</span>
        </a>
      </div>
    </div>
    <figure class="opacity-0 max-w-[780px] max-sm:mx-5 mx-auto hero-perspective">
      <img
        src="./images/ns-img-124.png"
        alt="hero image"
        class="w-full rounded-[20px] dark:hidden"
      />
      <img
        src="./images/ns-img-dark-93.png"
        alt="hero image"
        class="w-full rounded-[20px] hidden dark:block"
      />
    </figure>
  </div>
</section>
