<div>
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[320px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <ul
    id="insights-dropdown-menu"
    class="dropdown-menu mt-2 w-[320px] rounded-[20px] p-3 bg-white dark:bg-background-6 shadow-14 absolute left-1/2 -translate-x-1/2 top-full z-50 pointer-events-none transition-all duration-300 opacity-0 border border-stroke-1/50 dark:border-background-7"
  >
    <li>
      <a
        href="./messaging-platform-affliates.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Affiliate</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Partner program
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./messaging-platform-affliate-policy.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/affiliate-policy.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Affiliate Policy</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Read policy details
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./messaging-platform-analytics.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/analytics-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Analytics</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Analyze data insights
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./messaging-platform-whitepaper.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/whitepaper-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Whitepaper</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Access research content
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./messaging-platform-glossary.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/glossary-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Glossary</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Find term definitions
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./messaging-platform-changelog.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/changelog-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Changelog</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Check new features
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
