<!-- =========================
Integration section
===========================-->
<section
  class="my-14 md:my-20 lg:my-[100px] xl:my-[200px] w-[95%] 2xl:max-w-[1440px] rounded-4xl mx-auto py-[70px] px-10 md:px-[75px] bg-white dark:bg-background-6 relative z-10 md:min-h-[740px] overflow-hidden"
>
  <div
    data-ns-animate
    data-delay="0.7"
    data-offset="120"
    class="absolute select-none pointer-events-none bottom-[-206px] sm:-bottom-[150px] max-md:w-[400px] max-md:h-[500px] left-[-17%] sm:left-[40%] -translate-x-1/2 md:-bottom-[250px] w-full h-full -rotate-[96deg] sm:-rotate-[30deg] -z-10"
  >
    <img src="./images/ns-img-508.png" alt="bg" class="w-[115%] h-[224%]" />
  </div>
  <div class="text-center relative z-10 w-fit mx-auto">
    <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"> Integration </span>
    <h2 data-ns-animate data-delay="0.3" class="mb-3">
      Best productivity with <br class="hidden lg:block" />
      50+ integrations
    </h2>
    <p data-ns-animate data-delay="0.4" class="lg:max-w-[620px] mx-auto mb-14">
      Seamlessly connect your favorite tools and platforms without the usual hassle. Our solution is
      designed to make
    </p>
    <div data-ns-animate data-delay="0.5">
      <a
        href="./messaging-platform-integration.html"
        class="btn btn-secondary btn-md inline-block dark:btn-accent hover:btn-primary w-[90%] md:w-auto mx-auto md:mx-0"
      >
        <span>See it in Action</span>
      </a>
    </div>
  </div>

  <div
    class="md:absolute md:w-1/2 lg:max-w-[400px] xl:max-w-[520px] 2xl:max-w-[582px] md:left-0 md:top-0 hidden md:block"
  >
    <div
      class="flex flex-row flex-wrap md:flex-col gap-5 md:gap-[40px] 2xl:ps-[70px] py-[70px] relative h-full"
    >
      <div class="flex md:ms-5 lg:ms-[60px] xl:ms-[100px]">
        <figure
          data-ns-animate
          data-delay="0.1"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/google-meet.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
      <div
        class="flex gap-5 md:gap-8 md:ms-5 lg:ms-4 xl:ms-0 lg:gap-[50px] xl:gap-[75px] md:self-start"
      >
        <figure
          data-ns-animate
          data-delay="0.2"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/gmail.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.3"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/marvel.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
      <div
        class="flex gap-5 md:gap-8 lg:gap-[50px] xl:gap-[75px] md:ms-5 lg:ms-[60px] xl:ms-[100px]"
      >
        <figure
          data-ns-animate
          data-delay="0.4"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/confluence.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.5"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/framer.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
      <div
        class="flex gap-5 md:gap-8 lg:gap-[50px] xl:gap-[75px] md:ms-5 lg:ms-[100px] xl:ms-[185px]"
      >
        <figure
          data-ns-animate
          data-delay="0.6"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/vl.svg"
              alt="integration icon"
              class="dark:hidden size-12 object-contain"
            />
            <img
              src="./images/icons/vl-white.svg"
              alt="integration icon"
              class="hidden dark:block size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.7"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/edge.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
    </div>
  </div>
  <div
    class="md:absolute md:w-1/2 lg:max-w-[400px] xl:max-w-[520px] 2xl:max-w-[582px] md:right-0 md:top-0 hidden md:block"
  >
    <div
      class="flex flex-row flex-wrap md:flex-col gap-5 md:gap-[40px] 2xl:pe-[70px] py-[70px] relative h-full"
    >
      <div class="flex md:self-end md:me-5 lg:me-[60px] xl:me-[100px]">
        <figure
          data-ns-animate
          data-delay="0.1"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/confluence.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
      <div class="flex gap-8 lg:gap-[50px] me-4 xl:me-0 xl:gap-[75px] md:self-end">
        <figure
          data-ns-animate
          data-delay="0.1"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/slack.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.2"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/snapchat.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
      <div
        class="flex gap-8 lg:gap-[50px] xl:gap-[75px] md:me-5 lg:me-[60px] md:self-end xl:me-[100px]"
      >
        <figure
          data-ns-animate
          data-delay="0.3"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/google.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.4"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/ms_yammer.svg"
              alt="integration icon"
              class="size-12 object-cover"
            />
          </div>
        </figure>
      </div>
      <div
        class="flex gap-8 lg:gap-[50px] xl:gap-[75px] md:me-5 lg:me-[100px] xl:me-[185px] self-end"
      >
        <figure
          data-ns-animate
          data-delay="0.5"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/microsoft.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
        <figure
          data-ns-animate
          data-delay="0.6"
          class="size-[100px] xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
        >
          <div
            class="size-[80px] xl:size-[100px] flex items-center justify-center bg-white dark:bg-background-6 rounded-full p-6"
          >
            <img
              src="./images/icons/figma.svg"
              alt="integration icon"
              class="size-12 object-contain"
            />
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
