<!-- =========================
Mobile Menu
===========================-->

<aside
  class="sidebar fixed top-0 right-0 w-full sm:w-1/2 translate-x-full transition-all duration-300 h-screen bg-white dark:bg-background-8 rounded-l-3xl xl:hidden z-[9999] scroll-bar"
>
  <div class="lg:p-9 sm:p-8 p-5 space-y-4">
    <div class="flex items-center justify-between">
      <a href="./messaging-platform.html">
        <span class="sr-only">Home</span>
        <figure class="max-w-[44px]">
          <img src="./images/shared/logo.svg" alt="NextSaaS" class="w-full dark:hidden block" />
          <img
            src="./images/shared/logo-dark.svg"
            alt="NextSaaS"
            class="w-full dark:block hidden"
          />
        </figure>
      </a>
      <button
        class="nav-hamburger-close flex flex-col gap-1.5 size-10 bg-background-4 dark:bg-background-9 rounded-full items-center justify-center cursor-pointer relative"
      >
        <span class="sr-only">Close Menu</span>
        <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 rotate-45 absolute"></span>
        <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 -rotate-45 absolute"></span>
      </button>
    </div>
    <div class="mt-6 h-[85vh] w-full overflow-y-auto overflow-x-hidden pb-10 scroll-bar">
      <p
        class="text-secondary dark:text-accent font-normal text-tagline-1 block before:content-[''] before:w-full before:-right-16 before:top-1/2 before:-translate-y-1/2 before:h-px before:bg-stroke-4 dark:before:bg-stroke-6 before:absolute relative mb-2"
      >
        Menu
      </p>
      <ul class="space-y-2">
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex items-center justify-between w-full py-2.5 cursor-pointer"
            data-menu="Explore"
          >
            <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1 block"
              >Explore</span
            >

            <span class="menu-arrow transition-transform duration-300 rotate-90">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu block" data-submenu="Explore">
            <li>
              <a
                href="./messaging-platform-about.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >About</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-customers.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Team</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-career.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Careers</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-case-study.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Case Studies</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-customers.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Customers</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-testimonial.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Testimonials</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-contact.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-menifesto.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Our Manifesto</a
              >
            </li>
          </ul>
        </li>
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex items-center justify-between w-full py-2.5 cursor-pointer"
            data-menu="Engage"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1 block relative"
              >Engage</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="Engage">
            <li>
              <a
                href="./messaging-platform-features.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Features</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-integration.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Integrations</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-process.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Process</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-services.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Services</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-use-case.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Use Cases</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-brandkit.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Brandkit</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-download.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Download</a
              >
            </li>
          </ul>
        </li>
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex items-center justify-between w-full py-2.5 cursor-pointer"
            data-menu="Insights"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1 block relative"
              >Insights</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="Insights">
            <li>
              <a
                href="./messaging-platform-blog.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-documentation.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Documentation</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-tutorial.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Tutorials</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-faq.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >FAQ</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-support.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Support</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-analytics.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Analytics</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-whitepaper.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Whitepaper</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-glossary.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Glossary</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-changelog.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Changelog</a
              >
            </li>
          </ul>
        </li>
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex items-center justify-between w-full py-2.5 cursor-pointer"
            data-menu="account"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1 block relative"
              >Account</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="account">
            <li>
              <a
                href="./messaging-platform-pricing.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-login.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Login</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-signup.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Sign Up</a
              >
            </li>
          </ul>
        </li>
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex items-center justify-between w-full py-2.5 cursor-pointer"
            data-menu="legal"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1 block relative"
              >Legal & Policies</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="legal">
            <li>
              <a
                href="./messaging-platform-terms-and-condition.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Terms & Conditions</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-privacy-policy.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-refund-policy.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Refund Policy</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-gdpr.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >GDPR</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-affliates.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Affiliate</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-affliate-policy.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Affiliate Policy</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-legal-notice.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Legal</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-referral-program.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Referral Program</a
              >
            </li>
            <li>
              <a
                href="./messaging-platform-security.html"
                class="text-tagline-1 font-normal text-secondary dark:text-accent transition-all duration-200 py-2.5 text-left block ml-4"
                >Security</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
