<!-- =========================
Services section
===========================-->
<section class="bg-background-2 dark:bg-background-7 py-16 md:py-20 lg:py-[90px] xl:py-[100px]">
  <div class="main-container">
    <div class="mb-10 md:mb-[70px] text-center lg:text-left">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">Our Services</span>
      <div class="flex flex-col lg:flex-row gap-8 justify-between">
        <h2 data-ns-animate data-delay="0.3">Explore our solutions</h2>
        <p
          data-ns-animate
          data-delay="0.4"
          class="max-w-[518px] text-center lg:text-left mx-auto lg:mx-0"
        >
          Explore the ways our innovative solutions significantly improve communication and boost
          overall efficiency in your organization.
        </p>
      </div>
    </div>
    <div class="mb-14 grid grid-cols-12 gap-y-8 md:gap-x-8">
      <!--Service Item 1-->
      <div
        data-ns-animate
        data-delay="0.5"
        class="col-span-12 sm:col-span-6 lg:col-span-4 px-6 py-8 rounded-[20px] bg-white dark:bg-background-6 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-5 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="mb-2 max-md:text-heading-6">Customer support messaging</h5>
          <p class="">
            Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.
          </p>
        </div>
        <a
          href="./messaging-platform-service-details.html"
          class="btn btn-white hover:btn-secondary btn-md inline-block dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Read More</span>
        </a>
      </div>
      <!--Service Item 2-->
      <div
        data-ns-animate
        data-delay="0.6"
        class="col-span-12 sm:col-span-6 lg:col-span-4 px-6 py-8 rounded-[20px] bg-white dark:bg-background-6 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-2 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="mb-2 max-md:text-heading-6">Employee communication</h5>
          <p class="">
            Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.
          </p>
        </div>

        <a
          href="./messaging-platform-service-details.html"
          class="btn btn-white hover:btn-secondary btn-md inline-block dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Read More</span>
        </a>
      </div>
      <!--Service Item 3-->
      <div
        data-ns-animate
        data-delay="0.7"
        class="col-span-12 sm:col-span-6 lg:col-span-4 px-6 py-8 rounded-[20px] bg-white dark:bg-background-6 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-5 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="mb-2 max-md:text-heading-6">AI chatbots & automation</h5>
          <p class="">
            Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.
          </p>
        </div>
        <a
          href="./messaging-platform-service-details.html"
          class="btn btn-white hover:btn-secondary btn-md inline-block dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Read More</span>
        </a>
      </div>

      <!--Service Item 4-->
      <div
        data-ns-animate
        data-delay="0.4"
        class="col-span-12 sm:col-span-6 lg:col-span-6 px-6 py-8 rounded-[20px] bg-white dark:bg-background-6 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-21 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="mb-2 max-md:text-heading-6">Omnichannel messaging</h5>
          <p class="">
            Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.
          </p>
        </div>
        <a
          href="./messaging-platform-service-details.html"
          class="btn btn-white hover:btn-secondary btn-md inline-block dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Read More</span>
        </a>
      </div>

      <!--Service Item 5-->
      <div
        data-ns-animate
        data-delay="0.5"
        class="col-span-12 sm:col-span-6 lg:col-span-6 px-6 py-8 rounded-[20px] bg-white dark:bg-background-6 flex flex-col items-start space-y-6"
      >
        <span class="ns-shape-13 text-[52px] text-secondary dark:text-accent"> </span>
        <div>
          <h5 class="mb-2 max-md:text-heading-6">Increased efficiency</h5>
          <p class="">
            Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.
          </p>
        </div>
        <a
          href="./messaging-platform-service-details.html"
          class="btn btn-white hover:btn-secondary btn-md inline-block dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Read More</span>
        </a>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="flex items-center justify-center">
      <a
        href="./messaging-platform-services.html"
        class="btn btn-secondary dark:btn-accent hover:btn-primary btn-lg md:btn-xl w-[90%] md:w-auto mx-auto md:mx-0"
      >
        <span>More services</span>
      </a>
    </div>
  </div>
</section>
