<!-- =========================
Customer feedback section
===========================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] max-xl:px-5 overflow-hidden">
  <div
    class="max-w-[1440px] text-center mx-auto max-sm:mx-3 rounded-4xl pt-16 lg:pt-[100px] pb-10 -z-0 bg-secondary dark:bg-background-6 overflow-hidden relative"
  >
    <!-- Decorative Gradients -->
    <div
      class="absolute bg-(image:--color-gradient-5) blur-[85px] -rotate-[50deg] z-10 left-[28%] -top-[22%] w-[108px] h-[982px] select-none pointer-events-none"
      aria-hidden="true"
    ></div>
    <div
      class="absolute bg-(image:--color-gradient-5) blur-[85px] -rotate-45 z-10 right-[8%] -top-[22%] w-[108px] h-[982px] select-none pointer-events-none"
      aria-hidden="true"
    ></div>

    <div
      class="absolute -top-[22%] sm:-top-[45%] md:-top-[80%] lg:-top-[90%] rotate-[11deg] select-none pointer-events-none -left-[40%] md:-left-[34%] w-full h-full -z-10"
      data-ns-animate
      data-delay="0.3"
      data-duration="0.4"
      data-direction="left"
      data-offset="60"
    >
      <img
        src="./images/ns-img-498.png"
        alt="Decorative mesh gradient background"
        class="scale-[60%]"
      />
    </div>

    <!-- Customer Testimonial -->
    <article class="text-center">
      <!-- Customer Avatars -->
      <div>
        <div class="flex justify-center -space-x-2.5" role="group" aria-label="Customer avatars">
          <img
            data-ns-animate
            data-delay="0.2"
            data-direction="right"
            data-offset="50"
            class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-yellow"
            src="./images/ns-avatar-1.png"
            alt="Customer avatar 1"
            width="38"
            height="38"
          />
          <img
            data-ns-animate
            data-delay="0.3"
            data-direction="right"
            data-offset="50"
            class="inline-block size-[38px] rounded-full ring-2 ring-accent bg-ns-red"
            src="./images/ns-avatar-2.png"
            alt="Customer avatar 2"
            width="38"
            height="38"
          />
          <img
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            data-offset="50"
            class="inline-block size-[38px] rounded-full relative z-0 ring-2 ring-accent bg-ns-green"
            src="./images/ns-avatar-3.png"
            alt="Customer avatar 3"
            width="38"
            height="38"
          />
          <div
            data-ns-animate
            data-delay="0.5"
            data-direction="right"
            data-offset="50"
            class="inline-flex items-center relative z-10 justify-center size-[38px] bg-ns-cyan rounded-full ring-2 ring-accent text-secondary/80 text-tagline-3 font-medium"
          >
            99+
          </div>
        </div>
        <div class="mt-5">
          <p class="font-normal block text-accent text-heading-6" data-ns-animate data-delay="0.2">
            Trusted by 20k+
          </p>
          <p class="text-tagline-3 text-center text-accent/60" data-ns-animate data-delay="0.3">
            Customers across the globe
          </p>
        </div>
      </div>

      <!-- Testimonial Quote -->
      <blockquote
        data-ns-animate
        data-delay="0.4"
        class="text-lg lg:text-heading-6 font-normal max-w-[578px] mx-auto mt-6 lg:mt-10 text-white px-4 sm:px-0"
      >
        "Since switching to NextSaaS, our email deliverability has improved by 40%, and engagement
        is at an all-time high."
      </blockquote>

      <!-- Call to Action -->
      <div class="mt-9 mb-10 lg:mb-14" data-ns-animate data-delay="0.6" data-offset="70">
        <a
          href="./email-marketing-case-study.html"
          class="btn btn-base btn-dark hover:btn-primary w-[90%] md:w-auto"
          aria-label="View case studies"
        >
          <span>See case studies</span>
        </a>
      </div>
    </article>

    <!-- Client Logos -->
    <div class="max-w-[1130px] mx-auto relative" data-ns-animate data-delay="0.6">
      <div
        class="absolute left-0 top-5 h-full w-[7%] bg-gradient-to-r from-secondary to-transparent dark:from-background-6 z-40"
      ></div>
      <div
        class="absolute right-0 top-5 h-full w-[7%] bg-gradient-to-l from-(image:--color-gradient-5) to-transparent dark:from-(image:--color-gradient-5) z-40"
      ></div>

      <div class="logos-marquee-container">
        <div
          class="flex items-center justify-center border-t border-accent/10 dark:border-none pt-10 gap-4 md:gap-8"
          role="group"
        >
          <figure class="min-w-[140px] md:min-w-[201px] ml-8">
            <img
              src="./images/icons/gray-client-logo-1.svg"
              alt="Client company logo 1"
              class="lg:w-auto"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/gray-client-logo-2.svg"
              alt="Client company logo 2"
              class="lg:w-auto"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/gray-client-logo-3.svg"
              alt="Client company logo 3"
              class="lg:w-auto"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/gray-client-logo-4.svg"
              alt="Client company logo 4"
              class="lg:w-auto"
              width="120"
              height="40"
            />
          </figure>
          <figure class="min-w-[140px] md:min-w-[201px]">
            <img
              src="./images/icons/gray-client-logo-5.svg"
              alt="Client company logo 5"
              class="lg:w-auto"
              width="120"
              height="40"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
