<!-- =========================
Stats section
===========================-->
<section class="py-16 md:py-[120px] max-xl:px-5" data-ns-animate data-delay="0.4" data-offset="70">
  <div
    class="bg-secondary dark:bg-background-6 main-container flex flex-col rounded-[20px] md:flex-row justify-between items-center py-6 gap-8 md:gap-0"
  >
    <!-- Stat 1 -->
    <div
      class="flex-1 flex flex-col py-6 space-y-6 items-center md:border-r border-accent/20 dark:border-accent/10"
    >
      <figure
        class="flex items-center justify-center bg-ns-yellow rounded-full px-7 py-3.5 w-20 h-[52px]"
      >
        <img src="./images/icons/check-circle.svg" alt="Project completed" class="size-6" />
      </figure>
      <h2 class="text-xl flex items-center gap-0.5 font-normal text-white">
        <span
          data-counter
          data-number="60"
          data-speed="2000"
          data-interval="200"
          data-rooms="2"
          data-height-space="2.5"
          >60</span
        >% Project completed
      </h2>
    </div>

    <!-- Stat 2 -->
    <div
      class="flex-1 flex flex-col py-6 space-y-6 items-center md:border-r border-accent/20 dark:border-accent/10"
    >
      <figure
        class="flex items-center justify-center bg-ns-cyan rounded-full px-7 py-3.5 w-20 h-[52px]"
      >
        <img src="./images/icons/users.svg" alt="Team members" class="size-6" />
      </figure>
      <h2 class="text-xl flex items-center gap-1 font-normal text-white">
        <span
          data-counter
          data-number="25"
          data-speed="2000"
          data-interval="200"
          data-rooms="2"
          data-height-space="2.5"
          >25</span
        >
        Team members
      </h2>
    </div>

    <!-- Stat 3 -->
    <div class="flex-1 flex flex-col py-6 space-y-6 items-center">
      <figure
        class="flex items-center justify-center bg-ns-red rounded-full px-7 py-3.5 w-20 h-[52px]"
      >
        <img src="./images/icons/thumbs-up.svg" alt="Satisfied clients" class="size-6" />
      </figure>
      <h2 class="text-xl flex items-center gap-1 font-normal text-white">
        <span
          data-counter
          data-number="71"
          data-speed="2000"
          data-interval="200"
          data-rooms="2"
          data-height-space="2.5"
          >71</span
        >
        Satisfied clients
      </h2>
    </div>
  </div>
</section>
