<!-- =========================
Process section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] dark:bg-background-7 max-md:overflow-x-hidden"
>
  <div class="main-container">
    <div class="text-center mx-auto space-y-5 mb-[70px]">
      <span class="badge badge-green" data-ns-animate data-delay="0.2"> Process </span>
      <h2 class="max-w-[540px] mx-auto" data-ns-animate data-delay="0.3">
        Follow the minimalistic steps of installation
      </h2>
    </div>

    <article
      class="flex flex-col justify-center items-center md:flex-row max-lg:flex-wrap md:gap-8 gap-4"
    >
      <!-- Step Card -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="bg-background-1 dark:bg-background-6 rounded-[20px] p-8 max-w-[408px] flex-1"
      >
        <div class="flex items-center justify-between mb-5 sm:mb-8">
          <span class="tagline-2 dark:text-accent">Step 1</span>
          <span class="ns-shape-36 text-[48px] text-secondary dark:text-accent"> </span>
        </div>
        <h3 class="text-heading-6 sm:text-heading-5 mb-1">Connect your platform</h3>
        <p>Easy integration with Shopify, WooCommerce, Zapier, HubSpot, and more.</p>
      </div>
      <!-- Step Card 2 -->
      <div
        data-ns-animate
        data-delay="0.6"
        class="bg-background-1 dark:bg-background-6 rounded-[20px] p-8 max-w-[408px] flex-1"
      >
        <div class="flex items-center justify-between mb-5 sm:mb-8">
          <span class="tagline-2 dark:text-accent">Step 2</span>
          <span class="ns-shape-8 text-[48px] text-secondary dark:text-accent"> </span>
        </div>
        <h3 class="text-heading-6 sm:text-heading-5 mb-1">Design & automate</h3>
        <p>Use our AI-powered email builder and pre-made automation templates.</p>
      </div>
      <!-- Step Card 3 -->
      <div
        data-ns-animate
        data-delay="0.8"
        class="bg-background-1 dark:bg-background-6 rounded-[20px] p-8 max-w-[408px] flex-1"
      >
        <div class="flex items-center justify-between mb-5 sm:mb-8">
          <span class="tagline-2 dark:text-accent">Step 3</span>
          <span class="ns-shape-2 text-[48px] text-secondary dark:text-accent"> </span>
        </div>
        <h3 class="text-heading-6 sm:text-heading-5 mb-1">Optimize & scale</h3>
        <p>Monitor email performance with real-time analytics and predictive insights.</p>
      </div>
    </article>
  </div>
</section>
