<section class="xl:pt-[170px] lg:pt-[140px] pt-[100px] xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div class="space-y-4 text-center">
      <h1 data-ns-animate data-delay="0.2" class="font-normal">
        Comprehensive compliance platform. <br class="max-md:hidden" />
        World class expertise.
      </h1>
      <p data-ns-animate data-delay="0.3">
        Get compliant, mitigate risk, and use security as a differentiator – all with the support
        you need.
      </p>
    </div>
  </div>
</section>
