<section class="xl:py-28 py-20">
  <div class="main-container">
    <div class="space-y-2 mb-[70px]">
      <h2 data-ns-animate data-delay="0.1" class="text-heading-4 lg:text-heading-3">
        Full-service compliance solutions that unlock <br class="max-md:hidden" />
        growth, bolster security posture, and build trust.
      </h2>
      <p data-ns-animate data-delay="0.2">
        Our powerful platform makes it easy to get compliant and stay compliant.
      </p>
    </div>
    <figure data-ns-animate data-delay="0.3" class="rounded-4xl overflow-hidden">
      <img
        src="./images/ns-img-418.jpg"
        alt="service-compliance"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>
</section>
