<!-- =========================
CTA section
===========================-->
<section
  class="relative xl:pt-[200px] md:pt-[100px] pt-16 xl:pb-[200px] md:pb-[100px] pb-16 bg-background-2 dark:bg-background-5"
>
  <div
    class="2xl:max-w-[1440px] xl:max-w-[1240px] lg:max-w-[980px] md:max-w-[700px] sm:max-w-[600px] min-[475px]:max-w-[450px] min-[425px]:max-w-[350px] max-w-[320px] mx-auto w-full"
  >
    <div
      class="w-full bg-white dark:bg-background-6 lg:py-[76px] md:py-[50px] py-[30px] lg:rounded-[30px] rounded-[20px] relative z-10 overflow-hidden"
    >
      <!-- left gradient -->
      <figure
        data-ns-animate
        data-delay="0.1"
        data-direction="left"
        data-offset="300"
        class="absolute lg:-bottom-[100px] -bottom-[150px] lg:-left-[117px] -left-[130px] lg:max-w-[386px] max-w-[300px] -z-10 select-none pointer-events-none"
      >
        <img src="./images/ns-img-507.png" alt="gradient" />
      </figure>

      <!-- right gradient -->
      <figure
        data-ns-animate
        data-delay="0.1"
        data-direction="right"
        data-offset="300"
        class="absolute lg:-top-[200px] -top-[250px] lg:-right-[198px] -right-[150px] lg:max-w-[535px] max-w-[400px] -z-10 select-none pointer-events-none"
      >
        <img src="./images/ns-img-500.png" alt="gradient" />
      </figure>
      <div class="space-y-5 mb-6 text-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-yellow-v2">Let's connect</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">Reday to take control of risk?</h2>
          <p data-ns-animate data-delay="0.3">
            Join risk leaders who trust NextSaaS to manage uncertainty with confidence.
          </p>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="flex items-center justify-center">
        <a
          href="./risk-management-software-pricing.html"
          class="cta-button btn btn-secondary hover:btn-primary dark:btn-accent btn-md"
        >
          <span>Get a demo</span>
        </a>
      </div>
    </div>
  </div>
</section>
