<!-- =========================
Feature v2 section
===========================-->
<section class="relative xl:py-[200px] md:py-[100px] py-16 bg-background-3 dark:bg-background-7">
  <div class="main-container">
    <div
      class="md:py-14 sm:py-10 py-8 md:px-[42px] sm:px-8 px-5 rounded-4xl bg-white dark:bg-background-8 space-y-[70px] relative overflow-hidden"
    >
      <figure
        data-ns-animate
        data-delay="0.3"
        data-direction="up"
        data-offset="100"
        class="absolute -top-[15%] pointer-events-none lg:-top-[30%] xl:-top-[27%] -right-[72%] min-[470px]:-right-[60%] sm:-right-[40%] lg:-right-[24%] xl:-right-[21%] blur-[4px] rotate-[103deg] max-w-[420px] max-h-[480px] select-none"
      >
        <img
          src="./images/ns-img-498.png"
          class="w-full h-full object-cover"
          alt="NextSass"
        />
      </figure>
      <div class="sm:space-y-7 space-y-4 sm:text-left text-center">
        <h2
          data-ns-animate
          data-delay="0.1"
          class="lg:max-w-[731px] sm:max-w-[500px] max-w-[350px] sm:mx-0 mx-auto w-full"
        >
          Strategic risk management that moves you forward
        </h2>
        <div data-ns-animate data-delay="0.2">
          <a
            href="./risk-management-software-integration.html"
            class="btn btn-secondary btn-md hover:btn-primary dark:btn-transparent w-[90%] md:w-auto mx-auto"
          >
            <span>Learn our approach</span>
          </a>
        </div>
      </div>
      <div>
        <div class="grid grid-cols-12 xl:gap-[60px] lg:gap-10 md:gap-6 min-[575px]:gap-8 gap-y-8">
          <div class="col-span-12 min-[575px]:col-span-6 lg:col-span-3 lg:order-1 order-1">
            <div class="min-[575px]:space-y-8 space-y-6">
              <div data-ns-animate data-delay="0.3" data-direction="left" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-34 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">
                    Cross-functional visibility
                  </p>
                  <p class="text-tagline-2">Connect risks across silos</p>
                </div>
              </div>
              <div data-ns-animate data-delay="0.4" data-direction="left" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-36 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">Automation & workflows</p>
                  <p class="text-tagline-2">Reduce manual work and errors</p>
                </div>
              </div>
              <div data-ns-animate data-delay="0.5" data-direction="left" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-8 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">Customizable modules</p>
                  <p class="text-tagline-2">Tailor solutions to your industry</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-6 lg:order-2 order-3">
            <div
              data-ns-animate
              data-delay="0.3"
              data-offset="100"
              class="xl:p-8 sm:p-6 p-4 rounded-[20px] bg-background-2 dark:bg-background-5 space-y-6"
            >
              <div class="space-y-2 text-center">
                <h3 class="text-heading-5">Real-time data</h3>
                <p>See your app in action as you create it</p>
              </div>
              <div class="flex sm:flex-row flex-col sm:gap-4 gap-y-4">
                <div
                  class="flex-1 h-full rounded-2xl overflow-hidden bg-background-3 dark:bg-background-8"
                >
                  <div class="bg-ns-green py-2 px-[25px] flex items-center justify-between">
                    <p class="text-tagline-2 text-secondary">Mon</p>
                    <p class="text-tagline-2">12</p>
                  </div>
                  <div class="py-2 px-4">
                    <div class="py-9 space-y-2">
                      <div class="p-2 rounded-lg bg-background-2 dark:bg-background-5">
                        <p class="text-tagline-2 text-secondary dark:text-accent">05:00</p>
                        <p class="text-tagline-2">Combo room</p>
                      </div>
                      <div class="p-2 rounded-lg dark:bg-background-7">
                        <p class="text-tagline-2 text-secondary dark:text-accent">09:00</p>
                        <p class="text-tagline-2">Combo room</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex-1 h-full rounded-2xl overflow-hidden bg-background-3 dark:bg-background-8"
                >
                  <div class="p-4">
                    <p class="text-secondary dark:text-accent text-tagline-2">Customers</p>
                    <figure class="mt-5 mb-4 max-w-[150px] mx-auto w-full">
                      <img src="./images/ns-img-200.png" alt="customer" />
                    </figure>
                    <div class="space-y-4">
                      <div class="flex items-center justify-between">
                        <p class="text-tagline-3">Total customers</p>
                        <p class="text-tagline-3 text-secondary dark:text-accent">45%</p>
                      </div>
                      <div class="flex items-center justify-between">
                        <p class="text-tagline-3">Returning’s customers</p>
                        <p class="text-tagline-3 text-secondary dark:text-accent">100%</p>
                      </div>
                      <div class="flex items-center justify-between">
                        <p class="text-tagline-3">Avg. spent per visit</p>
                        <p class="text-tagline-3 text-secondary dark:text-accent">45%</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-12 min-[575px]:col-span-6 lg:col-span-3 lg:order-3 order-2">
            <div class="min-[575px]:space-y-8 space-y-6">
              <div data-ns-animate data-delay="0.3" data-direction="right" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-8 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">Real-time data</p>
                  <p class="text-tagline-2">Make faster, smarter decisions</p>
                </div>
              </div>
              <div data-ns-animate data-delay="0.4" data-direction="right" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-41 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">
                    Enterprise-grade security
                  </p>
                  <p class="text-tagline-2">Your data, protected and compliant</p>
                </div>
              </div>
              <div data-ns-animate data-delay="0.5" data-direction="right" class="space-y-4">
                <div class="min-[575px]:text-left text-center">
                  <span
                    class="ns-shape-3 text-[36px] text-secondary dark:text-accent inline-block"
                  ></span>
                </div>
                <div class="min-[575px]:text-left text-center">
                  <p class="font-medium text-secondary dark:text-accent">Smart insights</p>
                  <p class="text-tagline-2">Actionable reports at a glance</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
