<div>
  <div
    class="dropdown-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 lg:w-[970px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="platform-mega-menu"
    class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 lg:w-[970px] w-full bg-white dark:bg-background-6 z-50 rounded-[20px] p-6 border border-stroke-1 dark:border-white/10"
  >
    <div class="grid grid-cols-12 gap-x-8 gap-y-6">
      <div class="col-span-4">
        <div>
          <a
            href="./risk-management-software-features.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/feature-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Features</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Make cool SaaS experiences for your users!
              </p>
            </div>
          </a>

          <a
            href="./risk-management-software-integration.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/integration-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Integrations
                </p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Increase engagement and growth while reducing churn.
              </p>
            </div>
          </a>

          <a
            href="./risk-management-software-process.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/process-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Process</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Unify data, operations, and insights into a single source of truth.
              </p>
            </div>
          </a>
          <a
            href="./risk-management-software-press.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/press-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Press</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                See what others are saying about us.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-span-4">
        <div>
          <a
            href="./risk-management-software-analytics.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/analytics-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Analytics</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Guide users through seamless setup.
              </p>
            </div>
          </a>

          <a
            href="./risk-management-software-security.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/security-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Security</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Automate tasks and boost engagement.
              </p>
            </div>
          </a>

          <a
            href="./risk-management-software-whitepaper.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/whitepaper-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Whitepaper</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Store and manage data securely.
              </p>
            </div>
          </a>

          <div class="mt-7">
            <div class="group">
              <a
                href="./risk-management-software-signup.html"
                class="inline-flex items-center justify-center rounded-full cursor-pointer gap-1.5 group-hover:bg-primary-500 text-center transition-all duration-500 ease-in-out font-medium text-nowrap lowercase bg-white border border-stroke-1 hover:border-primary-500 text-secondary group-hover:text-white px-5 py-3 text-tagline-1"
              >
                <span
                  class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
                >
                  Build overview</span
                >

                <div class="relative overflow-hidden size-6">
                  <!-- one  -->
                  <span
                    class="group-hover:translate-x-1 -translate-x-6 absolute inset-0 transition-transform duration-300 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path d="M11 5H13V7H11V5Z" fill="white" />
                      <path d="M5 5H7V7H5V5Z" fill="white" />
                      <path d="M14 8H16V10H14V8Z" fill="white" />
                      <path d="M8 8H10V10H8V8Z" fill="white" />
                      <path d="M17 11H19V13H17V11Z" fill="white" />
                      <path d="M11 11H13V13H11V11Z" fill="white" />
                      <path d="M14 14H16V16H14V14Z" fill="white" />
                      <path d="M8 14H10V16H8V14Z" fill="white" />
                      <path d="M11 17H13V19H11V17Z" fill="white" />
                      <path d="M5 17H7V19H5V17Z" fill="white" />
                    </svg>
                  </span>

                  <!-- two  -->
                  <span
                    class="group-hover:translate-x-6 absolute -translate-x-2 transition-transform duration-300 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path d="M11 5H13V7H11V5Z" fill="#1A1A1C" />
                      <path d="M5 5H7V7H5V5Z" fill="#1A1A1C" />
                      <path d="M14 8H16V10H14V8Z" fill="#1A1A1C" />
                      <path d="M8 8H10V10H8V8Z" fill="#1A1A1C" />
                      <path d="M17 11H19V13H17V11Z" fill="#1A1A1C" />
                      <path d="M11 11H13V13H11V11Z" fill="#1A1A1C" />
                      <path d="M14 14H16V16H14V14Z" fill="#1A1A1C" />
                      <path d="M8 14H10V16H8V14Z" fill="#1A1A1C" />
                      <path d="M11 17H13V19H11V17Z" fill="#1A1A1C" />
                      <path d="M5 17H7V19H5V17Z" fill="#1A1A1C" />
                    </svg>
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <div>
          <figure class="overflow-hidden rounded-xl max-w-full w-full mb-2.5">
            <img
              src="./images/ns-img-427.jpg"
              alt="What's New"
              class="w-full h-full object-cover rounded-xl"
            />
          </figure>
          <a
            href="./risk-management-software-brandkit.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/brandkit-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Brandkit</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Extend workflows with one-click app connections.
              </p>
            </div>
          </a>

          <a
            href="./risk-management-software-download.html"
            class="rounded-xl p-3 flex items-start gap-2 group transition-all duration-300 relative"
          >
            <Component
              src="src/components/shared/hover-bg-transform.htm"
              class="group-hover:bg-primary-500/10 border border-transparent group-hover:border-primary-200 dark:group-hover:border-primary-500 rounded-xl"
            />
            <div
              class="mt-1 size-9 rounded-lg border border-stroke-1 dark:border-background-7 bg-white dark:bg-background-6 flex items-center justify-center shrink-0 p-2 shadow-14 transition-all duration-300 group-hover:bg-primary-500 relative z-10"
            >
              <Component
                src="src/components/shared/menu-icon/dawnload-icon.htm"
                class="group-hover:stroke-white dark:group-hover:stroke-accent transition-all duration-300 ease-in-out"
              />
            </div>
            <div class="relative z-10">
              <div class="flex items-center justify-between gap-2">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Download</p>
                <div
                  class="delay-300 group-hover:opacity-100 opacity-0 transition-all duration-300 -translate-x-2 group-hover:translate-x-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M8 5H10V7H8V5Z" class="fill-primary-500" />
                    <path d="M11 8H13V10H11V8Z" class="fill-primary-500" />
                    <path d="M14 11H16V13H14V11Z" class="fill-primary-500" />
                    <path d="M11 14H13V16H11V14Z" class="fill-primary-500" />
                    <path d="M8 17H10V19H8V17Z" class="fill-primary-500" />
                  </svg>
                </div>
              </div>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Scale fast with flexibility and performance combined.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
