<!-- =============================== 
  Services section 
 =============================== -->
<section
  class="xl:py-[200px] md:py-[100px] py-16 bg-background-2 dark:bg-background-5 space-y-[100px] overflow-hidden"
>
  <div class="main-container lg:space-y-[100px] md:space-y-[80px] space-y-20 sm:space-y-16">
    <!-- section-content -->
    <div class="max-w-[650px] mx-auto w-full text-center space-y-3">
      <h2 data-ns-animate data-delay="0.2">Manage the full risk lifecycle with ease</h2>
      <p data-ns-animate data-delay="0.3">
        An in-depth overview of cryptocurrency solutions reveals a rapidly evolving ecosystem
        designed to revolutionize traditional financial systems.
      </p>
    </div>
    <!-- services-1 -->
    <div class="grid grid-cols-12 items-center xl:gap-[100px] lg:gap-20 md:gap-y-14 gap-y-6">
      <div class="col-span-12 lg:col-span-6">
        <figure
          data-ns-animate
          data-delay="0.1"
          data-direction="right"
          data-offset="100"
          class="lg:max-w-[595px] max-w-[500px] w-full lg:mx-0 mx-auto"
        >
          <img
            src="./images/ns-img-201.png"
            alt="services-1"
            class="w-full h-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-138.png"
            alt="services-1"
            class="w-full h-full object-cover hidden dark:block"
          />
        </figure>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="lg:text-left text-center">
          <div class="sm:space-y-3 space-y-1.5 lg:mb-14 mb-8">
            <h3 data-ns-animate data-delay="0.2" class="max-w-[509px] lg:mx-0 mx-auto">
              Policy & program management
            </h3>
            <p data-ns-animate data-delay="0.3">
              Centralize governance and automate policy workflows.
            </p>
          </div>
          <div data-ns-animate data-delay="0.4">
            <a
              href="./risk-management-software-service-details.html"
              class="btn dark:btn-accent hover:btn-primary btn-secondary btn-md service-button w-[85%] md:w-auto mx-auto"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- services-2 -->
    <div
      class="grid grid-cols-12 items-center xl:gap-[100px] lg:gap-20 md:gap-y-10 sm:gap-y-5 gap-y-3"
    >
      <div class="col-span-12 lg:col-span-6 lg:order-1 order-2">
        <div class="md:space-y-14 space-y-8 lg:text-left text-center">
          <div class="sm:space-y-3 space-y-1.5">
            <h3 data-ns-animate data-delay="0.2" class="lg:mx-0 mx-auto lg:max-w-[498px] w-full">
              Business continuity <br class="lg:block hidden" />management
            </h3>
            <p data-ns-animate data-delay="0.3" class="lg:mx-0 mx-auto lg:max-w-[412px]">
              Ensure operational resilience and minimize disruptions.
            </p>
          </div>
          <div data-ns-animate data-delay="0.4">
            <a
              href="./risk-management-software-service-details.html"
              class="btn dark:btn-accent hover:btn-primary btn-secondary btn-md service-button w-[85%] md:w-auto mx-auto"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6 lg:order-2 order-1">
        <div
          class="flex lg:gap-8 gap-5 sm:flex-row flex-col lg:items-start items-center justify-center lg:justify-start"
        >
          <figure
            data-ns-animate
            data-delay="0.1"
            class="lg:max-w-[350px] max-w-[250px] w-full rounded-[20px] overflow-hidden"
          >
            <img
              src="./images/ns-img-46.png"
              alt="services-2"
              class="w-full h-full object-cover dark:hidden"
            />
            <img
              src="./images/ns-img-dark-25.png"
              alt="services-2"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div
            class="space-y-8 sm:mt-12 flex sm:flex-col flex-row max-[400px]:flex-col sm:gap-0 max-[400px]:gap-2 gap-5 items-center"
          >
            <figure
              data-ns-animate
              data-delay="0.2"
              class="lg:max-w-[233px] max-w-[200px] w-full rounded-[20px] overflow-hidden"
            >
              <img
                src="./images/ns-img-47.png"
                alt="services-3"
                class="w-full h-full object-cover dark:hidden"
              />
              <img
                src="./images/ns-img-dark-26.png"
                alt="services-3"
                class="w-full h-full object-cover hidden dark:block"
              />
            </figure>
            <div class="flex space-y-4 flex-col">
              <div class="flex max-[400px]:justify-center sm:-space-x-3.5 -space-x-2">
                <img
                  data-ns-animate
                  data-delay="0.3"
                  class="inline-block sm:size-11 size-7 shrink-0 rounded-full ring-4 ring-white bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-1.png"
                  alt="Avatar 1"
                />
                <img
                  data-ns-animate
                  data-delay="0.4"
                  class="inline-block sm:size-11 size-7 shrink-0 rounded-full ring-4 ring-white bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-2.png"
                  alt="Avatar 2"
                />
                <img
                  data-ns-animate
                  data-delay="0.5"
                  class="inline-block sm:size-11 size-7 shrink-0 rounded-full relative z-0 ring-4 ring-white bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-3.png"
                  alt="Avatar 3"
                />
                <div
                  data-ns-animate
                  data-delay="0.6"
                  class="inline-flex items-center relative z-10 justify-center sm:size-11 size-7 shrink-0 bg-ns-green rounded-full ring-4 ring-white text-secondary/80 text-tagline-3 font-medium cursor-pointer"
                >
                  99+
                </div>
              </div>
              <div data-ns-animate data-delay="0.7" class="max-[400px]:text-center">
                <p
                  class="sm:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
                >
                  Trusted by 20k+
                </p>
                <p class="text-tagline-2">Customers across the globe</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- services-3 -->
    <div class="grid grid-cols-12 items-center xl:gap-10 gap-y-14">
      <div class="col-span-12 xl:col-span-6">
        <div class="relative max-w-[595px] mx-auto xl:mx-0 w-full">
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="left"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            data-progress-item
            data-progress-value="88"
            data-progress-duration="2.5"
            class="absolute bottom-10 xl:-left-12 -left-0 z-[1] min-w-[288px] space-y-2 shadow-1 bg-white dark:bg-background-6 rounded-xl p-4 min-h-[100px] max-h-[101px]"
          >
            <figcaption class="flex justify-between gap-2">
              <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
              <p
                class="text-lg flex items-center font-medium leading-[1.5] text-secondary dark:text-accent"
              >
                $
                <span
                  data-counter
                  data-number="53224"
                  data-speed="2000"
                  data-interval="200"
                  data-rooms="5"
                  data-height-space="2.5"
                  >53,224</span
                >
              </p>
            </figcaption>
            <div
              class="flex items-center justify-between gap-1"
              role="status"
              aria-label="Credit limit usage"
            >
              <span
                class="relative max-w-[229px] inline-block dark:bg-accent bg-secondary w-full h-1.5 rounded-full"
              >
                <span
                  data-progress-bar
                  class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
                ></span>
              </span>
              <span data-progress-text class="text-tagline-3 font-normal dark:text-accent"
                >88%</span
              >
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.1"
            data-offset="100"
            class="max-w-[495px] mx-auto xl:mx-0 w-full max-h-[995px] rounded-[20px] overflow-hidden"
          >
            <img
              src="./images/ns-img-48.png"
              alt="services-4"
              class="w-full h-full object-cover dark:hidden"
            />
            <img
              src="./images/ns-img-dark-139.png"
              alt="services-4"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            class="absolute xl:bottom-10 xl:right-20 right-0 rounded-xl overflow-hidden -bottom-8 z-[1] shadow-9 hidden sm:block"
          >
            <img
              src="./images/ns-img-51.svg"
              alt="balance"
              class="w-full h-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-30.svg"
              alt="balance"
              class="w-full h-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6">
        <div class="text-center services-content-4 xl:text-left">
          <div class="space-y-3 mb-8 lg:mb-14">
            <h3 data-ns-animate data-delay="0.2" class="max-w-[509px] mx-auto xl:mx-0">
              Cost allocation & calculation
            </h3>
            <p data-ns-animate data-delay="0.3" class="max-w-[465px] mx-auto xl:mx-0">
              Accurately calculate exposure and allocate risk-related costs.
            </p>
          </div>
          <div data-ns-animate data-delay="0.4">
            <a
              href="./risk-management-software-service-details.html"
              class="btn btn-secondary btn-md dark:btn-accent hover:btn-primary w-[85%] md:w-auto mx-auto"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
