<!-- =========================
Experience section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[200px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container">
    <div class="flex flex-col lg:flex-row xl:gap-[100px]">
      <div
        class="text-center lg:text-left md:max-w-[650px] max-lg:mx-auto max-lg:mb-[70px] lg:max-w-[442px] space-y-5"
      >
        <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Number</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">Over a decade of experience in this.</h2>
          <p data-ns-animate data-delay="0.3">
            This extensive experience not only reflects our commitment to excellence but also equips
            us with the insight and skills necessary to meet.
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 grow-1">
        <div
          data-ns-animate
          data-delay="0.2"
          class="rounded-xl p-8 bg-background-2 dark:bg-background-8 flex flex-col justify-between"
        >
          <div class="flex items-center justify-between">
            <h5 class="max-w-[200px]">Relied upon by businesses</h5>
            <div class="shrink-0">
              <span class="ns-shape-47 text-[52px] text-secondary dark:text-accent"></span>
            </div>
          </div>
          <div class="space-y-1">
            <h3 class="flex items-center gap-1">
              <span
                data-counter
                data-number="83"
                data-speed="1000"
                data-interval="180"
                data-rooms="2"
                data-height-space="2.2"
                >83</span
              >%
            </h3>
            <p>Avg. Completed</p>
          </div>
        </div>
        <div
          data-ns-animate
          data-delay="0.3"
          class="rounded-xl p-8 bg-background-2 dark:bg-background-8 flex flex-col justify-between"
        >
          <div class="flex items-center justify-between">
            <h5 class="max-w-[200px]">The team at NexSaaS bank</h5>
            <div class="shrink-0">
              <span class="ns-shape-57 text-[52px] text-secondary dark:text-accent"></span>
            </div>
          </div>
          <div class="space-y-1">
            <h3 class="flex items-center gap-1">
              <span
                data-counter
                data-number="56"
                data-speed="1000"
                data-interval="180"
                data-rooms="2"
                data-height-space="2.2"
                >56</span
              >%
            </h3>
            <p>Avg. Completed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
