<!-- =========================
Features section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div
      class="grid grid-cols-12 lp:gap-[100px] xl:gap-20 lg:gap-14 lg:gap-y-0 gap-y-14 items-center"
    >
      <div class="col-span-12 lp:col-span-7 lg:col-span-6">
        <div class="relative max-w-[704px] lg:mx-0 mx-auto">
          <figure
            data-ns-animate
            data-delay="0.3"
            data-direction="right"
            class="absolute xl:top-[38%] top-[40%] right-0 xl:-right-7 xl:max-w-[253px] sm:max-w-[200px] max-w-[150px] w-full z-10"
          >
            <img
              src="./images/ns-img-97.png"
              alt="features"
              class="w-full h-full inline-block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-70.png"
              alt="features"
              class="w-full h-full hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.2"
            class="w-full xl:max-w-[504px] sm:max-w-[400px] max-w-[300px] lg:mx-0 mx-auto"
          >
            <img
              src="./images/ns-img-81.png"
              alt="features"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-55.png"
              alt="features"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.5"
            data-direction="right"
            class="absolute rounded-xl overflow-hidden bottom-10 xl:bottom-1/12 right-0 xl:max-w-[395px] sm:max-w-[300px] max-w-[200px] w-full shadow-2"
          >
            <img
              src="./images/ns-img-96.png"
              alt="features"
              class="w-full h-full inline-block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-69.png"
              alt="features"
              class="w-full h-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 lp:col-span-5 lg:col-span-6">
        <div class="space-y-8">
          <div class="space-y-5">
            <span data-ns-animate data-delay="0.1" class="badge badge-cyan"
              >Reasons to select us</span
            >
            <div class="space-y-3">
              <h2 data-ns-animate data-delay="0.2" class="max-w-[521px]">
                Easily manage your cash flow.
              </h2>
              <p data-ns-animate data-delay="0.3">
                Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text
                nothing Before & After magazine.
              </p>
            </div>
          </div>
          <div>
            <ul class="space-y-2">
              <li data-ns-animate data-delay="0.2" class="p-2 flex items-center gap-4">
                <span class="ns-shape-8 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  A version for offline use is available.
                </span>
              </li>
              <li data-ns-animate data-delay="0.3" class="p-2 flex items-center gap-4">
                <span class="ns-shape-9 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Designed to be both scalable and secure.
                </span>
              </li>
              <li data-ns-animate data-delay="0.4" class="p-2 flex items-center gap-4">
                <span class="ns-shape-12 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Feature powered by artificial intelligence.
                </span>
              </li>
              <li data-ns-animate data-delay="0.5" class="p-2 flex items-center gap-4">
                <span class="ns-shape-21 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  It offers both scalability and robust security.
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
