<!-- =========================
Hero section
===========================-->
<section class="hero-section relative pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="flex flex-col items-center justify-center mb-[72px]">
      <div class="w-[95%] max-w-[850px] space-y-4 mx-auto text-center">
        <h2 data-ns-animate data-delay="0.3">
          Your business. Your metrics. <br class="hidden md:block" />
          All in one view.
        </h2>
        <p data-ns-animate data-delay="0.4">
          With NextSaaS, you don’t need a dozen tools to understand what’s working. Our intuitive
          dashboard centralizes your key metrics, helping you monitor performance, spot trends, and
          make smarter, faster decisions.
        </p>
      </div>
    </div>
  </div>
  <div
    data-ns-animate
    data-delay="0.5"
    class="w-[98%] max-w-[1540px] mx-auto bg-white dark:bg-background-6 rounded-2xl py-[100px] xl:px-[100px]"
  >
    <div
      class="lp:max-w-[1416px] xl:max-w-[1280px] lg:max-w-[1140px] max-w-[980px] mx-auto relative"
    >
      <figure
        data-ns-animate
        data-delay="0.4"
        data-direction="left"
        class="lg:max-w-[282px] sm:max-w-[200px] max-w-[120px] rounded-[20px] overflow-hidden absolute z-20 xl:left-0 xl:top-1/2 xl:-translate-y-1/2 lg:top-20 lg:left-20 -top-10 left-10"
      >
        <img
          src="./images/ns-img-77.png"
          alt="hero"
          class="w-full h-full object-cover block dark:hidden"
        />
        <img
          src="./images/ns-img-dark-52.png"
          alt="hero"
          class="w-full h-full object-cover hidden dark:block"
        />
      </figure>
      <figure
        class="rounded-[20px] relative z-10 overflow-hidden max-w-[860px] xl:mx-0 mx-auto xl:translate-x-[36%] lg:px-0 px-10"
      >
        <img
          src="./images/ns-img-78.png"
          alt="hero"
          class="w-full h-full object-cover lg:rounded-none rounded-[20px]"
        />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="right"
        class="lg:max-w-[320px] sm:max-w-[200px] max-w-[150px] rounded-[20px] overflow-hidden absolute z-20 xl:-right-0 xl:top-1/2 xl:-translate-y-1/2 lg:right-20 lg:bottom-5 xl:bottom-auto shadow-3 sm:right-14 sm:bottom-14 right-0 bottom-0"
      >
        <img
          src="./images/ns-img-79.png"
          alt="hero"
          class="w-full h-full block dark:hidden"
        />
        <img
          src="./images/ns-img-dark-53.png"
          alt="hero"
          class="w-full h-full hidden dark:block"
        />
      </figure>
    </div>
  </div>
</section>
