<!-- =========================
Testimonial section
===========================-->
<section class="pt-[100px] pb-[200px]">
  <div class="max-w-[950px] w-[95%] mx-auto flex flex-col space-y-14">
    <div class="space-y-3">
      <h2 data-ns-animate data-delay="0.1">What our users say</h2>
      <p data-ns-animate data-delay="0.2" class="tezt-secondary/60">
        “Nextsaas delivered our entire platform ahead of schedule—flawless execution and real
        partnership.”
      </p>
    </div>
    <div
      data-ns-animate
      data-delay="0.2"
      class="bg-secondary dark:bg-background-8 rounded-[20px] p-8 flex flex-col space-y-6"
    >
      <figure data-ns-animate data-delay="0.2">
        <img
          src="./images/ns-avatar-5.png"
          alt="author"
          class="inline-block size-14 rounded-full bg-linear-[156deg,#ffffff_0%,#83E7EE_100%]"
        />
      </figure>
      <div>
        <p class="text-white dark:text-accent/60">
          “Workflow Automation helped us eliminate hours of manual work each week. Now, our ops team
          can focus on strategic initiatives instead of button-clicking.”
        </p>
      </div>
      <div>
        <p class="text-white text-lg font-medium leading-[150%]">John Smith</p>
        <p class="text-accent/60 text-tagline-2">Lorem ipsum</p>
      </div>
    </div>

    <div data-ns-animate data-delay="0.2" class="w-fit">
      <a
        href="{=$page-link}"
        class="btn btn-primary btn-xl hover:btn-secondary dark:hover:btn-accent"
      >
        <span>Get started</span>
      </a>
    </div>
  </div>
</section>
