<!-- =========================
Vission Statement section
===========================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container space-y-14 md:space-y-[70px]">
    <div class="space-y-3 text-center max-w-[780px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Passion meets purpose</span
      >
      <h2 data-ns-animate data-delay="0.3">
        NextSaaS is defining the future landscape of business.
      </h2>
      <p data-ns-animate data-delay="0.4">
        In a rapidly evolving digital world, NextSaaS stands at the forefront of innovation,
        transforming how businesses operate, connect, and grow.By delivering intelligent, scalable,
        and user-focused SaaS solutions,
      </p>
    </div>

    <article class="grid grid-cols-12 gap-y-8 justify-center gap-x-8">
      <div class="col-span-12 md:col-span-6 space-y-8">
        <figure
          data-ns-animate
          data-delay="0.5"
          class="rounded-[20px] overflow-hidden max-w-[630px]"
        >
          <img src="./images/ns-img-353.png" alt="vision-1" />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.6"
          class="rounded-[20px] overflow-hidden max-w-[630px]"
        >
          <img src="./images/ns-img-354.png" alt="vision-2" />
        </figure>
      </div>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="col-span-12 md:col-span-6 rounded-[20px] overflow-hidden max-w-[630px]"
      >
        <img src="./images/ns-img-355.png" alt="vision-3" />
      </figure>
    </article>
  </div>
</section>
