<!-- =========================
Accordian Icon
===========================-->
<span class="sm:ml-auto ml-2.5 block accordion-arrow">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    width="16"
    height="16"
  >
    <path
      stroke-opacity="0.8"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="m19.5 8.25-7.5 7.5-7.5-7.5"
      class="stroke-secondary dark:stroke-accent"
    />
  </svg>
</span>
