<!-- =========================
Footer v1
===========================-->
<footer class="bg-secondary dark:bg-background-8 relative overflow-hidden {=$class}">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none select-none absolute size-[550px] top-[-17%] md:top-[-25%] xl:top-[-32%] max-[376px]:right-[-83%] right-[-64%] md:right-[-30%] lg:right-[-19%] xl:right-[-9%] bg-top-right rotate-[-30deg] {=$hide-gradient}"
  >
    <img
      class="size-full object-cover object-top"
      src="./images/ns-img-493.png"
      alt="Decorative gradient background"
    />
  </figure>

  <!-- left gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="left"
    data-offset="400"
    class="pointer-events-none select-none absolute size-[728px] md:size-[870px] bottom-[-33%] md:bottom-[-60%] xl:bottom-[-77%] left-[-83%] md:left-[-52%] lg:left-[-38%] xl:left-[-30%] 2xl:left-[-22%] min-[2559px]:!left-[-16%] {=$hide-gradient}"
  >
    <img
      class="size-full object-bottom"
      src="./images/ns-img-494.png"
      alt="Decorative gradient background"
    />
  </figure>
  <div class="main-container px-5">
    <div class="grid grid-cols-12 xl:pt-[90px] gap-x-0 gap-y-16 pt-16 pb-12 justify-between">
      <div class="col-span-12 xl:col-span-4">
        <div data-ns-animate data-delay="0.3" class="max-w-[306px]">
          <figure>
            <img src="./images/shared/dark-logo.svg" alt="NextSass Logo" />
          </figure>
          <p class="text-accent/60 font-normal text-tagline-1 mt-4 mb-7">
            Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.
          </p>
          <div class="flex items-center gap-3">
            <a href="#" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Dribbble</span>
              <img class="size-6" src="./images/icons/dribbble.svg" alt="Dribbble" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Behance</span>
              <img class="size-6" src="./images/icons/behance.svg" alt="Behance" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-8 grid grid-cols-12 gap-x-0 gap-y-8">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Company</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="./our-team-page-01.html" class="footer-link"> About Us </a>
              </li>
              <li>
                <a href="./career-page.html" class="footer-link"> Career </a>
              </li>
              <li>
                <a href="./case-study-page.html" class="footer-link"> Case Studies </a>
              </li>
              <li>
                <a href="./contact-us-page.html" class="footer-link"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Support</p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="./faq-page.html" class="footer-link"> FAQ </a>
              </li>
              <li>
                <a href="./documentation-page.html" class="footer-link"> Documentation </a>
              </li>
              <li>
                <a href="./learn-page.html" class="footer-link"> Tutorial </a>
              </li>
              <li>
                <a href="./support-page.html" class="footer-link"> Support </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">
              Legal Policies
            </p>
            <ul class="sm:space-y-5 space-y-3">
              <li>
                <a href="./terms-conditions-page.html" class="footer-link"> Terms & Conditions </a>
              </li>
              <li>
                <a href="./privacy-page.html" class="footer-link"> Privacy Policy </a>
              </li>
              <li>
                <a href="./refund-policy-page.html" class="footer-link"> Refund Policy </a>
              </li>
              <li>
                <a href="./gdpr-page.html" class="footer-link"> GDPR Compliance </a>
              </li>
              <li>
                <a href="./affiliate-policy-page.html" class="footer-link"> Affiliate Policy </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-[26px] pb-[100px] text-center relative">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-accent/10 dark:bg-stroke-4/10"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 font-normal text-primary-50"
      >
        Copyright &copy;NextSaaS – smart application for modern business
      </p>
    </div>
  </div>
  <div class="{=$hide-theme-toggle}">
    <Component src="src/components/shared/theme-toggle.htm" default-theme="{=$default-theme}" />
  </div>
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
