<!-- =========================
Mega Menu V1
===========================-->
<div>
  <!-- Transparent bridge to prevent gap -->
  <div
    class="mega-menu-bridge py-6 fixed left-1/2 -translate-x-1/2 top-full w-full bg-transparent z-40 max-w-[1290px]"
  ></div>
  <div
    id="home-mega-menu"
    class="mega-menu fixed mt-2 left-1/2 -translate-x-1/2 top-full pointer-events-none transition-all duration-300 opacity-0 bg-white rounded-[20px] z-50 max-w-[1290px] w-full overflow-hidden dark:bg-background-6 shadow-1 border dark:border-background-5 border-stroke-4 {=$class}"
  >
    <div class="flex w-full relative">
      <div class="flex justify-between flex-1 gap-10 px-[60px] py-[70px]">
        <!-- Column 1 -->
        <ul class="space-y-5 pr-4">
          <li>
            <a
              href="./index.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>01. Crypto Marketing</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>02. AI Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-03.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>03. AI Chatbot</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-04.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>04. Web Hosting</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-05.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>05. Analytics &amp; Reporting</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-06.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>06. Financial Aplication</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-07.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>07. Payment Solutions</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-08.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>08. Online Banking</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-09.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>09. Cloud Based Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-10.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>10. Cyber Security</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-11.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>11. Email Marketing</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-12.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>12. Lead Capture</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-13.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>13. Messaging Platform</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
        <div class="w-px h-full bg-secondary/10 dark:bg-accent/10"></div>
        <!-- Column 2 -->
        <ul class="space-y-5 px-4">
          <li>
            <a
              href="./home-page-14.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>14. Mortgage Services</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-15.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>15. Creative Portfoilo</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-16.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>16. App Builder</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-17.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>17. App Development</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-18.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>18. AI Agency</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-19.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>19. Smart Solutions</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-20.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>20. Risk Management Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-21.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>21. Personal Finance</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-22.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>22. Mobile Management Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-23.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>23. Investment Management</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-24.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>24. Insurance Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-25.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>25. Property Management</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-26.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>26. POS System</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
        <div class="w-px h-full bg-secondary/10 dark:bg-accent/10"></div>
        <!-- Column 3 -->
        <ul class="space-y-5 pl-4">
          <li>
            <a
              href="./home-page-27.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>27. Social Media Management</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-28.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>28. Nuvexa CRM</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-29.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>29. Wealth Management</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-30.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>30. Security Software</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-31.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>31. Time Tracking</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-32.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>32. Data Visualization</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-33.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>33. Digital Marketing Agency</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-34.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>34. Forex Trading</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>

          <li>
            <a
              href="./home-page-35.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>35. Decentralized Finance</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>

          <li>
            <a
              href="./home-page-36.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>36. AI Applications</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-37.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>37. AI Gadget</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a
              href="./home-page-38.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>38. AI Resume Builder</span>
              <span
                class="group-hover/item:translate-x-2 group-hover/item:opacity-100 opacity-0 transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M8 12L12 8L8 4"
                    class="stroke-secondary dark:stroke-accent"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
