<div class="fixed inset-0 bg-black/80 z-[999] modal-overlay modal-close" aria-hidden="true">
  <div
    class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 sm:max-w-[470px] max-w-[350px] w-full bg-background-12 dark:bg-background-6 p-2 rounded-2xl sm:space-y-6 space-y-3 modal-content"
    role="dialog"
    aria-modal="true"
    aria-labelledby="join-modal-title"
    tabindex="-1"
  >
    <div class="sm:p-10.5 p-4 text-center sm:space-y-5 space-y-2.5">
      <figure class="size-13 shrink-0 mx-auto">
        <img src="./images/shared/logo.svg" alt="NextSaaS" class="w-full h-full object-contain" />
      </figure>
      <div class="sm:space-y-5 space-y-2.5 text-center">
        <h4 id="join-modal-title">Join the NextSaaS</h4>
        <p>
          Your lifestyle is unique—your insurance should be too. Our team helps you find the perfect
          policy by analyzing your needs, explaining your options, and guiding you through every
          step.
        </p>
      </div>
    </div>
    <form class="sm:p-6 p-5 bg-white dark:bg-background-7 rounded-xl">
      <div class="sm:space-y-4 space-y-2.5">
        <fieldset class="space-y-1.5">
          <label
            for="first-name"
            class="block text-tagline-1 font-medium text-secondary dark:text-accent select-none"
            >First name</label
          >
          <input
            type="text"
            id="first-name"
            class="auth-form-input sm:!h-13 !h-11 py-3.5 px-4"
            placeholder="Enter your name"
          />
        </fieldset>
        <fieldset class="space-y-1.5">
          <label
            for="email"
            class="block text-tagline-1 font-medium text-secondary dark:text-accent select-none"
          >
            Email
          </label>
          <input
            type="email"
            id="email"
            class="auth-form-input sm:!h-13 !h-11 py-3.5 px-4"
            placeholder="Enter your email"
          />
        </fieldset>
      </div>
      <fieldset class="sm:py-8 py-4 space-x-2">
        <label class="inline-flex items-start gap-2 cursor-pointer">
          <input
            type="checkbox"
            name="terms"
            required=""
            class="peer sr-only"
            aria-label="Remember me"
          />
          <span
            class="mt-1 size-5 shrink-0 rounded-full border border-stroke-3 dark:border-stroke-7 relative after:absolute after:size-3 after:bg-primary-500 after:rounded-full after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:opacity-0 peer-checked:after:opacity-100 peer-checked:border-primary-500 cursor-pointer"
          ></span>
          <span
            class="sm:text-tagline-1 text-tagline-2 text-secondary/80 dark:text-accent/80 font-normal select-none"
          >
            I consent to recevie news, updates, promotional material and live concert information
            and materials from huntrix community
          </span>
        </label>
      </fieldset>
      <div>
        <button type="submit" class="group list-none w-full block">
          <div
            class="flex items-center justify-center rounded-full cursor-pointer gap-1.5 bg-primary-500 group-hover:scale-101 text-center transition-all duration-500 ease-in-out font-medium text-nowrap lowercase shadow-1 group-hover:bg-secondary text-accent px-6 py-2.5 text-tagline-1 md:px-8 md:py-3.5 w-full md:w-auto mx-auto md:mx-0"
          >
            <span
              class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
              >Discover</span
            >
            <div class="relative overflow-hidden size-6">
              <!-- one  -->
              <span
                class="group-hover:translate-x-1 -translate-x-6 absolute inset-0 transition-transform duration-300 ease-in-out"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M11 5H13V7H11V5Z" fill="white" />
                  <path d="M5 5H7V7H5V5Z" fill="white" />
                  <path d="M14 8H16V10H14V8Z" fill="white" />
                  <path d="M8 8H10V10H8V8Z" fill="white" />
                  <path d="M17 11H19V13H17V11Z" fill="white" />
                  <path d="M11 11H13V13H11V11Z" fill="white" />
                  <path d="M14 14H16V16H14V14Z" fill="white" />
                  <path d="M8 14H10V16H8V14Z" fill="white" />
                  <path d="M11 17H13V19H11V17Z" fill="white" />
                  <path d="M5 17H7V19H5V17Z" fill="white" />
                </svg>
              </span>

              <!-- two  -->
              <span
                class="group-hover:translate-x-6 absolute -translate-x-2 transition-transform duration-300 ease-in-out"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M11 5H13V7H11V5Z" fill="white" />
                  <path d="M5 5H7V7H5V5Z" fill="white" />
                  <path d="M14 8H16V10H14V8Z" fill="white" />
                  <path d="M8 8H10V10H8V8Z" fill="white" />
                  <path d="M17 11H19V13H17V11Z" fill="white" />
                  <path d="M11 11H13V13H11V11Z" fill="white" />
                  <path d="M14 14H16V16H14V14Z" fill="white" />
                  <path d="M8 14H10V16H8V14Z" fill="white" />
                  <path d="M11 17H13V19H11V17Z" fill="white" />
                  <path d="M5 17H7V19H5V17Z" fill="white" />
                </svg>
              </span>
            </div>
          </div>
        </button>
      </div>
    </form>
  </div>
  <button
    class="absolute top-4 right-4 sm:size-6 size-5 cursor-pointer flex items-center justify-center close-join-modal modal-close-btn"
    aria-label="Close join modal"
  >
    <span class="sr-only">Close</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        d="M19 5L5 19"
        class="stroke-accent"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M5 5L19 19"
        class="stroke-accent"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
