<!-- =========================
Mobile Menu
===========================-->

<aside
  class="sidebar fixed top-0 right-0 w-full sm:w-1/2 translate-x-full transition-all duration-300 h-screen bg-white dark:bg-background-7 xl:hidden z-[999] scroll-bar"
>
  <div class="lg:p-9 sm:p-8 p-5 space-y-4">
    <div class="flex items-center justify-between">
      <a href="./">
        <span class="sr-only">Home</span>
        <figure class="max-w-[44px]">
          <img src="./images/shared/logo.svg" alt="NextSaaS" class="w-full dark:hidden block" />
          <img
            src="./images/shared/logo-dark.svg"
            alt="NextSaaS"
            class="w-full dark:block hidden"
          />
        </figure>
      </a>
      <button
        class="nav-hamburger-close flex flex-col gap-1.5 size-10 bg-background-4 dark:bg-background-9 rounded-full items-center justify-center cursor-pointer relative"
      >
        <span class="sr-only">Close Menu</span>
        <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 rotate-45 absolute"></span>
        <span class="block w-4 h-0.5 bg-stroke-9/60 dark:bg-stroke-1 -rotate-45 absolute"></span>
      </button>
    </div>
    <div class="h-[85vh] w-full overflow-y-auto overflow-x-hidden pb-10 scroll-bar">
      <ul>
        <!-- home menu  -->
        <Component src="src/components/shared/mobile-menu/home-menu.htm" />

        <!-- about us menu  -->
        <Component src="src/components/shared/mobile-menu/about-us-menu.htm" />

        <!-- blog menu  -->
        <Component src="src/components/shared/mobile-menu/blog-menu.htm" />

        <!-- services menu  -->
        <Component src="src/components/shared/mobile-menu/services-menu.htm" />

        <!-- integration menu  -->
        <Component src="src/components/shared/mobile-menu/integration-menu.htm" />

        <!-- features menu  -->
        <Component src="src/components/shared/mobile-menu/features-menu.htm" />

        <!-- process menu  -->
        <Component src="src/components/shared/mobile-menu/process-menu.htm" />

        <!-- testimonial menu  -->
        <Component src="src/components/shared/mobile-menu/testimonial-menu.htm" />

        <!-- teams menu  -->
        <Component src="src/components/shared/mobile-menu/teams-menu.htm" />

        <!-- pricing menu  -->
        <Component src="src/components/shared/mobile-menu/pricing-menu.htm" />

        <!-- login menu  -->
        <Component src="src/components/shared/mobile-menu/login-menu.htm" />

        <!-- sign up menu  -->
        <Component src="src/components/shared/mobile-menu/sign-up-menu.htm" />
      </ul>
    </div>
  </div>
</aside>
