<section class="pt-28 md:pt-36 lg:pt-44 xl:pt-60 pb-20 md:pb-28 lg:pb-40 xl:pb-52 section-reveal">
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.1"
      class="bg-background-3 dark:bg-background-5 rounded-4xl border-[10px] border-white dark:border-background-9 relative overflow-hidden flex flex-col justify-center items-center py-10 md:py-20 lg:py-[100px] text-center pr-2.5"
    >
      <figure
        data-ns-animate
        data-delay="0.2"
        data-direction="right"
        data-offset="200"
        class="hero-gradient-2 absolute -top-[45%] sm:-top-[65%] -right-[68%] sm:-right-[48%] w-full -rotate-[68deg] h-full opacity-70 -z-0 pointer-events-none select-none"
      >
        <img src="./images/ns-img-498.png" alt="gradient" class="rotate-180" />
      </figure>
      <h1
        data-ns-animate
        data-delay="0.3"
        class="text-[80px] md:text-[120px] lg:!text-[180px] xl:!text-[200px] font-medium leading-[1.1]"
      >
        404
      </h1>
      <h2 data-ns-animate data-delay="0.4" class="pt-6 pb-3">
        Opps! <br />
        Lost in the page?
      </h2>
      <p data-ns-animate data-delay="0.5" class="mb-10 md:mb-14">
        Don’t worry, we’ll help you find your way
      </p>
      <div data-ns-animate data-delay="0.6" data-instant>
        <a href="./" class="btn btn-lg btn-primary hover:btn-secondary dark:hover:btn-accent"
          ><span>Go to Home</span></a
        >
      </div>
    </div>
  </div>
</section>
