<!-- =========================
Mega Menu V1
===========================-->
<div>
  <!-- Transparent bridge to prevent gap -->
  <div
    class="mega-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-6 bg-transparent z-40 max-w-[1290px] pointer-events-none"
  ></div>
  <div
    id="pages-mega-menu"
    class="mega-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 bg-white rounded-[20px] z-50 max-w-[1290px] w-full shadow-1 border dark:border-background-5 border-stroke-4 overflow-hidden dark:bg-background-6 {=$class}"
  >
    <div class="flex w-full relative">
      <div class="flex justify-between flex-1 gap-10 px-[60px] py-[70px]">
        <ul class="max-w-[182px] w-full space-y-5 pr-4">
          <li>
            <a
              href="./learn-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Tutorial Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./documentation-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Documentation Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./faq-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>FAQ Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./support-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Support</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./career-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Career Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./career-details-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Career Details</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./changelog-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Changelog Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./terms-conditions-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Terms & Conditions</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./privacy-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Privacy Policy</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./refund-policy-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Refund Policy</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
        </ul>

        <div class="w-px h-full bg-secondary/10 dark:bg-accent/10"></div>
        <ul class="max-w-[182px] w-full space-y-5 pl-4">
          <li>
            <a
              href="./features-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Features Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./features-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Features Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./integration-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Integration Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./integration-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Integration Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./integration-page-03.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Integration Page 03</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./process-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Process Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./process-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Process Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./analytics-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Analytics Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./affiliate-policy-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Affiliate Policy</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./gdpr-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>GDPR Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
        </ul>
        <div class="w-px h-full bg-secondary/10 dark:bg-accent/10"></div>
        <ul class="max-w-[200px] w-full space-y-5 px-4">
          <li>
            <a
              href="./testimonial-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Testimonials Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./testimonial-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Testimonials Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./case-study-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Case Study Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./case-study-details-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Case Study Details</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./our-team-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Our team 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./our-team-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Our team 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./team-details-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Team details</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./pricing-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Pricing Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./pricing-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Pricing Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./pricing-page-03.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Pricing Page 03</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
        </ul>
        <div class="w-px h-full bg-secondary/10 dark:bg-accent/10"></div>
        <ul class="max-w-[200px] w-full space-y-5 px-4">
          <li>
            <a
              href="./login-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Login Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./login-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Login Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./login-page-03.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Login Page 03</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./login-page-04.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Login Page 04</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./signup-page-01.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Signup Page 01</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./signup-page-02.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Signup Page 02</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./signup-page-03.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Signup Page 03</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>

          <li>
            <a
              href="./signup-page-04.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Signup Page 04</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
