<!-- ======================  
 Page Hero 
====================== -->

<section class="xl:pt-[180px] md:pt-42 sm:pt-36 pt-32 {=$class}" aria-label="Page hero section">
  <div class="main-container">
    <!-- Hero content -->
    <div class="text-center space-y-2 pb-14 lg:pb-[72px]">
      <span
        data-ns-animate
        data-delay="0.1"
        class="hero-badge text-tagline-1 inline-block text-secondary dark:text-accent"
      >
        <a
          href="./index.html"
          class="hover:text-primary-600 dark:hover:text-primary-400 transition-colors duration-300"
          >Home</a
        >
        <span class="mx-2">-</span>
        <a
          href="#"
          class="hover:text-primary-500 dark:hover:text-primary-400 transition-colors duration-300"
          >{=$title}</a
        >
      </span>
      <h1 data-ns-animate data-delay="0.2" class="font-normal lg:text-heading-2">{=$heading}</h1>
    </div>
  </div>
</section>
