<!-- =========================
Testimonial card v2
===========================-->
<div
  data-ns-animate
  data-delay="0.3"
  data-offset="100"
  id="testimonial"
  class="max-w-[740px] mx-auto px-4 sm:px-8 md:px-11 py-6 sm:py-10 md:py-14 rounded-[20px] bg-white dark:bg-background-6"
  role="region"
  aria-label="Customer testimonial"
>
  <!-- testimonial quote -->
  <blockquote id="testimonial-quote" class="mb-8 sm:mb-12 md:mb-16 text-center">
    <h3 class="text-lg md:text-heading-5">"..."</h3>
  </blockquote>

  <!-- avatar + info -->
  <div class="space-y-2 text-center">
    <!-- avatar group -->
    <div class="flex items-center justify-center" id="avatar-group" aria-hidden="true">
      <figure
        class="size-7 sm:size-8 md:size-9 overflow-hidden rounded-full bg-white ring-2 ring-stroke-1 -mr-2 cursor-pointer z-0"
      >
        <img
          src="./images/ns-avatar-11.png"
          alt="Customer testimonial avatar"
          data-avatar-index="0"
          class="testimonial-avatar size-full object-cover transition-opacity duration-300"
        />
      </figure>
      <figure
        class="size-8 sm:size-10 md:size-11 overflow-hidden rounded-full bg-white ring-2 ring-stroke-1 -mr-2 cursor-pointer transition-all z-10"
      >
        <img
          src="./images/ns-avatar-10.png"
          alt="Customer testimonial avatar"
          data-avatar-index="1"
          class="testimonial-avatar size-full object-cover transition-opacity duration-300"
        />
      </figure>
      <figure
        class="size-12 sm:size-16 md:size-[72px] overflow-hidden rounded-full bg-primary-500 ring-2 ring-white relative z-10 cursor-pointer transition-all"
      >
        <img
          src="./images/ns-avatar-9.png"
          alt="Customer testimonial avatar"
          data-avatar-index="2"
          class="testimonial-avatar size-full object-cover transition-opacity duration-300"
        />
      </figure>
      <figure
        class="size-8 sm:size-10 md:size-11 overflow-hidden rounded-full bg-white ring-2 ring-stroke-1 -ml-2 z-[2] cursor-pointer transition-all"
      >
        <img
          src="./images/ns-avatar-13.png"
          alt="Customer testimonial avatar"
          data-avatar-index="3"
          class="testimonial-avatar size-full object-cover transition-opacity duration-300"
        />
      </figure>
      <figure
        class="size-7 sm:size-8 md:size-9 overflow-hidden rounded-full bg-white ring-2 ring-stroke-1 -ml-2 z-0 cursor-pointer transition-all"
      >
        <img
          src="./images/ns-avatar-11.png"
          alt="Customer testimonial avatar"
          data-avatar-index="4"
          class="testimonial-avatar size-full object-cover transition-opacity duration-300"
        />
      </figure>
    </div>

    <!-- name & role -->
    <div id="testimonial-info">
      <h4 class="text-tagline-1 font-medium">...</h4>
      <p class="text-tagline-2">...</p>
    </div>
  </div>
</div>
