<!-- =========================
Hero section
===========================-->
<section
  class="hero-section relative bg-[url('/images/ns-img-221.png')] bg-no-repeat bg-top 2xl:pt-[230px] lg:pt-[200px] md:pt-[180px] pt-[150px] pb-[100px]"
>
  <div class="main-container z-10">
    <div class="flex flex-col items-center text-center">
      <h1
        data-ns-animate
        data-delay="0.1"
        class="font-medium mb-4 xl:max-w-[1000px] lg:max-w-[850px] md:max-w-[650px] sm:max-w-[580px] max-w-[450px]"
      >
        Flexible insurance plans for your health, home, car, and future.
      </h1>
      <p
        data-ns-animate
        data-delay="0.2"
        class="xl:max-w-[850px] lg:max-w-[650px] md:max-w-[500px] sm:max-w-[500px] max-w-[450px] mb-7 md:mb-14"
      >
        At NextSaaS, we help individuals and families secure financial protection with smart,
        personalized insurance coverage—fast, simple, and built around your life.
      </p>
      <ul
        class="flex flex-col sm:flex-row sm:gap-4 mb-7 md:mb-14 w-full items-center justify-center gap-y-4"
      >
        <li
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./insurance-pricing.html"
            class="btn btn-secondary btn-lg md:btn-xl sm:w-auto w-[90%] hover:btn-primary dark:btn-accent"
          >
            <span>Get a quote</span>
          </a>
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./insurance-services.html"
            class="btn btn-light btn-lg md:btn-xl sm:w-auto w-[90%] hover:btn-secondary dark:btn-white-dark dark:hover:btn-accent"
          >
            <span>Explore Coverage</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Avatars and Trust Indicator -->
    <div
      class="flex items-center justify-center gap-4 md:mb-[100px] mb-[50px] max-[400px]:flex-col flex-row"
    >
      <div class="flex -space-x-3.5">
        <img
          data-ns-animate
          data-delay="0.3"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 max-[400px]:size-10 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3]"
          src="./images/ns-avatar-1.png"
          alt="Avatar 1"
        />
        <img
          data-ns-animate
          data-delay="0.4"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 max-[400px]:size-10 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3]"
          src="./images/ns-avatar-2.png"
          alt="Avatar 2"
        />
        <img
          data-ns-animate
          data-delay="0.5"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 max-[400px]:size-10 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3]"
          src="./images/ns-avatar-3.png"
          alt="Avatar 3"
        />
        <div
          data-ns-animate
          data-delay="0.6"
          data-direction="right"
          data-offset="50"
          class="inline-flex items-center justify-center size-12 max-[400px]:size-10 rounded-full ring-2 ring-white dark:ring-black text-secondary/80 dark:text-accent/80 bg-white dark:bg-black text-tagline-3 font-medium"
        >
          99+
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        data-direction="left"
        data-offset="50"
        class="max-[400px]:text-center text-left"
      >
        <p class="text-tagline-2 font-medium text-accent">Trusted by 20k+</p>
        <p class="text-tagline-3 font-normal text-accent/60">Customers across the globe</p>
      </div>
    </div>
    <!--Hero Main Image-->
    <figure
      data-ns-animate
      data-delay="0.8"
      class="lp:max-w-[1240px] mx-auto w-full xl:max-w-[1140px] lg:max-w-[980px] md:max-w-[700px] sm:max-w-[600px] min-[475px]:max-w-[450px] min-[425px]:max-w-[350px] max-w-[320px]"
    >
      <img src="./images/ns-img-222.png" alt="hero-image" class="dark:hidden" />
      <img src="./images/ns-img-dark-150.png" alt="hero-image" class="hidden dark:block" />
    </figure>
    <div class="md:py-[100px] py-[50px] space-y-4 md:space-y-8 text-center">
      <h5 data-ns-animate data-delay="0.1">Trusted by thousands</h5>
      <!-- Client Logos -->
      <div data-ns-animate data-delay="0.2" class="relative max-w-[1100px] mx-auto">
        <div
          class="absolute hidden sm:block left-0 top-0 h-full w-[10%] bg-gradient-to-r from-background-3 to-transparent dark:!from-background-7 z-40"
        ></div>
        <div
          class="absolute hidden sm:block right-0 top-0 h-full w-[10%] bg-gradient-to-l from-background-3 to-transparent dark:!from-background-7 z-40"
        ></div>
        <div class="logos-marquee-container">
          <div class="flex items-center justify-center gap-8">
            <figure class="min-w-[140px] md:min-w-[201px] ml-8">
              <img
                src="./images/icons/client-logo-6.svg"
                alt="Client logo"
                class="lg:w-auto dark:hidden"
              />
              <img
                src="./images/icons/client-logo-6-dark.svg"
                alt="Client logo"
                class="lg:w-auto hidden dark:block"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-7.svg"
                alt="Client logo"
                class="lg:w-auto dark:hidden"
              />
              <img
                src="./images/icons/client-logo-7-dark.svg"
                alt="Client logo"
                class="lg:w-auto hidden dark:block"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-8.svg"
                alt="Client logo"
                class="lg:w-auto dark:hidden"
              />
              <img
                src="./images/icons/client-logo-8-dark.svg"
                alt="Client logo"
                class="lg:w-auto hidden dark:block"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-9.svg"
                alt="Client logo"
                class="lg:w-auto dark:hidden"
              />
              <img
                src="./images/icons/client-logo-9-dark.svg"
                alt="Client logo"
                class="lg:w-auto hidden dark:block"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-10.svg"
                alt="Client logo"
                class="lg:w-auto dark:hidden"
              />
              <img
                src="./images/icons/client-logo-10-dark.svg"
                alt="Client logo"
                class="lg:w-auto hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!--Hero Bottom item-->

    <div class="relative z-0 lg:mt-[220px] md:mt-[150px] sm:mt-[100px] mt-[50px]">
      <div class="relative z-0">
        <div
          class="w-full h-full bg-white dark:bg-background-8 absolute -z-10 overflow-hidden rounded-[20px]"
        >
          <figure
            data-ns-animate
            data-delay="0.5"
            data-direction="right"
            data-offset="100"
            data-start="top 10%"
            class="-z-10 absolute lg:-top-[170%] md:-top-[65%] sm:-top-[75%] select-none -top-[110%] -right-[75%] lg:-right-[40%] md:-right-[70%] md:rotate-[60deg] rotate-[10deg] size-[1060px] pointer-events-none"
          >
            <img src="./images/ns-img-504.png" alt="gradient" />
          </figure>
        </div>
        <div class="flex flex-col lg:flex-row">
          <div class="sm:flex-1/2 lg:py-16 py-10 sm:py-6 md:py-10 lg:pl-14 sm:pl-10 sm:px-0 px-6">
            <div
              class="md:mb-14 sm:mb-10 mb-6 md:max-w-[420px] max-w-[340px] sm:mx-0 mx-auto sm:text-left text-center"
            >
              <h5
                data-ns-animate
                data-delay="0.1"
                class="md:mb-7 sm:mb-5 mb-3 lg:text-heading-5 md:text-heading-6 text-tagline-1"
              >
                Join thousands of people who trust NextSaaS to protect what matters most—affordably
                and efficiently.
              </h5>
              <p
                data-ns-animate
                data-delay="0.2"
                class="font-medium text-secondary dark:text-accent"
              >
                Jessica Lee
              </p>
              <p data-ns-animate data-delay="0.2" class="text-tagline-2">
                Head of customer Success
              </p>
            </div>
            <div data-ns-animate data-delay="0.3" class="sm:text-left text-center">
              <a
                href="./insurance-services.html"
                class="text-tagline-2 font-medium btn btn-primary hover:btn-secondary dark:hover:btn-accent btn-md w-[90%] md:w-auto mx-auto md:mx-0"
              >
                <span>Learn More</span>
              </a>
            </div>
          </div>
          <div class="sm:flex-1/2 lg:pe-[42px] 2xl:pe-[200px]">
            <div class="relative h-full">
              <figure
                data-ns-animate
                data-delay="0.4"
                data-direction="left"
                data-offset="100"
                class="max-md:flex max-md:items-center max-md:justify-center md:absolute md:right-0 md:bottom-0 lg:max-w-[525px] md:max-w-[350px] sm:max-w-[300px] max-w-[250px] md:mx-0 mx-auto"
              >
                <img src="./images/ns-img-171.png" alt="shape" class="w-full h-full" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hidden md:block absolute w-full h-full top-0 left-0 before:content-[''] before:absolute before:left-[110px] before:z-10 before:w-px before:h-[100%] before:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:before:bg-[linear-gradient(180deg,#303B49_0%,#748eaf00_100%)] before:top-0 after:content-[''] after:absolute after:right-[110px] after:z-10 after:w-px after:h-[100%] after:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:after:bg-[linear-gradient(180deg,#303B49_0%,#748eaf00_100%)] after:top-0 -z-10"
    >
      <div
        class="absolute w-[100%] h-px bg-stroke-1 dark:bg-stroke-8 top-[106px] before:absolute before:content-[''] before:w-2 before:h-2 before:bg-stroke-1 dark:before:bg-accent before:left-[106px] before:z-20 before:-top-1 before:ring-8 before:ring-white dark:before:ring-background-7 before:rotate-45 after:absolute after:content-[''] after:w-2 after:h-2 after:bg-stroke-1 dark:after:bg-accent after:ring-8 after:ring-white dark:after:ring-background-7 after:right-[106px] after:z-20 after:-top-1 after:rotate-[-45deg]"
      ></div>
    </div>
  </div>
</section>
