<!-- =========================
Services section
===========================-->
<section
  class="pt-16 md:pt-20 lg:pt-[90px] xl:pt-[100px] pb-16 md:pb-20 lg:pb-[90px] xl:pb-[100px] bg-background-2 dark:bg-background-5"
>
  <div class="main-container">
    <div class="text-center space-y-4 md:space-y-5 max-w-[850px] mx-auto lg:mb-14 mb-10">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Services</span>
      <div>
        <h2 data-ns-animate data-delay="0.2" class="mb-3">
          One platform, multiple protections, personalized for you.
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[520px] mx-auto">
          Our platform offers a wide range of insurance solutions designed to adapt to your
          lifestyle and provide peace of mind.
        </p>
      </div>
    </div>
    <!-- Services Items -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-8 md:gap-6 gap-y-5 mb-14">
      <!-- Services Item 1-->
      <div
        data-ns-animate
        data-delay="0.4"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-35 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>

        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Health insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Tailored health plans that evolve with your needs—individual or family coverage.
          </p>
        </div>
      </div>
      <!-- Services Item 2-->
      <div
        data-ns-animate
        data-delay="0.5"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-11 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>
        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Life insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Secure your loved ones’ future with competitive policies and dependable support.
          </p>
        </div>
      </div>
      <!-- Services Item 3-->
      <div
        data-ns-animate
        data-delay="0.6"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-34 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>
        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Auto insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Protect your vehicle with comprehensive coverage options that suit your driving habits.
          </p>
        </div>
      </div>
      <!-- Services Item 4-->
      <div
        data-ns-animate
        data-delay="0.7"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-40 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>
        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Home insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Protect your property and possessions with fast claims and flexible plans.
          </p>
        </div>
      </div>
      <!-- Services Item 5-->
      <div
        data-ns-animate
        data-delay="0.8"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-35 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>
        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Auto insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Reliable coverage with expert support and easy claims—get back on the road quickly.
          </p>
        </div>
      </div>
      <!-- Services Item 6-->
      <div
        data-ns-animate
        data-delay="0.9"
        class="md:px-8 px-6 md:py-8 py-6 xl:py-14 rounded-[20px] bg-white dark:bg-background-6 space-y-6"
      >
        <div>
          <span
            class="ns-shape-47 text-[40px] md:text-[52px] text-secondary dark:text-accent"
          ></span>
        </div>
        <div class="space-y-1">
          <h5 class="md:text-heading-5 text-heading-6">Life insurance</h5>
          <p class="text-secondary/60 dark:text-accent/60">
            Provide financial security for your loved ones with comprehensive policies tailored to
            your needs.
          </p>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="1" class="text-center">
      <a
        href="./insurance-contact.html"
        class="btn btn-secondary btn-md inline-block hover:btn-primary dark:btn-transparent w-[85%] md:w-auto mx-auto md:mx-0"
      >
        <span>Talk to an expert</span>
      </a>
    </div>
  </div>
</section>
