<!-- =========================
Testimonial section
===========================-->
<section
  class="lg:pt-[100px] pt-16 md:pt-20 lg:pb-[200px] md:pb-[100px] pb-16 bg-background-2 dark:bg-background-5"
>
  <div class="main-container">
    <div class="space-y-10 md:space-y-[70px]">
      <!-- heading text area  -->
      <div class="text-center space-y-4 md:space-y-5">
        <span
          data-ns-animate
          data-delay="0.1"
          class="inline-block badge badge-cyan"
          id="testimonial-badge"
        >
          What our users say
        </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2" id="testimonial-heading">
            People's
            <span class="text-primary-500"> share love </span>
          </h2>
          <p data-ns-animate data-delay="0.3" class="lg:max-w-[628px] max-w-[400px] w-full mx-auto">
            At the heart of our approach lies a commitment to delivering smart, tailored financial
            solutions that align with your unique goals.
          </p>
        </div>
      </div>

      <!-- review area  -->
      <Component src="src/components/shared/testimonial-card-v2.htm" />
    </div>
  </div>
</section>
