<!-- =========================
Why Us section
===========================-->
<section
  class="relative pt-16 md:pt-20 lg:pt-[90px] xl:pt-[100px] pb-16 md:pb-20 lg:pb-[90px] xl:pb-[100px]"
>
  <div class="main-container">
    <div
      class="lg:px-14 lg:py-14 md:px-10 md:py-10 sm:px-8 sm:py-8 px-6 py-8 bg-secondary rounded-[32px] grid grid-cols-12 lg:gap-10 items-center gap-y-10 lg:max-w-full max-w-max lg:mx-0 mx-auto relative z-0 overflow-hidden"
    >
      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="up"
        data-offset="200"
        data-start="top 10%"
        class="-z-10 absolute -top-[54%] md:-top-[47%] lg:-top-[63%] xl:-top-[46%] -right-[67%] md:-right-[37%] lg:-right-[22%] xl:-right-[15%] -rotate-[20deg] size-[600px] xl:size-[650px] select-none pointer-events-none"
      >
        <img src="./images/ns-img-497.png" alt="gradient" />
      </figure>
      <div class="col-span-12 lg:col-span-6 xl:col-span-5 space-y-10 md:space-y-14">
        <div class="space-y-4 md:space-y-8">
          <div class="sm:space-y-3 space-y-1.5">
            <h2 data-ns-animate data-delay="0.1" class="text-white">Why Choose NextSaaS?</h2>
            <p data-ns-animate data-delay="0.2" class="text-accent/60">
              Track key indicators, spot trends early, and turn data into action.
            </p>
          </div>
          <ul
            class="flex lg:flex-col flex-row lg:flex-nowrap flex-wrap lg:gap-y-4 sm:gap-4 gap-2 items-center lg:items-start lg:max-w-full max-w-xl lg:mx-0 mx-auto sm:justify-center lg:justify-start"
          >
            <li data-ns-animate data-delay="0.3" class="flex items-center sm:gap-3 gap-2">
              <span>
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                  <path
                    d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="text-accent/60 sm:text-tagline-1 text-tagline-2"
                >Fast, paperless quotes and digital claims</span
              >
            </li>
            <li data-ns-animate data-delay="0.4" class="flex items-center sm:gap-3 gap-2">
              <span>
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                  <path
                    d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="text-accent/60 sm:text-tagline-1 text-tagline-2"
                >Expert advisors, real-time support</span
              >
            </li>
            <li data-ns-animate data-delay="0.5" class="flex items-center sm:gap-3 gap-2">
              <span>
                <svg
                  width="24"
                  height="25"
                  viewBox="0 0 24 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                  <path
                    d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="text-accent/60 sm:text-tagline-1 text-tagline-2"
                >Affordable rates tailored to your life</span
              >
            </li>
          </ul>
        </div>
        <div data-ns-animate data-delay="0.6" class="lg:text-left text-center">
          <a
            href="./insurance-documentation.html"
            class="font-medium btn btn-dark border-0 btn-base inline-block hover:btn-primary w-[85%] md:w-auto mx-auto md:mx-0"
          >
            <span>Talk to an Advisor</span>
          </a>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6 xl:col-span-7">
        <figure
          data-ns-animate
          data-delay="0.7"
          data-offset="100"
          class="w-full lg:max-w-[595px] max-w-[350px] mx-auto flex items-center justify-center"
        >
          <img
            src="./images/ns-img-209.png"
            alt="whyUs-image"
            class="w-full h-full dark:hidden"
          />
          <img
            src="./images/ns-img-dark-142.png"
            alt="whyUs-image"
            class="hidden dark:block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
