<!--===============================
 About Section 
===================================-->
<section
  data-ns-animate
  data-delay="0.3"
  class="bg-white dark:bg-background-6 pt-20 lg:pt-[88px] xl:pt-[100px] sm:pb-36 pb-14 xl:pb-[176px] overflow-hidden"
>
  <div class="main-container">
    <!-- TabBar small screen -->
    <div
      class="tab-mobile flex items-center justify-start flex-wrap lg:hidden gap-4 mb-14 lg:mb-[72px] sm:max-w-[500px] sm:mx-auto"
    >
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        Decentralization
      </button>
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        Blockchain
      </button>
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        Privacy
      </button>
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7 text-nowrap"
      >
        Exchanges
      </button>
    </div>

    <!-- TabBar large screen -->
    <div
      role="tablist"
      class="tab-bar hidden lg:flex justify-center items-center border-b border-stroke-2 dark:border-stroke-6 mb-14 lg:mb-[72px] relative"
    >
      <!-- active-tab-bar  -->
      <div class="active-tab-bar"></div>

      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">Decentralization</span>
      </button>
      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">Blockchain</span>
      </button>
      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">Privacy</span>
      </button>
      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">Exchanges</span>
      </button>
    </div>
    <!-- Tab Content-1 -->
    <div class="tab-content" data-display="flex">
      <div class="flex flex-col justify-between lg:flex-row items-start gap-y-14 gap-x-24 w-full">
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <span class="badge badge-green mb-3.5 xl:mb-5"> About </span>
          <h2 class="mb-3 lg:text-heading-2 text-heading-4">
            Crypto is the leading <br class="hidden lg:block" />
            platform for
            <span class="text-primary-500">crowd sales!</span>
          </h2>
          <p class="mb-6 xl:mb-8 lg:max-w-[478px]">
            Most cryptocurrencies are not controlled by any central authority such as a government
            or financial institution.
          </p>
          <ul class="space-y-1.5 mb-7 xl:mb-14">
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-6 text-[36px] text-secondary dark:text-white"></span>

              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Interactive reports</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Learn about your users.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-46 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Team dashboard</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Monitor your metrics.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-47 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Limitless segmentation</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Surface hidden trends.
                </p>
              </div>
            </li>
          </ul>
          <div>
            <a
              href="./crypto-marketing-about.html"
              class="btn btn-white btn-lg md:btn-xl dark:btn-transparent hover:btn-primary w-full md:w-auto"
            >
              <span>About us</span>
            </a>
          </div>
        </div>
        <!-- About Image -->
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <div class="flex items-center justify-center">
            <figure class="lg:inline-block">
              <img
                src="./images/ns-img-6.png"
                alt="Happy man using phone"
                class="w-fit object-cover"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab Content-2 -->
    <div class="tab-content hidden" data-display="flex">
      <div class="flex flex-col lg:flex-row items-start w-full gap-x-24 gap-y-16">
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <span class="badge badge-green mb-5"> About </span>
          <h2 class="mb-3">
            Blockchain is changing the game for data and
            <span class="text-primary-500 inline-block">finance.</span>
          </h2>
          <p class="mb-8 lg:max-w-[478px]">
            Blockchain technology is revolutionizing the way we think about data security,
            transparency, and financial transactions.
          </p>
          <ul class="space-y-1.5 mb-7 md:mb-14">
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-6 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Bold and impactful</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Learn about your users.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-46 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Tech-savvy and professional</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Monitor your metrics.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-47 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Short and punchy</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Surface hidden trends.
                </p>
              </div>
            </li>
          </ul>
          <div>
            <a
              href="./crypto-marketing-about.html"
              class="btn btn-white btn-lg md:btn-xl dark:btn-transparent hover:btn-primary w-full md:w-auto"
            >
              <span>About us</span>
            </a>
          </div>
        </div>
        <!-- About Image -->
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <div class="flex items-center justify-center">
            <figure class="tab-item-image">
              <img src="./images/ns-img-5.png" alt="Happy man using phone" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <!-- Tab Content-3 -->
    <div class="tab-content hidden" data-display="flex">
      <div class="flex flex-col lg:flex-row items-start w-full gap-x-24 gap-y-16">
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <span class="badge badge-green mb-5"> About </span>
          <h2 class="mb-3">
            Privacy is key to safe online

            <span class="text-primary-500">experiences.</span>
          </h2>
          <p class="mb-8 lg:max-w-[478px]">
            In today's digital age, protecting your privacy isn't just a personal choice—it's a
            crucial step toward ensuring your safety online.
          </p>
          <ul class="space-y-1.5 mb-7 md:mb-14">
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-6 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Straightforward & professional</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Learn about your users.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-46 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Friendly & trust-building</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Monitor your metrics.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-47 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Bold & emphatic</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Surface hidden trends.
                </p>
              </div>
            </li>
          </ul>
          <div>
            <a
              href="./crypto-marketing-about.html"
              class="btn btn-white btn-lg md:btn-xl dark:btn-transparent hover:btn-primary w-full md:w-auto"
            >
              <span>About us</span>
            </a>
          </div>
        </div>
        <!-- About Image -->
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <figure class="tab-item-image">
            <img src="./images/ns-img-9.png" alt="Happy man using phone" />
          </figure>
        </div>
      </div>
    </div>
    <!-- Tab Content-4 -->
    <div class="tab-content hidden" data-display="flex">
      <div class="flex flex-col lg:flex-row items-start w-full gap-y-16 gap-x-24">
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <span class="badge badge-green mb-5"> About </span>
          <h2 class="mb-3">
            Exchanges drive crypto

            <span class="text-primary-500">trading!</span>
          </h2>
          <p class="mb-8 lg:max-w-[478px]">
            Cryptocurrency exchanges are the beating heart of the digital asset market. These
            platforms enable users to buy
          </p>
          <ul class="space-y-1.5 mb-7 md:mb-14">
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-6 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Bold & direct</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Learn about your users.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-46 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Conversational & friendly</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Monitor your metrics.
                </p>
              </div>
            </li>
            <li class="flex items-center gap-4 list-none py-2">
              <span class="ns-shape-47 text-[36px] text-secondary dark:text-white"></span>
              <div>
                <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
                  >Professional & clear</strong
                >
                <p class="text-secondary/60 text-tagline-2 font-normal dark:text-accent/60">
                  Surface hidden trends.
                </p>
              </div>
            </li>
          </ul>
          <div>
            <a
              href="./crypto-marketing-about.html"
              class="btn btn-white btn-lg md:btn-xl dark:btn-transparent hover:btn-primary w-full md:w-auto"
            >
              <span>About us</span>
            </a>
          </div>
        </div>
        <!-- About Image -->
        <div class="flex-1 lg:max-w-full sm:max-w-[500px] sm:mx-auto">
          <figure class="tab-item-image">
            <img src="./images/ns-img-8.png" alt="Happy man using phone" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
