<!-- =========================
hero section
===========================-->
<section
  data-ns-animate
  data-offset="0"
  class="relative overflow-hidden pt-[200px] 2xl:pt-[250px] pb-16 lg:pb-[100px] bg-background-3 dark:bg-background-5"
>
  <!-- BG Dot -->
  <div
    data-ns-animate
    data-delay="1"
    data-duration="2"
    data-spring
    data-offset="0"
    class="absolute animate-pulse -z-0 max-md:w-full top-[10%] lg:top-[12%] left-1/2 -translate-x-1/2"
  >
    <img
      src="./images/ns-img-hero-dot-bg.png"
      alt="Hero background"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- column background -->
  <div
    class="absolute -z-0 left-[50%] -translate-x-1/2 top-5 h-full main-container flex justify-between gap-[239px]"
  >
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
    <div
      data-hero-line
      class="w-px bg-gradient-to-b from-stroke-1 to-stroke-1/30 dark:from-stroke-5 dark:to-stroke-5/30 h-0"
    ></div>
  </div>

  <!-- Content -->
  <div class="main-container flex flex-col items-center text-center relative z-20">
    <!-- Decorative Hero Assets -->
    <figure
      data-ns-animate
      data-delay="0.1"
      data-duration="2"
      data-spring
      class="absolute -top-[12%] sm:-top-[15%] lg:-top-[5%] -left-[3%] lg:-left-[1%] min-[1535px]:!-left-[10%] min-[1735px]:!-left-[16%] w-[150px] sm:w-[200px] lg:w-[220px] xl:w-[350px] 2xl:w-fit rotate-[-7deg]"
    >
      <img
        src="./images/ns-img-1.svg"
        alt="Hero asset 1"
        class="w-full h-full object-cover dark:hidden inline-block rounded-2xl"
      />
      <img
        src="./images/ns-img-dark-1.svg"
        alt="Hero asset 1"
        class="w-full h-full object-cover hidden dark:inline-block"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.2"
      data-duration="2"
      data-spring
      class="absolute md:bottom-[67%] lg:bottom-[52%] xl:bottom-[30%] min-[1535px]:!bottom-[18%] min-[1735px]:!bottom-[18%] md:left-[1%] lg:left-[2%] min-[1535px]:!-left-[5%] min-[1735px]:!-left-[12.5%] hidden md:block md:w-[140px] lg:w-[180px] xl:w-[250px] 2xl:w-[275px] rotate-[11deg]"
    >
      <img
        src="./images/ns-img-2.png"
        alt="Hero asset 2"
        class="w-full h-full object-cover dark:hidden inline-block shadow-none outline-0"
      />
      <img
        src="./images/ns-img-dark-2.png"
        alt="Hero asset 2"
        class="w-full h-full object-cover hidden dark:inline-block shadow-none outline-0"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.1"
      data-duration="2"
      data-spring
      class="absolute -top-[12%] sm:-top-[14%] lg:-top-[1.4%] xl:top-[5%] 2xl:top-[1%] right-[4%] lg:right-[2%] xl:right-[3%] 2xl:-right-[8.0%] w-[120px] md:w-[140px] lg:w-[170px] xl:w-[200px] 2xl:w-[280px] rotate-[4deg]"
    >
      <img
        src="./images/ns-img-3.png"
        alt="Hero asset 3"
        class="w-full h-full object-cover dark:hidden inline-block rounded-2xl"
      />
      <img
        src="./images/ns-img-dark-3.png"
        alt="Hero asset 3"
        class="w-full h-full object-cover hidden dark:inline-block rounded-2xl"
      />
    </figure>
    <figure
      data-ns-animate
      data-delay="0.2"
      data-duration="2"
      data-spring
      class="absolute md:bottom-[67%] lg:bottom-[57%] xl:bottom-[41%] 2xl:bottom-[20%] right-[4%] lg:right-[1%] xl:-right-[1%] min-[1535px]:!-right-[12%] min-[1735px]:!-right-[18%] hidden md:block md:w-[140px] lg:w-[180px] xl:w-[250px] 2xl:w-fit rotate-[-7deg]"
    >
      <img
        src="./images/ns-img-4.svg"
        alt="Hero asset 4"
        class="w-full h-full object-cover dark:hidden inline-block rounded-2xl"
      />
      <img
        src="./images/ns-img-dark-4.svg"
        alt="Hero asset 4"
        class="w-full h-full object-cover hidden dark:inline-block rounded-2xl"
      />
    </figure>

    <span class="badge badge-green mb-5 opacity-0" data-ns-animate data-delay="0.05">
      Finance
    </span>
    <h1 class="font-medium mb-4 opacity-0" data-ns-animate data-delay="0.1">
      Check the latest <span class="text-primary-500">crypto</span>
      <br class="hidden md:block" />
      price index.
    </h1>
    <p class="max-w-[700px] mb-7 md:mb-10 lg:mb-14" data-ns-animate data-delay="0.2">
      Stay updated with the latest bitcoin price index, offering real-time data, historical trends,
      and market insights to keep you informed about the cryptocurrency's value fluctuations.
    </p>
    <ul
      class="flex flex-col md:flex-row gap-4 mb-9 md:mb-11 lg:mb-14 max-md:w-full md:w-auto mx-auto md:mx-0"
    >
      <li data-ns-animate data-delay="0.3" data-direction="left" data-offset="50">
        <a
          href="./crypto-marketing-login.html"
          class="btn btn-primary hover:btn-white-dark dark:hover:btn-white btn-lg md:btn-xl w-full md:w-auto mx-auto md:mx-0"
        >
          <span>Get started</span>
        </a>
      </li>
      <li data-ns-animate data-delay="0.5" data-direction="left" data-offset="50">
        <a
          href="./crypto-marketing-signup.html"
          class="btn btn-white hover:btn-primary dark:btn-white-dark btn-lg md:btn-xl w-full md:w-auto mx-auto md:mx-0"
        >
          <span>Free trial</span>
        </a>
      </li>
    </ul>

    <!-- Avatars and Trust Indicator -->
    <div class="flex max-[375px]:flex-col items-center justify-center gap-4 mb-20 lg:mb-[100px]">
      <div class="flex -space-x-3.5">
        <img
          data-ns-animate
          data-delay="0.2"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-green"
          src="./images/ns-avatar-1.png"
          alt="Avatar 1"
        />
        <img
          data-ns-animate
          data-delay="0.3"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-green"
          src="./images/ns-avatar-2.png"
          alt="Avatar 2"
        />
        <img
          data-ns-animate
          data-delay="0.4"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-green"
          src="./images/ns-avatar-3.png"
          alt="Avatar 3"
        />
        <div
          data-ns-animate
          data-delay="0.5"
          data-direction="right"
          data-offset="50"
          class="inline-flex items-center justify-center size-12 rounded-full ring-2 ring-white dark:ring-black text-secondary/80 bg-ns-green text-tagline-3 font-medium"
        >
          99+
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        data-direction="right"
        data-offset="50"
        class="text-left max-[375px]:text-center"
      >
        <p class="text-tagline-2 font-medium block text-secondary dark:text-accent">
          Trusted by 20k+
        </p>
        <p class="text-tagline-3">Customers across the globe</p>
      </div>
    </div>

    <!-- Client Logos -->
    <div
      data-ns-animate
      data-instant="true"
      data-delay="0.6"
      class="relative xl:w-[1100px] lg:w-[1024px] md:w-[768px] sm:w-[640px] w-[375px] mx-auto"
    >
      <div
        class="absolute left-0 top-0 h-full w-[30%] bg-gradient-to-r from-background-3 to-transparent dark:from-background-5 z-40"
      ></div>
      <div
        class="absolute right-0 top-0 h-full w-[30%] bg-gradient-to-l from-background-3 to-transparent dark:from-background-5 z-40"
      ></div>
      <div class="logos-marquee-container">
        <div class="flex items-center justify-center gap-8">
          <figure class="w-28 md:w-36 ml-8">
            <img
              src="./images/ns-client-logo-1.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/ns-client-logo-dark-1.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/ns-client-logo-2.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/ns-client-logo-dark-2.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/ns-client-logo-3.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/ns-client-logo-dark-3.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/ns-client-logo-4.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/ns-client-logo-dark-4.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/ns-client-logo-5.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/ns-client-logo-dark-5.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
