<!-- =========================
Testimonail section
===========================-->
<section
  class="sm:pb-28 pb-20 sm:pt-14 pt-10 md:pb-32 md:pt-16 lg:pb-[100px] lg:pt-[88px] xl:pb-[200px] xl:pt-[100px]"
  aria-label="Customer testimonials"
>
  <div class="main-container">
    <div class="text-center mb-14 md:mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-3.5 md:mb-5">Review</span>
      <h2 data-ns-animate data-delay="0.2">
        Hear from our customers about their <br class="hidden lg:block" />
        <span class="text-primary-500 inline-block">experiences</span>
        with us
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Testimonial 1 -->
      <article
        data-ns-animate
        data-delay="0.3"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-4.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Darrell Steward's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5]">Darrell Steward</h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Aland Islands
              </p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Darrell Steward on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_693)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_693">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          As a small business owner, your service has been a lifesaver in managing cash flow and
          optimizing financial strategies. It has truly exceeded my expectations.
        </p>
      </article>

      <!-- Testimonial 2 -->
      <article
        data-ns-animate
        data-delay="0.4"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-5.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Ralph Edwards's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5] dark:text-accent">
                Ralph Edwards
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">Serbia</p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Ralph Edwards on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_694)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_694">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          As a small business owner, your service has been essential for managing my cash flow and
          improving my financial strategies. It has definitely exceeded what I anticipated.
        </p>
      </article>

      <!-- Testimonial 3 -->
      <article
        data-ns-animate
        data-delay="0.5"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-6.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Esther Howard's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5] dark:text-accent">
                Esther Howard
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Saudi Arabia
              </p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Esther Howard on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_695)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_695">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          As a small business owner, I really appreciate your service. It has been a game changer
          for managing cash flow and optimizing my financial strategies. You've truly exceeded my
          expectations.
        </p>
      </article>

      <!-- Testimonial 4 -->
      <article
        data-ns-animate
        data-delay="0.6"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-7.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Darrell Steward's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5] dark:text-accent">
                Darrell Steward
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">Brazil</p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Darrell Steward on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_696)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_696">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          As a small business owner, I can't thank you enough for your service. It has been
          invaluable in helping me manage my cash flow and refine my financial strategies. You've
          truly gone above and beyond.
        </p>
      </article>

      <!-- Testimonial 5 -->
      <article
        data-ns-animate
        data-delay="0.7"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-1.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Savannah Nguyen's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5] dark:text-accent">
                Savannah Nguyen
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Iceland
              </p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Savannah Nguyen on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_697)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_697">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          Being a small business owner, I find your service to be incredibly helpful in navigating
          cash flow and enhancing my financial strategies. It has genuinely surpassed my
          expectations.
        </p>
      </article>

      <!-- Testimonial 6 -->
      <article
        data-ns-animate
        data-delay="0.8"
        class="bg-background-3 dark:bg-background-7 dark:border dark:border-stroke-7 rounded-[20px] sm:p-8 p-6"
      >
        <div class="flex items-center justify-between pb-6">
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-2.png"
              class="size-11 rounded-full object-center object-cover bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              alt="Marvin McKinney's avatar"
              width="44"
              height="44"
              loading="lazy"
            />
            <figcaption>
              <h3 class="text-tagline-1 sm:text-lg font-medium leading-[1.5] dark:text-accent">
                Marvin McKinney
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Afghanistan
              </p>
            </figcaption>
          </figure>
          <a
            href="https://x.com"
            target="_blank"
            rel="noopener"
            aria-label="Follow Marvin McKinney on Twitter"
            class="bg-background-4 dark:bg-background-9 hover:bg-background-2 dark:hover:bg-background-9/60 transition-colors duration-[400ms] ease-[cubic-bezier(0.7, 0, 0.2, 8)] cursor-pointer size-9 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
              aria-hidden="true"
            >
              <g clip-path="url(#clip0_3108_698)">
                <path
                  d="M9.45202 0.5H11.2924L7.27177 5.58308L12.0017 12.5H8.29819L5.3975 8.30492L2.07844 12.5H0.236996L4.53741 7.06308L0 0.5H3.7975L6.41947 4.33446L9.45202 0.5ZM8.80612 11.2815H9.82587L3.24339 1.65446H2.1491L8.80612 11.2815Z"
                  class="fill-secondary dark:fill-accent"
                />
              </g>
              <defs>
                <clipPath id="clip0_3108_698">
                  <rect width="12" height="12" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>

        <p class="pt-6 border-t border-stroke-4 dark:border-stroke-7">
          As a small business owner, I find your service to be a crucial asset in managing cash flow
          and fine-tuning my financial strategies. It has really gone beyond what I expected.
        </p>
      </article>
    </div>

    <div data-ns-animate data-delay="0.9" class="flex justify-center mt-10 md:mt-14">
      <a
        href="./crypto-marketing-testimonial.html"
        class="btn btn-white btn-lg md:btn-xl dark:btn-transparent hover:btn-primary w-full md:w-auto mx-auto md:mx-0"
      >
        <span>Explore more</span>
      </a>
    </div>
  </div>
</section>
