<!-- =========================
Reviews section
===========================-->
<section class="{=$class} overflow-hidden">
  <div class="main-container">
    <div class="space-y-5 max-w-[804px] mx-auto text-center">
      <span data-ns-animate data-delay="0.1" class="badge {=$badge-class}">Reviews</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">
          Hear from our customers about their experiences with us
        </h2>
        <p data-ns-animate data-delay="0.3">
          Hear from our customers about their experiences with us and discover the impact we’ve made
          through their own words. From seamless onboarding to exceptional support and tangible
          results
        </p>
      </div>
    </div>
  </div>
  <div>
    <div data-ns-animate data-delay="0.4" class="cards-marquee-container">
      <div class="flex items-center gap-8">
        <div
          class="bg-background-1/90 hover:bg-white dark:bg-background-5 dark:hover:bg-background-8 hover:shadow-1 transition-colors duration-300 ease-linear rounded-[20px] p-8 min-w-[358px] max-w-[358px] shrink-0 w-full ml-8"
        >
          <p class="text-wrap">
            Amazing customer support and powerful featurres-Nuvio has transformed the way we manage
            our workflows!
          </p>
          <div class="my-8 h-px w-full bg-stroke-4 dark:bg-stroke-8"></div>

          <div>
            <div class="flex items-center gap-3">
              <figure class="size-12 rounded-full overflow-hidden">
                <img
                  src="./images/ns-avatar-1.png"
                  alt="avatar"
                  class="h-full w-full bg-linear-[156deg,#83E7EE_2.92%,#C6F56F_91%]"
                />
              </figure>
              <div>
                <h3 class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Sarah Johnson
                </h3>
                <p class="text-tagline-2 text-secondary/60 font-normal dark:text-accent/60">
                  CEO, Nuvio
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-background-1/90 hover:bg-white dark:bg-background-5 dark:hover:bg-background-8 hover:shadow-1 transition-colors duration-300 ease-linear rounded-[20px] p-8 min-w-[358px] max-w-[358px] shrink-0 w-full"
        >
          <p class="text-wrap">
            Amazing customer support and powerful featurres-Nuvio has transformed the way we manage
            our workflows!
          </p>
          <div class="my-8 h-px w-full bg-stroke-4 dark:bg-stroke-8"></div>

          <div>
            <div class="flex items-center gap-3">
              <figure class="size-12 rounded-full overflow-hidden">
                <img
                  src="./images/ns-avatar-3.png"
                  alt="avatar"
                  class="h-full w-full bg-linear-[156deg,#83E7EE_2.92%,#C6F56F_91%]"
                />
              </figure>
              <div>
                <h3 class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Michael Chen
                </h3>
                <p class="text-tagline-2 text-secondary/60 font-normal dark:text-accent/60">
                  CEO, Nuvio
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-background-1/90 hover:bg-white dark:bg-background-5 dark:hover:bg-background-8 hover:shadow-1 transition-colors duration-300 ease-linear rounded-[20px] p-8 min-w-[358px] max-w-[358px] shrink-0 w-full"
        >
          <p class="text-wrap">
            Amazing customer support and powerful featurres-Nuvio has transformed the way we manage
            our workflows!
          </p>
          <div class="my-8 h-px w-full bg-stroke-4 dark:bg-stroke-8"></div>

          <div>
            <div class="flex items-center gap-3">
              <figure class="size-12 rounded-full overflow-hidden">
                <img
                  src="./images/ns-avatar-4.png"
                  alt="avatar"
                  class="h-full w-full bg-linear-[156deg,#83E7EE_2.92%,#C6F56F_91%]"
                />
              </figure>
              <div>
                <h3 class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Emily Rodriguez
                </h3>
                <p class="text-tagline-2 text-secondary/60 font-normal dark:text-accent/60">
                  CEO, Nuvio
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-background-1/90 hover:bg-white dark:bg-background-5 dark:hover:bg-background-8 hover:shadow-1 transition-colors duration-300 ease-linear rounded-[20px] p-8 min-w-[358px] max-w-[358px] shrink-0 w-full"
        >
          <p class="text-wrap">
            Amazing customer support and powerful featurres-Nuvio has transformed the way we manage
            our workflows!
          </p>
          <div class="my-8 h-px w-full bg-stroke-4 dark:bg-stroke-8"></div>

          <div>
            <div class="flex items-center gap-3">
              <figure class="size-12 rounded-full overflow-hidden">
                <img
                  src="./images/ns-avatar-5.png"
                  alt="avatar"
                  class="h-full w-full bg-linear-[156deg,#83E7EE_2.92%,#C6F56F_91%]"
                />
              </figure>
              <div>
                <h3 class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  David Kim
                </h3>
                <p class="text-tagline-2 text-secondary/60 font-normal dark:text-accent/60">
                  CEO, Nuvio
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-background-1/90 hover:bg-white dark:bg-background-5 dark:hover:bg-background-8 hover:shadow-1 transition-colors duration-300 ease-linear rounded-[20px] p-8 min-w-[358px] max-w-[358px] shrink-0 w-full"
        >
          <p class="text-wrap">
            Amazing customer support and powerful featurres-Nuvio has transformed the way we manage
            our workflows!
          </p>
          <div class="my-8 h-px w-full bg-stroke-4 dark:bg-stroke-8"></div>

          <div>
            <div class="flex items-center gap-3">
              <figure class="size-12 rounded-full overflow-hidden">
                <img
                  src="./images/ns-avatar-6.png"
                  alt="avatar"
                  class="h-full w-full bg-linear-[156deg,#83E7EE_2.92%,#C6F56F_91%]"
                />
              </figure>
              <div>
                <h3 class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Rachel Thompson
                </h3>
                <p class="text-tagline-2 text-secondary/60 font-normal dark:text-accent/60">
                  CEO, Nuvio
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
