<div>
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[752px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="company-mega-menu"
    class="dropdown-menu absolute left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 md:w-[752px] w-full bg-white dark:bg-background-6 border border-stroke-1 dark:border-white/10 z-50 rounded-[20px] p-4 flex items-start md:gap-x-6 gap-y-6"
  >
    <ul id="product-dropdown-menu" class="space-y-1 flex-1">
      <li>
        <a
          href="./security-software-about.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/about-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">About Us</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              See how others are using NextSaaS
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-services.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/service-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Services</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              See how others are using NextSaaS
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-team.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/team-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Our Team</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              Dynamic content solutions
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-career.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/career-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Career</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              Free marketing templates
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-our-manifesto.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/manifesto-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Our Manifesto</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              Our core values and principles
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-why-choose-us.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/why-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Why Choose Us</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              Our unique selling points and competitive advantages
            </p>
          </div>
        </a>
      </li>
      <li>
        <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
      </li>
      <li>
        <a
          href="./security-software-customers.html"
          class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
        >
          <Component src="src/components/shared/hover-bg-transform.htm" />
          <div
            class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
          >
            <Component src="src/components/shared/menu-icon/customer-icon.htm" />
          </div>
          <div class="relative z-10">
            <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Customers</p>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              Schedule your demo today
            </p>
          </div>
        </a>
      </li>
    </ul>
    <div class="flex-1 space-y-[15px]">
      <ul id="product-dropdown-menu" class="space-y-1 flex-1">
        <li>
          <a
            href="./security-software-use-case.html"
            class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
            >
              <Component src="src/components/shared/menu-icon/use-case-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Use Cases</p>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                See how others are using NextSaaS
              </p>
            </div>
          </a>
        </li>
        <li>
          <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
        </li>
        <li>
          <a
            href="./security-software-case-study.html"
            class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
            >
              <Component src="src/components/shared/menu-icon/case-study-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Case Studies</p>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Real-world examples of our work
              </p>
            </div>
          </a>
        </li>
        <li>
          <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
        </li>
        <li>
          <a
            href="./security-software-testimonial.html"
            class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
            >
              <Component src="src/components/shared/menu-icon/testimonial-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Testimonials</p>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                What our customers say about us
              </p>
            </div>
          </a>
        </li>
        <li>
          <div class="h-[1px] bg-stroke-4 dark:bg-background-7 w-[calc(100%-16px)] mx-auto"></div>
        </li>
        <li>
          <a
            href="./security-software-changelog.html"
            class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
            >
              <Component src="src/components/shared/menu-icon/changelog-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Changelog</p>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Latest updates and improvements
              </p>
            </div>
          </a>
        </li>
      </ul>
      <figure class="overflow-hidden rounded-[14px] max-w-full w-full min-h-[220px] relative">
        <img
          src="./images/ns-img-420.jpg"
          alt="What's New"
          class="w-full h-full object-cover rounded-[14px]"
        />
      </figure>
    </div>
  </div>
</div>
