<!-- =========================
Feature v3 section
===========================-->
<section
  class="bg-background-1 dark:bg-background-6 lg:py-[150px] md:py-[100px] py-[75px] overflow-hidden"
>
  <div
    class="main-container flex flex-col lg:flex-row items-center lg:gap-[100px] md:gap-y-20 gap-y-14"
  >
    <div class="md:flex-1 relative flex lg:justify-start justify-center w-full lg:w-auto">
      <figure
        data-ns-animate
        data-delay="0.2"
        data-offset="200"
        class="max-w-[400px] lg:max-w-[450px] overflow-hidden"
      >
        <img src="./images/ns-img-73.png" alt="Finance Hero" class="size-full" />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        data-offset="100"
        data-direction="right"
        data-progress-item
        data-progress-value="88"
        data-progress-duration="2.5"
        class="absolute bottom-24 rounded-[12px] overflow-hidden shadow-1 right-[1%] md:right-[10%] lg:right-0 min-w-[288px] space-y-2 bg-white dark:bg-background-9 p-4 min-h-[100px] max-h-[101px]"
      >
        <figcaption class="flex justify-between gap-2">
          <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
          <span
            class="text-lg font-medium flex items-center gap-1 leading-[1.5] text-secondary dark:text-accent"
            >$<span
              data-counter
              data-number="53224"
              data-speed="1000"
              data-interval="180"
              data-rooms="5"
              data-height-space="2.5"
              >53,224</span
            ></span
          >
        </figcaption>
        <div
          class="flex items-center justify-between gap-1"
          role="status"
          aria-label="Credit limit usage"
        >
          <span
            class="relative max-w-[229px] inline-block bg-secondary dark:bg-accent w-full h-1.5 rounded-full"
          >
            <span
              class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
              data-progress-bar
            ></span>
          </span>
          <span class="text-tagline-3 font-normal dark:text-accent" data-progress-text>88%</span>
        </div>
      </figure>
    </div>
    <div
      class="md:flex-1 flex flex-col items-center lg:items-start text-center lg:text-left lg:mx-0 mx-auto lg:max-w-full max-w-[550px]"
    >
      <div class="space-y-3 mb-6 text-left">
        <h2 data-ns-animate data-delay="0.1">What makes our security software stand out</h2>
        <p data-ns-animate data-delay="0.2">
          Take control of your finances with us and experience the confidence that comes with smart
          money management. Whether you're looking to budget better
        </p>
      </div>
      <ul class="mb-14 flex flex-col w-full justify-start gap-y-2.5">
        <li data-ns-animate data-delay="0.3" class="flex items-center gap-3 lg:py-2.5 py-1.5">
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <span
            class="sm:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent"
          >
            Comprehensive antivirus
          </span>
        </li>
        <li data-ns-animate data-delay="0.4" class="flex items-center gap-3 lg:py-2.5 py-1.5">
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <span
            class="sm:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent"
          >
            One-click system cleanup
          </span>
        </li>
        <li data-ns-animate data-delay="0.5" class="flex items-center gap-3 lg:py-2.5 py-1.5">
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <span
            class="sm:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent"
          >
            Encrypted cloud backup
          </span>
        </li>
        <li data-ns-animate data-delay="0.6" class="flex items-center gap-3 lg:py-2.5 py-1.5">
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <span
            class="sm:text-tagline-1 text-tagline-2 font-medium text-secondary dark:text-accent"
          >
            Identity theft protection
          </span>
        </li>
      </ul>
      <div data-ns-animate data-delay="0.7" class="w-full">
        <a
          href="./security-software-features.html"
          class="btn btn-secondary dark:btn-accent dark:hover:btn-white-dark lg:btn-xl btn-lg w-[85%] lg:w-auto hover:btn-white"
        >
          <span>Free download</span>
        </a>
      </div>
    </div>
  </div>
</section>
