<!-- =========================
Feature section
===========================-->
<section
  class="bg-background-1 dark:bg-background-6 pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] overflow-hidden"
>
  <div
    class="main-container flex flex-col lg:flex-row items-center justify-between lg:gap-24 gap-y-10"
  >
    <div class="md:flex-1 flex flex-col items-center lg:items-start text-center lg:text-left">
      <div class="space-y-5 mb-14">
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.1" class="max-w-[465px]">
            NextSaaS your smart email choice
          </h2>
          <p data-ns-animate data-delay="0.2" class="max-w-[508px]">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text
            nothing Before &amp; After magazine.
          </p>
        </div>
      </div>
      <ul
        class="flex lg:flex-col gap-y-2 flex-row flex-wrap items-start lg:flex-nowrap lg:items-start md:justify-center justify-start"
      >
        <li
          data-ns-animate
          data-delay="0.3"
          class="lg:text-tagline-1 text-tagline-2 font-medium flex items-center gap-4 py-2 px-0 dark:text-accent text-secondary lg:basis-0 md:basis-1/2"
        >
          <span
            class="ns-shape-50 md:text-[36px] text-[24px] text-secondary dark:text-accent"
          ></span>

          Enterprise-level security
        </li>
        <li
          data-ns-animate
          data-delay="0.4"
          class="lg:text-tagline-1 text-tagline-2 font-medium flex items-center gap-4 py-2 px-0 dark:text-accent text-secondary lg:basis-0 md:basis-1/2"
        >
          <span
            class="ns-shape-52 md:text-[36px] text-[24px] text-secondary dark:text-accent"
          ></span>
          Automated email flows
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          class="lg:text-tagline-1 text-tagline-2 font-medium flex items-center gap-4 py-2 px-0 dark:text-accent text-secondary lg:basis-0 md:basis-1/2"
        >
          <span
            class="ns-shape-41 md:text-[36px] text-[24px] text-secondary dark:text-accent"
          ></span>
          Real-time analytics
        </li>
        <li
          data-ns-animate
          data-delay="0.6"
          class="lg:text-tagline-1 text-tagline-2 font-medium flex items-center gap-4 py-2 px-0 dark:text-accent text-secondary lg:basis-0 md:basis-1/2"
        >
          <span
            class="ns-shape-47 md:text-[36px] text-[24px] text-secondary dark:text-accent"
          ></span>
          Live data insights
        </li>
      </ul>
    </div>
    <div class="md:flex-1 relative flex justify-end w-full lg:w-auto">
      <figure
        data-ns-animate
        data-delay="0.3"
        data-offset="100"
        class="w-full lg:max-w-[605px] max-w-[400px] mx-auto lg:mx-0 h-auto"
      >
        <img
          src="./images/ns-img-117.png"
          alt="Smiling man using a tablet"
          class="w-full h-auto block dark:hidden"
          width="583"
          height="707"
        />
        <img
          src="./images/ns-img-dark-87.png"
          alt="Smiling man using a tablet"
          class="hidden dark:block"
          width="583"
          height="707"
        />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        data-offset="100"
        data-direction="right"
        class="absolute -bottom-4 md:bottom-7 lg:-bottom-4 md:right-[104px] right-2 lg:right-2 2xl:-right-10 rounded-[10px] lg:rounded-[20px] overflow-hidden max-w-[200px] lg:max-w-[250px] lp:max-w-[324px]"
        aria-hidden="true"
      >
        <img
          src="./images/ns-img-118.png"
          alt="Market sales dashboard card"
          width="324"
          height="340"
          class="block dark:hidden"
        />
        <img
          src="./images/ns-img-dark-88.png"
          alt="Market sales dashboard card"
          width="324"
          height="340"
          class="hidden dark:block shadow-2"
        />
      </figure>
    </div>
  </div>
</section>
