<!-- =========================
Feature v4  section
===========================-->
<section class="lg:py-[150px] md:py-[100px] py-[75px] bg-background-3 dark:bg-background-7">
  <div class="main-container">
    <div class="space-y-3 mb-[70px] text-center">
      <h2 data-ns-animate data-delay="0.1" class="mx-auto max-w-[578px]">
        Features that set NexSaaS apart
      </h2>
      <p data-ns-animate data-delay="0.2" class="max-w-[860px] mx-auto">
        At NexSaaS, innovation isn't just a buzzword — it's at the core of everything we do. What
        truly sets us apart is our commitment to providing cutting-edge solutions tailored to meet
        the evolving needs of modern
      </p>
    </div>
    <div class="grid grid-cols-12 md:gap-8 gap-y-5">
      <!-- First row -->
      <article data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="rounded-[20px] overflow-hidden bg-white dark:bg-background-9">
          <figure class="max-w-full w-full rounded-[20px] overflow-hidden">
            <img
              src="./images/ns-img-270.png"
              class="w-full h-full object-cover dark:hidden"
              alt="feature-1"
            />
            <img
              src="./images/ns-img-dark-180.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-1"
            />
          </figure>
          <div class="px-6 py-8">
            <h3 class="xl:text-heading-5 text-heading-6">Real-time threat protection</h3>
            <p>Auto-assign tasks & updates in real-time</p>
          </div>
        </div>
      </article>
      <article data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="rounded-[20px] overflow-hidden bg-white dark:bg-background-9">
          <figure class="max-w-full w-full rounded-[20px] overflow-hidden">
            <img
              src="./images/ns-img-271.png"
              class="w-full h-full object-cover dark:hidden"
              alt="feature-2"
            />
            <img
              src="./images/ns-img-dark-181.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-2"
            />
          </figure>
          <div class="px-6 py-8">
            <h3 class="xl:text-heading-5 text-heading-6">One-click optimization</h3>
            <p>Mobile reporting, automated work orders</p>
          </div>
        </div>
      </article>
      <article data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="rounded-[20px] overflow-hidden bg-white dark:bg-background-9">
          <figure class="max-w-full w-full rounded-[20px] overflow-hidden">
            <img
              src="./images/ns-img-272.png"
              class="w-full h-full object-cover dark:hidden"
              alt="feature-3"
            />
            <img
              src="./images/ns-img-dark-182.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-3"
            />
          </figure>
          <div class="px-6 py-8">
            <h3 class="xl:text-heading-5 text-heading-6">Privacy shield</h3>
            <p>Custom forms, AI damage detection feature</p>
          </div>
        </div>
      </article>
      <!-- Second row, centered -->
      <article
        data-ns-animate
        data-delay="0.6"
        class="lg:col-start-3 col-span-12 md:col-span-6 lg:col-span-4 lg:mt-8"
      >
        <div class="rounded-[20px] overflow-hidden bg-white dark:bg-background-9">
          <figure class="max-w-full w-full rounded-[20px] overflow-hidden">
            <img
              src="./images/ns-img-273.png"
              class="w-full h-full object-cover dark:hidden"
              alt="feature-4"
            />
            <img
              src="./images/ns-img-dark-183.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-4"
            />
          </figure>
          <div class="px-6 py-8">
            <h3 class="xl:text-heading-5 text-heading-6">Software updater</h3>
            <p>Track usage & sync costs with QuickBooks</p>
          </div>
        </div>
      </article>
      <article
        data-ns-animate
        data-delay="0.7"
        class="lg:col-start-7 col-span-12 md:col-span-6 lg:col-span-4 lg:mt-8"
      >
        <div class="rounded-[20px] overflow-hidden bg-white dark:bg-background-9">
          <figure class="max-w-full w-full rounded-[20px] overflow-hidden">
            <img
              src="./images/ns-img-274.png"
              class="w-full h-full object-cover dark:hidden"
              alt="feature-5"
            />
            <img
              src="./images/ns-img-dark-184.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-5"
            />
          </figure>
          <div class="px-6 py-8">
            <h3 class="xl:text-heading-5 text-heading-6">Cross-platform compatibility</h3>
            <p>Automated check-ins, in-app communication</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
