<div>
  <div
    class="dropdown-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 lg:w-[972px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="plan-and-support-mega-menu"
    class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 lg:w-[972px] w-full bg-white dark:bg-background-6 border border-stroke-1 dark:border-white/10 z-50 rounded-[20px] p-6"
  >
    <div class="grid grid-cols-12 items-start md:gap-x-6 gap-y-6">
      <div class="col-span-4">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 p-3">Account</p>
        <ul>
          <li>
            <a
              href="./security-software-login.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/login-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Login</p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-signup.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/signin-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Create Account
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-referral-program.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/referral-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Referral Program
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-affiliates.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Affiliate</p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-affiliate-policy.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/affiliate-policy.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Affiliate Policy
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 p-3">Legal</p>
        <ul>
          <li>
            <a
              href="./security-software-terms-conditions.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/terms-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Terms & Conditions
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-privacy-policy.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/privacy-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Privacy Policy
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-refund-policy.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/refund-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                  Refund Policy
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-gdpr.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/gdpr-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">GDPR</p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./security-software-legal.html"
              class="flex items-center gap-3 p-3 relative group"
            >
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="mt-1 size-10 shrink-0 rounded-lg p-1 border border-stroke-1 dark:border-white/10 flex items-center justify-center relative z-10 shadow-14"
              >
                <Component src="src/components/shared/menu-icon/legal-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Legal</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 p-3 mb-2">
          What's New
        </p>

        <a href="./security-software-changelog.html" class="block">
          <article
            class="p-2 rounded-[30px] border border-stroke-1 dark:border-white/10 w-full space-y-3 group"
          >
            <figure class="w-full h-full rounded-3xl overflow-hidden">
              <img
                src="./images/ns-img-423.jpg"
                alt="Featured"
                class="w-full h-full object-cover rounded-3xl group-hover:scale-105 transition-transform duration-500 ease-in-out"
              />
            </figure>
            <div class="space-y-7 p-2">
              <p class="text-tagline-2 font-normal text-secondary dark:text-accent">
                Security Software Changelog
              </p>

              <a
                href="#"
                class="group-hover:bg-primary-500 group bg-secondary transition-all duration-500 ease-in-out ring-[6px] ring-background-12 dark:ring-background-7 rounded-[40px] w-16 relative overflow-hidden flex items-center justify-center space-y-5 h-9.5 px-5 py-2"
              >
                <figure class="size-6 relative items-center justify-center overflow-hidden">
                  <img
                    src="./images/icons/new-arrow-white.svg"
                    alt="new-arrow"
                    class="size-full absolute inset-0 -translate-x-6 object-cover group-hover:translate-x-1 transition-transform duration-400 ease-in-out"
                  />
                  <img
                    src="./images/icons/new-arrow-white.svg"
                    alt="new-arrow"
                    class="size-full object-cover group-hover:translate-x-6 transition-transform duration-400 ease-in-out"
                  />
                </figure>
              </a>
            </div>
          </article>
        </a>
      </div>
    </div>
  </div>
</div>
