<!-- =========================
Pricing section
===========================-->
<section
  class="relative lg:py-[150px] md:py-[100px] py-[75px] bg-background-3 dark:bg-background-7"
>
  <div
    class="2xl:max-w-[1440px] xl:max-w-[1240px] lg:max-w-[980px] md:max-w-[700px] sm:max-w-[600px] min-[475px]:max-w-[450px] min-[425px]:max-w-[350px] max-w-full mx-5 sm:mx-auto"
  >
    <div
      class="2xl:py-[100px] sm:py-20 py-10 2xl:px-16 sm:px-12 px-8 rounded-4xl bg-background-2 dark:bg-background-5 space-y-[70px]"
    >
      <div class="text-center">
        <h2
          data-ns-animate
          data-delay="0.1"
          class="lg:max-w-[678px] sm:max-w-[500px] max-w-[350px] mx-auto"
        >
          Select the pricing plan that best suits your needs.
        </h2>
      </div>
      <div class="grid grid-cols-12 xl:gap-8 md:gap-6 gap-y-6">
        <div class="col-span-12 xl:col-span-3 md:col-span-6">
          <div data-ns-animate data-delay="0.3">
            <div class="md:h-[195px] md:w-[290px]"></div>
            <div class="space-y-2.5">
              <h3 class="text-heading-6">What’s included</h3>
              <ul>
                <li
                  class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  Pages included
                </li>
                <li
                  class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  Custom design
                </li>
                <li
                  class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  SEO optimization
                </li>
                <li
                  class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  Branding support
                </li>
                <li
                  class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6"
                >
                  Social media integration
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-12 xl:col-span-3 md:col-span-6">
          <div data-ns-animate data-delay="0.4">
            <div class="rounded-t-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8">
              <div>
                <p class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3">
                  Essential
                </p>
                <h3 class="text-heading-5 font-normal">Free</h3>
                <p>Free plan for all users</p>
              </div>
              <a
                href="./security-software-contact.html"
                class="btn btn-white dark:btn-white-dark hover:btn-primary btn-md w-full before:content-none first-letter:uppercase"
                >Get started</a
              >
            </div>
            <div class="rounded-b-[20px] bg-white dark:bg-background-6">
              <ul>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 5</p>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8"
                ></li>
                <li class="h-14 px-6 py-4 text-center"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-12 xl:col-span-3 md:col-span-6">
          <div data-ns-animate data-delay="0.5">
            <div
              class="rounded-t-[20px] z-10 relative py-8 px-6 bg-secondary dark:bg-background-7 space-y-8 overflow-hidden"
            >
              <div class="absolute h-full w-full -top-28 -right-20 -z-1 pointer-events-none">
                <img src="./images/ns-img-496.png" alt="pricing bg" />
              </div>
              <div>
                <p class="text-tagline-1 text-accent/60 font-medium mb-3">Advanced</p>
                <h3 class="text-heading-5 font-normal text-accent">$99</h3>
                <p class="text-accent/60">Plans for advanced users</p>
              </div>
              <a
                href="./security-software-contact.html"
                class="btn btn-primary hover:btn-white border-0 btn-md w-full before:content-none first-letter:uppercase"
                >Get started</a
              >
            </div>
            <div class="rounded-b-[20px] bg-white dark:bg-background-6">
              <ul>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 10</p>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li class="h-14 px-6 py-4 text-center"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-12 xl:col-span-3 md:col-span-6">
          <div data-ns-animate data-delay="0.6">
            <div class="rounded-t-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8">
              <div>
                <p class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3">
                  Enterprise
                </p>
                <h3 class="text-heading-5 font-normal">Enterprise</h3>
                <p>Contact us for enterprise users</p>
              </div>
              <a
                href="./security-software-contact.html"
                class="btn btn-white dark:btn-white-dark hover:btn-primary btn-md w-full before:content-none first-letter:uppercase"
                >Get started</a
              >
            </div>
            <div class="rounded-b-[20px] bg-white dark:bg-background-6">
              <ul>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8"
                >
                  <p class="font-medium text-secondary/60 dark:text-accent/60">Unlimited</p>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li
                  class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-8 flex items-center justify-center"
                >
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
                <li class="h-14 px-6 py-4 text-center flex items-center justify-center">
                  <span
                    class="size-[18px] shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                      class="shrink-0"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        class="fill-white dark:fill-secondary"
                      />
                    </svg>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
