<!-- ======================  
 Referral Program Steps 
====================== -->
<section class="py-10 sm:py-14 md:py-16 lg:py-24 xl:py-28">
  <div class="main-container space-y-8 sm:space-y-14 md:space-y-[70px]">
    <div data-ns-animate data-delay="0.1" class="text-center">
      <h2>Become a monica affiliate in only 3 steps</h2>
    </div>

    <div class="grid grid-cols-12 gap-2">
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-8 md:col-span-4 col-span-12 p-6 border border-stroke-1 dark:border-stroke-5 bg-background-3 dark:bg-background-6 rounded-[20px] w-full flex flex-col items-center md:items-start"
        role="listitem"
        itemscope
        itemtype="https://schema.org/Service"
      >
        <span
          class="size-14 rounded-full bg-ns-green text-xl md:text-2xl p-3.5 flex items-center justify-center"
          aria-hidden="true"
          role="presentation"
        >
          1
        </span>
        <h3
          class="md:text-heading-5 mt-6 text-secondary dark:text-accent text-[22px] md:leading-[150%] font-normal md:max-w-[200px] md:text-left text-center"
          itemprop="name"
        >
          Join
        </h3>
        <p>Sign up for our affiliate program and get your reterral link.</p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-8 md:col-span-4 col-span-12 p-6 border border-stroke-1 dark:border-stroke-5 bg-background-3 dark:bg-background-6 rounded-[20px] w-full flex flex-col items-center md:items-start"
        role="listitem"
        itemscope
        itemtype="https://schema.org/Service"
      >
        <span
          class="size-14 rounded-full bg-ns-green text-xl md:text-2xl p-3.5 flex items-center justify-center"
          aria-hidden="true"
          role="presentation"
        >
          2
        </span>
        <h3
          class="md:text-heading-5 mt-6 text-secondary dark:text-accent text-[22px] md:leading-[150%] font-normal md:max-w-[200px] md:text-left text-center"
          itemprop="name"
        >
          Share
        </h3>
        <p>Share link with your audience and track the performance in real-time via Tapffiliate.</p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-8 md:col-span-4 col-span-12 p-6 border border-stroke-1 dark:border-stroke-5 bg-background-3 dark:bg-background-6 rounded-[20px] w-full flex flex-col items-center md:items-start"
        role="listitem"
        itemscope
        itemtype="https://schema.org/Service"
      >
        <span
          class="size-14 rounded-full bg-ns-green text-xl md:text-2xl p-3.5 flex items-center justify-center"
          aria-hidden="true"
          role="presentation"
        >
          3
        </span>
        <h3
          class="md:text-heading-5 mt-6 text-secondary dark:text-accent text-[22px] md:leading-[150%] font-normal md:max-w-[200px] md:text-left text-center"
          itemprop="name"
        >
          Get paid
        </h3>
        <p>
          Earn 25% recurring commission through the first year of each new subscriber that you refer
          to Monica!
        </p>
      </div>
    </div>
  </div>
</section>
