<!-- =========================
Features section
===========================-->
<section class="lg:py-[100px] py-[60px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div
      class="lg:max-w-[668px] md:max-w-[550px] max-w-[400px] mx-auto space-y-5 mb-10 md:mb-[70px] text-center"
    >
      <span data-ns-animate data-delay="0.1" class="badge badge-green">More features</span>
      <h2 data-ns-animate data-delay="0.2">Managing your money has never been easier</h2>
    </div>
    <div class="mb-12 sm:mb-16 md:mb-[100px]">
      <div class="grid grid-cols-12 lg:gap-[42px] md:gap-8 gap-y-11">
        <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="space-y-3">
            <div
              class="border border-stroke-4 bg-background-1 dark:bg-background-6 dark:border-stroke-6 p-2.5 rounded-[20px]"
            >
              <figure class="lg:max-w-[402px] md:max-w-full w-full">
                <img
                  src="./images/ns-img-108.png"
                  alt="web security"
                  class="w-full h-full dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-80.png"
                  alt="web security"
                  class="w-full h-full hidden dark:block"
                />
              </figure>
            </div>
            <div class="space-y-1 pl-2.5">
              <h3 class="text-heading-6 sm:text-heading-5 font-normal">Web security</h3>
              <p>Safeguard websites from cyber threats, malware, and unauthorized access.</p>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="space-y-3">
            <div
              class="border border-stroke-4 bg-background-1 dark:bg-background-6 dark:border-stroke-6 p-2.5 rounded-[20px]"
            >
              <figure class="lg:max-w-[402px] md:max-w-full w-full">
                <img
                  src="./images/ns-img-107.png"
                  alt="software analytics"
                  class="w-full h-full dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-79.png"
                  alt="software analytics"
                  class="w-full h-full hidden dark:block"
                />
              </figure>
            </div>
            <div class="space-y-1 pl-2.5">
              <h3 class="text-heading-6 sm:text-heading-5 font-normal">Software analytics</h3>
              <p>Ensure your applications and systems are always up-to-date and secure.</p>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="space-y-3">
            <div
              class="border border-stroke-4 bg-background-1 dark:bg-background-6 dark:border-stroke-6 p-2.5 rounded-[20px]"
            >
              <figure class="lg:max-w-[402px] md:max-w-full w-full">
                <img
                  src="./images/ns-img-106.png"
                  alt="payment security"
                  class="w-full h-full dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-78.png"
                  alt="payment security"
                  class="w-full h-full hidden dark:block"
                />
              </figure>
            </div>
            <div class="space-y-1 pl-2.5">
              <h3 class="text-heading-6 sm:text-heading-5 font-normal">Payment security</h3>
              <p>End-to-end encryption and fraud prevention for online transactions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="text-center">
      <a
        href="./cyber-security-features.html"
        class="btn btn-secondary dark:btn-accent hover:btn-primary btn-md w-[90%] sm:w-auto mx-auto"
      >
        <span>Explore all</span>
      </a>
    </div>
  </div>
</section>
