<!-- filters btn  -->
<div
  data-ns-animate
  data-delay="0.3"
  class="flex items-center md:justify-start justify-center gap-x-2 glossary-filters-buttons-container flex-wrap gap-y-2 xl:gap-y-0"
>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] bg-primary-500 text-white data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white data-[selected=false]:bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] data-[selected=false]:text-secondary"
  >
    A
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    B
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    C
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    D
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    E
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    F
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    G
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    H
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    I
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    J
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    K
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    L
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    M
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    N
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    O
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    P
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    Q
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    R
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    S
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    T
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    U
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    V
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    W
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    X
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    Y
  </button>
  <button
    class="size-[41.5px] cursor-pointer rounded-[10px] data-[selected=true]:bg-primary-500 transition-colors duration-500 shrink-0 data-[selected=true]:text-white bg-background-12 p-2 font-inter-tight text-tagline-1 font-normal leading-[150%] text-secondary"
  >
    Z
  </button>
</div>
