<!-- card fifty-four -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Backlink</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A link from one website to another, often used by search engines to measure a site’s authority
      and relevance.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card fifty-five -->
<div
  data-letter="c"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">CTA (Call to Action)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A prompt on a webpage or ad that encourages users to take a specific action, such as “Buy Now”
      or “Sign Up.”
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card fifty-six -->
<div
  data-letter="d"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Dashboard</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A visual interface that displays key data metrics and insights to help users monitor
      performance or activities.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card fifty-seven -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Engagement Rate</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The percentage of users who interact with content, such as liking, sharing, or commenting on a
      post.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card fifty-eight -->
<div
  data-letter="f"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Funnel</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A model that represents the stages customers go through before making a purchase or taking a
      desired action.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card fifty-nine -->
<div
  data-letter="g"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Growth Hacking</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A strategy focused on rapid experimentation across marketing channels to identify the most
      effective ways to grow a business.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty -->
<div
  data-letter="j"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Journey Mapping</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A visual representation of a customer’s experience with a brand, showing each step and touch
      point across their journey.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>
