<!-- Card ninety-four -->
<div
  data-letter="w"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Workflow Automation</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The use of software to automate business processes, reducing manual effort and increasing
      efficiency.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>

<!-- Card ninety-five -->
<div
  data-letter="w"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Wireframe</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A simplified visual guide that outlines the structure of a webpage or app before design and
      development.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>
