<!-- card eighty-nine -->
<div
  data-letter="s"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">SEO (Search Engine Optimization)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The practice of improving website visibility on search engines through content and technical
      optimization.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>

<!-- card ninety -->
<div
  data-letter="s"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Social Proof</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The concept that people are influenced by the actions and opinions of others, often shown
      through reviews or testimonials.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>

<!-- card ninety-one -->
<div
  data-letter="s"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">SaaS (Software as a Service)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A software delivery model where applications are hosted online and accessed via a
      subscription.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>
