<!-- card twenty-one  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Engagement rate</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A metric that measures how actively users interact with your product, content, or platform,
      often through clicks, time spent, or feature usage.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-two  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">End-to-end testing</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A testing methodology that validates the complete flow of an application from start to finish
      to ensure all components work together correctly.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-three  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Error handling</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of anticipating, detecting, and responding to errors in software applications to
      maintain functionality and user experience.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-four  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Event-driven architecture</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A software design pattern where components communicate through events, enabling decoupled and
      scalable systems.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-five  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Extensibility</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The ability of software to be extended with new features or functionality without modifying
      existing code.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-six  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Extract, Transform, Load (ETL)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A data integration process that extracts data from sources, transforms it to fit operational
      needs, and loads it into a target database.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-seven  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Encryption</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of converting readable data into encoded format to protect sensitive information
      from unauthorized access.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card twenty-eight  -->
<div
  data-letter="e"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Enterprise software</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      Large-scale software solutions designed to meet the needs of organizations rather than
      individual users, typically offering extensive features and scalability.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>
