<!-- card eight  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Backlog</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A prioritized list of tasks, features, or bugs waiting to be developed or addressed in future
      sprints.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card six  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Beta release</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A pre-launch version of a software product released to selected users for testing and
      feedback.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card seven  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Bootstrapping</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      Building and growing a company using personal savings or internal revenue rather than external
      funding.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card eight  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Business Intelligence (BI)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      Technologies and strategies used to analyze business data and provide actionable insights for
      decision-making.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card nine  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Bug tracking</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of identifying, documenting, and managing software defects throughout the
      development lifecycle.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card ten  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Build automation</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The practice of automating the compilation, testing, and deployment of software to reduce
      manual work and errors.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card eleven  -->
<div
  data-letter="b"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Burn rate</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The rate at which a company spends its available capital, typically measured monthly,
      indicating cash flow sustainability.
    </p>
  </div>

  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>
