<!-- Card ninety-three -->
<div
  data-letter="v"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Viral Marketing</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A strategy that encourages users to share a marketing message rapidly across their networks.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>
