<!-- card seventy-eight -->
<div
  data-letter="n"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Newsletter</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A regularly distributed email that shares updates, tips, or news to engage subscribers and
      promote brand awareness.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>

<!-- card seventy-nine -->
<div
  data-letter="n"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Niche Market</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A specialized segment of the market focused on a specific need, interest, or demographic
      group.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>

<!-- card eighty -->
<div
  data-letter="n"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Net Promoter Score (NPS)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A customer loyalty metric that measures how likely users are to recommend a product or service
      to others.
    </p>
  </div>
  <div>
    <a href="{=$page-link}" class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
      ><span>Learn more</span></a
    >
  </div>
</div>
