<!-- card sixty-eight -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Landing Page</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A focused web page designed to convert visitors into leads or customers, often tied to
      marketing campaigns.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-nine -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Lead Generation</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of attracting and converting potential customers into leads who show interest in a
      company’s product or service.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card seventy -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Lifetime Value (LTV)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The total revenue a business can expect from a single customer over the entire duration of
      their relationship.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card seventy-one -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Link Building</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of acquiring hyperlinks from other websites to improve your own site’s search
      engine visibility and authority.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card seventy-two -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Local SEO</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      An optimization strategy focused on increasing visibility for businesses in local search
      results, maps, and directories.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card seventy-three -->
<div
  data-letter="l"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Lead Nurturing</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of developing relationships with potential customers through personalized
      communication to move them toward a purchase.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>
