<!-- card sixty-one -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Keyword Research</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of discovering search terms that people use in search engines to inform SEO and
      content strategy.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-two -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">KPI (Key Performance Indicator)</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A measurable value that indicates how effectively a company is achieving key business
      objectives.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-three -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Knowledge Base</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A centralized repository of information that helps users find answers to common questions
      about a product or service.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-four -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Kanban Board</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A visual workflow management tool used to visualize tasks, identify bottlenecks, and improve
      productivity in projects.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-five -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Knowledge Graph</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A system that connects information using relationships between concepts, improving data
      organization and understanding.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-six -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">K-Factor</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      A metric used in viral marketing to measure how many additional users each existing user
      brings to a product or service.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>

<!-- card sixty-seven -->
<div
  data-letter="k"
  class="glossary-card flex flex-col justify-between gap-y-9 p-8 rounded-[20px] bg-white dark:bg-background-8"
>
  <div class="space-y-6">
    <h3 class="text-heading-5 font-normal">Knowledge Management</h3>
    <p class="text-tagline-1 line-clamp-4 text-secondary/80 dark:text-accent/80">
      The process of capturing, organizing, and sharing knowledge within an organization to enhance
      efficiency and decision-making.
    </p>
  </div>
  <div>
    <a
      href="{=$page-link}"
      class="btn btn-md btn-accent hover:btn-secondary dark:hover:btn-primary"
    >
      <span>Learn more</span>
    </a>
  </div>
</div>
