<!-- =========================
Glossary heading section
===========================-->

<section class="md:pt-[192px] pt-[150px] md:pb-28 pb-14">
  <div class="main-container">
    <div class="space-y-4 text-center lg:text-left">
      <h1 data-ns-animate data-delay="0.1" class="md:text-heading-2 text-heading-3 font-normal">
        Compliance glossary
      </h1>
      <p data-ns-animate data-delay="0.2">
        Glossary of productivity, time management, & work-life balance terms.
      </p>
    </div>
  </div>
</section>
