<!-- ================
Integration-page-3 section
================ -->

<section class="pb-20 md:pb-28 lg:pb-44 xl:pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div
    data-ns-animate
    data-delay="0.1"
    data-offset="80"
    class="w-[95%] 2xl:max-w-[1440px] rounded-4xl mx-auto py-[70px] px-10 md:px-[75px] bg-white dark:bg-background-6 relative z-10 md:min-h-[740px]"
  >
    <div class="text-center max-w-[410px] lg:mt-20 mx-auto relative z-10 w-fit">
      <h2 data-ns-animate data-delay="0.2" class="mb-3">
        Effortless app <br class="hidden lg:block" />
        integration.
      </h2>
      <p data-ns-animate data-delay="0.3" class="mb-14">
        Seamlessly connect your favorite tools and platforms without the usual hassle. Our solution
        is designed to make
      </p>
      <div data-ns-animate data-delay="0.4">
        <a
          href="{=$page-link}"
          class="section-button btn btn-secondary btn-md hover:btn-primary dark:btn-accent inline-block"
        >
          <span>See it in Action</span>
        </a>
      </div>
    </div>

    <div
      class="lg:absolute lg:w-1/2 lg:max-w-[400px] 2xl:max-w-[582px] 2xl:left-0 xl:left-20 lg:left-10 left-5 bottom-0 lg:bottom-auto lg:top-0 lg:block hidden"
    >
      <div
        class="flex flex-row flex-wrap lg:flex-col gap-5 lg:gap-[40px] 2xl:ps-[70px] lg:py-[70px] py-10 relative h-full"
      >
        <div
          data-ns-animate
          data-delay="0.4"
          class="flex gap-5 lg:gap-8 xl:gap-[75px] lg:ms-[60px] xl:ms-[100px]"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.5"
          class="flex gap-5 lg:gap-8 xl:gap-[75px] lg:self-start"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          class="flex gap-5 lg:gap-8 xl:gap-[75px] lg:ms-[60px] xl:ms-[100px]"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.7"
          class="flex gap-5 lg:gap-8 xl:gap-[75px] lg:ms-[100px] xl:ms-[185px]"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img
                src="./images/icons/vl.svg"
                class="size-full dark:hidden"
                alt="integration icon"
              />
              <img
                src="./images/icons/vl-white.svg"
                class="size-full hidden dark:block"
                alt="integration icon"
              />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div
      class="lg:absolute lg:w-1/2 lg:max-w-[400px] 2xl:max-w-[582px] 2xl:right-0 xl:right-28 lg:right-10 right-5 bottom-0 lg:bottom-auto lg:top-0 lg:block hidden"
    >
      <div
        class="flex flex-row flex-wrap lg:flex-col gap-5 lg:gap-[40px] 2xl:pe-[70px] lg:py-[70px] py-10 relative h-full"
      >
        <div data-ns-animate data-delay="0.4" class="flex lg:self-end lg:me-[60px] xl:me-[100px]">
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.5"
          class="flex gap-8 lg:gap-[50px] xl:gap-[75px] lg:self-end"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          class="flex gap-8 lg:gap-[50px] xl:gap-[75px] lg:me-[60px] lg:self-end xl:me-[100px]"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.7"
          class="flex gap-8 lg:gap-[50px] xl:gap-[75px] lg:me-[100px] xl:me-[185px] self-end"
        >
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="size-[100px] 2xl:size-[120px] flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
          >
            <div
              class="size-[80px] 2xl:size-[100px] bg-white dark:bg-background-8 rounded-full p-6"
            >
              <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div
      class="lg:hidden flex gap-4 flex-wrap items-center justify-center md:mt-20 mt-8 sm:px-10 px-6 integration-list-1"
    >
      <figure
        data-ns-animate
        data-delay="0.4"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/vl.svg" class="size-full dark:hidden" alt="integration icon" />
          <img
            src="./images/icons/vl-white.svg"
            class="size-full hidden dark:block"
            alt="integration icon"
          />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>

      <figure
        data-ns-animate
        data-delay="0.5"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="sm:size-[75px] size-14 flex items-center justify-center bg-background-2 dark:bg-background-7 rounded-full"
      >
        <div class="sm:size-[60px] size-10 bg-white dark:bg-background-6 rounded-full p-2">
          <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
    </div>
  </div>
</section>
