<!-- =========================
Integration page 2  section
===========================-->
<section
  class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32 {=$class}"
  aria-label="Integration Partners"
>
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- integration heading  -->
      <div class="max-w-[1028px] text-center mx-auto space-y-5">
        <span data-ns-animate data-delay="0.2" class="badge badge-green">Integration</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.3">
            Enhance your productivity effortlessly with over 50 integrations.
          </h2>
          <p data-ns-animate data-delay="0.4" class="max-w-[582px] mx-auto">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text.
            It's not Latin though it looks like nothing.
          </p>
        </div>
      </div>

      <!-- brand logos  -->
      <div data-ns-animate data-delay="0.5" data-instant class="space-y-7">
        <!-- marquee logo one  -->
        <div class="relative max-w-[1128px] mx-auto">
          <div
            class="absolute left-0 top-0 h-[115px] w-[15%] md:w-[20%] bg-gradient-to-r from-background-3 to-transparent dark:from-background-6 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-[115px] w-[15%] md:w-[20%] bg-gradient-to-l from-background-3 to-transparent dark:from-background-6 z-40"
          ></div>

          <div class="logos-marquee-container">
            <div class="flex items-center justify-center gap-8">
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8"
              >
                <img
                  src="./images/icons/google.svg"
                  alt="Google logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/slack.svg"
                  alt="Slack logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/snapchat.svg"
                  alt="Snapchat logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/ms_yammer.svg"
                  alt="Yammer logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="./images/icons/ms_yammer-dark.svg"
                  alt="Yammer logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/figma.svg"
                  alt="Figma logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/microsoft.svg"
                  alt="Microsoft logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>

        <!-- marquee logo two  -->
        <div class="relative max-w-[985px] mx-auto">
          <div
            class="absolute left-0 top-0 h-[115px] w-[15%] md:w-[20%] bg-gradient-to-r from-background-3 to-transparent dark:from-background-6 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-[115px] w-[15%] md:w-[20%] bg-gradient-to-l from-background-3 to-transparent dark:from-background-6 z-40"
          ></div>

          <div class="logos-right-marquee-container">
            <div
              class="flex items-center gap-8 justify-center"
              aria-label="Integration partners row 2"
            >
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center ml-8"
              >
                <img
                  src="./images/icons/google-meet.svg"
                  alt="Google Meet logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/edge.svg"
                  alt="Microsoft Edge logo"
                  width="48"
                  height="48"
                  loading="lazy"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/vl.svg"
                  alt="LV logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="./images/icons/vl-white.svg"
                  alt="LV logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/framer.svg"
                  alt="Framer logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/marvel.svg"
                  alt="Marvel logo"
                  loading="lazy"
                  class="dark:hidden size-12"
                />
                <img
                  src="./images/icons/marvel-dark.svg"
                  alt="Marvel logo"
                  loading="lazy"
                  class="hidden dark:inline-block"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-[70px] md:size-[100px] bg-white dark:bg-background-6 rounded-full flex items-center justify-center"
              >
                <img
                  src="./images/icons/gmail.svg"
                  alt="Gmail logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
