<!-- ===========================
    integration process section
    =========================== -->

<section
  class="pb-24 pt-14 md:pb-36 md:pt-16 lg:pb-44 lg:pt-[88px] xl:pb-[200px] xl:pt-[100px] bg-background-1 dark:bg-background-6"
>
  <div class="main-container space-y-14 md:space-y-[70px]">
    <div class="space-y-5 text-center max-w-[540px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-green">process</span>
      <h2 data-ns-animate data-delay="0.3">Follow the minimalistic steps of installation</h2>
    </div>

    <div class="grid gap-8 grid-cols-12 justify-center">
      <!-- Step 1 -->
      <article
        data-ns-animate
        data-delay="0.3"
        class="space-y-8 p-8 col-span-12 md:col-span-6 rounded-[20px] shadow-7 lg:col-span-4 dark:bg-background-5"
      >
        <div class="flex items-center justify-between">
          <span class="text-tagline-2 dark:text-accent">Step 1</span>
          <span class="ns-shape-36 text-[52px] text-secondary dark:text-accent"></span>
        </div>
        <div class="space-y-3">
          <h3 class="text-heading-5">Connect Your Platform</h3>
          <p class="max-w-[344px]">
            Easy integration with Shopify, WooCommerce, Zapier, HubSpot, and more.
          </p>
        </div>
      </article>

      <!-- Step 2 -->
      <article
        data-ns-animate
        data-delay="0.4"
        class="space-y-8 p-8 col-span-12 md:col-span-6 rounded-[20px] shadow-7 lg:col-span-4 dark:bg-background-5"
      >
        <div class="flex items-center justify-between">
          <span class="text-tagline-2 dark:text-accent">Step 2</span>
          <span class="ns-shape-8 text-[52px] text-secondary dark:text-accent"></span>
        </div>
        <div class="space-y-3">
          <h3 class="text-heading-5">Design &amp; Automate</h3>
          <p class="max-w-[344px]">
            Use our AI-powered email builder and pre-made automation templates.
          </p>
        </div>
      </article>

      <!-- Step 3 -->
      <article
        data-ns-animate
        data-delay="0.5"
        class="space-y-8 p-8 col-span-12 md:col-span-6 rounded-[20px] shadow-7 lg:col-span-4 dark:bg-background-5"
      >
        <div class="flex items-center justify-between">
          <span class="text-tagline-2 dark:text-accent">Step 3</span>
          <span class="ns-shape-2 text-[52px] text-secondary dark:text-accent"></span>
        </div>
        <div class="space-y-3 col-span-4">
          <h3 class="text-heading-5">Optimize &amp; Scale</h3>
          <p class="max-w-[344px]">
            Monitor email performance with real-time analytics and predictive insights.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
