<!-- =========================
Our Mission section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div class="grid grid-cols-12 lg:gap-x-0 xl:gap-x-28 gap-y-12 items-center">
      <div class="col-span-12 lg:col-span-6">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">Our Mission</span>
          <h2 data-ns-animate data-delay="0.3">
            To help teams work and grow with smart, secure software.
          </h2>
          <p data-ns-animate data-delay="0.4">
            We help companies turn messy workflows into manageable systems—one dashboard, one
            automation, one insight at a time.
          </p>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div>
          <figure data-ns-animate data-delay="0.4" class="relative w-full md:w-[500px]">
            <div class="w-full" data-ns-animate data-delay="0.4">
              <img src="./images/ns-img-80.png" alt="features" class="w-full" />
            </div>
            <div
              data-ns-animate
              data-delay="0.5"
              data-direction="right"
              data-offset="100"
              data-progress-item
              data-progress-value="88"
              data-progress-duration="2.5"
              class="p-6 absolute top-3/4 -translate-y-3/4 left-[35%] sm:left-[63%] md:left-[60%] lg:left-[1%] xl:left-[50%] 2xl:left-[60%] w-[220px] md:w-[288px] h-[100px] rounded-xl overflow-hidden shadow-2 bg-white dark:bg-background-7"
            >
              <figcaption class="flex justify-between gap-2">
                <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
                <p
                  class="text-lg font-medium leading-[1.5] text-secondary dark:text-accent flex items-center gap-1"
                >
                  $<span
                    data-counter
                    data-number="53224"
                    data-speed="1000"
                    data-interval="180"
                    data-rooms="5"
                    data-height-space="2.5"
                    >53,224</span
                  >
                </p>
              </figcaption>
              <div
                class="flex items-center justify-between gap-1"
                role="status"
                aria-label="Credit limit usage"
              >
                <span
                  class="relative max-w-[229px] inline-block bg-secondary dark:bg-background-2 w-full h-1.5 rounded-full"
                >
                  <span
                    class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
                    data-progress-bar
                  ></span>
                </span>
                <span class="text-tagline-3 font-normal dark:text-accent" data-progress-text
                  >88%</span
                >
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
