<!-- ============================
    Review section
============================ -->

<section class="max-lg:mt-12 overflow-hidden">
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.1"
      class="flex flex-col items-center relative overflow-hidden bg-background-2 dark:bg-background-6 rounded-4xl py-[100px]"
    >
      <!-- gradient bg  -->
      <div
        data-ns-animate
        data-delay="0.2"
        data-direction="left"
        data-offset="100"
        class="absolute select-none pointer-events-none -top-[90%] md:-top-[73%] lg:-top-[70%] -left-[65%] max-[376px]:-left-[76%] md:-left-[30%] lg:-left-[21%] xl:-left-[15%] rotate-[34deg] w-[500px] h-[600px]"
      >
        <img
          src="./images/ns-img-498.png"
          alt="Decorative gradient background overlay"
          class="w-full h-full object-cover"
        />
      </div>

      <figure class="space-y-4 flex flex-col items-center justify-center">
        <img
          src="./images/ns-avatar-1.png"
          alt="Avatar"
          class="size-10 bg-ns-yellow ring-2 ring-white rounded-full object-cover"
        />
        <figcaption class="text-tagline-2 font-medium dark:text-accent">From our CEO</figcaption>
      </figure>

      <p
        class="mt-6 mb-4 text-xl max-w-[626px] text-center mx-auto max-sm:text-tagline-2 max-sm:px-2"
      >
        NextSaaS was born from a simple idea: What if the tools we use to run our businesses made
        things easier? We're building a platform that scales with you, adapts to your needs, and
        grows with your team.
      </p>

      <strong class="text-lg leading-[1.5] font-medium dark:text-accent">
        Daniel Carter, CEO & Co-Founder
      </strong>
    </div>
  </div>
</section>
