<!-- =========================
Vision Statement section
===========================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container space-y-12 md:space-y-16 lg:space-y-[100px]">
    <div class="space-y-3 text-center max-w-[780px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Passion meets purpose</span
      >
      <h2 data-ns-animate data-delay="0.3" class="font-medium">
        Built for progress. designed for possibility.
      </h2>
      <p data-ns-animate data-delay="0.4">
        At NextSaaS, we believe software should empower people, not overwhelm them. That’s why we’ve
        created a flexible, intuitive platform that helps teams streamline operations, gain clarity
        from data, and scale faster, without the complexity.
      </p>
    </div>

    <article class="flex flex-col md:flex-row gap-8">
      <figure
        data-ns-animate
        data-delay="0.5"
        data-instant
        class="rounded-[20px] overflow-hidden max-w-full md:max-w-[630px]"
      >
        <img
          src="./images/ns-img-357.png"
          class="w-full h-full object-cover"
          alt="vision-1"
        />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        data-instant
        class="rounded-[20px] overflow-hidden max-w-full md:max-w-[630px]"
      >
        <img
          src="./images/ns-img-358.png"
          class="w-full h-full object-cover"
          alt="vision-2"
        />
      </figure>
    </article>
  </div>
</section>
