<!-- =========================
Clients section
===========================-->
<section data-ns-animate data-delay="0.1" class="xl:py-[100px] lg:py-[90px] md:py-20 py-16">
  <div class="2xl:max-w-[1440px] xl:max-w-[1260px] max-w-full xl:mx-auto">
    <div class="bg-background-1 dark:bg-background-6 md:py-14 py-7 xl:rounded-[20px] rounded-none">
      <div class="relative max-w-[85%] mx-auto">
        <div
          class="absolute left-0 top-0 bottom-0 w-[100px] md:w-[200px] lg:w-[400px] bg-gradient-to-r from-background-1 dark:from-background-6 to-transparent z-10"
        ></div>
        <div
          class="absolute right-0 top-0 bottom-0 w-[100px] md:w-[200px] lg:w-[400px] bg-gradient-to-l from-background-1 dark:from-background-6 to-transparent z-10"
        ></div>
        <div class="logos-marquee-container relative">
          <div class="flex items-center justify-center gap-8">
            <figure class="min-w-[140px] md:min-w-[201px] ml-8">
              <img
                src="./images/icons/client-logo-6.svg"
                class="w-full h-full dark:hidden"
                alt="clients"
              />
              <img
                src="./images/icons/client-logo-6-dark.svg"
                class="w-full h-full hidden dark:block"
                alt="clients"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-7.svg"
                class="w-full h-full dark:hidden"
                alt="clients"
              />
              <img
                src="./images/icons/client-logo-7-dark.svg"
                class="w-full h-full hidden dark:block"
                alt="clients"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-8.svg"
                class="w-full h-full dark:hidden"
                alt="clients"
              />
              <img
                src="./images/icons/client-logo-8-dark.svg"
                class="w-full h-full hidden dark:block"
                alt="clients"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-9.svg"
                class="w-full h-full dark:hidden"
                alt="clients"
              />
              <img
                src="./images/icons/client-logo-9-dark.svg"
                class="w-full h-full hidden dark:block"
                alt="clients"
              />
            </figure>
            <figure class="min-w-[140px] md:min-w-[201px]">
              <img
                src="./images/icons/client-logo-10.svg"
                class="w-full h-full dark:hidden"
                alt="clients"
              />
              <img
                src="./images/icons/client-logo-10-dark.svg"
                class="w-full h-full hidden dark:block"
                alt="clients"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
