<!-- =========================
CTA section
===========================-->
<section class="py-[50px] md:py-20 lg:py-28" aria-label="Use Case Overview">
  <div class="2xl:max-w-[1440px] xl:max-w-[1260px] lg:max-w-[980px] mx-auto xl:px-0 px-5">
    <div
      data-ns-animate
      data-delay="0.1"
      class="xl:py-[100px] md:py-14 py-10 relative xl:px-20 md:px-10 px-6 bg-secondary dark:bg-background-8 rounded-[20px] grid grid-cols-12 xl:gap-[100px] md:gap-y-14 gap-y-10 items-center overflow-hidden"
    >
      <div
        data-ns-animate
        data-delay="0.1"
        data-offset="200"
        class="absolute -z-0 left-7 -bottom-52 -translate-x-1/2 w-[600px] h-[600px] rotate-[120deg] select-none pointer-events-none"
      >
        <figure>
          <img
            src="./images/ns-img-497.png"
            alt="cta-bg"
            class="w-full h-full object-cover"
          />
        </figure>
      </div>
      <div class="col-span-12 xl:col-span-6 relative z-10">
        <div class="space-y-5 xl:max-w-full max-w-[500px] mx-auto xl:mx-0 text-center xl:text-left">
          <span data-ns-animate data-delay="0.1" class="badge badge-blur text-ns-green"
            >{=$submitted-button-text}</span
          >
          <div data-ns-animate data-delay="0.2" class="space-y-3">
            <h2 data-ns-animate data-delay="0.3" class="text-accent">
              Build a complete website using the assistance
            </h2>
            <p data-ns-animate data-delay="0.4" class="text-accent/60">
              Start your free trial today and see your ideas come to life easily and creatively.
            </p>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6 relative z-10">
        <div class="max-w-[462px] mx-auto xl:ml-auto space-y-6 pt-6 lg:pt-12">
          <form
            data-ns-animate
            data-delay="0.5"
            class="flex items-center gap-3 sm:flex-row flex-col"
          >
            <input
              aria-label="email"
              type="email"
              placeholder="Enter your email"
              class="sm:w-auto flex-1 bg-accent/5 px-5 py-3 shadow-1 rounded-full min-h-[48px] h-12 placeholder:text-accent/40 placeholder:text-tagline-1 placeholder:font-normal focus:outline-none focus:border focus:border-primary-600 dark:focus:border-primary-400 text-accent font-normal w-[85%]"
            />
            <button
              type="submit"
              class="btn btn-primary btn-md h-12 sm:w-auto hover:btn-white dark:hover:btn-accent w-[85%]"
            >
              <span>{=$submitted-button-text}</span>
            </button>
          </form>
          <ul
            class="flex sm:flex-row items-center gap-y-5 flex-col sm:gap-x-6 sm:gap-y-0 justify-center sm:justify-start {=$class}"
          >
            <li data-ns-animate data-delay="0.6" class="flex items-center gap-2">
              <span
                class="size-5 rounded-full bg-accent/10 flex shrink-0 items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="text-accent font-normal text-tagline-3 sm:text-tagline-2"
                >No credit card required</span
              >
            </li>
            <li data-ns-animate data-delay="0.7" class="flex items-center gap-2">
              <span
                class="size-5 rounded-full bg-accent/10 flex shrink-0 items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    fill="white"
                  />
                </svg>
              </span>
              <span class="text-accent font-normal text-tagline-3 sm:text-tagline-2"
                >14-Day free trial</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
