<!-- =========================
Feature V2 section
===========================-->
<section class="xl:py-[100px] lg:py-[90px] md:py-20 py-16">
  <div class="main-container md:space-y-[70px] space-y-10">
    <div class="space-y-5 text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">More features</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2" class="max-w-[674px] mx-auto">
          Managing your money has never been easier
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[578px] mx-auto">
          In today's fast-paced world, staying on top of your finances shouldn't feel like a
          chore.With intuitive tools, real-time tracking, and personalized insights
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 lg:gap-8 gap-y-8 items-end">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div class="bg-background-1 dark:bg-background-6 rounded-[20px] px-8 py-14">
          <div class="space-y-4 max-h-[130px]">
            <p class="text-heading-5 font-normal">Expences</p>
            <div class="flex items-start justify-between">
              <ul class="space-y-[3px]">
                <li class="flex items-center gap-2">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Data integration</span
                  >
                </li>
                <li class="flex items-center gap-2">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Shopping</span
                  >
                </li>
                <li class="flex items-center gap-2">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent text-tagline-1 font-normal"
                    >Technology & Solutions</span
                  >
                </li>
              </ul>
              <div class="xl:block lg:hidden block">
                <div class="relative">
                  <svg width="90" height="90" viewBox="0 0 90 90">
                    <circle cx="45" cy="45" r="40" stroke="#F0F2F6" stroke-width="10" fill="none" />
                    <circle
                      cx="45"
                      cy="45"
                      r="40"
                      stroke="#A585FF"
                      stroke-width="10"
                      fill="none"
                      stroke-linecap="round"
                      stroke-dasharray="251.327"
                      stroke-dashoffset="100.531"
                      transform="rotate(-90 45 45)"
                    />
                  </svg>
                  <p
                    class="absolute inset-0 flex items-center justify-center text-heading-6 font-normal text-secondary dark:text-accent"
                  >
                    <span
                      data-counter
                      data-number="60"
                      data-speed="2000"
                      data-interval="200"
                      data-rooms="2"
                      data-height-space="2.4"
                      >60</span
                    >%
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full h-px my-8 bg-stroke-4 dark:bg-stroke-8"></div>
          <div class="space-y-3">
            <h3 class="text-heading-5 font-normal line-clamp-1">Manage project finances</h3>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate
              nis tellus nibh tristique sit felis.
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div class="bg-background-1 dark:bg-background-6 rounded-[20px] px-8 py-14">
          <figure class="max-w-[344px] min-h-[130px] mx-auto">
            <img
              src="./images/ns-img-82.png"
              alt="data process chart"
              class="block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-56.png"
              alt="data process chart"
              class="hidden dark:block"
            />
          </figure>
          <div class="w-full h-px my-8 bg-stroke-4 dark:bg-stroke-8"></div>
          <div class="space-y-3">
            <h3 class="text-heading-5 font-normal line-clamp-1">Streamlined data processes</h3>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate
              nis tellus nibh tristique sit felis.
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div class="bg-background-1 dark:bg-background-6 rounded-[20px] px-8 py-14">
          <figure class="max-w-[344px] min-h-[130px] mx-auto">
            <img
              src="./images/ns-img-83.png"
              alt="data process chart"
              class="block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-57.png"
              alt="data process chart"
              class="hidden dark:block"
            />
          </figure>
          <div class="w-full h-px my-8 bg-stroke-4 dark:bg-stroke-8"></div>
          <div class="space-y-3">
            <h3 class="text-heading-5 font-normal line-clamp-1">Real-time Analytics & Insights</h3>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate
              nis tellus nibh tristique sit felis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
