<!-- =========================
Pricing section
===========================-->
<section class="xl:py-[100px] md:py-20 py-10">
  <div class="main-container">
    <div class="text-center space-y-3 max-w-[620px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Our pricing</span>
      <h2 data-ns-animate data-delay="0.2">Select the pricing plan that best suits your needs.</h2>
    </div>
    <div data-ns-animate data-delay="0.3" class="mt-7 mb-[34px] mx-auto text-center">
      <label class="relative inline-flex items-center cursor-pointer z-[10]">
        <span class="mr-2.5 text-tagline-1 font-normal text-black dark:text-accent"> Monthly </span>
        <input
          type="checkbox"
          id="priceCheck"
          class="sr-only peer"
          aria-label="Toggle between monthly and yearly pricing"
        />
        <span
          class="relative w-11 h-6 bg-white dark:bg-background-6 border border-stroke-1 dark:border-background-6 rounded-full peer-checked:after:translate-x-4 after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:start-[0px] peer-checked:after:start-[2px] after:rounded-full after:h-6 after:w-6 after:bg-secondary dark:after:bg-accent after:transition-all"
        ></span>
        <span class="ms-2.5 text-tagline-1 font-normal text-black dark:text-accent">Yearly</span>
      </label>
    </div>
    <div class="grid grid-cols-12 lg:gap-8 gap-y-8 items-center justify-center">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div
          class="max-w-[604px] w-full lg:mx-0 mx-auto py-[60px] px-14 bg-background-1 dark:bg-background-6 rounded-[20px]"
        >
          <div>
            <h3>Free</h3>
            <p>Free plan for all users</p>
          </div>
          <div class="mt-11">
            <ul class="space-y-4">
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >2 Workspaces</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >10 collaborators</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary/20 dark:fill-accent/20"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >Unlimited data</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary/20 dark:fill-accent/20"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >Unified Analytics</span
                >
              </li>
            </ul>
          </div>
          <div class="mt-16">
            <a
              href="./online-banking-contact.html"
              class="btn btn-white dark:btn-transparent hover:btn-primary btn-md w-full before:content-none first-letter:uppercase"
              >Get started</a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div
          class="max-w-[604px] w-full lg:mx-0 mx-auto relative py-[60px] px-14 bg-background-1 rounded-[20px] overflow-hidden"
        >
          <div
            class="pointer-events-none select-none absolute h-[598px] top-0 right-0 -translate-y-[27%] max-[425]:translate-y-[30%] md:-translate-y-[47%] lg:-translate-y-[25%] xl:-translate-y-[33%] rotate-[2deg] xl:translate-x-[44%] translate-x-[41%]"
          >
            <img src="./images/ns-img-496.png" alt="pricing bg" />
          </div>

          <span
            class="badge badge-blur bg-ns-green absolute z-30 top-3 text-secondary font-medium text-sm px-1.5 sm:px-3.5 py-1.5 rounded-[36px] max-[425]:ms-56 ms-44 md:ms-[420px] lg:ms-36 xl:ms-56 lp:ms-64"
          >
            Save 40%
          </span>

          <div class="space-y-2">
            <div class="flex gap-1 items-center price-month">
              <h3 class="text-secondary inline-block">$40</h3>
              <span class="text-tagline-2 mt-3 font-normal text-secondary">/Month</span>
            </div>
            <div class="flex gap-1 items-center price-year">
              <h3 class="text-secondary inline-block">$140</h3>
              <span class="text-tagline-2 mt-3 font-normal text-secondary">/Month</span>
            </div>
            <p class="text-secondary/60">Ideal for small businesses</p>
          </div>
          <div class="mt-11">
            <ul class="space-y-4">
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect width="20" height="20" rx="10" fill="" class="fill-secondary" />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent"
                    />
                  </svg>
                </span>
                <span class="text-secondary/60 font-normal text-tagline-1"> 2 Workspaces </span>
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect width="20" height="20" rx="10" fill="" class="fill-secondary" />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent"
                    />
                  </svg>
                </span>
                <span class="text-secondary/60 font-normal text-tagline-1"> 10 collaborators </span>
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect width="20" height="20" rx="10" fill="" class="fill-secondary" />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent"
                    />
                  </svg>
                </span>
                <span class="text-secondary/60 font-normal text-tagline-1"> Unlimited data </span>
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect width="20" height="20" rx="10" fill="" class="fill-secondary/20" />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent/80 dark:fill-accent/60"
                    />
                  </svg>
                </span>
                <span class="text-secondary/60 font-normal text-tagline-1">Unlimited data</span>
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect width="20" height="20" rx="10" fill="" class="fill-secondary/20" />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent/80 dark:fill-accent/60"
                    />
                  </svg>
                </span>
                <span class="text-secondary/60 font-normal text-tagline-1">Unified Analytics</span>
              </li>
            </ul>
          </div>
          <div class="mt-16">
            <a
              href="./online-banking-contact.html"
              class="btn btn-primary btn-md w-full hover:btn-secondary dark:hover:btn-accent before:content-none first-letter:uppercase"
              >Get started</a
            >
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div
          class="max-w-[604px] w-full lg:mx-0 mx-auto py-[60px] px-14 bg-background-1 dark:bg-background-6 rounded-[20px]"
        >
          <div class="space-y-2">
            <div class="flex gap-1 items-center price-month">
              <h3 class="inline-block">$60</h3>
              <span class="text-tagline-2 mt-3 font-normal text-secondary dark:text-accent"
                >/Month</span
              >
            </div>
            <div class="flex gap-1 items-center price-year">
              <h3 class="inline-block">$260</h3>
              <span class="text-tagline-2 mt-3 font-normal text-secondary dark:text-accent"
                >/Month</span
              >
            </div>
            <p>Ideal for small businesses</p>
          </div>
          <div class="mt-11">
            <ul class="space-y-4">
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >2 Workspaces</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >10 collaborators</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >Unlimited data</span
                >
              </li>
              <li class="flex items-center gap-3.5">
                <span>
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary/20 dark:fill-accent/20"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-accent dark:fill-black"
                    />
                  </svg>
                </span>
                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >Unified Analytics</span
                >
              </li>
            </ul>
          </div>
          <div class="mt-16">
            <a
              href="./online-banking-contact.html"
              class="btn btn-white dark:btn-transparent hover:btn-primary btn-md w-full before:content-none first-letter:uppercase"
              >Get started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
