<!-- ============================
    CTA Section
    ============================= -->

<section
  class="pb-16 pt-16 md:pb-20 md:pt-20 lg:pb-[90px] lg:pt-[90px] xl:pb-[100px] xl:pt-[100px] bg-white dark:bg-background-8"
>
  <div class="main-container">
    <div class="text-center space-y-5 mb-8">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Journal</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">Start selling smarter today</h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[534px] mx-auto">
          Pellentesque lectus cum neque cursus sapien massa laoreet varius. Ultricies faucibus donec
          tellus cras ornare.
        </p>
      </div>
    </div>
    <div class="space-y-8 mb-[38px]">
      <form
        data-ns-animate
        data-delay="0.4"
        action="#"
        method="post"
        class="flex flex-col sm:flex-row items-center justify-center gap-3"
      >
        <input
          type="email"
          name="email"
          id="userEmail"
          placeholder="Enter your email"
          required
          class="px-[18px] h-12 outline-none py-3 shadow-1 placeholder:text-secondary/50 rounded-full border border-stroke-1 dark:border-stroke-7 dark:bg-background-6 dark:placeholder:text-accent/50 max-w-[340px] w-[85%] sm:w-full placeholder:font-normal font-normal"
        />
        <button
          type="submit"
          class="btn btn-md hover:btn-secondary dark:hover:btn-accent btn-primary h-12 w-[85%] sm:w-auto block sm:inline-block"
        >
          <span>Get started</span>
        </button>
      </form>
      <ul
        class="flex items-center flex-col sm:flex-row gap-y-5 sm:gap-y-0 justify-center gap-x-[42px]"
      >
        <li data-ns-animate data-delay="0.5" class="flex items-center justify-center gap-2">
          <span
            class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              aria-hidden="true"
              class="shrink-0"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <p class="text-tagline-2">No credit card required</p>
        </li>

        <li data-ns-animate data-delay="0.6" class="flex items-center justify-center gap-2">
          <span
            class="size-[18px] bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              aria-hidden="true"
              class="shrink-0"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          <p class="text-tagline-2">14 days free trial</p>
        </li>
      </ul>
    </div>
  </div>
</section>
