<!-- =================
    Features section
 =================== -->

<section
  class="pt-20 md:pt-[100px] lg:pt-36 xl:pt-[200px] pb-[100px] lg:pb-36 xl:pb-[200px] dark:bg-background-5"
>
  <div class="main-container">
    <div class="space-y-3 md:space-y-5 mb-8 lg:mb-[72px] text-center max-w-[776px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Features</span>
      <h2 data-ns-animate data-delay="0.2">
        Robust tools to enhance your property management business.
      </h2>
    </div>

    <!-- Features Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Card 1: Image -->
      <figure data-ns-animate data-delay="0.3" class="rounded-[20px] max-w-[629px] overflow-hidden">
        <img
          src="./images/ns-img-224.png"
          class="w-full h-full object-cover"
          alt="Modern house"
        />
      </figure>
      <!-- Card 2: Stats -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="bg-secondary dark:bg-[#000203] max-w-[629px] rounded-[20px] p-8 z-0 relative overflow-hidden"
      >
        <div class="absolute -top-5 left-0 w-full h-full">
          <img
            src="./images/ns-img-225.png"
            alt="Modern house"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div
            class="space-y-1 flex flex-col items-start min-h-[165px] justify-center relative p-8 pt-9 bg-white/15 dark:bg-accent/5 backdrop-blur-[25px] rounded-2xl"
          >
            <!-- Positioning icon -->
            <div class="absolute top-7 right-7">
              <span class="ns-shape-10 text-[36px] text-accent"></span>
            </div>
            <span class="text-tagline-1 text-accent/60">Building age</span>
            <h3 class="text-background-4 flex items-center gap-2 text-heading-3">
              <span
                data-counter
                data-number="10"
                data-speed="1000"
                data-interval="180"
                data-rooms="2"
                data-height-space="2.2"
                >10</span
              >
              <span class="font-inherit">Y</span>
            </h3>
          </div>

          <!-- Daily visitors -->
          <div
            class="space-y-1 flex flex-col items-start min-h-[165px] justify-center relative p-8 pt-9 bg-white/15 dark:bg-accent/5 backdrop-blur-[25px] rounded-2xl"
          >
            <!-- component-structure-white icon -->
            <div class="absolute top-7 right-7">
              <span class="ns-shape-12 text-[36px] text-accent"></span>
            </div>
            <span class="text-tagline-1 text-accent/60">Daily visitors</span>
            <h3 class="text-background-4 flex items-center gap-2 text-heading-3">
              <span
                data-counter
                data-number="8950"
                data-speed="1500"
                data-interval="180"
                data-rooms="4"
                data-height-space="2.2"
                >8,950</span
              >
            </h3>
          </div>

          <!-- Temperature -->
          <div
            class="space-y-1 flex flex-col items-start min-h-[165px] justify-center relative p-8 pt-9 bg-white/15 dark:bg-accent/5 backdrop-blur-[25px] rounded-2xl"
          >
            <!-- Positioning icon -->
            <div class="absolute top-7 right-7">
              <span class="ns-shape-11 text-[36px] text-accent"></span>
            </div>
            <span class="text-tagline-1 text-accent/60">Temperature</span>
            <h3 class="text-background-4 flex items-center gap-2 text-heading-3">
              <span
                data-counter
                data-number="34"
                data-speed="1000"
                data-interval="180"
                data-rooms="2"
                data-height-space="2.2"
                >34</span
              >
              <span class="font-inherit">°F</span>
            </h3>
          </div>
          <!-- Occupancy rate -->
          <div
            class="space-y-1 flex flex-col items-start min-h-[165px] justify-center relative p-8 pt-9 bg-white/15 dark:bg-accent/5 backdrop-blur-[25px] rounded-2xl"
          >
            <div class="absolute top-7 right-7">
              <span class="ns-shape-9 text-[36px] text-accent"></span>
            </div>

            <span class="text-tagline-1 text-accent/60">Occupancy rate</span>
            <h3 class="text-background-4 flex items-center gap-2 text-heading-3">
              <span
                data-counter
                data-number="85"
                data-speed="1000"
                data-interval="180"
                data-rooms="2"
                data-height-space="2.2"
                >85</span
              >
              <span class="font-inherit">%</span>
            </h3>
          </div>
        </div>
      </div>
      <!-- Card 3: Discover surroundings -->

      <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
        <blockquote data-ns-animate data-delay="0.5" class="space-y-8">
          <div class="bg-ns-yellow rounded-[20px] space-y-8 p-8">
            <figure>
              <div class="flex -space-x-2.5 cursor-pointer" role="list" aria-label="Team members">
                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-9.png"
                  alt="Team member 1"
                />

                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-12.png"
                  alt="Team member 3"
                />
                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-1.png"
                  alt="Team member 3"
                />
                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-2.png"
                  alt="Team member 3"
                />

                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-4.png"
                  alt="Team member 3"
                />
                <img
                  class="inline-block size-[38px] object-cover object-center rounded-full ring-2 ring-background-4 dark:ring-background-9 bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-5.png"
                  alt="Team member 3"
                />
                <div
                  class="inline-flex items-center justify-center size-[38px] rounded-full ring-2 ring-background-4 dark:ring-background-9 text-secondary/80 dark:text-accent bg-ns-cyan text-tagline-2 font-medium"
                >
                  20+
                </div>
              </div>
            </figure>
            <h3 class="text-xl font-normal dark:text-secondary leading-[1.5]">
              Discover the <br />
              surroundings.
            </h3>
          </div>
          <figure
            class="bg-secondary dark:bg-accent flex justify-center items-center rounded-[20px] p-8"
          >
            <img
              src="./images/ns-img-231.png"
              alt="user-activity-progress"
              class="block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-156.png"
              alt="user-activity-progress"
              class="hidden dark:block"
            />
          </figure>
        </blockquote>
        <div
          data-ns-animate
          data-delay="0.6"
          class="p-8 bg-accent dark:bg-background-8 shadow-1 flex flex-col justify-between rounded-[20px]"
        >
          <div class="flex items-start justify-between">
            <h3 class="text-heading-5">Tenants</h3>
            <figure class="relative">
              <img
                src="./images/ns-avatar-8.png"
                class="inline-block size-[70px] object-cover object-center rounded-full bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                alt="avatar"
              />
              <img
                src="./images/ns-avatar-11.png"
                class="inline-block size-[50px] object-cover object-center rounded-full bg-linear-[156deg,#FFF_32.92%,#A585FF_91%] absolute top-8 right-7"
                alt="avatar"
              />
              <img
                src="./images/ns-avatar-3.png"
                alt="avatar"
                class="inline-block size-[50px] object-cover object-center rounded-full bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
              />
            </figure>
          </div>
          <p class="text-xl max-xl:mt-4 font-normal leading-[1.5]">
            Join over 800 active tenants enjoying the perks of being part of our vibrant community,
            where you can connect with neighbors
          </p>
        </div>
      </div>
      <!-- Card 4 Image -->
      <figure
        data-ns-animate
        data-delay="0.7"
        class="rounded-[20px] lg:max-w-[629px] overflow-hidden"
      >
        <div data-ns-animate data-delay="0.1" class="dark:bg-background-6">
          <div id="map" class="w-full min-h-[300px] md:min-h-[438px]"></div>
        </div>
      </figure>
    </div>
  </div>
</section>
