<!-- =================
    Feature Highlights section
 =================== -->

<section
  class="bg-background-1 dark:bg-background-6 pb-24 pt-20 md:pb-28 md:pt-32 lg:pb-36 lg:pt-36 xl:pb-[200px] xl:pt-[200px] overflow-hidden"
>
  <div class="main-container flex flex-col-reverse lg:flex-row items-center gap-y-14 lg:gap-x-24">
    <div class="md:flex-1 flex flex-col items-center sm:items-start text-center sm:text-left">
      <div class="space-y-5 mb-14">
        <span data-ns-animate data-delay="0.1" class="badge badge-green">
          Reasons to select us
        </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2" class="max-w-[535px]">
            Modern tools built for today’s property teams.
          </h2>
          <p data-ns-animate data-delay="0.3" class="max-w-[508px]">
            Streamline operations, reduce manual tasks, and maximize revenue.
          </p>
        </div>
      </div>
      <ul class="space-y-2">
        <li
          data-ns-animate
          data-delay="0.4 "
          class="text-tagline-1 text-left font-medium flex items-center gap-4 md:py-2 md:px-3 dark:text-accent"
        >
          <span class="ns-shape-10 text-[36px] text-secondary dark:text-accent"></span>
          Unified dashboard for all properties & tenants
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          class="text-tagline-1 text-left font-medium flex items-center gap-4 md:py-2 md:px-3 dark:text-accent"
        >
          <span class="ns-shape-21 text-[36px] text-secondary dark:text-accent"></span>
          Automated rent collection & reminders
        </li>
        <li
          data-ns-animate
          data-delay="0.6"
          class="text-tagline-1 text-left font-medium flex items-center gap-4 md:py-2 md:px-3 dark:text-accent"
        >
          <span class="ns-shape-11 text-[36px] text-secondary dark:text-accent"></span>
          Online maintenance requests & work orders
        </li>
        <li
          data-ns-animate
          data-delay="0.7"
          class="text-tagline-1 text-left font-medium flex items-center gap-4 md:py-2 md:px-3 dark:text-accent"
        >
          <span class="ns-shape-12 text-[36px] text-secondary dark:text-accent"></span>
          AI-powered tenant screening
        </li>
        <li
          data-ns-animate
          data-delay="0.8"
          class="text-tagline-1 text-left font-medium flex items-center gap-4 md:py-2 md:px-3 dark:text-accent"
        >
          <span class="ns-shape-13 text-[36px] text-secondary dark:text-accent"></span>
          Real-time financial insights
        </li>
      </ul>
    </div>

    <div class="md:flex-1 flex justify-start w-full lg:w-auto">
      <figure class="relative w-full lg:w-[500px]">
        <div
          data-ns-animate
          data-delay="0.7"
          data-direction="right"
          data-offset="100"
          class="rounded-2xl overflow-hidden absolute top-[8%] -right-2 sm:-right-4 lg:left-[50%] xl:left-[60%] 2xl:left-[68%] w-[200px] md:w-[253px] z-10"
        >
          <img
            src="./images/ns-img-235.svg"
            alt="features"
            class="w-full h-full object-cover inline-block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-157.svg"
            alt="features"
            class="w-full h-full object-cover hidden dark:block"
          />
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          data-direction="right"
          data-offset="100"
          class="absolute top-[13%] right-0 sm:right-2 lg:right-[1%] xl:-right-[10%] 2xl:-right-[23%] w-[92px] z-10"
        >
          <div
            data-ns-animate
            data-delay="0.8"
            data-direction="up"
            data-offset="150"
            class="text-heading-6 md:text-heading-5 font-normal flex items-center justify-center -rotate-[14deg] py-1 px-2 bg-ns-yellow rounded-[8px]"
          >
            <span
              data-counter
              data-number="20"
              data-speed="2000"
              data-interval="200"
              data-rooms="2"
            >
              20
            </span>
            <span>%</span>
          </div>
        </div>
        <div data-ns-animate data-delay="0.5" class="w-full">
          <img src="./images/ns-img-236.png" alt="features" class="w-full" />
        </div>
        <div
          data-ns-animate
          data-delay="0.8"
          data-direction="right"
          data-offset="100"
          class="absolute bottom-1/12 left-[0%] sm:left-[40%] md:left-[0%] lg:left-[23%] xl:left-[30%] 2xl:left-[40%] rounded-md md:rounded-2xl overflow-hidden w-[200px] sm:w-[340px] md:w-[395px] shadow-2"
        >
          <img
            src="./images/ns-img-240.png"
            alt="features"
            class="w-full h-full shadow-5 block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-161.png"
            alt="transaction-statistics"
            class="hidden dark:block rounded-[20px] shadow-5 max-w-[200px] md:max-w-full"
          />
        </div>
      </figure>
    </div>
  </div>
</section>
