<!-- =================
    Features v2 section
 =================== -->

<section class="py-20 md:py-[100px] lg:py-36 xl:py-[200px] bg-background-3 dark:bg-background-7">
  <div class="main-container">
    <div class="space-y-3 md:space-y-5 mb-10 lg:mb-[72px] text-center max-w-[665px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Features</span>
      <h2 data-ns-animate data-delay="0.2">Powerful features to elevate your business</h2>
    </div>
    <div class="grid grid-cols-12 justify-items-center sm:gap-x-8 gap-y-14">
      <!-- First row -->
      <article
        data-ns-animate
        data-delay="0.3"
        class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="rounded-[20px] overflow-hidden max-w-[408px]">
          <img
            src="./images/ns-img-226.png"
            class="w-full h-full object-cover block dark:hidden"
            alt="feature-1"
          />
          <img
            src="./images/ns-img-dark-151.png"
            class="w-full h-full object-cover hidden dark:block"
            alt="feature-1"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-6 md:text-heading-5">Smart scheduling</h3>
          <p>Auto-assign tasks & updates in real-time</p>
        </div>
      </article>
      <article
        data-ns-animate
        data-delay="0.4"
        class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="rounded-[20px] overflow-hidden max-w-[408px]">
          <img
            src="./images/ns-img-227.png"
            class="w-full h-full object-cover block dark:hidden"
            alt="feature-2"
          />
          <img
            src="./images/ns-img-dark-152.png"
            class="w-full h-full object-cover hidden dark:block"
            alt="feature-2"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-6 md:text-heading-5">Maintenance tracking</h3>
          <p>Mobile reporting, automated work orders</p>
        </div>
      </article>
      <article
        data-ns-animate
        data-delay="0.5"
        class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="rounded-[20px] overflow-hidden max-w-[408px]">
          <img
            src="./images/ns-img-228.png"
            class="w-full h-full object-cover block dark:hidden"
            alt="feature-3"
          />
          <img
            src="./images/ns-img-dark-153.png"
            class="w-full h-full object-cover hidden dark:block"
            alt="feature-3"
          />
        </figure>
        <div class="space-y-1">
          <h3 class="text-heading-6 md:text-heading-5">Inspections</h3>
          <p>Custom forms, AI damage detection</p>
        </div>
      </article>
      <!-- Second row, centered -->
      <article
        data-ns-animate
        data-delay="0.6"
        class="space-y-3 lg:col-start-3 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="rounded-[20px] overflow-hidden max-w-[408px]">
          <img
            src="./images/ns-img-229.png"
            class="w-full h-full object-cover block dark:hidden"
            alt="feature-4"
          />
          <img
            src="./images/ns-img-dark-154.png"
            class="w-full h-full object-cover hidden dark:block"
            alt="feature-4"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 md:text-heading-5">Inventory management</h3>
          <p>Track usage & sync costs with QuickBooks</p>
        </div>
      </article>
      <article
        data-ns-animate
        data-delay="0.7"
        class="space-y-3 lg:col-start-7 col-span-12 md:col-span-6 lg:col-span-4"
      >
        <figure class="rounded-[20px] overflow-hidden max-w-[408px]">
          <img
            src="./images/ns-img-230.png"
            class="w-full h-full object-cover block dark:hidden"
            alt="feature-4"
          />
          <img
            src="./images/ns-img-dark-155.png"
            class="w-full h-full object-cover hidden dark:block"
            alt="feature-4"
          />
        </figure>
        <div>
          <h3 class="text-heading-6 md:text-heading-5">Guest & staff messaging</h3>
          <p>Automated check-ins, in-app communication</p>
        </div>
      </article>
    </div>
  </div>
</section>
