<!-- =================
    Hero Section
 =================== -->

<section
  class="hero-section relative bg-[url('/images/ns-img-223.png')] h-screen bg-cover object-cover object-top bg-center bg-no-repeat pt-[150px] lg:pt-[200px] pb-[100px] after:absolute after:content-[''] after:z-0 after:w-full after:h-[454px] after:bg-gradient-to-b after:from-[rgba(255, 255, 255, 0.00)] dark:after:from-[rgba(0, 0, 0, 0.00)] after:from-[20.1%] after:to-background-2 dark:after:to-background-8 after:to-[91.31%] after:bottom-0 after:left-1/2 after:-translate-x-1/2"
>
  <div class="main-container">
    <div class="text-center space-y-2 md:space-y-4 mb-9 lg:mb-14">
      <span data-ns-animate data-delay="0.1" class="mb-6 inline-block badge badge-blur-v2">
        Smart property management software
      </span>

      <h1
        data-ns-animate
        data-delay="0.2"
        class="text-accent dark:text-secondary lg:max-w-5xl lg:mx-auto"
      >
        Simplify property management. boost occupancy.
      </h1>
      <p
        data-ns-animate
        data-delay="0.3"
        class="lg:max-w-[806px] lg:mx-auto text-accent/80 dark:text-secondary/80"
      >
        All-in-one platform to manage tenants, automate rent, streamline maintenance, and grow your
        rental business.
      </p>
    </div>
    <div data-ns-animate data-delay="0.4" class="text-center relative z-30">
      <a
        href="./property-management-software-pricing.html"
        class="btn btn-secondary hover:btn-white dark:btn-accent dark:hover:btn-white-dark btn-lg md:btn-xl block md:inline-block w-[90%] md:w-auto mx-auto"
      >
        <span>Request a demo</span>
      </a>
    </div>

    <!-- Client Logos -->

    <div
      data-ns-animate
      data-delay="0.5"
      data-instant
      class="logos-marquee-container absolute bottom-[20px] lg:bottom-[10px] left-1/2 -translate-x-1/2 z-10 lg:!max-w-[740px] overflow-hidden mx-auto before:absolute before:content-[''] before:w-40 before:h-10 before:bg-gradient-to-l before:from-transparent before:to-background-2 dark:before:to-background-8 before:-left-5 before:top-0 before:z-40 after:absolute after:content-[''] after:w-40 after:h-10 after:bg-gradient-to-r after:from-transparent after:to-background-2 dark:after:to-background-8 after:right-0 after:top-0 after:z-20 max-sm:bottom-[-20px]"
    >
      <div class="flex items-center justify-center gap-8">
        <figure class="min-w-36 max-w-max ml-8">
          <img
            src="./images/icons/client-logo-1.svg"
            alt="Client logo"
            class="lg:w-auto block dark:hidden"
          />
          <img
            src="./images/icons/client-logo-dark-1.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="min-w-36 max-w-max">
          <img
            src="./images/icons/client-logo-2.svg"
            alt="Client logo"
            class="lg:w-auto block dark:hidden"
          />
          <img
            src="./images/icons/client-logo-dark-2.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="min-w-36 max-w-max">
          <img
            src="./images/icons/client-logo-3.svg"
            alt="Client logo"
            class="lg:w-auto block dark:hidden"
          />
          <img
            src="./images/icons/client-logo-dark-3.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="min-w-36 max-w-max">
          <img
            src="./images/icons/client-logo-4.svg"
            alt="Client logo"
            class="lg:w-auto block dark:hidden"
          />
          <img
            src="./images/icons/client-logo-dark-4.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="min-w-36 max-w-max">
          <img
            src="./images/icons/client-logo-5.svg"
            alt="Client logo"
            class="lg:w-auto block dark:hidden"
          />
          <img
            src="./images/icons/client-logo-dark-5.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
