<!-- =================
    Industry Categories Section
 =================== -->

<section class="py-20 md:py-[100px] lg:py-36 xl:py-[200px] bg-background-3 dark:bg-background-7">
  <div class="main-container">
    <div class="space-y-3 mb-10 md:mb-[72px] text-center max-w-[595px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="mb-5 badge badge-green">integration</span>
      <h2 data-ns-animate data-delay="0.2">Industries we serve</h2>
      <p data-ns-animate data-delay="0.3">
        we deliver tailored solutions that meet the unique needs of each sector. Our cross-industry
        expertise allows us to innovate, adapt, and drive results that
      </p>
    </div>

    <div class="grid grid-cols-12 md:gap-x-8 gap-y-14">
      <article data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative">
          <a href="./property-management-software-integration.html">
            <figure class="max-w-full lg:max-w-[408px] rounded-[12px] overflow-hidden">
              <img
                src="./images/ns-img-232.png"
                alt="industry-1"
                class="w-full h-full object-cover group-hover:scale-[108%] group-hover:rotate-[3deg] transition-transform will-change-transform duration-500"
              />
            </figure>
            <div
              class="bg-secondary/40 dark:bg-accent/40 p-6 rounded-lg backdrop-blur-[12px] absolute bottom-2.5 w-[calc(100%-20px)] left-1/2 -translate-x-1/2 text-center"
            >
              <h3 class="text-heading-6 md:text-heading-5 text-white dark:text-secondary">
                Vacation rentals
              </h3>
              <p class="text-tagline-2 text-accent/80 max-w-[295px] mx-auto dark:text-secondary/80">
                Enjoy fully furnished spaces with amenities like full kitchens,
              </p>
            </div>
          </a>
        </div>
      </article>
      <!-- card 2 -->
      <article data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative">
          <a href="./property-management-software-integration.html">
            <figure class="max-w-full lg:max-w-[408px] rounded-[12px] overflow-hidden">
              <img
                src="./images/ns-img-233.png"
                alt="industry-1"
                class="w-full h-full object-cover group-hover:scale-[108%] group-hover:rotate-[3deg] transition-transform will-change-transform duration-500"
              />
            </figure>
            <div
              class="bg-secondary/40 dark:bg-accent/40 p-6 rounded-lg backdrop-blur-[12px] absolute bottom-2.5 w-[calc(100%-20px)] left-1/2 -translate-x-1/2 text-center"
            >
              <h3 class="text-heading-6 md:text-heading-5 text-white dark:text-secondary">
                Corporate housing
              </h3>
              <p class="text-tagline-2 text-accent/80 dark:text-secondary/80 max-w-[295px] mx-auto">
                Corporate housing offers a convenient and comfortable living solution for business
              </p>
            </div>
          </a>
        </div>
      </article>
      <!-- card 3 -->
      <article data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="group relative">
          <a href="./property-management-software-integration.html">
            <figure class="max-w-full lg:max-w-[408px] rounded-[12px] overflow-hidden">
              <img
                src="./images/ns-img-234.png"
                alt="industry-1"
                class="w-full h-full object-cover group-hover:scale-[108%] group-hover:rotate-[3deg] transition-transform will-change-transform duration-500"
              />
            </figure>
            <div
              class="bg-secondary/40 dark:bg-accent/40 p-6 rounded-lg backdrop-blur-[12px] absolute bottom-2.5 w-[calc(100%-20px)] left-1/2 -translate-x-1/2 text-center"
            >
              <h3 class="text-heading-6 md:text-heading-5 text-white dark:text-secondary">
                Hotels & resorts
              </h3>
              <p class="text-tagline-2 text-accent/80 dark:text-secondary/80 max-w-[295px] mx-auto">
                Discover a world where comfort meets elegance. Our curated collection of hotels
              </p>
            </div>
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
