<!-- =========================
FAQ section
===========================-->
<section class="md:pt-[100px] pt-[50px] md:pb-[200px] pb-[100px]">
  <div class="main-container">
    <div class="text-center space-y-5 max-w-[620px] mx-auto mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">FAQ</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">Commonly asked questions</h2>
        <p data-ns-animate data-delay="0.3">
          By offering concise and informative responses, this section helps users find solutions
          without the need to contact customer support, saving time
        </p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.4" class="sm:max-w-[850px] max-w-full sm:mx-auto space-y-4">
      <div class="bg-background-1 dark:bg-background-6 rounded-[20px] sm:px-8 px-6 accordion-item">
        <button
          class="accordion-action flex items-center cursor-pointer justify-between sm:pt-8 pt-6 sm:pb-8 pb-6 w-full"
        >
          <span
            class="flex-1 text-left sm:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
          >
            What is the primary role of a business agency?
          </span>
          <Component src="src/components/shared/accordion-icon.htm" />
        </button>
        <div class="accordion-content">
          <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
            <p>
              When collaborating with a business agency, you can generally expect an extensive array
              of services designed to not only support your current operations but also to foster
              growth and innovation within your business. These services often include strategic
              planning, marketing solutions, financial consulting, and operational improvements.
            </p>
          </div>
        </div>
      </div>
      <div class="bg-background-1 dark:bg-background-6 rounded-[20px] sm:px-8 px-6 accordion-item">
        <button
          class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
        >
          <span
            class="flex-1 text-left sm:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
          >
            What kinds of services should I anticipate from a business agency?
          </span>
          <Component src="src/components/shared/accordion-icon.htm" />
        </button>
        <div class="accordion-content">
          <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
            <p>
              When collaborating with a business agency, you can generally expect an extensive array
              of services designed to not only support your current operations but also to foster
              growth and innovation within your business. These services often include strategic
              planning, marketing solutions, financial consulting, and operational improvements.
            </p>
          </div>
        </div>
      </div>
      <div class="bg-background-1 dark:bg-background-6 rounded-[20px] sm:px-8 px-6 accordion-item">
        <button
          class="accordion-action flex items-center cursor-pointer justify-between sm:pt-8 pt-6 sm:pb-8 pb-6 w-full"
        >
          <span
            class="flex-1 text-left sm:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
          >
            How often should I consider updating my website?
          </span>
          <Component src="src/components/shared/accordion-icon.htm" />
        </button>
        <div class="accordion-content">
          <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
            <p>
              When collaborating with a business agency, you can generally expect an extensive array
              of services designed to not only support your current operations but also to foster
              growth and innovation within your business. These services often include strategic
              planning, marketing solutions, financial consulting, and operational improvements.
            </p>
          </div>
        </div>
      </div>
      <div class="bg-background-1 dark:bg-background-6 rounded-[20px] sm:px-8 px-6 accordion-item">
        <button
          class="accordion-action flex items-center cursor-pointer justify-between sm:pt-8 pt-6 sm:pb-8 pb-6 w-full"
        >
          <span
            class="flex-1 text-left sm:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
          >
            How often is it recommended to refresh my website?
          </span>
          <Component src="src/components/shared/accordion-icon.htm" />
        </button>
        <div class="accordion-content">
          <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
            <p>
              When collaborating with a business agency, you can generally expect an extensive array
              of services designed to not only support your current operations but also to foster
              growth and innovation within your business. These services often include strategic
              planning, marketing solutions, financial consulting, and operational improvements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
