<!-- =========================
process Steps section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[72px]">
      <h2 data-ns-animate data-delay="0.3" class="max-w-[552px] mx-auto">
        From sign-up to success in just a few steps
      </h2>
      <p data-ns-animate data-delay="0.4" class="max-w-[692px] mx-auto">
        We make it easy to Get started, simple to scale, and seamless to succeed. Whether you're
        using one feature or the full suite, NextSaaS is built to support you every step of the way.
      </p>
    </div>
    <div class="grid grid-cols-12 md:gap-8 gap-y-5">
      <!-- Top Row -->
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          data-ns-animate
          data-delay="0.3"
          class="sm:p-8 p-5 bg-background-1 dark:bg-background-6 rounded-[20px] space-y-8 h-full flex flex-col"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-2 text-secondary dark:text-accent">Step 1</p>
            <span class="ns-shape-36 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-4 flex-1">
            <h3 class="sm:text-heading-5 text-heading-6 font-normal">Create your account</h3>
            <p>
              Choose a plan that fits your needs and start exploring the platform with a free trial.
            </p>
            <ul
              class="text-tagline-1 font-normal text-secondary/60 space-y-2 list-disc list-inside dark:text-accent/60"
            >
              <li>Quick signup process</li>
              <li>No setup fees</li>
              <li>Instant access to your dashboard</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          data-ns-animate
          data-delay="0.4"
          class="card-item sm:p-8 p-5 bg-background-1 dark:bg-background-6 rounded-[20px] space-y-8 h-full flex flex-col"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-2 text-secondary dark:text-accent">Step 2</p>
            <span class="ns-shape-8 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-4 flex-1">
            <h3 class="sm:text-heading-5 text-heading-6 font-normal">Customize your workspace</h3>
            <p>Use templates to set up your team, workflows, integrations, and brand.</p>
            <ul
              class="text-tagline-1 font-normal text-secondary/60 space-y-2 list-disc list-inside dark:text-accent/60"
            >
              <li>Choose what to track</li>
              <li>Add users and set permissions</li>
              <li>Connect your favorite tools</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          data-ns-animate
          data-delay="0.5"
          class="card-item sm:p-8 p-5 bg-background-1 dark:bg-background-6 rounded-[20px] space-y-8 h-full flex flex-col"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-2 text-secondary dark:text-accent">Step 3</p>
            <span class="ns-shape-2 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-4 flex-1">
            <h3 class="sm:text-heading-5 text-heading-6 font-normal">Automate &amp; collaborate</h3>
            <p>
              Choose a plan that fits your needs and start exploring the platform with a free trial.
            </p>
            <ul
              class="text-tagline-1 font-normal text-secondary/60 space-y-2 list-disc list-inside dark:text-accent/60"
            >
              <li>Drag-and-drop automation</li>
              <li>Task routing & approvals</li>
              <li>Notifications & real-time sync</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Bottom Row -->
      <div class="col-span-12 md:col-span-6 lg:col-span-4 lg:col-start-3">
        <div
          data-ns-animate
          data-delay="0.6"
          class="card-item sm:p-8 p-5 bg-background-1 dark:bg-background-6 rounded-[20px] space-y-8 h-full flex flex-col"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-2 text-secondary dark:text-accent">Step 4</p>
            <span class="ns-shape-36 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-4 flex-1">
            <h3 class="sm:text-heading-5 text-heading-6 font-normal">Create your account</h3>
            <p>
              Choose a plan that fits your needs and start exploring the platform with a free trial.
            </p>
            <ul
              class="text-tagline-1 font-normal text-secondary/60 space-y-2 list-disc list-inside dark:text-accent/60"
            >
              <li>Quick signup process</li>
              <li>No setup fees</li>
              <li>Instant access to your dashboard</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          data-ns-animate
          data-delay="0.7"
          class="card-item sm:p-8 p-5 bg-background-1 dark:bg-background-6 rounded-[20px] space-y-8 h-full flex flex-col"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-2 text-secondary dark:text-accent">Step 5</p>
            <span class="ns-shape-8 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-4 flex-1">
            <h3 class="sm:text-heading-5 text-heading-6 font-normal">Customize your workspace</h3>
            <p>
              Use templates or build your own dashboards, workflows, and integrations that reflect
            </p>
            <ul
              class="text-tagline-1 font-normal text-secondary/60 space-y-2 list-disc list-inside dark:text-accent/60"
            >
              <li>Choose what to track</li>
              <li>Add users and set permissions</li>
              <li>Connect your favorite tools</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
