<!-- =========================
Feature V2 section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-24 md:pb-24 lg:pb-[140px] xl:pb-[150px]"
>
  <div class="main-container space-y-[220px] md:space-y-[300px] xl:space-y-[300px]">
    <!-- Features 1 Section -->
    <div
      class="flex flex-col gap-x-5 lg:gap-x-20 gap-y-28 sm:gap-y-24 md:gap-y-20 items-start lg:flex-row justify-between"
    >
      <div class="w-full lg:w-1/2">
        <div class="space-y-3 mb-10 lg:mb-14 text-center md:text-left px-4 sm:px-0">
          <h2 data-ns-animate data-delay="0.1">
            Real-time messaging for exceptional
            <span class="text-primary-500">customer interactions.</span>
          </h2>
          <p data-ns-animate data-delay="0.2" class="lg:max-w-[462px]">
            Provide live chat support to your customers. our chatbot effortlessly hands off to human
            agents when necessary.
          </p>
        </div>
        <div data-ns-animate data-delay="0.3" class="flex justify-center md:justify-start">
          <a
            href="./ai-chatbot-about.html"
            class="btn btn-md block md:inline-block btn-white w-[90%] md:w-auto dark:btn-transparent hover:btn-primary"
          >
            <span>Get started</span>
          </a>
        </div>
      </div>
      <div class="relative w-full lg:w-1/2 -mt-20">
        <figure data-ns-animate data-delay="0.4" class="max-w-full lg:max-w-[452px] h-auto">
          <img
            src="./images/ns-img-29.png"
            alt="features ./Images"
            class="w-full h-full object-cover object-center"
          />
        </figure>
        <div
          class="absolute space-y-1.5 lg:space-y-3 z-10 -bottom-20 sm:-bottom-8 md:-bottom-16 lg:-bottom-24 -right-3 sm:right-0"
        >
          <figure
            data-ns-animate
            data-delay="0.5"
            data-spring
            data-duration="2"
            class="max-w-[240px] sm:max-w-[350px] rounded-[20px] overflow-hidden h-auto"
          >
            <img
              src="./images/ns-img-33.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-14.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.6"
            data-spring
            data-duration="2"
            class="max-w-[240px] sm:max-w-[350px] rounded-2xl overflow-hidden h-auto"
          >
            <img
              src="./images/ns-img-34.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-15.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.7"
            data-spring
            data-duration="2"
            class="max-w-[240px] sm:max-w-[350px] rounded-2xl shadow-2 overflow-hidden h-auto"
          >
            <img
              src="./images/ns-img-35.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-16.png"
              alt="Sub features"
              class="w-full h-auto shadow-2 object-center object-cover hidden dark:block"
            />
          </figure>
        </div>
      </div>
    </div>
    <!-- Features 2 Section -->
    <div
      class="flex flex-col-reverse gap-x-5 md:gap-x-10 lg:gap-x-16 2xl:gap-x-24 gap-y-28 sm:gap-y-24 md:gap-y-20 items-center lg:items-start lg:flex-row-reverse justify-between"
    >
      <div class="w-full lg:w-1/2">
        <div class="space-y-3 mb-8 lg:mb-14 text-center md:text-left px-4 sm:px-0">
          <h3 data-ns-animate data-delay="0.3" class="md:text-heading-3 lg:text-heading-2">
            Cutting-edge chatbot solutions for
            <span class="text-primary-500">modern apps.</span>
          </h3>
          <p data-ns-animate data-delay="0.4" class="lg:max-w-[596px]">
            Customize it to align with your brand's personality. tailor the responses, and
            interactions to fit your business identity.
          </p>
        </div>
        <div data-ns-animate data-delay="0.5" class="flex justify-center md:justify-start">
          <a
            href="./ai-chatbot-about.html"
            class="btn btn-md block md:inline-block btn-white dark:btn-transparent hover:btn-primary w-[90%] md:w-auto"
          >
            <span>Get started</span>
          </a>
        </div>
      </div>
      <!-- Features Image -->
      <div class="relative -mt-20 md:-mt-36 w-full lg:w-1/2">
        <figure
          data-ns-animate
          data-delay="0.4"
          class="max-w-full lg:max-w-[452px] h-auto lg:justify-self-end"
        >
          <img
            src="./images/ns-img-30.png"
            alt="features ./Images"
            class="w-full h-full object-cover object-center"
          />
        </figure>
        <div
          class="absolute flex flex-col items-center z-20 top-[55%] -left-3 md:-left-5 lg:-left-2 xl:-left-3 2xl:-left-8"
        >
          <figure
            data-ns-animate
            data-delay="0.5"
            data-spring
            data-duration="2"
            class="max-w-[280px] md:max-w-[320px] md:self-end rounded-[20px] overflow-hidden md:h-[74px]"
          >
            <img
              src="./images/ns-img-36.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-17.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.6"
            data-spring
            data-duration="2"
            class="max-w-[280px] md:max-w-[320px] rounded-2xl object-cover overflow-hidden md:h-[74px] my-1 md:my-2"
          >
            <img
              src="./images/ns-img-37.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-18.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.7"
            data-spring
            data-duration="2"
            class="max-w-[250px] md:max-w-[310px] relative shadow-7 rounded-2xl overflow-hidden z-40 max-h-[72px]"
          >
            <img
              src="./images/ns-img-38.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-19.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.8"
            data-spring
            data-duration="2"
            class="max-w-[200px] md:max-w-[280px] rounded-2xl shadow-7 overflow-hidden max-h-[72px] -mt-[37px] z-30 hidden md:block"
          >
            <img
              src="./images/ns-img-39.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-20.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.9"
            data-spring
            data-duration="2"
            class="max-w-[180px] md:max-w-[260px] rounded-2xl shadow-7 overflow-hidden max-h-[72px] -mt-[37px] z-20 hidden md:block"
          >
            <img
              src="./images/ns-img-40.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-21.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="1"
            data-spring
            data-duration="2"
            class="max-w-[240px] rounded-2xl shadow-7 overflow-hidden max-h-[72px] -mt-[37px]"
          >
            <img
              src="./images/ns-img-41.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-22.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
