<!-- =========================
hero section
===========================-->
<section
  class="relative pt-[140px] md:pt-[200px] 2xl:pt-[250px] pb-16 md:pb-20 lg:pb-[100px] bg-background-2 dark:bg-background-5"
  id="scene"
>
  <!-- BG Dot -->
  <div
    data-ns-animate
    data-delay="1"
    data-duration="2"
    data-spring
    data-offset="0"
    class="absolute opacity-0 animate-pulse -z-0 max-md:w-full top-[10%] lg:top-[8%] left-1/2 -translate-x-1/2"
  >
    <img
      src="./images/ns-img-hero-dot-bg.png"
      alt="Hero background"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Hero images -->
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute left-[5%] top-[19%] md:left-[19%] md:top-[10%] xl:left-[26%] xl:top-[10%] parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="1.8"
    data-data-parallax-x="1"
    data-data-parallax-y="0.5"
  >
    <img src="./images/ns-img-15.png" alt="Hero shape 1" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute left-[0%] top-[30%] sm:top-[33%] md:left-[16%] md:top-[14%] xl:left-[23%] xl:top-[26%] hidden lg:block parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="1.9"
    data-data-parallax-x="-1"
    data-data-parallax-y="1"
  >
    <img src="./images/ns-img-16.png" alt="Hero shape 2" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute right-[12%] top-[4%] md:right-[20%] md:top-[9%] xl:right-[24%] xl:top-[8%] hidden md:block parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="1.9"
    data-data-parallax-x="0.7"
    data-data-parallax-y="-1"
  >
    <img src="./images/ns-img-17.png" alt="Hero shape 3" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute right-[7%] top-[10%] md:right-[5%] md:top-[16%] xl:right-[10%] xl:top-[14%] parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="2.4"
    data-data-parallax-x="1"
    data-data-parallax-y="-0.7"
  >
    <img src="./images/ns-img-18.png" alt="Hero shape 4" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute right-[3%] md:right-[12%] top-[30%] sm:top-[33%] md:top-[38%] xl:right-[14%] xl:top-[37%] hidden md:block parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="1.5"
    data-data-parallax-x="-0.8"
    data-data-parallax-y="1"
  >
    <img src="./images/ns-img-19.png" alt="Hero shape 5" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute left-[7%] top-[28%] md:left-[8%] md:top-[27%] xl:left-[14%] xl:top-[40%] hidden md:block parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="2"
    data-data-parallax-x="1"
    data-data-parallax-y="0.8"
  >
    <img src="./images/ns-img-20.png" alt="Hero shape 6" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute left-[13%] top-[12%] md:left-[5%] md:top-[18%] xl:left-[10%] xl:top-[17%] parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="1.9"
    data-data-parallax-x="-1"
    data-data-parallax-y="-1"
  >
    <img src="./images/ns-img-21.png" alt="Hero shape 7" class="w-full h-full" />
  </figure>
  <figure
    data-ns-animate
    data-delay="0.1"
    class="opacity-0 w-[50px] h-[50px] rounded-full absolute right-[10%] top-[17%] md:right-[25%] md:top-[29%] lg:top-[26%] xl:right-[28%] xl:top-[40%] parallax-effect rounded-br-none bg-white dark:bg-accent/20 p-[3px]"
    data-parallax-value="2.5"
    data-data-parallax-x="0.5"
    data-data-parallax-y="-1"
  >
    <img src="./images/ns-img-22.png" alt="Hero shape 8" class="w-full h-full" />
  </figure>

  <!-- Content -->
  <div class="main-container text-center relative z-30">
    <span data-ns-animate data-delay="0.1" class="opacity-0 badge badge-green-v2 mb-5">
      Chatbot
    </span>
    <h1 data-ns-animate data-delay="0.2" class="opacity-0 font-medium mb-4">
      Automate your
      <span class="text-primary-500">chats </span>
      <br class="hidden md:block" />
      effortlessly
    </h1>
    <p data-ns-animate data-delay="0.3" class="opacity-0 max-w-[588px] mx-auto mb-10 md:mb-14">
      Discover the next level of customer engagement with our intuitive AI-driven solution today.
      Experience seamless interactions
    </p>

    <form
      data-ns-animate
      data-delay="0.4"
      class="opacity-0 flex flex-col md:flex-row w-full md:w-auto justify-center items-center gap-y-4 gap-x-3 mx-auto md:mx-0"
    >
      <input
        id="cta-email"
        type="email"
        placeholder="Enter your email"
        autocomplete="email"
        class="bg-background-1 dark:bg-background-6 h-12 w-[90%] md:max-w-[345px] md:min-w-[345px] placeholder:text-secondary/40 dark:placeholder:text-white/40 text-secondary/60 dark:text-accent/60 text-tagline-1 focus:outline-none font-normal border border-stroke-3 dark:border-stroke-7 dark:shadow-1 rounded-[360px] dark:bg-dark-200 focus:border-primary-500 dark:focus:border-primary-500 px-[18px] py-3 duration-300 transition-all outline-none placeholder:font-normal"
      />

      <button
        type="submit"
        class="btn btn-xl btn-primary flex items-center justify-center w-[90%] md:w-auto h-12"
      >
        <span>Get started</span>
      </button>
    </form>

    <!-- Features images -->
    <figure
      data-ns-animate
      data-delay="0.5"
      class="opacity-0 mt-12 md:mt-20 lg:mt-[100px] rounded-xl md:rounded-2xl lg:rounded-4xl overflow-hidden"
    >
      <img
        src="./images/ns-img-28.png"
        alt="Chat interface"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>

  <!-- border area -->
  <div
    data-ns-animate
    data-delay="1"
    data-offset="0"
    class="hidden md:block absolute w-full h-full top-0 left-0 before:content-[''] before:absolute before:left-[6%] before:w-[1px] before:h-[90%] before:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:before:bg-[linear-gradient(180deg,_#1b232f_0%,#13171E_100%)] before:top-0 before:z-0 after:content-[''] after:absolute after:right-[6%] after:-z-10 after:w-[1px] after:h-[90%] after:bg-[linear-gradient(180deg,#ECE8FF_0%,#FAF9FC_100%)] dark:after:bg-[linear-gradient(180deg,_#1b232f_0%,#13171E_100%)] after:top-0"
  >
    <div
      data-ns-animate
      data-delay="1"
      data-offset="0"
      class="opacity-0 absolute w-[100%] h-[1px] bg-stroke-1 dark:bg-stroke-5 top-[6.5%] before:absolute before:content-[''] before:w-2 before:h-2 before:bg-stroke-1 dark:before:bg-stroke-5 before:left-[5.8%] before:z-20 before:-top-1 before:ring-8 before:ring-background-2 dark:before:ring-background-5 before:rotate-45 after:absolute after:content-[''] after:w-2 after:h-2 after:bg-stroke-1 dark:after:bg-stroke-5 after:ring-8 after:ring-background-2 dark:after:ring-background-5 after:right-[5.8%] after:z-20 after:-top-1 after:rotate-[-45deg]"
    ></div>
  </div>
</section>
