<!-- =========================
Integration section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-24 md:pb-24 lg:pb-[140px] xl:pb-[200px]"
>
  <div class="main-container">
    <article class="flex flex-col lg:flex-row gap-x-20 gap-y-20">
      <div class="w-full lg:w-1/2 max-lg:text-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-green-v2 mb-5">
          Integration
        </span>
        <h2 data-ns-animate data-delay="0.2" class="mb-3">
          Enhance your productivity with over

          <span class="text-primary-500 lg:block">50 integrations.</span>
        </h2>
        <p data-ns-animate data-delay="0.3" class="mb-8 lg:max-w-[596px]">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
          not Latin though it looks like nothing.
        </p>
        <div data-ns-animate data-delay="0.4">
          <a
            href="./ai-chatbot-integration.html"
            class="btn btn-primary btn-lg md:btn-xl block md:inline-block w-[90%] md:w-auto mx-auto md:mx-0 hover:btn-white-dark"
          >
            <span>See it in action</span>
          </a>
        </div>
      </div>

      <div
        data-ns-animate
        data-delay="0.5"
        class="w-full space-y-6 flex flex-col items-center lg:w-1/2 relative"
      >
        <a href="./ai-chatbot-integration.html" aria-label="View integrations page">
          <span class="sr-only">View integrations page</span>
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-primary-500 size-[100px] md:size-[140px] rounded-full flex items-center justify-center z-10 hover:scale-[103%] hover:perspective-origin-top hover:shadow-primary-500/20 transition-transform duration-200 ease-in"
          >
            <img src="./images/icons/sqare-matrix-right-arrow.svg" alt="arrow" />
          </div>
        </a>

        <div
          class="absolute left-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-r from-background-2 to-transparent dark:from-background-5 z-40"
        ></div>
        <div
          class="absolute right-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-l from-background-2 to-transparent dark:from-background-5 z-40"
        ></div>
        <div class="logos-marquee-container">
          <div class="flex items-center gap-x-6">
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center ml-6 p-3"
            >
              <img src="./images/icons/notion.svg" alt="notion-icon " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/dropbox.svg" alt="dropbox-icon " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/svelte.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/slack.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/asana.svg" alt="Notion " />
            </figure>
          </div>
        </div>
        <div class="logos-right-marquee-container">
          <div class="flex items-center gap-x-6">
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center ml-6 p-3"
            >
              <img src="./images/icons/svelte.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/notion.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/reddit.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/dropbox.svg" alt="Notion " />
            </figure>
          </div>
        </div>
        <div class="logos-marquee-container">
          <div class="flex items-center gap-x-6">
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center ml-6 p-3"
            >
              <img src="./images/icons/slack.svg" alt="Notion " />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/drive-google.svg" alt="drive-google" />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/spanchat-v2.svg" alt="spanchat-logo" />
            </figure>
            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/dropbox.svg" alt="Notion " />
            </figure>

            <figure
              class="bg-white dark:bg-background-7 rounded-2xl size-12 md:size-20 lg:size-24 flex items-center justify-center p-3"
            >
              <img src="./images/icons/svelte.svg" alt="Notion " />
            </figure>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
