<!-- =========================
Pricing section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] max-2xl:px-4"
>
  <div
    class="relative overflow-hidden max-w-[1440px] bg-black rounded-2xl md:rounded-4xl mx-auto py-16 md:py-[100px] sm:px-5 md:px-10 lg:px-5 xl:px-[67px] flex flex-col gap-[70px]"
  >
    <!-- bg images -->
    <figure
      data-ns-animate
      data-delay="0.1"
      data-direction="up"
      data-offset="200"
      class="select-none pointer-events-none absolute hidden md:block md:-top-[1070px] lg:-top-[570px] xl:-top-[560px] left-1/2 -translate-x-1/2 rotate-[28deg] max-w-[1440px] max-h-[1170px] w-full h-full"
    >
      <img
        src="./images/ns-img-509.png"
        alt="Pricing Gradient"
        class="w-full h-full object-cover"
      />
    </figure>
    <div class="flex relative flex-col items-center text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-blur text-ns-green mb-5">
        Our Pricing
      </span>
      <h2
        data-ns-animate
        data-delay="0.3"
        class="max-w-[650px] mx-auto mb-8 text-white max-md:px-4"
      >
        Select the pricing plan that best suits
        <span class="text-primary-500">your needs.</span>
      </h2>
      <span
        data-ns-animate
        data-delay="0.4"
        data-direction="up"
        data-offset="100"
        data-start="top 93%"
        class="badge badge-blur bg-ns-yellow absolute z-30 top-[70%] text-secondary font-normal capitalize text-tagline-2 px-1.5 sm:px-3.5 py-1.5 rounded-[36px] rotate-[20deg] ms-60"
      >
        save 40%
      </span>

      <div
        data-ns-animate
        data-delay="0.5"
        class="bg-white/20 dark:bg-background-6 py-6 px-14 backdrop-blur-[18px] dark:backdrop-blur-[20px] rounded-full"
      >
        <label class="relative inline-flex items-center cursor-pointer z-[10]">
          <span class="mr-2.5 text-base text-accent font-normal">Monthly</span>
          <input
            type="checkbox"
            id="priceCheck"
            class="sr-only peer"
            aria-label="Toggle between monthly and yearly pricing"
          />
          <span
            class="relative w-13 h-[28px] bg-white/20 border border-white rounded-[34px] peer-checked:after:translate-x-[93%] after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:start-[2px] peer-checked:after:start-[2px] after:bg-accent after:rounded-full after:h-6 after:w-6 after:transition-all"
          ></span>
          <span class="ms-2.5 text-base text-accent font-normal">Yearly</span>
        </label>
      </div>
    </div>
    <div class="relative px-5 sm:px-0">
      <div class="grid grid-cols-1 lg:grid-cols-3 items-center gap-8">
        <!-- Price Card 1 -->
        <div
          data-ns-animate
          data-delay="0.6"
          class="bg-background-3 dark:bg-background-7 p-8 rounded-[20px] max-w-[408px] w-full mx-auto"
        >
          <h3 class="mb-2 font-normal text-heading-5">Simplified</h3>
          <p class="mb-6 max-w-[250px]">
            For individuals and small teams with unlimited trial access.
          </p>
          <div class="price-month mb-7">
            <h4 class="text-heading-4 font-normal">$<span>19.00</span></h4>
            <p class="text-secondary dark:text-accent">Per Month</p>
          </div>
          <div class="price-year mb-7">
            <h4 class="text-heading-4 font-normal">$<span>230.00</span></h4>
            <p class="text-secondary dark:text-accent">Per Year</p>
          </div>
          <a
            href="./ai-chatbot-contact.html"
            class="btn btn-md btn-white w-full block dark:btn-white-dark hover:btn-secondary dark:hover:btn-white mb-8 before:content-none first-letter:uppercase"
          >
            Get started
          </a>
          <ul class="relative list-none space-y-2.5">
            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-secondary dark:fill-accent/80"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-white dark:fill-background-8"
                />
              </svg>

              <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                >Single Payment</span
              >
            </li>
            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-white dark:fill-background-9"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-secondary/60 dark:fill-accent/80"
                />
              </svg>

              <span class="text-secondary/60 dark:text-accent/40 font-normal text-tagline-1"
                >Selling your own items</span
              >
            </li>
            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-white dark:fill-background-9"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-secondary/60 dark:fill-accent/80"
                />
              </svg>

              <span class="text-secondary/60 dark:text-accent/40 font-normal text-tagline-1"
                >Powerful integration</span
              >
            </li>
          </ul>
        </div>
        <!-- Price Card 2 -->
        <div
          data-ns-animate
          data-delay="0.7"
          class="p-2.5 rounded-[20px] bg-[url('/images/ns-img-25.png')] bg-no-repeat bg-center bg-cover max-w-[408px] w-full mx-auto"
        >
          <div class="bg-white dark:bg-black p-5 sm:p-8 rounded-[12px]">
            <div class="flex justify-end -mt-3 mb-2.5">
              <span
                class="-mr-4 bg-ns-green text-background-8 py-1.5 px-3 rounded-full font-normal capitalize"
              >
                Save 40%
              </span>
            </div>
            <h3 class="mb-2.5 font-normal text-heading-5">Basic</h3>
            <p class="mb-6 text-secondary/60 dark:text-accent/60 max-w-[250px]">
              For individuals and small teams with unlimited trial access.
            </p>
            <div class="price-month mb-7">
              <h4 class="text-heading-4 font-normal">$<span>3342.00</span></h4>
              <p class="text-secondary dark:text-accent">Per Month</p>
            </div>
            <div class="price-year mb-7">
              <h4 class="text-heading-4 font-normal">$<span>4420.00</span></h4>
              <p class="text-secondary dark:text-accent">Per Year</p>
            </div>
            <a
              href="./ai-chatbot-contact.html"
              class="btn btn-md btn-secondary w-full block dark:btn-accent hover:btn-white-v2 dark:hover:btn-white-dark mb-8 before:content-none first-letter:uppercase"
            >
              Get started
            </a>
            <ul class="relative list-none space-y-2.5">
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent/80"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-background-8"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                  >Unlimited Bandwidth</span
                >
              </li>

              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent/80"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-background-8"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                  >Promotional Tools</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent/80"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-background-8"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                  >Single Payment</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-white dark:fill-background-9"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/80"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/40 font-normal text-tagline-1"
                  >Single Payment</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-white dark:fill-background-9"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/80"
                  />
                </svg>

                <span class="text-secondary/60 dark:text-accent/40 font-normal text-tagline-1"
                  >Selling your own items</span
                >
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-white dark:fill-background-9"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/80"
                  />
                </svg>

                <span class="text-secondary/60 dark:text-accent/40 font-normal text-tagline-1"
                  >Powerful integration</span
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- Price Card 3 -->
        <div
          data-ns-animate
          data-delay="0.8"
          class="bg-background-3 dark:bg-background-7 p-8 rounded-[20px] max-w-[408px] w-full mx-auto"
        >
          <h3 class="mb-2 font-normal text-heading-5">Enhanced</h3>
          <p class="mb-6 max-w-[250px] text-secondary/60 dark:text-accent/60">
            For individuals and small teams with unlimited trial access.
          </p>
          <div class="price-month mb-7">
            <h4 class="text-heading-4 font-normal">$<span>4800.00</span></h4>
            <p class="text-secondary dark:text-accent">Per Month</p>
          </div>
          <div class="price-year mb-7">
            <h4 class="text-heading-4 font-normal">$<span>5800.00</span></h4>
            <p class="text-secondary dark:text-accent">Per Year</p>
          </div>
          <a
            href="./ai-chatbot-contact.html"
            class="btn btn-md btn-white w-full block dark:btn-white-dark hover:btn-secondary dark:hover:btn-white mb-8 before:content-none first-letter:uppercase"
          >
            Get started
          </a>
          <ul class="relative list-none space-y-2.5">
            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-secondary dark:fill-accent/80"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-white dark:fill-background-8"
                />
              </svg>

              <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                >Selling on your own conditions</span
              >
            </li>

            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-secondary dark:fill-accent/80"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-white dark:fill-background-8"
                />
              </svg>

              <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                >Seamless integrations</span
              >
            </li>
            <li class="flex items-center gap-2.5">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect
                  width="20"
                  height="20"
                  rx="10"
                  fill=""
                  class="fill-secondary dark:fill-accent/80"
                />
                <path
                  d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                  fill=""
                  class="fill-white dark:fill-background-8"
                />
              </svg>

              <span class="text-secondary dark:text-accent/80 font-normal text-tagline-1"
                >Single Payment</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
