@import './variables';
@import './icon-font';
@import './typography';
@import './common';
@import 'tailwindcss';
@import './base';
@import './button';
@import './badge';
@import './header';
@import './navigation-menu';
@import './vendor/vanilla-infinite-marquee.min.css';
@import './vendor/swiper.min.css';
@import './vendor/leaflet.min.css';
@import './custom-swiper';
@import './number-animation';

@custom-variant dark (&:where(.dark, .dark *));
