@import './variables';
@import './icon-font';
@import './typography';
@import './common';
@import 'tailwindcss';
@import './base';
@import './button';
@import './badge';
@import './header';
@import './navigation-menu';
@import './vendor/vanilla-infinite-marquee.min.css';
@import './vendor/swiper.min.css';
@import './vendor/leaflet.min.css';
@import './custom-swiper';
@import './number-animation';

@custom-variant dark (&:where(.dark, .dark *));

.banner-section{
    position: relative;
}
.banner-section:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3)
}