<div>
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[300px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <ul
    id="engage-dropdown-menu"
    class="dropdown-menu space-y-2.5 mt-2 w-[300px] rounded-[20px] p-3 bg-white dark:bg-background-6 shadow-14 absolute left-1/2 -translate-x-1/2 top-full z-50 pointer-events-none transition-all duration-300 opacity-0 border border-stroke-1/50 dark:border-background-7"
  >
    <li>
      <a
        href="./data-visualization-contact.html"
        class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/contact-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Contact</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Contact our support
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./data-visualization-support.html"
        class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/support-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Support</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Find help and answers
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./data-visualization-services.html"
        class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Services</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Explore offerings
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./data-visualization-testimonial.html"
        class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/testimonial-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Testimonials</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            See client feedback
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./data-visualization-customer.html"
        class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/customer-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Customers</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Explore customer stories
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
