<!-- =========================
Feature v3 section
===========================-->
<section class="lg:py-[200px] md:py-[100px] py-20">
  <div class="main-container">
    <div class="grid grid-cols-12 gap-y-10 md:gap-y-18 lp:gap-[100px] lg:gap-y-20 items-center">
      <div class="col-span-12 lp:col-span-5 lg:col-span-6">
        <div class="flex lg:flex-col md:flex-row flex-col lg:gap-y-14 gap-10 justify-between">
          <div class="space-y-7">
            <div class="space-y-3 lg:max-w-[521px] md:max-w-[450px]">
              <h2 data-ns-animate data-delay="0.1">Why data-driven teams choose us</h2>
              <p data-ns-animate data-delay="0.2">
                Your lifestyle is unique—your insurance should be too. our team helps you find the
                perfect policy by analyzing your needs.
              </p>
            </div>
          </div>
          <div>
            <ul class="sm:space-y-2">
              <li data-ns-animate data-delay="0.3" class="py-2 flex items-center gap-3">
                <div class="inline-block">
                  <span
                    class="ns-shape-7 sm:text-[36px] text-[24px] text-secondary dark:text-accent"
                  >
                  </span>
                </div>
                <span
                  class="xl:text-heading-6 sm:text-tagline-1 text-tagline-2 font-normal text-secondary dark:text-accent"
                >
                  No coding or technical skills required
                </span>
              </li>
              <li data-ns-animate data-delay="0.4" class="py-2 flex items-center gap-3">
                <div class="inline-block">
                  <span
                    class="ns-shape-9 sm:text-[36px] text-[24px] text-secondary dark:text-accent"
                  >
                  </span>
                </div>
                <span
                  class="xl:text-heading-6 sm:text-tagline-1 text-tagline-2 font-normal text-secondary dark:text-accent"
                >
                  No-code + low-code workflows
                </span>
              </li>
              <li data-ns-animate data-delay="0.5" class="py-2 flex items-center gap-3">
                <div class="inline-block">
                  <span
                    class="ns-shape-12 sm:text-[36px] text-[24px] text-secondary dark:text-accent"
                  >
                  </span>
                </div>
                <span
                  class="xl:text-heading-6 sm:text-tagline-1 text-tagline-2 font-normal text-secondary dark:text-accent"
                >
                  Web & mobile optimization
                </span>
              </li>
              <li data-ns-animate data-delay="0.6" class="py-2 flex items-center gap-3">
                <div class="inline-block">
                  <span
                    class="ns-shape-8 sm:text-[36px] text-[24px] text-secondary dark:text-accent"
                  >
                  </span>
                </div>
                <span
                  class="xl:text-heading-6 sm:text-tagline-1 text-tagline-2 font-normal text-secondary dark:text-accent"
                >
                  Real-time data visualization tools
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 lp:col-span-7 lg:col-span-6">
        <figure
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="50"
          class="relative lg:max-w-[668px] w-full"
        >
          <img
            src="./images/ns-img-286.png"
            alt="why-us"
            class="w-full h-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-195.png"
            alt="why-us"
            class="w-full h-full object-cover hidden dark:block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
