<!-- =========================
Feature v2 section
===========================-->
<section class="py-[100px] bg-background-1 dark:bg-background-6">
  <div class="main-container">
    <div class="text-center space-y-3 md:mb-[70px] mb-10">
      <h2 data-ns-animate data-delay="0.1">A smarter way to work with data</h2>
      <p data-ns-animate data-delay="0.2">
        Everything you need to create, share, and act on insights.
      </p>
    </div>
    <div class="grid grid-cols-12 lg:gap-14 md:gap-10 gap-y-14 justify-items-center items-center">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 md:space-y-8 lg:space-y-11">
          <figure class="sm:max-w-[393px] sm:mx-0 mx-auto w-full">
            <img
              class="w-full h-full object-contain dark:hidden"
              src="./images/ns-img-287.png"
              alt="features"
            />
            <img
              class="w-full h-full object-contain dark:block hidden"
              src="./images/ns-img-dark-196.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="md:text-heading-5 text-heading-6">SQL-based analytics</h3>
            <p class="md:max-w-[227px]">
              Power for advanced teams who want full control over data.
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 md:space-y-8 lg:space-y-11">
          <figure class="sm:max-w-[393px] sm:mx-0 mx-auto w-full">
            <img
              class="w-full h-full object-contain dark:hidden"
              src="./images/ns-img-288.png"
              alt="features"
            />
            <img
              class="w-full h-full object-contain dark:block hidden"
              src="./images/ns-img-dark-197.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="md:text-heading-5 text-heading-6">Interactive dashboards</h3>
            <p class="md:max-w-[245px]">Drag-and-drop simplicity meets deep functionality.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div class="space-y-6 md:space-y-8 lg:space-y-11">
          <figure class="sm:max-w-[393px] sm:mx-0 mx-auto w-full">
            <img
              class="w-full h-full object-contain dark:hidden"
              src="./images/ns-img-289.png"
              alt="features"
            />
            <img
              class="w-full h-full object-contain dark:block hidden"
              src="./images/ns-img-dark-198.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="md:text-heading-5 text-heading-6">Great usability design</h3>
            <p class="md:max-w-[261px]">
              Beautiful, responsive interfaces your whole team will love.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
