<!-- =========================
Process section
===========================-->
<section class="xl:py-[200px] sm:py-[100px] py-16 bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="md:space-y-3 space-y-2 md:mb-[70px] mb-12 text-center">
      <h2 data-ns-animate data-delay="0.1">Metrics are made to be shared</h2>
      <p data-ns-animate data-delay="0.2" class="max-w-[402px] mx-auto">
        "At metrics are made to be shared, we believe in the power of transparency and
        collaboration.
      </p>
    </div>
    <div
      data-ns-animate
      data-delay="0.3"
      class="grid grid-cols-12 lg:gap-8 gap-y-10 items-start sm:max-w-full max-w-[450px] sm:mx-0 mx-auto px-3 sm:px-5 lg:px-0"
    >
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div>
          <div class="w-full bg-secondary dark:bg-stroke-6 h-1 rounded-full relative">
            <div
              class="progress-line w-[0%] absolute inset-0 bg-(image:--color-gradient-1) rounded-full h-full -left-0"
            ></div>
          </div>

          <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-3">01</p>

          <h5 class="lg:text-heading-5 text-heading-6">Boost team efficiency</h5>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div>
          <div class="w-full bg-secondary dark:bg-stroke-6 h-1 rounded-full relative">
            <div
              class="progress-line w-[0%] absolute inset-0 bg-(image:--color-gradient-1) rounded-full h-full -left-0"
            ></div>
          </div>
          <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-3">02</p>

          <h5 class="lg:text-heading-5 text-heading-6">Remote device access</h5>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-4">
        <div>
          <div class="w-full bg-secondary dark:bg-stroke-6 h-1 rounded-full relative">
            <div
              class="progress-line w-[0%] absolute inset-0 bg-(image:--color-gradient-1) rounded-full h-full -left-0"
            ></div>
          </div>
          <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-3">03</p>

          <h5 class="lg:text-heading-5 text-heading-6">Zero maintenance required</h5>
        </div>
      </div>
    </div>
  </div>
</section>
