<!-- =========================
Services section
===========================-->
<section class="xl:pt-[200px] md:pt-[130px] sm:pt-[100px] pt-[90px] md:pb-[100px] pb-[50px]">
  <div class="main-container">
    <div class="text-center space-y-3 md:mb-[70px] mb-11">
      <h2
        data-ns-animate
        data-delay="0.1"
        class="lg:max-w-[828px] md:max-w-[500px] sm:max-w-[450px] max-w-[400px] mx-auto \"
      >
        Empower everyone to make data-driven decisions
      </h2>
      <p
        data-ns-animate
        data-delay="0.2"
        class="md:max-w-[600px] sm:max-w-[450px] max-w-[390px] mx-auto"
      >
        NextSaaS offers a smarter approach to managing your digital assets by providing intuitive
        tools and expert guidance tailored to your needs.
      </p>
    </div>
    <div class="grid grid-cols-12 lg:gap-9 md:gap-8 gap-y-6 lg:mb-14 mb-10">
      <div data-ns-animate data-delay="0.3" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div
          class="bg-background-2 dark:bg-background-5 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4"
        >
          <div>
            <span class="ns-shape-46 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6 line-clamp-1">Identify patterns</h3>
            <p class="max-w-[273px]">Spot trends and behaviors hidden in your financial data.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4 md:col-span-6">
        <div
          class="bg-background-2 dark:bg-background-5 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4"
        >
          <div>
            <span class="ns-shape-44 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6 line-clamp-1">Improve team performance</h3>
            <p class="max-w-[273px]">Spot trends and behaviors hidden in your financial data.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4 md:col-span-12">
        <div
          class="bg-background-2 dark:bg-background-5 rounded-[20px] sm:p-8 p-6 sm:space-y-6 space-y-4"
        >
          <div>
            <span class="ns-shape-48 sm:text-[52px] text-[40px] text-secondary dark:text-accent">
            </span>
          </div>
          <div class="space-y-2">
            <h3 class="sm:text-heading-5 text-heading-6 line-clamp-1">
              Accelerate growth with insights.
            </h3>
            <p class="max-w-[273px]">Make faster, data-backed moves that fuel business growth.</p>
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="flex items-center justify-center">
      <a
        href="./data-visualization-pricing.html"
        class="btn btn-secondary dark:btn-transparent hover:btn-primary btn-md w-[90%] md:w-auto mx-auto md:mx-0"
      >
        <span>Start your free trial today</span>
      </a>
    </div>
  </div>
</section>
