<section class="xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div
      class="flex items-start lg:flex-row flex-col lg:gap-x-5 gap-y-5 max-w-[1100px] mx-auto w-full"
    >
      <div data-ns-animate data-delay="0.1" class="space-y-2 max-w-[350px] w-full sticky top-28">
        <p class="text-secondary dark:text-accent">Customer trust comes first</p>
        <p>Form 8937</p>
      </div>
      <div class="space-y-6">
        <div data-ns-animate data-delay="0.2" class="space-y-2">
          <h2 class="text-heading-5 font-normal">Customer trust comes first</h2>
          <p>
            At NextSaaS, protecting your data is more than a promise it’s a foundation. Every
            product decision starts with one question: Is this secure for our customers? We take
            your privacy, integrity, and business data protection seriously.
          </p>
        </div>
        <div data-ns-animate data-delay="0.3" class="space-y-2">
          <h2 class="text-heading-5 font-normal">Built for enterprise-grade security</h2>
          <p>
            Our infrastructure is designed with end-to-end encryption, zero-trust access, and
            multi-layer defense systems that meet modern compliance standards. Whether you’re a
            startup or global enterprise, NextSaaS ensures your operations run safely and
            confidently.
          </p>
        </div>
        <div data-ns-animate data-delay="0.4">
          <h2 class="text-heading-5 font-normal mb-2">Our Commitment to Security</h2>
          <p>We continuously improve our systems through:</p>
          <ul class="mt-4 mb-6 space-y-3">
            <li class="flex items-center gap-x-2">
              <span
                class="size-5 rounded-full bg-secondary dark:bg-accent shrink-0 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Dedicated Security Experts monitoring and managing platform integrity 24/7.
              </p>
            </li>
            <li class="flex items-center gap-x-2">
              <span
                class="size-5 rounded-full bg-secondary dark:bg-accent shrink-0 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Regular Compliance Audits aligned with industry standards such as ISO 27001, SOC 2,
                and GDPR.
              </p>
            </li>
            <li class="flex items-center gap-x-2">
              <span
                class="size-5 rounded-full bg-secondary dark:bg-accent shrink-0 flex items-center justify-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                >
                  <path
                    d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                    class="fill-accent dark:fill-secondary"
                  />
                </svg>
              </span>
              <p class="text-secondary/80 dark:text-accent/80">
                Advanced Threat Detection powered by AI to identify and neutralize risks before they
                escalate.
              </p>
            </li>
          </ul>
          <p>
            Our cloud platform’s infrastructure and operations are certified compliant with the
            following industry best practice standards and frameworks:
          </p>
        </div>
        <div data-ns-animate data-delay="0.5" class="space-y-2">
          <h2 class="text-heading-5 font-normal">Transparency & trust</h2>
          <p>
            We believe in full transparency. Every customer gets access to our updated security
            whitepapers, audit results, and incident response procedures—so you always know how your
            data is protected.
          </p>
        </div>
        <div data-ns-animate data-delay="0.6" class="space-y-2">
          <h2 class="text-heading-5 font-normal">Secure cloud Infrastructure</h2>
          <p>
            NextSaaS operates on trusted global cloud partners with built-in redundancy, encrypted
            backups, and continuous uptime monitoring. Our team ensures operational resilience, no
            matter the scale or complexity of your business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
