<!-- =========================
Team Members section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[180px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container space-y-[70px]">
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Our team</span>
      <div class="max-w-[620px] mx-auto space-y-3">
        <h2 data-ns-animate data-delay="0.2">Our innovative, dynamic and talented team</h2>
        <p data-ns-animate data-delay="0.3">
          Our innovative, dynamic, and talented team is the driving force behind our success. Each
          member brings a unique blend of expertise
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 max-sm:gap-y-8 sm:gap-5 md:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-1.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}"> John Smith </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-2.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}"> John Lacker </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-3.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}"> William Finley </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.7" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-4.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}"> Micheal Jordan </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.8" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-5.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}"> John Smith </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.9" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-6.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}">WIlls Jack </a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-3.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}">Jordan Mack</a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.1" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-5.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}">Picaso Mack</a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="1.2" class="col-span-12 sm:col-span-6 lg:col-span-4">
        <div
          class="relative z-10 group bg-white dark:bg-background-9 rounded-[20px] overflow-hidden p-3"
        >
          <figure class="lg:max-w-[408px] mx-auto overflow-hidden">
            <img
              src="./images/ns-avatar-2.png"
              alt="team member"
              class="w-full h-full object-cover bg-background-3 dark:bg-background-5 rounded-2xl"
            />
          </figure>
          <div
            class="max-w-[384px] w-[calc(100%-44px)] shadow-1 rounded-xl absolute z-20 bottom-7 sm:bottom-5 left-1/2 -translate-x-1/2 mx-auto p-6 bg-white dark:bg-background-8 space-y-3 cursor-pointer lg:opacity-0 lg:translate-y-[30%] lg:group-hover:opacity-100 lg:group-hover:translate-y-0 lg:scale-[90%] lg:group-hover:scale-100 transition-all duration-[400ms] ease-team-ease-1"
          >
            <div class="text-center">
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                <a href="{=$page-link}">Nill Pack</a>
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/40 dark:text-accent/40">
                New York
              </p>
            </div>
            <Component src="src/components/shared/social-links.htm" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
