<!-- =========================
Affiliate Guidelines section
===========================-->

<section class="pb-28 md:pb-36 lg:pb-44 2xl:pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="space-y-14 md:space-y-20 lg:space-y-[100px]">
      <div class="max-w-[780px] text-center space-y-3 mx-auto">
        <span data-ns-animate data-delay="0.3" class="badge badge-cyan mb-5">
          Passion meets purpose
        </span>
        <h2 data-ns-animate data-delay="0.4">Affiliate terms & conditions</h2>
        <p data-ns-animate data-delay="0.5">
          Welcome to the NextSaaS Affiliate Program! <br />
          Please read these terms carefully to ensure you fully understand how our program works and
          what is expected.
        </p>
      </div>

      <figure
        data-ns-animate
        data-delay="0.6"
        data-instant
        class="max-w-full rounded-[20px] overflow-hidden"
      >
        <img
          src="./images/ns-img-370.png"
          class="w-full h-full object-cover object-center"
          alt="blog-details-cover"
        />
      </figure>
    </div>
  </div>
</section>
