<!-- ======================  
 Customer Details Info 
====================== -->
<section
  class="xl:pt-[180px] md:pt-42 sm:pt-36 pt-32 xl:pb-28 pb-24"
  aria-label="customer details info section"
>
  <div class="main-container space-y-14">
    <!-- customer details info content -->
    <div class="flex justify-between flex-col md:flex-row gap-y-4 md:gap-x-16 lg:gap-x-10">
      <figure data-ns-animate data-delay="0.1">
        <img
          src="./images/icons/notion-v2.svg"
          alt="customer details info 1"
          class="sticky top-20 dark:invert"
        />
      </figure>

      <div class="lg:max-w-[808px] space-y-8" data-ns-animate data-delay="0.2">
        <h1 class="text-heading-5 md:text-heading-4 lg:text-heading-3">
          Demo case Study: <br class="hidden md:block" />
          Example corp innovative solutions
        </h1>
        <figure class="rounded-[30px] overflow-hidden">
          <img src="./images/ns-img-428.png" alt="customer details info" />
        </figure>
      </div>
    </div>
    <!-- customer details Overview -->
    <div class="flex justify-between flex-col md:flex-row gap-y-4 md:gap-x-16 lg:gap-x-10">
      <div data-ns-animate data-delay="0.1">
        <p class="text-heading-4 md:text-heading-5 text-secondary dark:text-accent sticky top-20">
          Overview
        </p>
      </div>

      <div class="lg:max-w-[808px] space-y-8">
        <h2
          class="text-heading-5 md:text-heading-4 lg:text-heading-3"
          data-ns-animate
          data-delay="0.1"
        >
          Discover how scale rapid enhances <br class="hidden md:block" />
          cutting-edge chatbots.
        </h2>
        <p data-ns-animate data-delay="0.2">
          Explore how intelligent phone agents help businesses stay connected with customers. These
          bots utilize automatic speech recognition to convert voice inquiries into text, enabling
          them to provide accurate information about hours, locations, and services. By continuously
          refining their intent classification models with real-world data, these chatbots enhance
          customer experiences. To tackle the challenge of processing large volumes of calls, the
          company collaborates with Scale Rapid for top-notch text annotations, streamlining model
          evaluation and freeing up valuable resources.
        </p>
      </div>
    </div>
    <!-- customer details The problem -->
    <div class="flex justify-between flex-col md:flex-row gap-y-4 md:gap-x-16 lg:gap-x-10">
      <div data-ns-animate data-delay="0.1">
        <p class="text-heading-4 md:text-heading-5 text-secondary dark:text-accent sticky top-20">
          The problem
        </p>
      </div>

      <div class="lg:max-w-[808px] space-y-8">
        <h2
          class="text-heading-5 md:text-heading-4 lg:text-heading-3"
          data-ns-animate
          data-delay="0.1"
        >
          Demo content for showcasing purposes.
        </h2>
        <p data-ns-animate data-delay="0.2">
          Demo content illustrating the challenges faced by companies with large datasets that
          remain unannotated. This content will highlight the importance of scalable solutions for
          data labeling to enhance model performance and accuracy.
        </p>

        <article
          data-ns-animate
          data-delay="0.3"
          class="bg-white dark:bg-background-5 border border-stroke-1 dark:border-stroke-6 rounded-[20px] sm:p-14 p-7"
        >
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-15.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Darrell Steward's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">Darrell Steward</h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Product Designer
              </p>
            </figure>
          </figure>

          <div class="flex items-center justify-between pt-6 pb-5">
            <figure class="flex items-center gap-1">
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
            </figure>
            <a
              href="https://x.com"
              target="_blank"
              rel="noopener"
              aria-label="Follow Darrell Steward on Twitter"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
              >
                <path
                  d="M17.8441 4.24219H20.6042L14.5741 11.0196L21.668 20.2422H16.1136L11.7631 14.6488L6.7852 20.2422H4.02341L10.4731 12.993L3.66797 4.24219H9.36342L13.2959 9.35481L17.8441 4.24219ZM16.8753 18.6176H18.4048L8.53238 5.78147H6.89117L16.8753 18.6176Z"
                  class="fill-background-8 dark:fill-accent"
                />
              </svg>
            </a>
          </div>

          <p class="pb-6">
            As a small business owner, your service has been a lifesaver in managing cash flow and
            optimizing financial strategies. It has truly exceeded my expectations.
          </p>
        </article>
      </div>
    </div>
    <!-- customer details The solution -->
    <div class="flex justify-between flex-col md:flex-row gap-y-4 md:gap-x-16 lg:gap-x-10">
      <div data-ns-animate data-delay="0.1">
        <p class="text-heading-4 md:text-heading-5 text-secondary dark:text-accent sticky top-20">
          The Solution
        </p>
      </div>

      <div class="lg:max-w-[808px] space-y-8">
        <h2
          class="text-heading-5 md:text-heading-4 lg:text-heading-3"
          data-ns-animate
          data-delay="0.1"
        >
          Demo content for Text classification annotations
        </h2>
        <p data-ns-animate data-delay="0.2">
          Demo Content for user-friendly tools that help companies acquire high-quality annotations.
          Companies can send samples for review and receive labels that describe phrases. For
          instance, a sample asking about business hours would get a label indicating that. By
          comparing these labels with their own data, companies can enhance their models, improving
          text-to-speech accuracy and bot understanding.
        </p>

        <article
          data-ns-animate
          data-delay="0.3"
          class="bg-white dark:bg-background-5 border border-stroke-1 dark:border-stroke-6 rounded-[20px] sm:p-14 p-7"
        >
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-16.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">
                Andrew Gasiorowski
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                NLP Engineer<br />Goodcall
              </p>
            </figure>
          </figure>

          <div class="flex items-center justify-between pt-6 pb-5">
            <figure class="flex items-center gap-1">
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
            </figure>
            <a
              href="https://x.com"
              target="_blank"
              rel="noopener"
              aria-label="Follow Andrew Gasiorowski on Twitter"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
              >
                <path
                  d="M17.8441 4.24219H20.6042L14.5741 11.0196L21.668 20.2422H16.1136L11.7631 14.6488L6.7852 20.2422H4.02341L10.4731 12.993L3.66797 4.24219H9.36342L13.2959 9.35481L17.8441 4.24219ZM16.8753 18.6176H18.4048L8.53238 5.78147H6.89117L16.8753 18.6176Z"
                  class="fill-background-8 dark:fill-accent"
                />
              </svg>
            </a>
          </div>

          <p class="pb-6">
            "After collaborating with Tech Innovate, we've seen a significant boost in our intent
            classification accuracy, improving by approximately 5%. The availability of these
            verified labels has been crucial in reaching this milestone. Now, before presenting
            anything to our clients, we can pre-test our solutions using these reliable labels."
          </p>
        </article>
      </div>
    </div>
    <!-- customer details The result -->
    <div class="flex justify-between flex-col md:flex-row gap-y-4 md:gap-x-16 lg:gap-x-10">
      <div data-ns-animate data-delay="0.1">
        <p class="text-heading-4 md:text-heading-5 text-secondary dark:text-accent sticky top-20">
          The result
        </p>
      </div>

      <div class="lg:max-w-[808px] space-y-8">
        <h2
          class="text-heading-5 md:text-heading-4 lg:text-heading-3"
          data-ns-animate
          data-delay="0.1"
        >
          Discover how goodcall enhances customer interactions with innovative solutions.
        </h2>
        <p data-ns-animate data-delay="0.2">
          Since partnering with Scale Rapid, Goodcall has boosted their model's intent
          classification accuracy by 5%. By outsourcing the labeling process, they've also liberated
          engineering resources to focus on other challenges. Additionally, they've gained
          unexpected advantages—using Scale Rapid's text classifications, Goodcall has pinpointed
          areas for enhancement in their speech recognition system, revealing limitations in their
          transcript and intent classification models. These text labels offer Goodcall crucial
          insights into their chatbots, enabling them to quantify performance, identify issues, and
          understand their models' behavior. With this knowledge, they can make informed decisions
          to enhance their product and improve the overall customer experience.
        </p>

        <article
          data-ns-animate
          data-delay="0.3"
          class="bg-white dark:bg-background-5 border border-stroke-1 dark:border-stroke-6 rounded-[20px] sm:p-14 p-7"
        >
          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-18.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">
                Andrew Gasiorowski
              </h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                NLP Engineer<br />Goodcall
              </p>
            </figure>
          </figure>

          <div class="flex items-center justify-between pt-6 pb-5">
            <figure class="flex items-center gap-1">
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
              <Component src="src/components/shared/star.htm" />
            </figure>
            <a
              href="https://x.com"
              target="_blank"
              rel="noopener"
              aria-label="Follow Andrew Gasiorowski on Twitter"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
              >
                <path
                  d="M17.8441 4.24219H20.6042L14.5741 11.0196L21.668 20.2422H16.1136L11.7631 14.6488L6.7852 20.2422H4.02341L10.4731 12.993L3.66797 4.24219H9.36342L13.2959 9.35481L17.8441 4.24219ZM16.8753 18.6176H18.4048L8.53238 5.78147H6.89117L16.8753 18.6176Z"
                  class="fill-background-8 dark:fill-accent"
                />
              </svg>
            </a>
          </div>

          <p class="pb-6">
            "In the realm of enhancing models, even the smallest gains matter. A 1% boost in 100,000
            interactions translates to 1,000 individuals enjoying a superior experience. Each
            percentage point is a win, and with our innovative approach, we've achieved a remarkable
            5% improvement in just three months. We're transforming what once seemed impossible into
            something achievable."
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
