<!-- ======================  
 Customer Success Stories 
====================== -->

<section
  class="max-sm:overflow-x-hidden max-sm:overflow-y-auto"
  aria-label="customer success stories section"
>
  <div class="main-container space-y-14">
    <!-- dropdown stories -->

    <div class="flex max-lg:justify-center items-center gap-1 md:gap-3">
      <div class="relative z-10" data-ns-animate data-delay="0.1">
        <button
          name="industry"
          aria-label="Select industry"
          class="dropdown-button flex items-center md:gap-4 cursor-pointer px-2 py-1 md:px-6 md:py-3.5 border border-stroke-1 dark:border-stroke-7 bg-white dark:bg-background-7 rounded-md md:rounded-[10px] text-secondary dark:text-accent font-medium md:text-tagline-1 text-tagline-3"
        >
          <span>All Industries</span>
          <span class="max-[500px]:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="transition-transform duration-300"
            >
              <path
                d="M6 9L12 15L18 9"
                class="stroke-secondary dark:stroke-accent"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>

        <div
          class="customer-dropdown-menu absolute left-0 top-full mt-2 w-full min-w-[200px] md:min-w-[300px] rounded-xl p-2 bg-background-12 dark:bg-background-6 pointer-events-none opacity-0 transition-all duration-300 z-50 overflow-hidden"
        >
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 bg-white rounded-[10px] dark:bg-background-8 text-secondary dark:text-accent text-tagline-1 hover:bg-white/80 dark:hover:bg-background-5 transition-colors"
            data-value="all"
            data-filter-type="industry"
          >
            <span>All Industries</span>
            <span>60</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="ai"
            data-filter-type="industry"
          >
            <span>Ai</span>
            <span>12</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="saas"
            data-filter-type="industry"
          >
            <span>SaaS</span>
            <span>24</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="social"
            data-filter-type="industry"
          >
            <span>Social</span>
            <span>5</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="spacetech"
            data-filter-type="industry"
          >
            <span>Spacetech</span>
            <span>3</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="fintech"
            data-filter-type="industry"
          >
            <span>Fintech</span>
            <span>2</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="media"
            data-filter-type="industry"
          >
            <span>Media</span>
            <span>14</span>
          </div>
        </div>
      </div>
      <div class="relative z-10" data-ns-animate data-delay="0.2">
        <button
          name="product"
          aria-label="Select product"
          class="dropdown-button flex items-center gap-4 cursor-pointer px-2 py-1 md:px-6 md:py-3.5 border border-stroke-1 dark:border-stroke-7 bg-white dark:bg-background-7 rounded-md md:rounded-[10px] text-secondary dark:text-accent font-medium md:text-tagline-1 text-tagline-3"
        >
          <span>All Products</span>
          <span class="max-[500px]:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="transition-transform duration-300"
            >
              <path
                d="M6 9L12 15L18 9"
                class="stroke-secondary dark:stroke-accent"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>

        <div
          class="customer-dropdown-menu absolute left-0 top-full mt-2 w-full min-w-[200px] md:min-w-[300px] rounded-xl p-2 bg-background-12 dark:bg-background-6 pointer-events-none opacity-0 transition-all duration-300 z-50 overflow-hidden"
        >
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 bg-white rounded-[10px] dark:bg-background-8 text-secondary dark:text-accent text-tagline-1 hover:bg-white/80 dark:hover:bg-background-5 transition-colors"
            data-value="all"
            data-filter-type="product"
          >
            <span>All Products</span>
            <span>45</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="analytics"
            data-filter-type="product"
          >
            <span>Analytics</span>
            <span>15</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="dashboard"
            data-filter-type="product"
          >
            <span>Dashboard</span>
            <span>12</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="api"
            data-filter-type="product"
          >
            <span>API</span>
            <span>10</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="integration"
            data-filter-type="product"
          >
            <span>Integration</span>
            <span>8</span>
          </div>
        </div>
      </div>
      <div class="relative z-10" data-ns-animate data-delay="0.3">
        <button
          name="service"
          aria-label="Select service"
          class="dropdown-button flex items-center gap-4 cursor-pointer px-2 py-1 md:px-6 md:py-3.5 border border-stroke-1 dark:border-stroke-7 bg-white dark:bg-background-7 rounded-md md:rounded-[10px] text-secondary dark:text-accent font-medium md:text-tagline-1 text-tagline-3"
        >
          <span>All Services</span>
          <span class="max-[500px]:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="transition-transform duration-300"
            >
              <path
                d="M6 9L12 15L18 9"
                class="stroke-secondary dark:stroke-accent"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>

        <div
          class="customer-dropdown-menu absolute left-0 top-full mt-2 w-full min-w-[200px] md:min-w-[300px] rounded-xl p-2 bg-background-12 dark:bg-background-6 pointer-events-none opacity-0 transition-all duration-300 z-50 overflow-hidden"
        >
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 bg-white rounded-[10px] dark:bg-background-8 text-secondary dark:text-accent text-tagline-1 hover:bg-white/80 dark:hover:bg-background-5 transition-colors"
            data-value="all"
            data-filter-type="service"
          >
            <span>All Services</span>
            <span>38</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="consulting"
            data-filter-type="service"
          >
            <span>Consulting</span>
            <span>12</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="support"
            data-filter-type="service"
          >
            <span>Support</span>
            <span>10</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="training"
            data-filter-type="service"
          >
            <span>Training</span>
            <span>8</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="maintenance"
            data-filter-type="service"
          >
            <span>Maintenance</span>
            <span>8</span>
          </div>
        </div>
      </div>
      <div class="relative z-10" data-ns-animate data-delay="0.4">
        <button
          name="solution"
          aria-label="Select solution"
          class="dropdown-button flex items-center gap-4 cursor-pointer px-2 py-1 md:px-6 md:py-3.5 border border-stroke-1 dark:border-stroke-7 bg-white dark:bg-background-7 rounded-md md:rounded-[10px] text-secondary dark:text-accent font-medium md:text-tagline-1 text-tagline-3"
        >
          <span>All Solutions</span>
          <span class="max-[500px]:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="transition-transform duration-300"
            >
              <path
                d="M6 9L12 15L18 9"
                class="stroke-secondary dark:stroke-accent"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </button>

        <div
          class="customer-dropdown-menu absolute max-sm:right-0 sm:left-0 top-full mt-2 w-full min-w-[200px] md:min-w-[300px] rounded-xl p-2 bg-background-12 dark:bg-background-6 pointer-events-none opacity-0 transition-all duration-300 z-50 overflow-hidden"
        >
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 bg-white rounded-[10px] dark:bg-background-8 text-secondary dark:text-accent text-tagline-1 hover:bg-white/80 dark:hover:bg-background-5 transition-colors"
            data-value="all"
            data-filter-type="solution"
          >
            <span>All Solutions</span>
            <span>52</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="cloud"
            data-filter-type="solution"
          >
            <span>Cloud</span>
            <span>18</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="enterprise"
            data-filter-type="solution"
          >
            <span>Enterprise</span>
            <span>15</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="custom"
            data-filter-type="solution"
          >
            <span>Custom</span>
            <span>12</span>
          </div>
          <div
            class="flex items-center justify-between cursor-pointer px-6 py-4 rounded-[10px] text-secondary dark:text-accent text-tagline-1 hover:bg-stroke-1 dark:hover:bg-background-5 transition-colors"
            data-value="mobile"
            data-filter-type="solution"
          >
            <span>Mobile</span>
            <span>7</span>
          </div>
        </div>
      </div>
    </div>

    <!-- success stories -->
    <div>
      <div
        class="success-stories-cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2"
      >
        <!-- Stripe -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="fintech"
          data-product="analytics"
          data-service="consulting"
          data-solution="cloud"
          data-ns-animate
          data-delay="0.1"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/stripe.svg"
              alt="Stripe"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/stripe-dark.svg"
              alt="Stripe"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Stripe scaled its payment operations using NextSaaS Analytics to gain unified
              insights across millions of transactions.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Notion 1 -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="dashboard"
          data-service="support"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.2"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/notion-v2.svg"
              alt="Notion"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/notion-v2-dark.svg"
              alt="Notion"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              From Hackathon to Funded Startup: How Soshi Built an AI Social Media Manager on
              NextSaaS.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Dropbox 1 -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="integration"
          data-service="training"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.3"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/dropbox-v2.svg"
              alt="Dropbox"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/dropbox-v2-dark.svg"
              alt="Dropbox"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Dropbox leveraged NextSaaS Integrations to centralize analytics and improve
              decision-making across global teams.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Squarespace -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="media"
          data-product="analytics"
          data-service="consulting"
          data-solution="cloud"
          data-ns-animate
          data-delay="0.4"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/squarespace.svg"
              alt="Squarespace"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/squarespace-dark.svg"
              alt="Squarespace"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Squarespace's growth team used NextSaaS Funnels to identify user friction points
              and optimize conversion paths.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- ScaPic -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="ai"
          data-product="api"
          data-service="consulting"
          data-solution="custom"
          data-ns-animate
          data-delay="0.1"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/scapic.svg"
              alt="ScaPic"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/scapic-dark.svg"
              alt="ScaPic"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              From Hackathon to Funded Startup: How Soshi Built an AI Social Media Manager on
              NextSaaS.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Discord -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="social"
          data-product="analytics"
          data-service="training"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.2"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/discord.svg"
              alt="Discord"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/discord-dark.svg"
              alt="Discord"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Discord's data team used NextSaaS AI Predictions to forecast engagement trends and
              boost retention.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Hotjar -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="dashboard"
          data-service="consulting"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.3"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/hotjar.svg"
              alt="Hotjar"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/hotjar-dark.svg"
              alt="Hotjar"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              Hotjar used NextSaaS Dashboards to consolidate metrics and deliver faster insights to
              product teams.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Lattice -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="dashboard"
          data-service="support"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.4"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/lattice.svg"
              alt="Lattice"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/lattice-dark.svg"
              alt="Lattice"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Lattice leveraged NextSaaS Reports to track engagement metrics and improve company
              culture.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Notion 2 -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="api"
          data-service="support"
          data-solution="cloud"
          data-ns-animate
          data-delay="0.1"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/spotify.svg"
              alt="Notion"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/spotify-dark.svg"
              alt="Notion"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              Discover how Notion automated user onboarding and reduced churn by 22% using NextSaaS
              Workflow Builder.
            </p>
            <a
              href="{=$page-link}"
              class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
            >
              <span>Read more</span>
            </a>
          </div>
        </div>

        <!-- Spotify -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="media"
          data-product="api"
          data-service="consulting"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.2"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/asana-v2.svg"
              alt="Spotify"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/spotify-dark.svg"
              alt="Spotify"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              Spotify integrated NextSaaS Intelligence to personalize recommendations and deepen
              audience engagement.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Asana -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="dashboard"
          data-service="training"
          data-solution="enterprise"
          data-ns-animate
          data-delay="0.3"
        >
          <figure class="w-[123px]">
            <img src="./images/icons/stripe.svg" alt="Asana" class="w-full h-full object-cover" />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Asana used NextSaaS cross-project dashboards to improve visibility and speed up
              project delivery.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Dropbox 2 -->
        <div
          class="story-card space-y-6 p-8 rounded-[20px] bg-white dark:bg-background-5"
          data-industry="saas"
          data-product="integration"
          data-service="support"
          data-solution="cloud"
          data-ns-animate
          data-delay="0.4"
        >
          <figure class="w-[123px]">
            <img
              src="./images/icons/notion-v2.svg"
              alt="Dropbox"
              class="w-full h-full object-cover inline-block dark:hidden"
            />
            <img
              src="./images/icons/notion-v2-dark.svg"
              alt="Dropbox"
              class="w-full h-full object-cover hidden dark:block"
            />
          </figure>
          <div class="space-y-13">
            <p class="text-tagline-1">
              How Dropbox utilized NextSaaS Integrations to unify analytics and enhance
              decision-making for teams worldwide.
            </p>
            <div>
              <a
                href="{=$page-link}"
                class="btn btn-md btn-white hover:btn-primary dark:btn-transparent mt-13"
              >
                <span>Read more</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
