<!-- =========================
Community section
===========================-->
<section class="bg-background-3 dark:bg-background-5 md:py-[100px] py-[50px]">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <h2 data-ns-animate data-delay="0.1">Join the NextSaaS community</h2>
      <p data-ns-animate data-delay="0.2">
        Ask questions, share solutions, and connect with other users around the world.
      </p>
    </div>
    <div class="grid grid-cols-12 md:gap-8 gap-y-8">
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="space-y-6 text-center bg-background-1 rounded-[20px] sm:p-11 p-7 dark:bg-background-6"
        >
          <div class="mx-auto">
            <span class="ns-shape-9 text-[52px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Open discussions</h3>
            <p>Learn how to streamline your workflow with smart automation.</p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="space-y-6 text-center bg-background-1 rounded-[20px] sm:p-11 p-7 dark:bg-background-6"
        >
          <div class="mx-auto">
            <span class="ns-shape-3 text-[52px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Use case sharing</h3>
            <p>
              Monitor your suppliers, manage purchase orders seamlessly, and keep an eye on your
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="space-y-6 text-center bg-background-1 rounded-[20px] sm:p-11 p-7 dark:bg-background-6"
        >
          <div class="mx-auto">
            <span class="ns-shape-12 text-[52px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="space-y-2">
            <h3 class="text-heading-5">Feedback & feature requests</h3>
            <p>
              Help your team stay aligned and productive using shared dashboards and custom roles.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
