<!-- =========================
Feature Intro section
===========================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="space-y-3 mb-14 md:mb-[70px] max-w-[660px] mx-auto text-center">
      <h2 data-ns-animate data-delay="0.1">Built for your business. Adapted to your workflow.</h2>
      <p data-ns-animate data-delay="0.2">
        NextSaaS is designed to serve a wide range of teams and industries. Whether you’re managing
        data, scaling operations, optimizing finances, or streamlining customer experiences—NextSaaS
        is the platform that grows with you.
      </p>
    </div>

    <figure data-ns-animate data-delay="0.3" class="w-full h-auto rounded-[20px] overflow-hidden">
      <img
        src="./images/ns-img-353.png"
        alt="feature-intro"
        class="size-full object-cover object-center"
      />
    </figure>
  </div>
</section>
