<section class="pb-28">
  <div class="main-container">
    <div class="space-y-[42px] max-w-[1100px] mx-auto">
      <div data-ns-animate data-delay="0.2" class="space-y-2">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">
          Built for the makers, dreamers, and doers
        </h2>
        <p class="max-w-[590px] w-full">
          We believe great products start with bold ideas and the courage to bring them to life.
          NextSaaS exists to empower creators, startups, and teams to launch faster, scale smarter,
          and design experiences that matter.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="space-y-2">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">Clarity over complexity</h2>
        <p class="max-w-[750px] w-full">
          Software should simplify, not overwhelm. Every line of code, every pixel, and every
          interaction in NextSaaS is designed to make your workflow smoother and your decisions
          clearer.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-6">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">Our core beliefs</h2>
        <ul class="space-y-3">
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Creativity fosters growth and connection.</p>
          </li>
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Transparency builds trust and accountability.</p>
          </li>
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Sustainability is essential for lasting impact.</p>
          </li>
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Collaboration leads to stronger communities.</p>
          </li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.5" class="space-y-6">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">What we aim to achieve</h2>
        <ul class="space-y-3">
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Deliver groundbreaking solutions with integrity.</p>
          </li>
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Empower individuals and teams to think boldly.</p>
          </li>
          <li class="flex items-center gap-2.5">
            <span
              class="size-5 shrink-0 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <p>Champion environmental responsibility in all projects.</p>
          </li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.6" class="space-y-2">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">Built for the future</h2>
        <p class="max-w-[590px] w-full">
          We design for what’s next. As technology evolves, NextSaaS evolves too ensuring you always
          stay ahead, never behind.
        </p>
      </div>
      <div data-ns-animate data-delay="0.7" class="space-y-2">
        <h2 class="lg:text-heading-5 sm:text-heading-6 text-lg">Together, we create impact</h2>
        <p class="max-w-[590px] w-full">
          This isn’t just a theme it’s a movement. A toolkit for builders who believe that digital
          products can change how we work, connect, and grow.
        </p>
      </div>
    </div>
  </div>
</section>
