<!-- =========================
About section
===========================-->
<section
  data-ns-animate
  data-delay="0.1"
  class="bg-background-2 dark:bg-background-5 lg:pt-[150px] sm:pt-[100px] sm:pb-10 lg:pb-16 py-20 overflow-hidden"
>
  <div class="main-container">
    <!-- TabBar small screen -->
    <div
      class="tab-mobile flex items-center flex-wrap md:hidden gap-4 mb-14 lg:mb-[72px] justify-center"
    >
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        For beginners
      </button>
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        For active traders
      </button>
      <button
        class="px-3.5 py-2 min-w-16 cursor-pointer text-tagline-2 font-medium text-secondary/60 dark:text-accent/60 border border-stroke-2 dark:border-stroke-7 rounded-full dark:bg-background-7"
      >
        For institutions
      </button>
    </div>

    <!-- tab bar for large screen  -->
    <div
      role="tablist"
      class="tab-bar hidden md:flex justify-center items-center border-b border-stroke-2 dark:border-stroke-6 mb-16 lg:mb-[100px] relative"
    >
      <!-- active-tab-bar  -->
      <div class="active-tab-bar"></div>

      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">For beginners</span>
      </button>
      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">For active traders</span>
      </button>
      <button
        class="py-3 cursor-pointer focus-visible:outline-0 px-10 -mb-px data-[state=selected]:text-secondary text-secondary/60 dark:data-[state=selected]:text-accent dark:text-accent/60"
      >
        <span class="text-tagline-1 font-medium">For institutions</span>
      </button>
    </div>

    <!-- tab content one  -->
    <div
      class="tab-content flex flex-col lg:flex-row justify-center items-start gap-y-16 gap-x-24"
      data-display="flex"
    >
      <div>
        <div class="space-y-3">
          <h2 class="max-w-[610px]">Custom fit for all traders</h2>
          <p class="max-w-[409px]">
            Whether you’re learning the ropes or managing millions, we’ve got you covered.
          </p>
        </div>
        <ul class="space-y-2 mt-8 mb-14">
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-27 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Practice mode
              </strong>
              <p class="text-tagline-2">Understand the needs of novice traders.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-17 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Interactive guides
              </strong>
              <p class="text-tagline-2">Track your trading performance indicators.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-25 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Step-by-step trade setup
              </strong>
              <p class="text-tagline-2">Reveal overlooked patterns in trading data.</p>
            </div>
          </li>
        </ul>
        <div>
          <a
            href="./forex-trading-learn.html"
            class="btn md:btn-xl btn-md btn-white dark:btn-transparent hover:btn-green w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Start learning</span>
          </a>
        </div>
      </div>
      <!-- About Image -->
      <figure class="lg:inline-block relative max-w-[580px] mx-auto">
        <img
          src="./images/ns-img-6.png"
          alt="about"
          class="size-full object-cover"
        />
      </figure>
    </div>

    <!-- tab content two  -->
    <div
      class="tab-content flex flex-col lg:flex-row justify-center items-start gap-y-16 gap-x-24"
      data-display="flex"
    >
      <div>
        <div class="space-y-3">
          <h2 class="max-w-[610px]">Tailored specifically for active traders</h2>
          <p class="max-w-[409px]">
            Whether you’re just starting out or handling substantial investments, our services are
            designed specifically for active traders like you.
          </p>
        </div>
        <ul class="space-y-2 mt-8 mb-14">
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-27 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Practice mode
              </strong>
              <p class="text-tagline-2">Understand the needs of novice traders.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-17 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Interactive guides
              </strong>
              <p class="text-tagline-2">Track your trading performance indicators.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-25 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Step-by-step trade setup
              </strong>
              <p class="text-tagline-2">Reveal overlooked patterns in trading data.</p>
            </div>
          </li>
        </ul>
        <div>
          <a
            href="./forex-trading-learn.html"
            class="btn md:btn-xl btn-md btn-white dark:btn-transparent hover:btn-green w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Start learning</span>
          </a>
        </div>
      </div>
      <!-- About Image -->
      <figure class="lg:inline-block relative max-w-[580px] mx-auto">
        <figure class="lg:inline-block relative">
          <img
            src="./images/ns-img-298.png"
            alt="about"
            class="size-full object-cover"
          />
        </figure>
      </figure>
    </div>

    <!-- tab content three  -->
    <div
      class="tab-content flex flex-col lg:flex-row justify-center items-start gap-y-16 gap-x-24"
      data-display="flex"
    >
      <div>
        <div class="space-y-3">
          <h2 class="max-w-[610px]">Custom Solutions Designed for Institutional Traders</h2>
          <p class="max-w-[409px]">
            No matter if you're just starting out or overseeing vast portfolios, our tailored
            solutions for institutional traders are here to support you.
          </p>
        </div>
        <ul class="space-y-2 mt-8 mb-14">
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-27 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Practice mode
              </strong>
              <p class="text-tagline-2">Understand the needs of novice traders.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-17 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Interactive guides
              </strong>
              <p class="text-tagline-2">Track your trading performance indicators.</p>
            </div>
          </li>
          <li class="flex items-center gap-3 list-none py-2">
            <div>
              <span class="ns-shape-25 text-[36px] text-secondary dark:text-accent"> </span>
            </div>
            <div>
              <strong class="text-tagline-1 font-medium text-secondary dark:text-accent">
                Step-by-step trade setup
              </strong>
              <p class="text-tagline-2">Reveal overlooked patterns in trading data.</p>
            </div>
          </li>
        </ul>
        <div>
          <a
            href="./forex-trading-learn.html"
            class="btn md:btn-xl btn-md btn-white dark:btn-transparent hover:btn-green w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Start learning</span>
          </a>
        </div>
      </div>
      <!-- About Image -->
      <figure class="lg:inline-block relative max-w-[580px] mx-auto">
        <figure class="lg:inline-block relative">
          <img
            src="./images/ns-img-299.png"
            alt="about"
            class="size-full object-cover"
          />
        </figure>
      </figure>
    </div>
  </div>
</section>
