<!-- =========================
CTA section
===========================-->
<section class="md:py-16 py-20 lg:py-[76px] bg-secondary dark:bg-background-6">
  <div class="main-container">
    <div class="text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-blur text-ns-yellow mb-5"
        >Let's start</span
      >
      <h2 data-ns-animate data-delay="0.2" class="mb-3 text-white">
        Take Control of Your Trading Future
      </h2>
      <p data-ns-animate data-delay="0.3" class="mb-6 text-white/60">
         No hidden fees. no steep learning curves. just a platform built for your growth.
      </p>

      <div data-ns-animate data-delay="0.4" class="text-center">
        <a
          href="./forex-trading-pricing.html"
          class="btn btn-primary btn-md hover:btn-green w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Start free today</span>
        </a>
      </div>
    </div>
  </div>
</section>
