<!-- =========================
Steps section
===========================-->
<section
  class="relative py-16 md:py-20 lg:py-[100px] bg-background-2 dark:bg-background-5"
  aria-label="Hero section"
>
  <div class="main-container">
    <div class="grid grid-cols-12 xl:gap-[60px] gap-y-14 items-start justify-items-center">
      <div class="col-span-12 lg:col-span-6 lg:sticky lg:top-28">
        <div class="md:space-y-14 space-y-10 lg:text-left text-center">
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.1" class="xl:max-w-[479px] w-full xl:mx-0 mx-auto">
              Your edge in the forex market
            </h2>
            <p data-ns-animate data-delay="0.2">
              Powerful tools designed to help you trade efficiently and confidently.
            </p>
          </div>
          <div data-ns-animate data-delay="0.3">
            <a
              href="./forex-trading-features.html"
              class="btn dark:btn-transparent btn-secondary btn-md md:w-auto w-[90%] mx-auto md:mx-0 hover:btn-green"
            >
              <span>Explore all features</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="stack-cards js-stack-cards sm:flex-1 flex-none w-full sm:order-1 order-2">
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full sm:mx-0 mx-auto w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[99%] -left-[88%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-520.png" alt="step" />
            </figure>
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Smart Trade Automation</p>
                <p class="max-w-[281px]">
                  Automate your trades using rules and triggers you define.
                </p>
              </div>
              <figure class="max-w-[385px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-300.png"
                  alt="step"
                  class="md:max-h-[300px] md:min-h-[300px]"
                />
              </figure>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[99%] -left-[99%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-521.png" alt="step" />
            </figure>
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">
                  Real-Time Risk Analytics
                </p>
                <p class="max-w-[250px] w-full">
                  Get notified instantly about volatility, exposure, and risks.
                </p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-301.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[300px] md:min-h-[300px]"
                />
                <img
                  src="./images/ns-img-dark-200.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[300px] md:min-h-[300px]"
                />
              </figure>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[98%] -left-[90%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-522.png" alt="step" />
            </figure>
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Multi-Device Access</p>
                <p class="max-w-[250px] w-full">
                  Multi-Trade options available on the go—web, desktop, or mobile.
                </p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-302.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[300px] md:min-h-[300px]"
                />
                <img
                  src="./images/ns-img-dark-201.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[300px] md:min-h-[300px]"
                />
              </figure>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[98%] -left-[90%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-501.png" alt="step" />
            </figure>
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">
                  Learning Hub for Beginners
                </p>
                <p class="w-full max-w-[280px]">
                  Access beginner-friendly tutorials, courses, and demo accounts.
                </p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-303.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[300px] md:min-h-[300px]"
                />
                <img
                  src="./images/ns-img-dark-202.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[300px] md:min-h-[300px]"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
