<!-- =========================
Content list v2  section
===========================-->
<ul class="space-y-4 pt-2 list-disc list-inside">
  <li
    data-ns-animate
    data-delay="0.5"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Automatically send onboarding emails after a new user signs up
  </li>
  <li
    data-ns-animate
    data-delay="0.6"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Trigger invoice generation when a deal closes in your CRM
  </li>
  <li
    data-ns-animate
    data-delay="0.8"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Update dashboards when new data is uploaded
  </li>
  <li
    data-ns-animate
    data-delay="0.9"
    class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
  >
    Assign tasks to the right team members based on project status
  </li>
</ul>
