<!-- =========================
Content list v3  section
===========================-->
<ul class="space-y-4 pt-2">
  <li data-ns-animate data-delay="0.1" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-7 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Role-based permissions
    </span>
  </li>
  <li data-ns-animate data-delay="0.2" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-14 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Encrypted data processing
    </span>
  </li>
  <li data-ns-animate data-delay="0.3" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-11 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      Full audit logs
    </span>
  </li>
  <li data-ns-animate data-delay="0.4" class="flex items-center gap-3">
    <div>
      <span class="ns-shape-32 text-[36px] text-secondary dark:text-accent"></span>
    </div>
    <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
      GDPR & SOC 2 compliant
    </span>
  </li>
</ul>
