<!-- =================
    Customer Feedback
 =================== -->

<section class="{=$class}">
  <div class="main-container">
    <div class="space-y-3 mb-10 md:mb-[72px] text-center max-w-[665px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge mb-5 {=$badge-color}"
        >Customer success</span
      >
      <h2 data-ns-animate data-delay="0.2">Real people. Real results.</h2>
      <p data-ns-animate data-delay="0.3" class="md:max-w-[472px] mx-auto">
        “Nextsaas delivered our entire platform ahead of schedule—flawless execution and real
        partnership.”
      </p>
    </div>

    <div data-ns-animate data-delay="0.4" class="relative">
      <!-- Swiper -->
      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-6 z-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[225px] xl:-top-[225px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#FFB9A2_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-7.png"
                  alt="Robert Anderson avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "The software streamlined our operations and improved team productivity by 40%.
                Outstanding support and regular updates keep us ahead of the curve."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Robert Anderson
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Senior IT Director, Microsoft
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-6 z-0 overflow-hidden"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[225px] xl:-top-[225px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-1.png"
                  alt="Jennifer Martinez avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Implementing this solution reduced our infrastructure costs by 60% while enhancing
                our system reliability and security measures."
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Jennifer Martinez
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  CTO, Oracle
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 z-10 flex flex-col gap-y-6"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[225px] xl:-top-[225px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#FFB9A2_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-2.png"
                  alt="David Thompson avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "The platform's AI capabilities and automation features have revolutionized our
                development workflow, cutting project delivery times in half."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  David Thompson
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  VP Engineering, Intel
                </p>
              </div>
            </div>
          </div>

          <!-- slide 4 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-6 z-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[225px] xl:-top-[225px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-3.png"
                  alt="Michael Wilson avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Game-changing platform that transformed our cloud infrastructure management.
                Exceptional scalability and performance improvements."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Michael Wilson
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Cloud Architect, Amazon AWS
                </p>
              </div>
            </div>
          </div>

          <!-- slide 5 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-6 z-0 overflow-hidden"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[225px] xl:-top-[225px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative background gradient"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#C6F56F_91%] overflow-hidden relative"
              >
                <img
                  src="./images/ns-avatar-4.png"
                  alt="Emily Rodriguez avatar"
                  class="max-w-full"
                />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "The analytics capabilities provided unprecedented insights into our operations. ROI
                exceeded expectations within the first quarter."
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Emily Rodriguez
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Data Science Lead, Google Cloud
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.5" class="flex mt-10 md:mt-14 items-center justify-center">
      <a href="{=$page-link}" class="{=$btn-class}">
        <span>View all Reviews</span>
      </a>
    </div>
  </div>
</section>
