<!-- =============================== 
 features v2 Section
 =============================== -->
<section class="pt-20 pb-20 md:pb-28 xl:pb-[160px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="space-y-10 md:space-y-[70px]">
      <div class="text-center space-y-3 md:space-y-5">
        <span data-ns-animate data-delay="0.1" class="badge badge-green-v2">Features</span>
        <h2 data-ns-animate data-delay="0.2">Key features</h2>
      </div>
      <!-- features grid -->
      <div class="grid grid-cols-12 gap-y-10 md:gap-x-8">
        <!-- card one  -->

        <article
          data-ns-animate
          data-delay="0.3"
          class="col-span-12 bg-white dark:bg-background-6 max-h-[400px] md:max-h-[319px] overflow-hidden relative rounded-[20px] flex flex-col lg:flex-row justify-between items-center pt-8 px-4 md:px-8"
        >
          <div data-ns-animate data-delay="0.4">
            <h3 class="text-heading-6 sm:text-heading-5 mb-1">Time & Attendance Tracking</h3>
            <p>Monitor employee hours and overtime with accuracy.</p>
            <div class="mt-6">
              <a
                href="./time-tracking-service-details.html"
                class="btn dark:btn-transparent dark:hover:btn-accent btn-white btn-md hover:btn-secondary w-[90%] md:w-auto"
              >
                <span>View more</span>
              </a>
            </div>
          </div>

          <!-- circle Aria  -->
          <div data-ns-animate data-delay="0.5" class="relative top-10 lg:top-16">
            <figure
              class="absolute max-w-[124px] w-full -top-2 lg:top-2 -left-[25%] md:-left-[30%] lg:-left-[40%] rounded-[12px] overflow-hidden hidden sm:block"
            >
              <img
                src="./images/ns-img-280.png"
                alt="Satisfied user testimonial card"
                class="block dark:hidden size-full"
              />
              <img
                src="./images/ns-img-dark-190.png"
                alt="Satisfied user testimonial card"
                class="hidden dark:block"
              />
            </figure>

            <figure
              class="absolute top-[26%] left-[2%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img
                src="./images/icons/figma.svg"
                class="w-[30px] h-[30px] object-cover object-center"
                alt="figma"
              />
            </figure>
            <figure
              class="absolute top-[6%] left-[20%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img
                src="./images/icons/dropbox.svg"
                class="w-[30px] h-[30px] object-cover object-center"
                alt="figma"
              />
            </figure>
            <figure
              class="absolute -top-[4%] left-[43%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img
                src="./images/icons/slack.svg"
                class="w-[30px] h-[30px] object-cover object-center"
                alt="figma"
              />
            </figure>
            <figure
              class="absolute top-[6%] left-[67%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img src="./images/icons/asana.svg" class="object-cover object-center" alt="figma" />
            </figure>

            <figure
              class="absolute top-[6%] left-[67%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img src="./images/icons/asana.svg" class="object-cover object-center" alt="figma" />
            </figure>
            <figure
              class="absolute top-[25%] left-[82%] size-16 rounded-full bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img
                src="./images/icons/drive-google.svg"
                class="object-cover object-center"
                alt="figma"
              />
            </figure>

            <figure
              class="absolute top-[30%] left-[43%] size-16 rounded-full flex items-center justify-center bg-background-4 dark:bg-background-9 px-5 py-[17px]"
            >
              <img
                src="./images/icons/vector.svg"
                class="object-cover object-center block dark:hidden"
                alt="figma"
              />
              <img
                src="./images/icons/vector-dark.svg"
                class="object-cover object-center hidden dark:block"
                alt="figma"
              />
            </figure>

            <!-- Circle div -->
            <div class="size-[399px] rounded-full">
              <div
                class="size-[399px] flex items-center justify-center rounded-full border border-[#E6EAF0] dark:border-stroke-8"
              >
                <div
                  class="size-[350px] flex items-center justify-center rounded-full border border-[#E6EAF0] dark:border-stroke-8"
                >
                  <div
                    class="size-[288px] flex items-center justify-center rounded-full border border-[#E6EAF0] dark:border-stroke-8"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- card two  -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4 rounded-[20px] p-4 bg-white dark:bg-background-6"
        >
          <figure class="rounded-2xl overflow-hidden max-w-full md:max-w-[376px]">
            <img
              src="./images/ns-img-281.png"
              class="w-full h-full object-cover block dark:hidden"
              alt="feature-1"
            />
            <img
              src="./images/ns-img-dark-191.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-1"
            />
          </figure>
          <div class="space-y-1">
            <h3 class="text-heading-6 sm:text-heading-5">Project-Based Tracking</h3>
            <p>Assign time logs to specific projects for clear billing.</p>
            <div class="mt-7 mb-1">
              <a
                href="./time-tracking-service-details.html"
                class="btn dark:btn-transparent dark:hover:btn-accent btn-white btn-md hover:btn-secondary w-[90%] md:w-auto"
              >
                <span>View more</span>
              </a>
            </div>
          </div>
        </article>

        <!-- card three  -->
        <article
          data-ns-animate
          data-delay="0.7"
          class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4 rounded-[20px] p-4 bg-white dark:bg-background-6"
        >
          <figure class="rounded-2xl overflow-hidden max-w-full md:max-w-[376px]">
            <img
              src="./images/ns-img-282.png"
              class="w-full h-full object-cover block dark:hidden"
              alt="feature-1"
            />
            <img
              src="./images/ns-img-dark-192.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-1"
            />
          </figure>
          <div class="space-y-1">
            <h3 class="text-heading-6 sm:text-heading-5">Invoice generation</h3>
            <p>Convert timesheets into invoices instantly.</p>
            <div class="mt-7 mb-1">
              <a
                href="./time-tracking-service-details.html"
                class="btn dark:btn-transparent dark:hover:btn-accent btn-white btn-md hover:btn-secondary w-[90%] md:w-auto"
              >
                <span>View more</span>
              </a>
            </div>
          </div>
        </article>

        <!-- card four  -->
        <article
          data-ns-animate
          data-delay="0.8"
          class="space-y-3 col-span-12 md:col-span-6 lg:col-span-4 rounded-[20px] p-4 bg-white dark:bg-background-6"
        >
          <figure class="rounded-2xl overflow-hidden max-w-full md:max-w-[376px]">
            <img
              src="./images/ns-img-283.png"
              class="w-full h-full object-cover block dark:hidden"
              alt="feature-1"
            />
            <img
              src="./images/ns-img-dark-193.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="feature-1"
            />
          </figure>
          <div class="space-y-1">
            <h3 class="text-heading-6 sm:text-heading-5">Seamless payroll integration</h3>
            <p>Sync work hours with payroll for effortless payments.</p>
            <div class="mt-7 mb-1">
              <a
                href="./time-tracking-service-details.html"
                class="btn dark:btn-transparent dark:hover:btn-accent btn-white btn-md hover:btn-secondary w-[90%] md:w-auto"
              >
                <span>View more</span>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
