<section class="xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div class="space-y-[70px] text-center">
      <h2 data-ns-animate data-delay="0.1">G2 <span class="text-primary-500">awards</span></h2>
      <div
        class="flex items-center justify-center xl:gap-x-9.5 gap-x-5 md:flex-nowrap flex-wrap md:gap-y-0 gap-y-5"
      >
        <figure data-ns-animate data-delay="0.2" class="max-w-[120px] w-full">
          <img
            class="w-full h-full object-cover"
            src="./images/badge/badge-1.svg"
            alt="g2-award-1"
          />
        </figure>
        <figure data-ns-animate data-delay="0.3" class="max-w-[120px] w-full">
          <img
            class="w-full h-full object-cover"
            src="./images/badge/badge-2.svg"
            alt="g2-award-2"
          />
        </figure>
        <figure data-ns-animate data-delay="0.4" class="max-w-[120px] w-full">
          <img
            class="w-full h-full object-cover"
            src="./images/badge/badge-3.svg"
            alt="g2-award-3"
          />
        </figure>
        <figure data-ns-animate data-delay="0.5" class="max-w-[120px] w-full">
          <img
            class="w-full h-full object-cover"
            src="./images/badge/badge-4.svg"
            alt="g2-award-4"
          />
        </figure>
        <figure data-ns-animate data-delay="0.6" class="max-w-[120px] w-full">
          <img
            class="w-full h-full object-cover"
            src="./images/badge/badge-5.svg"
            alt="g2-award-5"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
