<section class="xl:pb-28 pb-16">
  <div class="main-container">
    <div class="space-y-8">
      <Component src="src/components/pages/glossary-page-01/section-a.htm" />
      <Component src="src/components/pages/glossary-page-01/section-b.htm" />
      <Component src="src/components/pages/glossary-page-01/section-c.htm" />
      <Component src="src/components/pages/glossary-page-01/section-d.htm" />
      <Component src="src/components/pages/glossary-page-01/section-e.htm" />
      <Component src="src/components/pages/glossary-page-01/section-f.htm" />
      <Component src="src/components/pages/glossary-page-01/section-g.htm" />
      <Component src="src/components/pages/glossary-page-01/section-h.htm" />
      <Component src="src/components/pages/glossary-page-01/section-i.htm" />
      <Component src="src/components/pages/glossary-page-01/section-j.htm" />
      <Component src="src/components/pages/glossary-page-01/section-k.htm" />
      <Component src="src/components/pages/glossary-page-01/section-l.htm" />
      <Component src="src/components/pages/glossary-page-01/section-m.htm" />
      <Component src="src/components/pages/glossary-page-01/section-n.htm" />
      <Component src="src/components/pages/glossary-page-01/section-o.htm" />
      <Component src="src/components/pages/glossary-page-01/section-p.htm" />
      <Component src="src/components/pages/glossary-page-01/section-q.htm" />
      <Component src="src/components/pages/glossary-page-01/section-r.htm" />
      <Component src="src/components/pages/glossary-page-01/section-s.htm" />
      <Component src="src/components/pages/glossary-page-01/section-t.htm" />
      <Component src="src/components/pages/glossary-page-01/section-u.htm" />
      <Component src="src/components/pages/glossary-page-01/section-v.htm" />
      <Component src="src/components/pages/glossary-page-01/section-w.htm" />
      <Component src="src/components/pages/glossary-page-01/section-x.htm" />
      <Component src="src/components/pages/glossary-page-01/section-y.htm" />
      <Component src="src/components/pages/glossary-page-01/section-z.htm" />
    </div>
  </div>
</section>
