<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      U
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Uptime</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The percentage of time a service or application is operational and available to users.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">User journey</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The path a user takes from first interaction with a product to achieving their goal.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Usage-based pricing</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A pricing model where customers pay based on the amount they use a service.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">UX (User experience)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The overall experience and satisfaction a user has while interacting with a product.
        </p>
      </div>
    </div>
  </div>
</div>
