<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      O
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Onboarding flow</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A step-by-step process designed to help new users get started and experience the product's
          core value quickly.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Open source</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Software whose source code is publicly available for modification, enhancement, and
          distribution.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Opt-In</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A user's consent to receive communication, notifications, or marketing materials,
          typically via email or in-app prompts.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.5"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Outbound marketing</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Marketing efforts that actively reach out to potential customers through channels like
          ads, cold emails, or events.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Optimization</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The practice of improving a system, design, or process for better performance, speed, or
          conversion.
        </p>
      </div>
    </div>
  </div>
</div>
