<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      C
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Churn Rate</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The percentage of customers who cancel or stop using a subscription service during a given
          period.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Cloud computing</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The delivery of computing services including servers, storage, databases, and software
          over the internet instead of local infrastructure.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Conversion rate</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The percentage of users who complete a desired action (such as signing up, purchasing, or
          upgrading) out of the total number of visitors.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.5"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">CRM (Customer Relationship Management)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Software that helps businesses manage interactions with existing and potential customers
          to improve relationships and retention.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Customer lifetime value (CLV or LTV)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          The total revenue a business can expect from a customer over the entire duration of their
          relationship.
        </p>
      </div>
    </div>
  </div>
</div>
