<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      V
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Viral coefficient</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A metric that measures how many new users each existing user generates through referrals.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Venture capital (VC)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Funding provided by investors to startups with high growth potential in exchange for
          equity.
        </p>
      </div>
    </div>
  </div>
</div>
