<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      N
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Net promoter score (NPS)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A customer satisfaction metric that measures how likely users are to recommend a product
          or service to others.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">No-code platform</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A development environment that allows users to build apps and workflows without writing
          code, using visual interfaces instead.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Notification system</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A feature that sends alerts or updates to users about important events, changes, or
          actions within a product.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Niche market</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A focused segment of a broader market with specific needs that a product or service is
          designed to serve.
        </p>
      </div>
    </div>
  </div>
</div>
