<div class="pb-8 border-b border-b-stroke-1 dark:border-b-stroke-7">
  <div class="flex justify-start items-start md:gap-x-14 gap-x-6">
    <h2
      data-ns-animate
      data-delay="0.1"
      class="lg:max-w-[467px] md:max-w-[180px] max-w-[50px] w-full text-heading-3 font-normal sticky top-25"
    >
      E
    </h2>
    <div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Engagement rate</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A metric that measures how actively users interact with your product, content, or
          platform, often through clicks, time spent, or feature usage.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.3"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Enterprise SaaS</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Software-as-a-Service designed for large organizations with advanced scalability,
          security, and customization needs.
        </p>
      </div>
      <div
        data-ns-animate
        data-delay="0.4"
        class="px-3 py-4 space-y-2 max-w-[467px] w-full border-b border-b-stroke-1 dark:border-b-stroke-7"
      >
        <h3 class="text-heading-5 font-normal">Error Log</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A record of issues, bugs, or failures that occur within a system, used by developers to
          diagnose and resolve problems.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">ETL (Extract, Transform, Load)</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          A process for collecting data from various sources, transforming it into a usable format,
          and loading it into a database or data warehouse.
        </p>
      </div>
      <div data-ns-animate data-delay="0.6" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Event tracking</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Monitoring specific user actions within a product (such as clicks or form submissions) to
          analyze behavior and optimize experiences.
        </p>
      </div>
      <div data-ns-animate data-delay="0.7" class="px-3 py-4 space-y-2 max-w-[467px] w-full">
        <h3 class="text-heading-5 font-normal">Evergreen content</h3>
        <p class="text-secondary/80 font-normal dark:text-accent/80">
          Content that remains relevant and valuable over time, often used in marketing and SEO
          strategies to attract long-term traffic.
        </p>
      </div>
    </div>
  </div>
</div>
