<!-- ==============
About Section
======================= -->
<section
  class="pt-20 md:pt-24 lg:pt-[88px] xl:pt-[100px] pb-16 md:pb-20 lg:pb-[100px] 2xl:pb-[150px]"
>
  <div class="max-w-[1440px] mx-auto max-lg:px-5">
    <div
      class="z-10 rounded-[32px] bg-secondary dark:bg-background-6 overflow-hidden px-6 lg:px-[42px] py-14 lg:py-[72px] relative"
    >
      <div
        data-ns-animate
        data-delay="0.4"
        data-direction="up"
        class="-z-10 absolute -top-[46%] min-[400px]:-top-[50%] min-[510px]:-top-[80%] md:-top-[66%] lg:-top-[70%] -right-[22%] rotate-[314deg] max-w-[700px] select-none pointer-events-none"
      >
        <img src="./images/ns-img-506.png" alt="gradient" />
      </div>
      <div class="grid grid-cols-12 items-center gap-y-10 md:gap-y-14 xl:gap-[115px]">
        <div class="col-span-12 xl:col-span-6">
          <div class="lg:max-w-[508px] xl:mx-auto space-y-10 lg:space-y-14">
            <div class="space-y-3 lg:space-y-5">
              <span data-ns-animate data-delay="0.2" class="badge badge-blur">About NextSaaS</span>
              <div class="space-y-2 lg:space-y-3">
                <h2 data-ns-animate data-delay="0.3" class="text-white">
                  Your path to <br class="hidden md:block" />
                  financial freedom
                </h2>
                <p data-ns-animate data-delay="0.4" class="text-accent/60">
                  I'm a Brooklyn creative with 8 years in web design and front-end development,
                  helping startups turn bold ideas into reality with smart design.
                </p>
              </div>
            </div>
            <div data-ns-animate data-delay="0.5">
              <a
                href="./personal-finance-about.html"
                class="btn btn-base btn-dark dark:btn-transparent dark:border hover:btn-primary w-[85%] md:w-auto mx-auto"
              >
                <span>More about NextSaaS</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-span-12 xl:col-span-6">
          <div>
            <ul class="space-y-3 md:space-y-5">
              <li data-ns-animate data-delay="0.6" class="flex items-center gap-3">
                <span
                  class="size-6 flex items-center justify-center bg-accent/15 backdrop-blur-[15px] rounded-full shrink-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M9.125 1.375L3.875 6.62477L1.25 4"
                      stroke="#FCFCFC"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p class="text-accent/60">
                  Eight years in fintech, enhancing financial management.
                </p>
              </li>
              <li data-ns-animate data-delay="0.7" class="flex items-center gap-3">
                <span
                  class="size-6 flex items-center justify-center bg-accent/15 backdrop-blur-[15px] rounded-full shrink-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M9.125 1.375L3.875 6.62477L1.25 4"
                      stroke="#FCFCFC"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p class="text-accent/60">Boosted startups' online presence.</p>
              </li>
              <li data-ns-animate data-delay="0.8" class="flex items-center gap-3">
                <span
                  class="size-6 flex items-center justify-center bg-accent/15 backdrop-blur-[15px] rounded-full shrink-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M9.125 1.375L3.875 6.62477L1.25 4"
                      stroke="#FCFCFC"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p class="text-accent/60">
                  Specializing in data visualization to improve financial literacy.
                </p>
              </li>
              <li data-ns-animate data-delay="0.9" class="flex items-center gap-3">
                <span
                  class="size-6 flex items-center justify-center bg-accent/15 backdrop-blur-[15px] rounded-full shrink-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M9.125 1.375L3.875 6.62477L1.25 4"
                      stroke="#FCFCFC"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
                <p class="text-accent/60">Seeking new projects in innovative finance.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
