<!-- ============================
    CTA Section
    ============================= -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] bg-background-2 dark:bg-background-5 relative overflow-hidden z-10"
>
  <div class="main-container">
    <div class="text-center space-y-5 mb-8">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">Subscribe</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">Transform your finances from stress to success.</h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[534px] mx-auto">
          Take the first step toward a stronger financial future. start managing, saving, and
          growing your money with tools designed to make success simple.
        </p>
      </div>
    </div>
    <div class="space-y-8 mb-[38px]">
      <form
        action="#"
        method="post"
        data-ns-animate
        data-delay="0.4"
        class="flex flex-wrap items-center justify-center gap-3"
      >
        <input
          type="email"
          name="email"
          id="userEmail"
          placeholder="Enter your email"
          required
          class="px-[18px] h-12 outline-none py-3 dark:text-accent/90 placeholder:text-secondary/50 dark:placeholder:text-accent/50 rounded-full border border-stroke-1 dark:border-stroke-7 max-w-[340px] w-[85%] focus:ring-[0.8px] focus:ring-primary-500 placeholder:font-normal font-normal"
        />
        <button
          type="submit"
          class="btn btn-md btn-primary hover:btn-secondary dark:hover:btn-accent h-12 w-[85%] md:w-auto"
        >
          <span>Get started</span>
        </button>
      </form>
      <ul class="flex flex-col md:flex-row items-center justify-center gap-y-4 md:gap-[42px]">
        <li data-ns-animate data-delay="0.5" class="flex items-center justify-center gap-2">
          <span
            class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              aria-hidden="true"
              class="shrink-0"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                class="dark:fill-secondary fill-accent"
              />
            </svg>
          </span>
          <p class="text-tagline-2">Grow savings faster</p>
        </li>
        <li data-ns-animate data-delay="0.6" class="flex items-center justify-center gap-2">
          <span
            class="size-5 bg-secondary dark:bg-accent rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
              aria-hidden="true"
              class="shrink-0"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                class="dark:fill-secondary fill-accent"
              />
            </svg>
          </span>
          <p class="text-tagline-2">Track spending easily</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- gradient img  -->
  <div>
    <!-- left img  -->
    <figure
      data-ns-animate
      data-delay="0.7"
      data-duration="2"
      data-spring="true"
      data-direction="left"
      data-offset="200"
      class="absolute -top-[28%] md:-top-[40%] lg:-top-[49%] 2xl:-top-[53%] -left-[10%] -z-10 pointer-events-none max-w-[280px] md:max-w-[360px] lg:max-w-[450px] 2xl:max-w-[584px] w-full select-none"
    >
      <img
        src="./images/ns-img-500.png"
        alt="Decorative gradient background overlay"
        class="w-full h-full object-cover"
      />
    </figure>

    <!-- right img  -->
    <figure
      data-ns-animate
      data-delay="0.7"
      data-duration="2"
      data-spring="true"
      data-direction="right"
      class="absolute -bottom-[18%] -right-[6%] -z-10 pointer-events-none max-w-[230px] md:max-w-[270px] lg:max-w-[370px] xl:max-w-[409px] w-full select-none"
    >
      <img
        src="./images/ns-img-505.png"
        alt="Decorative gradient background overlay"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>
</section>
