<!-- ==============
Features Section
================= -->
<section
  class="pb-16 pt-16 md:pb-20 md:pt-20 lg:pb-[90px] lg:pt-[90px] xl:pb-[100px] xl:pt-[100px] bg-background-2 dark:bg-background-7"
>
  <div class="main-container">
    <!-- feature Items -->
    <div class="grid grid-cols-12 space-y-8 md:space-y-0 md:gap-8">
      <div data-ns-animate data-delay="0.1" class="col-span-12 lg:col-span-7 xl:col-span-8">
        <div
          class="relative overflow-hidden rounded-[20px] border-8 border-white dark:border-background-9"
        >
          <div
            data-ns-animate
            data-delay="0.2"
            data-direction="up"
            data-offset="200"
            class="absolute -z-0 -top-[80%] min-[400px]:-top-[105%] sm:-top-[110%] lg:-top-[90%] xl:-top-[80%] -right-[30%] rotate-[274deg] max-w-[560px] select-none pointer-events-none"
          >
            <img src="./images/ns-img-506.png" alt="gradient" />
          </div>

          <div
            class="p-6 md:p-8 h-full bg-background-3 dark:bg-background-6 space-y-8 md:space-y-14"
          >
            <div class="space-y-2 relative z-10">
              <span class="badge badge-green mb-3 md:mb-5">How it works</span>
              <h2 class="text-secondary dark:text-accent md:max-w-[564px]">
                Modern tools for real-life money management
              </h2>
              <p class="text-secondary/60 dark:text-accent/80 md:max-w-[480px]">
                Modern tools simplify managing your money like never before. from clear,
                customizable budgets to intelligent savings goals.
              </p>
            </div>
            <div>
              <a
                href="./personal-finance-features.html"
                class="btn btn-md btn-secondary hover:btn-primary dark:btn-transparent w-full md:w-auto"
              >
                <span>Learn more</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        data-ns-animate
        data-delay="0.2"
        class="col-span-12 md:col-span-6 lg:col-span-5 xl:col-span-4"
      >
        <div
          class="py-6 px-4 md:px-7 rounded-[20px] h-full border-8 border-white dark:border-background-9 bg-background-3 dark:bg-background-6 space-y-6 rounded-br-[20px] rounded-bl-[20px]"
        >
          <div class="space-y-1">
            <h5 class="text-secondary dark:text-accent">Crystal-clear budgeting</h5>
            <p class="text-secondary/60 dark:text-accent/60 max-w-[206px]">
              Create, monitor, and adjust budgets with ease.
            </p>
          </div>
          <div class="bg-white dark:bg-background-5 rounded-2xl p-6">
            <div class="text-left">
              <span class="text-tagline-2 font-normal text-secondary dark:text-accent"
                >Balance</span
              >
              <h3 class="text-heading-5 flex items-center mt-2 mb-[30px] lg:mb-4 xl:mb-[30px]">
                $<span
                  data-counter
                  data-number="48257"
                  data-speed="2000"
                  data-interval="200"
                  data-rooms="5"
                  data-height-space="2.5"
                  >48,257</span
                >
              </h3>
            </div>
            <div class="flex gap-3">
              <div class="bg-background-4 rounded-xl p-4 space-y-2 flex-1 text-left">
                <div class="flex items-center justify-start gap-2 text-tagline-2 text-secondary">
                  <span
                    class="bg-ns-red flex items-center justify-center rounded-full size-[18px] p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="9"
                      viewBox="0 0 8 9"
                      fill="none"
                      aria-hidden="true"
                      focusable="false"
                    >
                      <path
                        d="M7.8842 4.49692C7.81538 4.42054 7.72089 4.37564 7.62101 4.37185C7.51393 4.36976 7.41095 4.41514 7.33717 4.49692L4.39555 7.59633L4.39555 0.407818C4.39277 0.18381 4.2211 0.00292873 4.0085 0C3.79589 0.00292873 3.62422 0.18381 3.62144 0.407818L3.62144 7.59633L0.679823 4.49692C0.581182 4.39007 0.435935 4.34679 0.298794 4.38337C0.161654 4.41996 0.0534544 4.53085 0.0149541 4.67428C-0.0235462 4.81771 0.0135021 4.97189 0.112143 5.07873L3.72465 8.88503C3.87798 9.03832 4.11836 9.03832 4.27169 8.88503L7.8842 5.07873C7.95828 5.00206 8 4.89724 8 4.78783C8 4.67841 7.95828 4.57359 7.8842 4.49692Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  Income
                </div>
                <div class="text-lg flex items-center font-medium leading-[1.5]">
                  $<span
                    data-counter
                    data-number="48000"
                    data-speed="2000"
                    data-interval="200"
                    data-rooms="5"
                    data-height-space="2.5"
                    >48,000</span
                  >
                </div>
              </div>

              <div class="bg-secondary rounded-xl p-4 space-y-2 flex-1 text-left">
                <div class="flex items-center justify-start gap-2 text-tagline-2 text-white">
                  <span
                    class="bg-ns-green flex items-center justify-center rounded-full size-[18px] p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="9"
                      viewBox="0 0 8 9"
                      fill="none"
                      aria-hidden="true"
                      focusable="false"
                    >
                      <path
                        d="M7.8842 4.50308C7.81538 4.57946 7.72089 4.62436 7.62101 4.62815C7.51393 4.63024 7.41095 4.58486 7.33717 4.50308L4.39555 1.40367L4.39555 8.59218C4.39277 8.81619 4.2211 8.99707 4.0085 9C3.79589 8.99707 3.62422 8.81619 3.62144 8.59218L3.62144 1.40367L0.679823 4.50308C0.581182 4.60993 0.435935 4.65321 0.298794 4.61663C0.161654 4.58004 0.0534544 4.46915 0.0149541 4.32572C-0.0235462 4.18229 0.0135021 4.02811 0.112143 3.92127L3.72465 0.114967C3.87798 -0.0383222 4.11836 -0.0383222 4.27169 0.114967L7.8842 3.92127C7.95828 3.99794 8 4.10276 8 4.21217C8 4.32159 7.95828 4.42641 7.8842 4.50308Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  Expenses
                </div>
                <div class="text-lg flex items-center font-medium leading-[1.5] text-white">
                  $<span
                    data-counter
                    data-number="2321"
                    data-speed="2000"
                    data-interval="200"
                    data-rooms="4"
                    data-height-space="2.5"
                    >2,321</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="py-6 px-4 md:px-7 rounded-[20px] h-full border-8 border-white dark:border-background-9 bg-background-3 dark:bg-background-6 space-y-6 rounded-br-[20px] rounded-bl-[20px]"
        >
          <div class="space-y-1">
            <h5 class="text-secondary dark:text-accent">Smarter saving goals</h5>
            <p class="text-secondary/60 dark:text-accent/60 max-w-[276px]">
              Set personal targets and watch your savings grow over time.
            </p>
          </div>
          <div class="bg-white dark:bg-background-5 rounded-2xl p-6" aria-label="Tottal saving ">
            <div class="text-left">
              <span class="text-tagline-2 font-normal text-secondary dark:text-accent"
                >Total saving</span
              >
              <h3 class="total-saving text-heading-5 mt-2 mb-[30px]">$56,324</h3>
            </div>

            <div
              data-progress-item
              data-progress-value="88"
              data-progress-duration="2.5"
              class="bg-background-2 dark:bg-background-9 rounded-xl p-4 space-y-2 flex-1 text-left"
            >
              <div class="flex justify-between items-center">
                <span class="text-tagline-1 dark:text-accent">May</span>
                <span class="flex items-center gap-1 text-tagline-1 font-medium dark:text-accent"
                  >$
                  <span
                    data-counter
                    data-number="56324"
                    data-speed="2000"
                    data-interval="200"
                    data-rooms="5"
                    data-height-space="2.5"
                    >56,324</span
                  ></span
                >
              </div>
              <div
                class="flex items-center justify-between gap-1"
                role="status"
                aria-label="Credit limit usage"
              >
                <span
                  class="relative md:max-w-[229px] inline-block bg-secondary w-full h-1.5 rounded-full"
                >
                  <span
                    data-progress-bar
                    class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
                  ></span>
                </span>
                <span data-progress-text class="text-tagline-3 font-normal dark:text-accent"
                  >88%</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="py-6 px-4 md:px-7 rounded-[20px] h-full border-8 border-white dark:border-background-9 bg-background-3 dark:bg-background-6 space-y-6 rounded-br-[20px] rounded-bl-[20px]"
        >
          <div class="space-y-1">
            <h5 class="text-secondary dark:text-accent">Debt tracking</h5>
            <p class="text-secondary/60 dark:text-accent/60 max-w-[344px]">
              Organize your loans and credit card payments with real-time progress updates.
            </p>
          </div>
          <figure class="rounded-2xl overflow-hidden">
            <img
              src="./images/ns-img-204.png"
              alt="Visa"
              class="w-full h-full object-cover"
            />
          </figure>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
        <div
          class="py-6 px-4 md:px-7 rounded-[20px] h-full border-8 border-white dark:border-background-9 bg-background-3 dark:bg-background-6 space-y-6 rounded-br-[20px] rounded-bl-[20px]"
        >
          <div class="space-y-1">
            <h5 class="text-secondary dark:text-accent">Cash flow overview</h5>
            <p class="text-secondary/60 dark:text-accent/60 max-w-[310px]">
              Get a visual breakdown of your income, bills, and spending patterns.
            </p>
          </div>
          <div
            class="bg-background-2 dark:bg-background-5 relative flex items-center justify-center py-[30px] md:py-5 lg:py-[30px] rounded-2xl"
          >
            <figure>
              <img src="./images/ns-img-203.png" alt="Visa" />
            </figure>
            <div
              class="cash-flow-wrapper absolute top-1/2 -translate-y-[180%] -translate-x-[114%] -rotate-[24deg]"
            >
              <div
                class="text-heading-5 flex items-center gap-1 py-1 px-3.5 rounded-[31px] text-white dark:text-secondary dark:bg-accent bg-secondary"
              >
                <span
                  data-counter
                  data-number="90"
                  data-speed="1800"
                  data-interval="100"
                  data-rooms="2"
                  data-height-space="2.5"
                  >90</span
                >%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
