<!-- =======================
Hero Section
========================= -->
<section class="hero-section pt-36 lg:pt-[150px] md:pt-[180px]">
  <div class="main-container">
    <div
      class="flex flex-col md:flex-row justify-start min-[1096px]:justify-center gap-y-16 items-center"
    >
      <div class="space-y-8">
        <div class="text-center md:text-left">
          <div class="space-y-2.5 lg:space-y-4">
            <h1 data-ns-animate data-delay="0.1" class="lg:max-w-[645px]">
              Master your money with confidence
            </h1>
            <p data-ns-animate data-delay="0.2" class="lg:max-w-[465px]">
              Managing finances can be simple. With NextSaaS, track spending, save, and plan for the
              future with ease and clarity.
            </p>
          </div>
          <div data-ns-animate data-delay="0.3" class="mt-10 lg:mt-14">
            <a
              href="./personal-finance-pricing.html"
              class="hero-button btn btn-md md:btn-xl hover:btn-secondary btn-primary dark:btn-accent dark:hover:btn-white-dark w-[90%] md:w-auto"
            >
              <span>Get started for free </span>
            </a>
          </div>
        </div>
        <div class="lg:max-w-[277px] w-full">
          <div class="divider border-t border-stroke-2 dark:border-stroke-6 w-0"></div>
        </div>
        <div class="flex gap-4 items-center justify-center md:justify-start avatar-group-images">
          <div class="flex -space-x-3">
            <img
              data-ns-animate
              data-delay="0.4"
              class="inline-block size-9 rounded-full ring-2 ring-white dark:ring-black bg-ns-yellow"
              src="./images/ns-avatar-1.png"
              alt="Avatar 1"
            />
            <img
              data-ns-animate
              data-delay="0.5"
              class="inline-block size-9 rounded-full ring-2 ring-white dark:ring-black bg-ns-red"
              src="./images/ns-avatar-2.png"
              alt="Avatar 2"
            />
            <img
              data-ns-animate
              data-delay="0.6"
              class="inline-block size-9 rounded-full ring-2 ring-white dark:ring-black bg-ns-green"
              src="./images/ns-avatar-3.png"
              alt="Avatar 3"
            />
            <div
              data-ns-animate
              data-delay="0.7"
              class="inline-flex items-center justify-center size-9 rounded-full ring-2 ring-white dark:ring-black text-secondary/80 bg-ns-cyan text-tagline-3 font-medium cursor-pointer"
            >
              99+
            </div>
          </div>
          <div data-ns-animate data-delay="0.8">
            <p class="text-tagline-2 font-medium text-secondary dark:text-accent">
              Trusted by 20k+
            </p>
            <p class="text-tagline-3">Customers Across the globe</p>
          </div>
        </div>
      </div>
      <figure
        data-ns-animate
        data-delay="0.6"
        data-duration="2"
        data-spring="true"
        data-direction="up"
        class="max-w-[300px] md:max-w-[320px] lg:max-w-[400px] 2xl:max-w-[700px] relative -z-0 md:-mt-72 lg:-mt-28 2xl:-mt-36"
      >
        <img
          src="./images/ns-img-202.png"
          alt="Finance management app dashboard"
          class="size-full object-cover"
        />
      </figure>
    </div>

    <div class="pt-10 md:pt-[100px]">
      <div class="main-container">
        <div class="space-y-4 lg:space-y-8">
          <p
            data-ns-animate
            data-delay="0.6"
            class="text-heading-5 font-normal text-secondary dark:text-accent text-center"
          >
            Trusted by industry leaders
          </p>
          <div data-ns-animate data-delay="0.7" class="opacity-0">
            <div class="flex items-center flex-wrap gap-x-8 gap-y-4 justify-center">
              <figure class="w-[120px] md:w-[201px]">
                <img
                  src="./images/icons/client-logo-6.svg"
                  class="size-full dark:invert"
                  alt="clients"
                />
              </figure>
              <figure class="w-[120px] md:w-[201px]">
                <img
                  src="./images/icons/client-logo-7.svg"
                  class="size-full dark:invert"
                  alt="clients"
                />
              </figure>
              <figure class="w-[120px] md:w-[201px]">
                <img
                  src="./images/icons/client-logo-8.svg"
                  class="size-full dark:invert"
                  alt="clients"
                />
              </figure>
              <figure class="w-[120px] md:w-[201px]">
                <img
                  src="./images/icons/client-logo-9.svg"
                  class="size-full dark:invert"
                  alt="clients"
                />
              </figure>
              <figure class="w-[120px] md:w-[201px]">
                <img
                  src="./images/icons/client-logo-10.svg"
                  class="size-full dark:invert"
                  alt="clients"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
