<!-- =============================
    Pricing Section
    ============================= -->

<section
  class="pb-16 pt-16 md:pb-20 md:pt-20 lg:pb-[90px] lg:pt-[90px] xl:pb-[100px] xl:pt-[100px]"
  aria-label="Pricing Plans"
>
  <div class="max-w-[1460px] mx-4 sm:mx-auto">
    <div class="lg:p-2.5 rounded-[20px] bg-background-2 dark:bg-background-5">
      <div class="py-16 md:py-20 xl:py-[120px] lg:px-[64px] rounded-[20px]">
        <div class="main-container">
          <div class="space-y-14 lg:space-y-[70px]">
            <!-- heading  -->
            <div class="space-y-3 text-center">
              <span data-ns-animate data-delay="0.1" class="badge badge-green">Our pricing</span>
              <h2 data-ns-animate data-delay="0.2" id="pricing-heading">
                Flexible plans for every budget
              </h2>
            </div>

            <div class="grid grid-cols-12 gap-y-10 sm:gap-x-8">
              <div data-ns-animate data-delay="0.3" class="col-span-12 md:col-span-6 xl:col-span-3">
                <div>
                  <div class="h-[195px] w-[290px] hidden md:block"></div>
                  <div class="space-y-2.5">
                    <h3 class="text-heading-6 text-secondary dark:text-accent">What’s included</h3>
                    <ul>
                      <li
                        class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        Pages included
                      </li>
                      <li
                        class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        Custom design
                      </li>
                      <li
                        class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        SEO optimization
                      </li>
                      <li
                        class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        Branding support
                      </li>
                      <li
                        class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6"
                      >
                        Social media integration
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-6 xl:col-span-3">
                <div>
                  <div
                    class="rounded-t-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8"
                  >
                    <div>
                      <p
                        class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3"
                      >
                        Essential
                      </p>
                      <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                        Free
                      </h3>
                      <p class="text-secondary/60 dark:text-accent/60">Free plan for all users</p>
                    </div>
                    <a
                      href="./personal-finance-contact.html"
                      class="btn btn-white dark:btn-white-dark btn-md w-full hover:btn-primary before:content-none first-letter:uppercase"
                    >
                      Get started
                    </a>
                  </div>
                  <div class="rounded-b-[20px] bg-background-1 dark:bg-background-6">
                    <ul>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 5</p>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <svg
                          width="20"
                          height="20"
                          viewBox="0 0 20 20"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <rect
                            width="20"
                            height="20"
                            rx="10"
                            fill=""
                            class="fill-secondary dark:fill-accent"
                          ></rect>
                          <path
                            d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                            fill=""
                            class="fill-white dark:fill-black"
                          ></path>
                        </svg>
                      </li>
                      <li class="h-14 px-6 py-4 text-center"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-6 xl:col-span-3">
                <div>
                  <div
                    class="rounded-t-[20px] relative py-8 px-6 bg-secondary dark:bg-background-5 space-y-8 overflow-hidden"
                  >
                    <div
                      class="absolute z-0 h-full w-full -top-28 sm:-top-80 md:-top-28 lg:-top-40 xl:-top-28 -right-20"
                    >
                      <img src="./images/ns-img-496.png" alt="pricing bg" />
                    </div>
                    <div class="relative z-10">
                      <p class="text-tagline-1 text-accent/60 font-medium mb-3">Advanced</p>
                      <h3 class="text-heading-5 font-normal text-accent">$99</h3>
                      <p class="text-accent/60">Plans for advanced users</p>
                    </div>
                    <a
                      href="./personal-finance-contact.html"
                      class="btn btn-primary hover:btn-white btn-md w-full relative z-10 before:content-none first-letter:uppercase border-0"
                    >
                      Get started
                    </a>
                  </div>
                  <div class="rounded-b-[20px] bg-background-1 dark:bg-background-6">
                    <ul>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 10</p>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li class="h-14 px-6 py-4 text-center flex items-center justify-center"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-6 xl:col-span-3">
                <div>
                  <div
                    class="rounded-t-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8"
                  >
                    <div>
                      <p
                        class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3"
                      >
                        Enterprise
                      </p>
                      <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">
                        Enterprise
                      </h3>
                      <p class="text-secondary/60 dark:text-accent/60">
                        Contact us for enterprise users
                      </p>
                    </div>
                    <a
                      href="./personal-finance-contact.html"
                      class="btn dark:btn-white-dark btn-white btn-md w-full hover:btn-primary before:content-none first-letter:uppercase"
                    >
                      Get started
                    </a>
                  </div>
                  <div class="rounded-b-[20px] bg-background-1 dark:bg-background-6">
                    <ul>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
                      >
                        <p class="font-medium text-secondary/60 dark:text-accent/60">Unlimited</p>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li
                        class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
                      >
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                      <li class="h-14 px-6 py-4 text-center flex items-center justify-center">
                        <span
                          class="size-5 rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="7"
                            viewBox="0 0 10 7"
                            fill="none"
                            class="shrink-0"
                          >
                            <path
                              d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                              class="fill-white dark:fill-secondary"
                            />
                          </svg>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
