<!-- =========================
CTA section
===========================-->
<section
  class="py-[100px] md:py-[150px] bg-background-3 dark:bg-background-7"
  aria-label="Call to Action"
>
  <div class="max-w-[1440px] mx-auto">
    <div class="bg-white dark:bg-background-6 py-[76px] rounded-[30px] relative overflow-hidden">
      <!-- left bg  -->
      <figure
        class="absolute bottom-[-103px] left-[-120px] max-w-[230px] md:max-w-[300px] lg:max-w-[340px] xl:max-w-[386px] w-full select-none pointer-events-none"
        data-ns-animate
        data-delay="0.7"
        data-direction="left"
        data-offset="240"
        role="presentation"
      >
        <img
          src="./images/ns-img-507.png"
          class="size-full bg-cover"
          alt="Decorative background shape"
        />
      </figure>

      <div class="main-container">
        <div class="space-y-6">
          <div class="space-y-5 text-center">
            <span data-ns-animate data-delay="0.2" class="badge badge-primary-light"
              >Let's connect</span
            >

            <div class="space-y-3">
              <h2 data-ns-animate data-delay="0.3" id="cta-heading">Ready to grow smarter?</h2>
              <p data-ns-animate data-delay="0.4" class="max-w-[558px] md:w-full mx-auto">
                Let's make your marketing budget work harder—not bigger. Book your strategy call
                today and take the first step toward predictable growth.
              </p>
            </div>
          </div>

          <div data-ns-animate data-delay="0.5" class="text-center cta-button">
            <a
              href="./app-development-contact.html"
              class="btn btn-secondary hover:btn-white dark:btn-transparent dark:hover:btn-accent btn-lg xl:btn-xl"
            >
              <span>Book your free strategy call</span>
            </a>
          </div>
        </div>
      </div>

      <!-- right bg  -->
      <figure
        class="absolute top-[-152px] md:top-[-195px] right-[-104px] md:right-[-188px] max-w-[290px] md:max-w-[400px] lg:max-w-[450px] xl:max-w-[535px] w-full select-none pointer-events-none"
        data-ns-animate
        data-delay="0.7"
        data-direction="right"
        data-offset="240"
        role="presentation"
      >
        <img
          src="./images/ns-img-538.png"
          class="size-full bg-cover"
          alt="Decorative background shape"
        />
      </figure>
    </div>
  </div>
</section>
