<!-- =========================
Feature section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="max-w-[1440px] sm:mx-auto mx-5">
    <div class="bg-background-3 dark:bg-background-7 rounded-[30px] py-16 md:py-[100px]">
      <div class="main-container">
        <div class="space-y-5 text-center">
          <span data-ns-animate data-delay="0.2" class="badge inline-block badge-primary-light"
            >Featured projects</span
          >
          <h2 data-ns-animate data-delay="0.3">Success stories from our clients</h2>
        </div>

        <!-- features grid -->
        <div class="grid grid-cols-12 sm:gap-x-8 gap-y-14 mt-[70px]">
          <div data-ns-animate data-delay="0.4" class="col-span-12">
            <figure class="space-y-6">
              <div class="relative w-full h-[576px] rounded-[20px] overflow-hidden group">
                <div
                  class="absolute inset-0 bg-black/70 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
                ></div>
                <img
                  src="./images/ns-img-163.png"
                  class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
                  alt="portfolio"
                />
                <a
                  href="./app-development-case-studies-details.html"
                  class="group-hover:opacity-100 opacity-0 transition-all duration-300 absolute top-[55%] group-hover:top-1/2 left-1/2 -translate-x-1/2 btn btn-white btn-xl hover:btn-secondary dark:btn-white-dark dark:hover:btn-accent group-hover:shadow-3 transform hover:scale-[102%] z-20"
                >
                  <span>View case studies</span>
                </a>
              </div>
              <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-4 justify-between">
                <h3 class="text-heading-5 text-secondary dark:text-accent">Startup X</h3>
                <p class="md:max-w-[257px] md:text-right">
                  Scaled from mvp to 50k+ users in under 6 months.
                </p>
              </div>
            </figure>
          </div>
          <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-6">
            <figure class="space-y-6">
              <div class="relative w-full h-[576px] rounded-[20px] overflow-hidden group">
                <div
                  class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
                ></div>
                <img
                  src="./images/ns-img-164.png"
                  class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
                  alt="portfolio"
                />
                <a
                  href="./app-development-case-studies-details.html"
                  class="group-hover:opacity-100 opacity-0 transition-all duration-300 absolute top-[55%] group-hover:top-1/2 left-1/2 -translate-x-1/2 btn btn-white btn-xl hover:btn-secondary dark:btn-white-dark dark:hover:btn-accent group-hover:shadow-3 transform hover:scale-[102%] z-20"
                >
                  <span>View case studies</span>
                </a>
              </div>
              <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-4 justify-between">
                <h3 class="text-heading-5 text-secondary dark:text-accent">Studio north</h3>
                <p class="md:max-w-[257px] md:text-right">
                  Interactive portfolio for a film production house
                </p>
              </div>
            </figure>
          </div>
          <div data-ns-animate data-delay="0.7" class="col-span-12 lg:col-span-6">
            <figure class="space-y-6">
              <div class="relative w-full h-[576px] rounded-[20px] overflow-hidden group">
                <div
                  class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
                ></div>
                <img
                  src="./images/ns-img-165.png"
                  alt="portfolio"
                  class="w-full h-full object-cover dark:bg-background-9 bg-background-1 group-hover:scale-105 transition-all duration-500 ease-in-out"
                />
                <a
                  href="./app-development-case-studies-details.html"
                  class="group-hover:opacity-100 opacity-0 transition-all duration-300 absolute top-[55%] group-hover:top-1/2 left-1/2 -translate-x-1/2 btn btn-white btn-xl hover:btn-secondary dark:btn-white-dark dark:hover:btn-accent group-hover:shadow-3 transform hover:scale-[102%] z-20"
                >
                  <span>View case studies</span>
                </a>
              </div>
              <div class="flex flex-col md:flex-row md:items-center gap-1 md:gap-4 justify-between">
                <h3 class="text-heading-5 text-secondary dark:text-accent">Lumina ai</h3>
                <p class="md:max-w-[257px] md:text-right">
                  Landing page + ui system for a fast-growing ai startup
                </p>
              </div>
            </figure>
          </div>
          <div
            data-ns-animate
            data-delay="0.7"
            class="col-span-12 max-md:w-full max-md:text-center justify-self-center mt-6"
          >
            <a
              href="./app-development-case-study.html"
              class="btn btn-secondary hover:btn-white dark:btn-transparent dark:hover:btn-accent btn-lg xl:btn-xl w-[90%] md:w-auto block md:inline-block mx-auto"
            >
              <span>View portfolio</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
