<!-- =========================
Hero section
===========================-->
<section class="hero-section pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]" aria-label="Hero Section">
  <div class="max-w-[1440px] mx-auto">
    <div
      data-ns-animate
      data-delay="0.1"
      class="bg-linear-[180deg,_#B3C3DA_0%,_#93A5BE_100%] overflow-hidden rounded-[20px] relative top-4 lg:top-8 h-auto"
    >
      <figure
        class="absolute inset-0 z-0 translate-x-3 animate-pulse lg:translate-x-4 xl:translate-x-[75px]"
        aria-hidden="true"
      >
        <img src="./images/ns-img-161.svg" alt="Decorative background pattern" />
      </figure>
      <div class="main-container relative z-10">
        <div
          class="flex flex-col md:flex-row items-center pt-36 md:pt-40 gap-y-16 lg:pt-[150px] xl:pt-[170px] justify-center"
        >
          <div>
            <div class="space-y-2 md:space-y-4 mb-6 md:mb-8 text-center md:text-left">
              <h1
                data-ns-animate
                data-delay="0.2"
                class="max-w-full lg:max-w-[507px] dark:text-secondary"
              >
                Apps made for the future!
              </h1>
              <p data-ns-animate data-delay="0.4" class="md:max-w-[429px] text-secondary/60">
                From concept to launch, we design and develop mobile and web apps that drive real
                results.
              </p>
            </div>
            <div
              class="flex items-center flex-col sm:flex-row justify-center gap-y-5 md:justify-start sm:gap-x-4 mb-10 lg:mb-14"
            >
              <div class="flex -space-x-3.5" role="group">
                <img
                  data-ns-animate
                  data-delay="0.2"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-yellow"
                  src="./images/ns-avatar-1.png"
                  alt="User avatar 1"
                />
                <img
                  data-ns-animate
                  data-delay="0.3"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-red"
                  src="./images/ns-avatar-2.png"
                  alt="User avatar 2"
                />
                <img
                  data-ns-animate
                  data-delay="0.4"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-3.png"
                  alt="User avatar 3"
                />
                <div
                  data-ns-animate
                  data-delay="0.5"
                  data-direction="right"
                  data-offset="50"
                  class="inline-flex items-center cursor-pointerd justify-center size-12 rounded-full ring-2 ring-white dark:ring-black text-white dark:text-black bg-[#9DAEC6] text-tagline-3 font-medium"
                >
                  99+
                </div>
              </div>
              <div>
                <p
                  data-ns-animate
                  data-delay="0.6"
                  data-offset="40"
                  class="font-medium block text-left text-secondary text-tagline-2"
                >
                  Trusted by 20k+
                </p>
                <p
                  data-ns-animate
                  data-delay="0.7"
                  data-offset="40"
                  class="text-tagline-3 dark:text-secondary/60"
                >
                  Customers across the globe
                </p>
              </div>
            </div>

            <!-- btn-white -->
            <div data-ns-animate data-delay="0.8" class="w-[95%] mx-auto md:mx-0 md:w-full">
              <a
                href="./app-development-contact.html"
                class="btn btn-white btn-xl hover:btn-secondary w-full dark:btn-black dark:hover:btn-accent md:w-auto"
                aria-label="Book a free consultation call"
              >
                <span>Book a free call</span>
              </a>
            </div>
          </div>
          <figure class="max-w-[643px] w-full" data-ns-animate data-delay="0.9" data-offset="50">
            <img
              src="./images/ns-img-162.png"
              alt="App showcase illustration"
              class="size-full object-cover"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>

  <!-- Client Logos Section -->

  <aside class="main-container relative mt-[64px] lg:mt-[120px] z-10" aria-label="Our Clients">
    <div
      data-ns-animate
      data-delay="0.2"
      class="flex items-center flex-wrap md:flex-nowrap justify-center gap-4 md:gap-x-4 lg:gap-x-8"
      role="list"
    >
      <figure role="listitem" class="lg:min-w-36 lg:ml-8">
        <img
          src="./images/icons/client-logo-1.svg"
          alt="Client company logo 1"
          class="lg:w-auto inline-block dark:hidden"
        />
        <img
          src="./images/icons/client-logo-dark-1.svg"
          alt="Client company logo 1"
          class="lg:w-auto hidden dark:inline-block"
        />
      </figure>
      <figure role="listitem" class="lg:min-w-36">
        <img
          src="./images/icons/client-logo-2.svg"
          alt="Client company logo 2"
          class="lg:w-auto inline-block dark:hidden"
        />
        <img
          src="./images/icons/client-logo-dark-2.svg"
          alt="Client company logo 2"
          class="lg:w-auto hidden dark:inline-block"
        />
      </figure>
      <figure role="listitem" class="lg:min-w-36">
        <img
          src="./images/icons/client-logo-3.svg"
          alt="Client company logo 3"
          class="lg:w-auto inline-block dark:hidden"
        />
        <img
          src="./images/icons/client-logo-dark-3.svg"
          alt="Client company logo 3"
          class="lg:w-auto hidden dark:inline-block"
        />
      </figure>
      <figure role="listitem" class="lg:min-w-36">
        <img
          src="./images/icons/client-logo-4.svg"
          alt="Client company logo 4"
          class="lg:w-auto inline-block dark:hidden"
        />
        <img
          src="./images/icons/client-logo-dark-4.svg"
          alt="Client company logo 4"
          class="lg:w-auto hidden dark:inline-block"
        />
      </figure>
      <figure role="listitem" class="lg:min-w-36">
        <img
          src="./images/icons/client-logo-5.svg"
          alt="Client company logo 5"
          class="lg:w-auto inline-block dark:hidden"
        />
        <img
          src="./images/icons/client-logo-dark-5.svg"
          alt="Client company logo 5"
          class="lg:w-auto hidden dark:inline-block"
        />
      </figure>
    </div>
  </aside>
</section>
