<!-- =========================
Integration section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container">
    <div
      class="relative overflow-hidden z-10 rounded-[25px] py-16 md:py-[100px] bg-gradient-to-b from-[#B3C3DA] to-[#93A5BE]"
    >
      <div class="space-y-5 text-center mb-[70px]">
        <span data-ns-animate data-delay="0.2" class="badge badge-gray">Integrations</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.3" class="dark:text-secondary">Tech stack & tools.</h2>
          <p
            data-ns-animate
            data-delay="0.4"
            class="max-w-[510px] mx-auto w-full dark:text-secondary"
          >
            We work with the best technologies
          </p>
        </div>
      </div>
      <div>
        <div
          class="max-w-[852px] mx-auto grid grid-cols-1 md:grid-cols-2 gap-y-6 px-2 sm:px-4 sm:gap-8"
        >
          <div data-ns-animate data-delay="0.5" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img
                    src="./images/icons/zapier.svg"
                    alt="zapier"
                    class="size-14 object-contain"
                  />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Zapier</h5>
                  <p>Communication</p>
                </div>
              </div>

              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div data-ns-animate data-delay="0.6" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/snapchat.svg" alt="slack" class="size-14 object-cover" />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Snapchat</h5>
                  <p>Messaging app</p>
                </div>
              </div>
              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div data-ns-animate data-delay="0.7" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img
                    src="./images/icons/shopify.svg"
                    alt="shopify"
                    class="size-14 object-cover"
                  />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Shopify</h5>
                  <p>e-commerce</p>
                </div>
              </div>
              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div data-ns-animate data-delay="0.8" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/figma.svg" alt="figma" class="size-14 object-cover" />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Figma</h5>
                  <p>Design tool</p>
                </div>
              </div>

              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div data-ns-animate data-delay="0.9" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/slack.svg" alt="slack" class="size-14 object-cover" />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Slack</h5>
                  <p>Communication</p>
                </div>
              </div>
              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
          <div data-ns-animate data-delay="1" class="group">
            <a
              href="./app-development-integration.html"
              class="cursor-pointer mx-2 sm:mx-0 p-4 sm:p-8 rounded-2xl bg-white dark:bg-secondary/60 flex items-center justify-between gap-4 scale-100 hover:scale-[102%] transition-transform duration-500 hover:transition-transform hover:duration-500"
            >
              <div class="flex items-center gap-4">
                <figure
                  class="grow-0 shrink-0 size-14 transition-transform duration-500 group-hover:rotate-12 group-hover:scale-[103%]"
                >
                  <img src="./images/icons/tiktok.svg" alt="tiktok" class="size-14 object-cover" />
                </figure>

                <div
                  class="grow-0 shrink-0 transform transition-transform duration-500 group-hover:translate-x-1.5"
                >
                  <h5>Tiktok</h5>
                  <p>Video feed</p>
                </div>
              </div>
              <div
                class="size-14 relative overflow-hidden rounded-full bg-background-4 dark:bg-background-7 group-hover:bg-secondary dark:group-hover:bg-accent/40 flex items-center justify-center transition-all duration-[600ms] group-hover:shadow-1 ease-[cubic-bezier(0.9, 0, 0.8, 1)]"
              >
                <span class="sr-only">Arrow Icon</span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out -translate-x-11 group-hover:translate-x-0 opacity-0 group-hover:opacity-100"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-white dark:stroke-black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="absolute transition-all duration-[600ms] ease-in-out translate-x-0 group-hover:translate-x-10 opacity-100 group-hover:opacity-0"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.75 12H20.25"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13.5 5.25L20.25 12L13.5 18.75"
                    class="stroke-black dark:stroke-white"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- bg img  -->
      <figure
        data-ns-animate
        data-delay="1.1"
        data-direction="right"
        data-offset="240"
        class="absolute -right-[30%] -bottom-[50%] max-w-[1440px] w-full max-h-[862px] h-full rotate-[353deg] opacity-70 -z-10 select-none pointer-events-none"
      >
        <img
          src="./images/ns-img-496.png"
          alt="integrations bg"
          class="rotate-x-[180deg] size-full object-cover object-center"
        />
      </figure>
    </div>
  </div>
</section>
