<!--============================= 
What We Offer Services Section
=============================== -->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[200px]">
  <div
    data-ns-animate
    data-delay="0.1"
    class="max-w-[1440px] bg-background-3 dark:bg-background-7 rounded-[30px] py-20 md:py-[100px] mx-auto"
  >
    <div class="main-container">
      <div class="flex flex-col md:flex-row items-start gap-y-24 gap-x-[140px]">
        <div
          class="w-full lg:flex-1 lg:sticky lg:top-28 lg:max-w-full max-w-[520px] lg:mx-0 mx-auto text-center lg:text-left space-y-7 lg:space-y-14"
        >
          <span data-ns-animate data-delay="0.3" class="badge badge-primary-light mb-5">
            What we offer
          </span>
          <div class="space-y-2 md:max-w-[595px]">
            <h2 data-ns-animate data-delay="0.4">End-to-end app development services.</h2>
            <p data-ns-animate data-delay="0.5">
              Everything you need to launch, grow, and scale a successful app.
            </p>
          </div>
          <div data-ns-animate data-delay="0.6">
            <a
              href="./app-development-services.html"
              class="btn btn-white btn-lg lg:btn-xl w-[90%] md:w-auto mx-auto md:mx-0 dark:btn-transparent hover:btn-secondary dark:hover:btn-accent"
            >
              <span> Explore our services </span>
            </a>
          </div>
        </div>
        <div
          class="w-full lg:flex-1 stack-cards js-stack-cards lg:max-w-full md:max-w-[65%] max-w-[90%] lg:mx-0 mx-auto"
        >
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-34 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Mobile app development.</h3>
              <p>Native iOS &amp; android apps built for performance and scalability.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-38 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Web app development.</h3>
              <p>Fast, secure, and scalable web applications for all industries.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-35 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">UI/UX design.</h3>
              <p>Intuitive and engaging interfaces that boost user satisfaction.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-17 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">MVP &amp; prototype development.</h3>
              <p>Validate your product idea before investing heavily.</p>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item border border-stroke-1/90 dark:border-stroke-5 bg-white dark:bg-background-6 rounded-[20px] space-y-6 p-8 max-sm:min-h-[255px]"
          >
            <span class="block ns-shape-25 text-heading-2 text-secondary dark:text-accent"></span>
            <div class="space-y-2">
              <h3 class="text-heading-5">Maintenance &amp; support.</h3>
              <p>Ongoing support and performance optimization post-launch.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
