<!-- =========================
CTA section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[112px] xl:pt-[112px]"
>
  <div class="main-container">
    <div class="text-center max-w-[649px] space-y-8 mx-auto">
      <h2 data-ns-animate data-delay="0.1">Discover the key features of our mobile app.</h2>

      <div class="flex md:flex-row flex-col gap-y-3 md:gap-y-0 items-center justify-center gap-x-4">
        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          data-offset="50"
          class="w-[90%] sm:w-auto"
        >
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="#"
            btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
            btn-text="App store"
          />
        </div>

        <div
          data-ns-animate
          data-delay="0.5"
          data-direction="left"
          data-offset="50"
          class="w-[90%] sm:w-auto"
        >
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="#"
            btn-class="btn-xl-v2 btn-ash-v2 group-hover/btn-v2:btn-secondary-v2"
            btn-text="Google play"
          />
        </div>
      </div>
    </div>
  </div>
</section>
