<!-- ==========================Hero=========================== -->
<section class="pt-23 max-[1920px]:px-5">
  <div
    class="bg-background-12 max-w-[1880px] mx-auto relative pt-20 -mb-2 md:pt-30 border overflow-hidden border-background-12 rounded-3xl xl:rounded-4xl"
  >
    <div
      data-ns-animate
      data-delay="0.3"
      data-instant
      data-direction="up"
      class="hidden md:block absolute w-full h-full top-0 left-0 before:content-[''] before:absolute before:left-[7%] 2xl:before:left-[16%] before:z-10 before:w-px before:h-[100%] before:bg-stroke-3 before:top-0 after:content-[''] after:absolute after:right-[7%] 2xl:after:right-[16%] after:z-10 after:w-px after:h-[100%] after:bg-stroke-3 after:top-0 z-10"
    >
      <div
        class="absolute w-[100%] h-px bg-stroke-3 top-[44%] xl:top-[43%] before:absolute before:content-[''] before:size-3 before:bg-white before:drop-shadow-[0,1px,2px,#AFB9C6] before:left-[6.3%] 2xl:before:left-[15.7%] before:z-20 before:-top-2 before:ring-6 before:ring-stroke-3 before:rounded-full after:absolute after:content-[''] after:size-3 after:bg-white after:ring-6 after:ring-stroke-3 after:right-[6.3%] 2xl:after:right-[15.7%] after:z-20 after:-top-[7px] after:drop-shadow-[0,1px,2px,#AFB9C6] after:rounded-full"
      ></div>
    </div>

    <div class="main-container relative z-30">
      <div class="text-center mb-12 lg:mb-20 xl:mb-33">
        <h1 class="font-medium mb-3 opacity-0" data-ns-animate data-instant data-delay="0.1">
          Using AI applications to boost <br class="hidden md:block" />
          business success.
        </h1>
        <p
          class="max-w-[750px] mx-auto mb-7 md:mb-14"
          data-ns-animate
          data-instant
          data-delay="0.2"
        >
          Our startup development services aim to fast-track your path from idea to launch,
          equipping you with the technical skills and strategic insights essential for success.
        </p>
        <div
          class="flex md:flex-row flex-col gap-y-3 md:gap-y-0 items-center justify-center gap-x-4"
        >
          <div
            data-ns-animate
            data-delay="0.4"
            data-direction="left"
            data-offset="50"
            data-instant
            class="w-[90%] md:w-auto"
          >
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="./ai-application-services.html"
              btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
              btn-text="Discover"
            />
          </div>

          <div
            data-ns-animate
            data-delay="0.5"
            data-direction="left"
            data-offset="50"
            data-instant
            class="w-[90%] md:w-auto"
          >
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="./ai-application-signup.html"
              btn-class="btn-xl-v2 btn-gray-v2 group-hover/btn-v2:btn-secondary-v2"
              btn-text="Get started"
            />
          </div>
        </div>
      </div>

      <!-- banner -->
      <figure
        data-ns-animate
        data-delay="0.4"
        data-instant
        class="max-w-[620px] -mb-3 lg:max-w-[840px] xl:max-w-[1000px] 2xl:max-w-[1016px] min-[1800px]:!max-w-[1166px] mx-auto"
      >
        <img src="./images/ns-img-327.png" alt="Hero banner" class="w-full h-full object-cover" />
      </figure>
    </div>
  </div>
</section>
