<!-- =========================
How It's Work section
===========================-->
<section class="py-20 md:py-28 lg:py-34 xl:py-39">
  <div class="main-container">
    <div class="mb-10 md:mb-11 text-center lg:max-w-[730px] lg:mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-gray-light-v2 mb-4"
        >How It Work</span
      >
      <h2 data-ns-animate data-delay="0.2" class="mb-3">Generate AI Speech with NextSaaS</h2>
      <p data-ns-animate data-delay="0.3">
        Turn text into natural, human-like voices instantly with powerful AI speech technology.
      </p>
    </div>

    <div
      class="flex justify-center items-center gap-8 relative flex-col sm:flex-row max-lg:flex-wrap"
    >
      <div
        data-ns-animate
        data-delay="0.4"
        data-direction="left"
        data-offset="80"
        class="bg-ns-green rounded-[20px] max-w-[408px] w-full flex flex-col justify-between p-11 max-sm:space-y-8 sm:min-h-[350px]"
      >
        <div class="text-center">
          <span class="ns-shape-3 text-[52px] text-secondary"> </span>
        </div>
        <div class="max-md:space-y-0.5 space-y-1 text-center">
          <h3 class="text-heading-6 md:text-heading-5">Multiple voice options.</h3>
          <p class="text-tagline-1 text-secondary/60">
            Choose from a wide range of male and female voices to match your brand’s style.
          </p>
        </div>
      </div>

      <div
        data-ns-animate
        data-delay="0.5"
        data-direction="left"
        data-offset="100"
        data-duration="0.6"
        class="bg-background-3 ring-8 ring-white rounded-[80px] py-9 px-4 absolute top-1/2 z-10 -translate-y-1/2 left-[31%] hidden lg:inline-block max-w-[52px] w-full overflow-hidden"
      >
        <div class="size-6 overflow-hidden icon-right-marquee-container">
          <figure class="size-6 flex items-center justify-center">
            <img
              src="./images/icons/new-arrow.svg"
              alt="new-arrow"
              class="size-full object-cover"
            />
            <img
              src="./images/icons/new-arrow.svg"
              alt="new-arrow"
              class="size-full object-cover"
            />
          </figure>
        </div>
      </div>

      <div
        data-ns-animate
        data-delay="0.7"
        data-direction="left"
        data-offset="70"
        data-duration="0.5"
        class="bg-background-3 rounded-[20px] max-w-[408px] w-full flex flex-col justify-between p-11 max-sm:space-y-8 sm:min-h-[350px]"
      >
        <div class="text-center">
          <span class="ns-shape-2 text-[52px] text-secondary"> </span>
        </div>
        <div class="max-md:space-y-0.5 space-y-1 text-center">
          <h3 class="text-heading-6 md:text-heading-5">Realistic & clear audio</h3>
          <p class="text-tagline-1 text-secondary/60">
            Deliver lifelike speech that feels authentic and engaging for your audience.
          </p>
        </div>
      </div>

      <div
        data-ns-animate
        data-delay="0.8"
        data-direction="left"
        data-offset="100"
        data-duration="0.6"
        class="bg-background-3 z-10 ring-8 ring-white rounded-[80px] py-9 px-4 absolute top-1/2 -translate-y-1/2 right-[31%] hidden lg:inline-block max-w-[52px] w-full overflow-hidden"
      >
        <div class="size-6 overflow-hidden icon-right-marquee-container">
          <figure class="size-6 flex items-center justify-center">
            <img
              src="./images/icons/new-arrow.svg"
              alt="new-arrow"
              class="size-full object-cover"
            />
            <img
              src="./images/icons/new-arrow.svg"
              alt="new-arrow"
              class="size-full object-cover"
            />
          </figure>
        </div>
      </div>

      <div
        data-ns-animate
        data-delay="1"
        data-direction="left"
        data-offset="80"
        data-duration="0.7"
        class="bg-ns-green rounded-[20px] max-w-[408px] w-full flex flex-col justify-between p-11 max-sm:space-y-8 sm:min-h-[350px]"
      >
        <div class="text-center">
          <span class="ns-shape-8 text-[52px] text-secondary"> </span>
        </div>
        <div class="max-md:space-y-0.5 space-y-1 text-center">
          <h3 class="text-heading-6 md:text-heading-5">Fast & easy conversion.</h3>
          <p class="text-tagline-1 text-secondary/60">
            Convert your text into speech within seconds — no technical skills required.
          </p>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.5" class="text-center mt-14">
      <Component
        src="src/components/shared/button-v2.htm"
        page-link="./ai-application-pricing.html"
        btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
        btn-text="Generate Voice"
      />
    </div>
  </div>
</section>
