<!-- =========================
Marquee section
===========================-->

<section>
  <div class="relative" data-ns-animate data-delay="0.2">
    <div
      class="absolute left-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-r from-white to-transparent dark:from-background-5 z-40"
    ></div>
    <div
      class="absolute right-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-l from-white to-transparent dark:from-background-5 z-40"
    ></div>

    <div class="logos-marquee-container" role="marquee">
      <div class="flex items-center gap-8 justify-center py-7.5">
        <figure class="min-w-[140px] md:min-w-[201px] ml-8">
          <img
            src="./images/icons/client-logo-6.svg"
            alt="Client 1 logo"
            loading="lazy"
            class="dark:hidden"
          />
          <img
            src="./images/icons/client-logo-6-dark.svg"
            alt="Client 1 logo"
            loading="lazy"
            class="hidden dark:inline-block"
          />
        </figure>
        <figure class="min-w-[140px] md:min-w-[201px]">
          <img
            src="./images/icons/client-logo-7.svg"
            alt="Client 2 logo"
            loading="lazy"
            class="dark:hidden"
          />
          <img
            src="./images/icons/client-logo-7-dark.svg"
            alt="Client 2 logo"
            loading="lazy"
            class="hidden dark:inline-block"
          />
        </figure>
        <figure class="min-w-[140px] md:min-w-[201px]">
          <img
            src="./images/icons/client-logo-8.svg"
            alt="Client 3 logo"
            loading="lazy"
            class="dark:hidden"
          />
          <img
            src="./images/icons/client-logo-8-dark.svg"
            alt="Client 3 logo"
            loading="lazy"
            class="hidden dark:inline-block"
          />
        </figure>
        <figure class="min-w-[140px] md:min-w-[201px]">
          <img
            src="./images/icons/client-logo-9.svg"
            alt="Client 4 logo"
            loading="lazy"
            class="dark:hidden"
          />
          <img
            src="./images/icons/client-logo-9-dark.svg"
            alt="Client 4 logo"
            loading="lazy"
            class="hidden dark:inline-block"
          />
        </figure>
        <figure class="min-w-[140px] md:min-w-[201px]">
          <img
            src="./images/icons/client-logo-10.svg"
            alt="Client 5 logo"
            loading="lazy"
            class="dark:hidden"
          />
          <img
            src="./images/icons/client-logo-10-dark.svg"
            alt="Client 5 logo"
            loading="lazy"
            class="hidden dark:inline-block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
