<!-- =========================
Use Case section
===========================-->
<section class="pt-[100px] pb-[100px] xl:pb-[200px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div
      class="flex lg:items-end items-center lg:flex-row flex-col lg:gap-0 gap-4 justify-between mb-[70px]"
    >
      <div class="flex-1 lg:text-left text-center">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.1" class="badge badge-green">Use cases</span>
          <h2 data-ns-animate data-delay="0.2" class="max-w-[518px]">
            How We Connect with Customers
          </h2>
        </div>
      </div>
      <div class="flex-1 lg:text-left text-center">
        <div>
          <p data-ns-animate data-delay="0.3" class="max-w-[518px] lg:mx-0 mx-auto">
            Explore the ways our innovative solutions improve communication and boost efficiency in
            your organization. From streamlined workflows to enhanced collaboration tools, we
            provide everything you need to succeed.
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 lg:gap-8 gap-y-14">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-32 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Web & mobile apps</h3>
            <p class="max-w-[337px] lg:mx-0 mx-auto">
              Engage visitors with real-time chat on your website and mobile apps.
            </p>
          </div>
          <div class="md:text-left text-center group">
            <a
              href="{=$page-link}"
              class="inline-flex items-center justify-center rounded-full cursor-pointer gap-0.5 group-hover:bg-secondary border border-stroke-1 group-hover:scale-101 text-center transition-all duration-500 ease-in-out font-medium text-nowrap lowercase bg-background-1 text-secondary group-hover:text-accent text-tagline-1 px-4 py-2.5 w-full md:w-auto mx-auto md:mx-0"
            >
              <span
                class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
                >Read more</span
              >

              <div class="relative overflow-hidden size-6">
                <!-- one  -->
                <span
                  class="group-hover:translate-x-1 -translate-x-6 absolute inset-0 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="white" />
                    <path d="M5 5H7V7H5V5Z" fill="white" />
                    <path d="M14 8H16V10H14V8Z" fill="white" />
                    <path d="M8 8H10V10H8V8Z" fill="white" />
                    <path d="M17 11H19V13H17V11Z" fill="white" />
                    <path d="M11 11H13V13H11V11Z" fill="white" />
                    <path d="M14 14H16V16H14V14Z" fill="white" />
                    <path d="M8 14H10V16H8V14Z" fill="white" />
                    <path d="M11 17H13V19H11V17Z" fill="white" />
                    <path d="M5 17H7V19H5V17Z" fill="white" />
                  </svg>
                </span>

                <!-- two  -->
                <span
                  class="group-hover:translate-x-6 absolute -translate-x-2 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="#1A1A1C" />
                    <path d="M5 5H7V7H5V5Z" fill="#1A1A1C" />
                    <path d="M14 8H16V10H14V8Z" fill="#1A1A1C" />
                    <path d="M8 8H10V10H8V8Z" fill="#1A1A1C" />
                    <path d="M17 11H19V13H17V11Z" fill="#1A1A1C" />
                    <path d="M11 11H13V13H11V11Z" fill="#1A1A1C" />
                    <path d="M14 14H16V16H14V14Z" fill="#1A1A1C" />
                    <path d="M8 14H10V16H8V14Z" fill="#1A1A1C" />
                    <path d="M11 17H13V19H11V17Z" fill="#1A1A1C" />
                    <path d="M5 17H7V19H5V17Z" fill="#1A1A1C" />
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-35 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Social media</h3>
            <p class="max-w-[338px] lg:mx-0 mx-auto">
              Provide instant support on WhatsApp, Facebook Messenger, Instagram
            </p>
          </div>
          <div class="md:text-left text-center group">
            <a
              href="{=$page-link}"
              class="inline-flex items-center justify-center rounded-full cursor-pointer gap-0.5 group-hover:bg-secondary border border-stroke-1 group-hover:scale-101 text-center transition-all duration-500 ease-in-out font-medium text-nowrap lowercase bg-background-1 text-secondary group-hover:text-accent text-tagline-1 px-4 py-2.5 w-full md:w-auto mx-auto md:mx-0"
            >
              <span
                class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
                >Read more</span
              >

              <div class="relative overflow-hidden size-6">
                <!-- one  -->
                <span
                  class="group-hover:translate-x-1 -translate-x-6 absolute inset-0 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="white" />
                    <path d="M5 5H7V7H5V5Z" fill="white" />
                    <path d="M14 8H16V10H14V8Z" fill="white" />
                    <path d="M8 8H10V10H8V8Z" fill="white" />
                    <path d="M17 11H19V13H17V11Z" fill="white" />
                    <path d="M11 11H13V13H11V11Z" fill="white" />
                    <path d="M14 14H16V16H14V14Z" fill="white" />
                    <path d="M8 14H10V16H8V14Z" fill="white" />
                    <path d="M11 17H13V19H11V17Z" fill="white" />
                    <path d="M5 17H7V19H5V17Z" fill="white" />
                  </svg>
                </span>

                <!-- two  -->
                <span
                  class="group-hover:translate-x-6 absolute -translate-x-2 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="#1A1A1C" />
                    <path d="M5 5H7V7H5V5Z" fill="#1A1A1C" />
                    <path d="M14 8H16V10H14V8Z" fill="#1A1A1C" />
                    <path d="M8 8H10V10H8V8Z" fill="#1A1A1C" />
                    <path d="M17 11H19V13H17V11Z" fill="#1A1A1C" />
                    <path d="M11 11H13V13H11V11Z" fill="#1A1A1C" />
                    <path d="M14 14H16V16H14V14Z" fill="#1A1A1C" />
                    <path d="M8 14H10V16H8V14Z" fill="#1A1A1C" />
                    <path d="M11 17H13V19H11V17Z" fill="#1A1A1C" />
                    <path d="M5 17H7V19H5V17Z" fill="#1A1A1C" />
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-52 text-[52px] text-secondary dark:text-accent"></span>
          </div>
          <div class="space-y-1 lg:text-left text-center">
            <h3 class="text-heading-5">Business tools</h3>
            <p class="max-w-[313px] lg:mx-0 mx-auto">
              Connect messaging with Slack, Microsoft Teams, and CRM platforms for seamless
            </p>
          </div>
          <div class="md:text-left text-center group">
            <a
              href="{=$page-link}"
              class="inline-flex items-center justify-center rounded-full cursor-pointer gap-0.5 group-hover:bg-secondary border border-stroke-1 group-hover:scale-101 text-center transition-all duration-500 ease-in-out font-medium text-nowrap lowercase bg-background-1 text-secondary group-hover:text-accent text-tagline-1 px-4 py-2.5 w-full md:w-auto mx-auto md:mx-0"
            >
              <span
                class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
                >Read more</span
              >

              <div class="relative overflow-hidden size-6">
                <!-- one  -->
                <span
                  class="group-hover:translate-x-1 -translate-x-6 absolute inset-0 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="white" />
                    <path d="M5 5H7V7H5V5Z" fill="white" />
                    <path d="M14 8H16V10H14V8Z" fill="white" />
                    <path d="M8 8H10V10H8V8Z" fill="white" />
                    <path d="M17 11H19V13H17V11Z" fill="white" />
                    <path d="M11 11H13V13H11V11Z" fill="white" />
                    <path d="M14 14H16V16H14V14Z" fill="white" />
                    <path d="M8 14H10V16H8V14Z" fill="white" />
                    <path d="M11 17H13V19H11V17Z" fill="white" />
                    <path d="M5 17H7V19H5V17Z" fill="white" />
                  </svg>
                </span>

                <!-- two  -->
                <span
                  class="group-hover:translate-x-6 absolute -translate-x-2 transition-transform duration-300 ease-in-out"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="#1A1A1C" />
                    <path d="M5 5H7V7H5V5Z" fill="#1A1A1C" />
                    <path d="M14 8H16V10H14V8Z" fill="#1A1A1C" />
                    <path d="M8 8H10V10H8V8Z" fill="#1A1A1C" />
                    <path d="M17 11H19V13H17V11Z" fill="#1A1A1C" />
                    <path d="M11 11H13V13H11V11Z" fill="#1A1A1C" />
                    <path d="M14 14H16V16H14V14Z" fill="#1A1A1C" />
                    <path d="M8 14H10V16H8V14Z" fill="#1A1A1C" />
                    <path d="M11 17H13V19H11V17Z" fill="#1A1A1C" />
                    <path d="M5 17H7V19H5V17Z" fill="#1A1A1C" />
                  </svg>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
