<!-- =========================
Case Study Details section
===========================-->
<section class="pb-24 md:pb-28 lg:pb-32 xl:pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="space-y-[70px]">
      <h2
        data-ns-animate
        data-delay="0.2"
        class="text-heading-3 max-w-[884px]"
        id="client-overview"
      >
        The client overview provides a comprehensive snapshot of our client's
      </h2>

      <figure data-ns-animate data-delay="0.3" class="max-w-[1290px] overflow-hidden rounded-4xl">
        <img
          src="./images/ns-img-492.png"
          alt="Detailed view of Velocity Finance case study implementation"
          class="size-full object-cover"
        />
      </figure>

      <div class="space-y-[72px] max-w-[950px] mx-auto case-study-details">
        <ul aria-label="Company Information" class="space-y-2" data-ns-animate data-delay="0.4">
          <li class="text-accent/60 dark:!text-accent/60">
            <strong class="text-secondary dark:!text-accent">Company: </strong>
            Velocity finance
          </li>
          <li class="text-accent/60 dark:!text-accent/60">
            <strong class="text-secondary dark:!text-accent">Industry: </strong>
            Fintech
          </li>

          <li class="text-accent/60 dark:!text-accent/60">
            <strong class="text-secondary dark:!text-accent">Team Size: </strong>
            50+ employees
          </li>

          <li class="text-accent/60 dark:!text-accent/60">
            <strong class="text-secondary dark:!text-accent">Headquarters: </strong>
            New York, NY
          </li>
          <li class="text-accent/60 dark:!text-accent/60">
            <strong class="text-secondary dark:!text-accent">Use case: </strong>
            Financial reporting & real-time analytics
          </li>
        </ul>

        <!-- result  -->
        <div>
          <h3 data-ns-animate data-delay="0.4" class="text-heading-4" id="results">The results</h3>

          <div class="grid grid-cols-1 gap-8 md:grid-cols-1 lg:grid-cols-3">
            <!-- 1st column  -->
            <div
              data-ns-animate
              data-delay="0.5"
              class="max-w-[306] [&>p]:border-b [&>p]:border-b-stroke-4 dark:[&>p]:border-b-stroke-7 [&>p]:last:border-b-0"
            >
              <p class="py-4 text-secondary dark:text-accent font-medium">Metric</p>
              <p class="py-4">Manual reporting time</p>
              <p class="py-4">Financial statement accuracy</p>
              <p class="py-4">Leadership meeting prep time</p>
              <p class="py-4">Decision-making speed</p>
            </div>

            <!-- 2nd column  -->
            <div
              data-ns-animate
              data-delay="0.6"
              class="max-w-[306] text-center px-6 bg-white dark:bg-background-6 rounded-[20px] [&>p]:border-b [&>p]:border-b-stroke-4 dark:[&>p]:border-b-stroke-7 [&>p]:last:border-b-0"
            >
              <p class="py-4 text-secondary font-medium border-b dark:text-accent">Before</p>
              <p class="py-4 border-b">15+ hours/week</p>
              <p class="py-4 border-b">~85%</p>
              <p class="py-4 border-b">3 hours</p>
              <p class="py-4">Slower</p>
            </div>

            <!-- 3rd column  -->
            <div
              data-ns-animate
              data-delay="0.7"
              class="max-w-[306] text-center px-6 [&>p]:border-b [&>p]:border-b-stroke-4 dark:[&>p]:border-b-stroke-7 [&>p]:last:border-b-0 bg-white dark:bg-background-6 rounded-[20px]"
            >
              <p class="py-4 text-secondary dark:text-accent font-medium">After</p>
              <p class="py-4">2 hours/week</p>
              <p class="py-4">95%+</p>
              <p class="py-4">30 minutes</p>
              <p class="py-4">4x faster</p>
            </div>
          </div>
        </div>

        <!-- testimonial  -->
        <Component src="./testimonial.htm" />

        <!-- feature  -->
        <div data-ns-animate data-delay="0.2" class="space-y-6">
          <h5 data-ns-animate data-delay="0.2" class="text-heading-4" id="key-features">
            Key Features Used
          </h5>
          <ul data-ns-animate data-delay="0.3" class="space-y-4">
            <li
              class="text-secondary/60 dark:!text-accent/60 flex items-center justify-start gap-x-3"
            >
              <span class="size-2 rounded-full bg-secondary dark:bg-accent"> </span> Real-time
              analytics dashboards
            </li>
            <li
              class="text-secondary/60 dark:!text-accent/60 flex items-center justify-start gap-x-3"
            >
              <span class="size-2 rounded-full bg-secondary dark:bg-accent"> </span> Custom
              financial report builder
            </li>
            <li
              class="text-secondary/60 dark:!text-accent/60 flex items-center justify-start gap-x-3"
            >
              <span class="size-2 rounded-full bg-secondary dark:bg-accent"> </span> Automation &
              scheduling tools
            </li>
            <li
              class="text-secondary/60 dark:!text-accent/60 flex items-center justify-start gap-x-3"
            >
              <span class="size-2 rounded-full bg-secondary dark:bg-accent"> </span> Multi-source
              data integrations
            </li>
            <li
              class="text-secondary/60 dark:!text-accent/60 flex items-center justify-start gap-x-3"
            >
              <span class="size-2 rounded-full bg-secondary dark:bg-accent"> </span> Role-based
              permissions
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
