<!-- =========================
Feature v2 section
===========================-->
<section
  class="pt-16 md:pt-20 lg:pt-[120px] xl:pt-[154px] pb-16 md:pb-20 lg:pb-[90px] xl:pb-[100px]"
>
  <div class="main-container">
    <div class="relative z-0">
      <div
        class="w-full h-full bg-white dark:bg-background-8 absolute -z-10 overflow-hidden rounded-[20px]"
      >
        <figure
          data-ns-animate
          data-delay="0.8"
          data-direction="right"
          data-start="top 50%"
          class="-z-10 absolute lg:-top-[170%] md:-top-[65%] sm:-top-[85%] -top-[125%] -right-[75%] lg:-right-[40%] md:-right-[70%] md:rotate-[60deg] rotate-[10deg] size-[1060px] select-none pointer-events-none"
        >
          <img src="./images/ns-img-504.png" alt="gradient" />
        </figure>
      </div>
      <div class="flex flex-col lg:flex-row">
        <div class="sm:flex-1/2 lg:py-16 py-10 lg:pl-14 sm:pl-10 sm:px-0 px-6">
          <div
            class="md:mb-14 sm:mb-10 mb-6 max-w-[420px] lg:max-w-[520px] md:mx-0 mx-auto md:text-left text-center"
          >
            <h2 data-ns-animate data-delay="0.1" class="mb-3">
              Your financial <span class="text-primary-500">best interests</span>
            </h2>
            <p data-ns-animate data-delay="0.2" class="text-secondary dark:text-accent">
              Our mission is simple: help you grow your wealth with intelligent, goal-driven
              investment strategies.
            </p>
          </div>
          <div data-ns-animate data-delay="0.3" class="sm:text-left text-center">
            <a
              href="./investment-management-services.html"
              class="text-tagline-2 font-medium btn btn-secondary dark:btn-transparent hover:btn-primary dark:hover:btn-primary btn-md w-[90%] md:w-auto mx-auto md:mx-0"
            >
              <span>Learn More</span>
            </a>
          </div>
        </div>
        <div class="md:flex-1/2 lg:pe-16 2xl:pe-[150px]">
          <div class="relative h-full">
            <figure
              data-ns-animate
              data-delay="0.4"
              data-direction="left"
              data-offset="100"
              class="max-md:flex max-md:items-center max-md:justify-center md:absolute md:right-0 md:bottom-0 lg:max-w-[425px] md:max-w-[325px] sm:max-w-[400px] max-w-[250px] md:mx-0 mx-auto"
            >
              <img
                src="./images/ns-img-171.png"
                alt="shape"
                class="w-fill h-fill"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
