<!-- =========================
Feature v3 section
===========================-->
<section
  class="pt-[50px] md:pt-[100px] lg:[150px] xl:pt-[200px] pb-16 md:pb-20 lg:[90px] xl:pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div
      class="bg-white dark:bg-background-6 rounded-[20px] md:bg-[url('/images/ns-img-219.png')] md:bg-no-repeat md:bg-cover md:bg-top-left"
    >
      <div
        class="max-md:pt-10 md:py-10 lg:py-16 max-lg:space-y-10 pl-7 lg:pl-14 pr-3.5 lg:pr-[42px] relative"
      >
        <!-- content  -->
        <div
          class="lg:max-w-[587px] max-md:text-center md:ml-[390px] lg:ml-[490px] xl:ml-[590px] mt-3"
        >
          <div class="space-y-8 md:space-y-14">
            <div class="space-y-3">
              <h2 id="savings-heading" data-ns-animate data-delay="0.1">
                Earn more on
                <span class="text-primary-500"> your savings </span>
              </h2>
              <p data-ns-animate data-delay="0.1" class="lg:max-w-[518px]">
                We don't just help you invest—we help you grow. Our users enjoy above-average
                returns, all with lower fees and less hassle..
              </p>
            </div>

            <!-- link btn  -->
            <div data-ns-animate data-delay="0.3">
              <a
                href="./investment-management-services.html"
                rel="noopener noreferrer"
                class="btn btn-secondary hover:btn-white dark:btn-transparent dark:hover:btn-accent btn-md w-[85%] md:w-auto mx-auto md:mx-0"
                aria-label="Learn more about our high-yield savings options"
              >
                <span>Learn more</span>
              </a>
            </div>
          </div>
        </div>
        <!-- img  -->
        <figure
          data-ns-animate
          data-delay="0.3"
          data-direction="right"
          data-offset="100"
          class="w-[340px] sm:w-[450px] md:w-[450px] lg:w-[540px] xl:w-[670px] mx-auto md:mx-0 overflow-hidden md:absolute top-[-10px] min-[925px]:top-[-85px] lg:top-[-90px] xl:top-[-204px] -left-6"
        >
          <img
            src="./images/ns-img-dark-149.png"
            alt="Savings growth visualization showing increasing returns"
            class="size-full object-cover"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
