<!-- =========================
Investment section
===========================-->
<section class="py-[25px] sm:py-[35px] md:py-[50px] lg:py-[75px] xl:py-[100px]">
  <div class="main-container">
    <div
      class="bg-white dark:bg-background-6 rounded-2xl overflow-hidden sm:rounded-3xl md:rounded-4xl max-sm:px-7 max-sm:py-10 md:pl-[42px] md:pr-2.5 md:py-2.5"
    >
      <div class="flex flex-col md:grid md:grid-cols-12 items-center gap-y-12 gap-8 lg:gap-0">
        <!-- heading and btn  -->
        <div
          class="w-full sm:max-w-[520px] space-y-8 sm:space-y-10 md:space-y-14 col-span-12 md:col-span-6"
        >
          <!-- heading  -->
          <div class="space-y-3 text-center md:text-left">
            <h2 data-ns-animate data-delay="0.1">
              Get your investment
              <span class="text-primary-500"> right and secure </span>
            </h2>
            <p data-ns-animate data-delay="0.2" class="w-full md:max-w-[464px]">
              We work with you to create an investment plan tailored to your goals and tolerance for
              risk.
            </p>
          </div>

          <!-- btn  -->
          <div data-ns-animate data-delay="0.3" class="text-center md:text-left">
            <a
              href="./investment-management-analytics.html"
              rel="noopener noreferrer"
              class="btn btn-white hover:btn-secondary btn-lg md:btn-xl w-full dark:btn-transparent dark:hover:btn-accent md:w-auto"
              aria-label="Learn more about secure investment planning"
            >
              <span>Learn more</span>
            </a>
          </div>
        </div>

        <!-- img  -->
        <figure
          data-ns-animate
          data-delay="0.4"
          data-offset="100"
          data-direction="right"
          class="w-full md:max-w-[615px] overflow-hidden rounded-xl sm:rounded-[20px] md:rounded-3xl col-span-12 md:col-span-6"
          role="img"
          aria-label="Investment planning visualization"
        >
          <img
            src="./images/ns-img-220.png"
            alt="Secure investment planning illustration showing portfolio diversification"
            class="size-full object-cover"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
