<!-- =========================
Testimonial section
===========================-->
<section class="py-16 sm:py-20 md:py-[75px] lg:py-[100px]">
  <div class="main-container">
    <div class="space-y-[35px] sm:space-y-[50px] md:space-y-[70px]">
      <!-- heading text area -->
      <div class="text-center space-y-3 sm:space-y-5">
        <span data-ns-animate data-delay="0.1" class="inline-block badge badge-cyan">
          What our users say
        </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">
            People's
            <span class="text-primary-500"> share love </span>
          </h2>
          <p data-ns-animate data-delay="0.3" class="max-w-[628px] w-full mx-auto">
            At the heart of our approach lies a commitment to delivering smart, tailored financial
            solutions that align with your unique goals.
          </p>
        </div>
      </div>

      <!-- review card area -->
      <Component src="src/components/shared/testimonial-card-v2.htm" />
    </div>
  </div>
</section>
