<!-- =========================
Hero section
===========================-->
<section
  class="hero-section bg-background-3 dark:bg-background-5 relative pt-[150px] pb-[112px] z-0 overflow-hidden"
>
  <!-- left gradient -->
  <figure
    data-ns-animate
    data-offset="200"
    data-direction="left"
    data-delay="0.3"
    class="absolute select-none pointer-events-none left-[-39%] md:left-[-42%] lg:left-[-34%] xl:left-[-25%] 2xl:left-[-19%] min-[2559px]:!left-[-14%] top-[-6%] md:top-[-19%] lg:top-[-29%] -z-10 max-w-[700px] md:max-w-[900px] w-full overflow-hidden"
  >
    <img src="./images/ns-img-508.png" alt="Hero background" />
  </figure>

  <!-- right gradient -->
  <figure
    data-ns-animate
    data-offset="100"
    data-direction="right"
    data-delay="0.4"
    class="absolute select-none pointer-events-none top-[-5%] md:top-[-17%] lg:top-[-28%] right-[-27%] md:right-[-33%] lg:right-[-28%] xl:right-[-17%] 2xl:right-[-15%] min-[2559px]:!right-[-10%] -z-10 overflow-hidden max-w-[800px] md:max-w-[926px] w-full"
  >
    <img src="./images/ns-img-534.png" alt="Hero background" />
  </figure>

  <div class="main-container">
    <div class="mb-[70px] flex flex-col items-center max-w-[900px] mx-auto">
      <div class="mb-5">
        <span data-ns-animate data-delay="0.1" class="opacity-0 badge badge-yellow-v2">
          50k+ trusted businesses
        </span>
      </div>
      <div class="mb-14 text-center">
        <h1 data-ns-animate data-delay="0.2" class="opacity-0 mb-4">
          Boost your financial efficiency
        </h1>
        <p data-ns-animate data-delay="0.3" class="opacity-0 max-w-[720px] mx-auto text-tagline-1">
          Enhancing the efficiency of your finances involves optimizing how you manage, spend, and
          invest your money to achieve better financial outcomes.
        </p>
      </div>
      <form data-ns-animate data-delay="0.4" class="opacity-0">
        <div class="flex max-sm:flex-col max-sm:gap-y-5 w-full justify-center items-center gap-x-3">
          <input
            id="cta-email"
            type="email"
            placeholder="Enter your email"
            autocomplete="email"
            class="bg-background-1 dark:bg-background-6 min-w-[325px] sm:min-w-[340px] placeholder:text-secondary/40 dark:placeholder:text-white/40 text-secondary/60 text-tagline-1 focus:outline-none font-normal border border-stroke-3 rounded-[360px] dark:bg-dark-200 dark:border-[#31332F] focus:border-primary-500 dark:focus:border-primary-500 px-[18px] py-3 duration-300 transition-all outline-none h-12 placeholder:font-normal"
          />

          <button
            type="submit"
            class="btn btn-primary hover:btn-secondary dark:hover:btn-accent btn-md h-12 max-sm:w-full"
          >
            <span>Get started</span>
          </button>
        </div>
      </form>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 mb-8">
      <div
        data-ns-animate
        data-delay="0.5"
        data-instant="true"
        class="opacity-0 lg:flex-1/3 flex flex-col p-6 bg-background-2 dark:bg-background-6 backdrop-blur-[20px] rounded-[20px]"
      >
        <div class="flex items-center justify-between mb-.5">
          <h5 class="text-secondary dark:text-accent">Profile</h5>
          <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.71667 10.9994C2.71667 6.84085 5.95773 2.71277 11.0033 2.71277C15.0782 2.71277 17.0922 5.72885 17.9505 7.3328H15.4034C14.9984 7.3328 14.67 7.66112 14.67 8.06613C14.67 8.47113 14.9984 8.79946 15.4034 8.79946H19.8034C20.2083 8.79946 20.5367 8.47113 20.5367 8.06613V3.66613C20.5367 3.26112 20.2083 2.9328 19.8034 2.9328C19.3984 2.9328 19.07 3.26112 19.07 3.66613V6.32546C18.0368 4.50398 15.6467 1.24609 11.0033 1.24609C5.04454 1.24609 1.25 6.138 1.25 10.9994C1.25 15.8609 5.04454 20.7528 11.0033 20.7528C13.8543 20.7528 16.2279 19.6246 17.918 17.9051C18.8229 16.9843 19.5295 15.8967 20.0113 14.7258C20.1655 14.3513 19.9868 13.9227 19.6124 13.7686C19.2378 13.6145 18.8093 13.7931 18.6551 14.1677C18.2433 15.1685 17.6402 16.0954 16.8719 16.877C15.4466 18.3274 13.4454 19.2861 11.0033 19.2861C5.95773 19.2861 2.71667 15.158 2.71667 10.9994Z"
              fill=""
              fill-opacity="0.2"
              class="fill-secondary dark:fill-accent"
            />
          </svg>
        </div>
        <div
          class="relative w-[176px] h-[176px] rounded-full mx-auto z-10 overflow-hidden flex items-center justify-center p-2.5 mb-4"
        >
          <!-- avatar ring bg gradient  -->
          <figure
            class="absolute top-[-82%] size-[320px] overflow-hidden select-none pointer-events-none"
          >
            <img
              src="./images/ns-img-496.png"
              alt="hero-avatar-ring"
              class="size-full object-cover"
            />
          </figure>

          <!-- avatar -->
          <figure
            class="w-[156px] h-[156px] relative z-20 overflow-hidden rounded-full mx-auto bg-white"
          >
            <img src="./images/ns-avatar-1.png" alt="hero person thumb" />
          </figure>
        </div>
        <div class="text-center mb-16">
          <h4 class="mb-1 text-secondary dark:text-accent">Kristin watson</h4>
          <p class="text-tagline-1">Design manger</p>
        </div>

        <div
          class="flex max-sm:flex-wrap items-center justify-center gap-4 sm:gap-y-0 sm:gap-x-2.5 md:gap-x-8 lg:gap-x-16"
        >
          <div
            class="flex items-center gap-2 bg-background-1 dark:bg-background-7 rounded-lg py-2 px-6"
          >
            <svg
              width="25"
              height="24"
              viewBox="0 0 25 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.75 15C11.4424 15 13.625 12.8174 13.625 10.125C13.625 7.43261 11.4424 5.25 8.75 5.25C6.05761 5.25 3.875 7.43261 3.875 10.125C3.875 12.8174 6.05761 15 8.75 15Z"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-miterlimit="10"
              />
              <path
                d="M15.0703 5.43076C15.7408 5.24184 16.4441 5.1988 17.1326 5.30454C17.8212 5.41029 18.4791 5.66236 19.062 6.04377C19.6449 6.42519 20.1393 6.92709 20.512 7.51568C20.8846 8.10427 21.1268 8.76588 21.2221 9.45594C21.3175 10.146 21.264 10.8485 21.065 11.5161C20.866 12.1837 20.5263 12.8009 20.0687 13.3262C19.6111 13.8514 19.0463 14.2726 18.4123 14.5611C17.7782 14.8497 17.0897 14.9991 16.3931 14.9992"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2 18.5059C2.76138 17.4229 3.77215 16.539 4.94698 15.9288C6.12182 15.3186 7.42623 15.0001 8.75008 15C10.0739 14.9999 11.3784 15.3184 12.5532 15.9285C13.7281 16.5386 14.739 17.4225 15.5004 18.5054"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.3906 15C17.7146 14.999 19.0193 15.3171 20.1943 15.9273C21.3693 16.5375 22.3799 17.4218 23.1407 18.5054"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h6 class="text-secondary dark:text-accent">11</h6>
          </div>
          <div
            class="flex items-center gap-2 bg-background-1 dark:bg-background-7 rounded-lg py-2 px-6"
          >
            <svg
              width="25"
              height="24"
              viewBox="0 0 25 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.625 9.75L11.125 15L8.375 12.375"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12.5 21C17.4706 21 21.5 16.9706 21.5 12C21.5 7.02944 17.4706 3 12.5 3C7.52944 3 3.5 7.02944 3.5 12C3.5 16.9706 7.52944 21 12.5 21Z"
                stroke="#83E7EE"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <h6 class="text-secondary dark:text-accent">56</h6>
          </div>
          <div
            class="flex items-center gap-2 bg-background-1 dark:bg-background-7 rounded-lg py-2 px-6"
          >
            <svg
              width="25"
              height="24"
              viewBox="0 0 25 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_533_20760)">
                <path
                  d="M12.4989 0.5L16.7249 6.683L23.9119 8.792L19.3369 14.722L19.5519 22.208L12.4989 19.69L5.44594 22.208L5.66094 14.722L1.08594 8.792L8.27294 6.683L12.4989 0.5ZM12.4989 4.044L9.52094 8.402L4.45594 9.887L7.68094 14.065L7.52794 19.34L12.4989 17.566L17.4689 19.34L17.3169 14.065L20.5409 9.887L15.4769 8.402L12.4989 4.044ZM10.4989 12C10.4989 12.5304 10.7097 13.0391 11.0847 13.4142C11.4598 13.7893 11.9685 14 12.4989 14C13.0294 14 13.5381 13.7893 13.9132 13.4142C14.2882 13.0391 14.4989 12.5304 14.4989 12H16.4989C16.4989 13.0609 16.0775 14.0783 15.3274 14.8284C14.5772 15.5786 13.5598 16 12.4989 16C11.4381 16 10.4207 15.5786 9.67051 14.8284C8.92036 14.0783 8.49894 13.0609 8.49894 12H10.4989Z"
                  fill="#83E7EE"
                />
              </g>
              <defs>
                <clipPath id="clip0_533_20760">
                  <rect width="24" height="24" fill="white" transform="translate(0.5)" />
                </clipPath>
              </defs>
            </svg>

            <h6 class="text-secondary dark:text-accent">12</h6>
          </div>
        </div>
      </div>
      <div class="lg:flex-2/3 flex flex-col gap-8 lg:justify-between xl:justify-normal">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
          <div
            data-ns-animate
            data-delay="0.6"
            data-instant="true"
            class="opacity-0 p-[26px] backdrop-blur-[60px] bg-background-2 dark:bg-background-6 rounded-[20px] overflow-hidden relative z-0"
          >
            <div
              class="absolute -top-[122px] -left-[180px] w-full h-full -z-10 bg-[url('/images/ns-img-496.png')] bg-no-repeat bg-cover"
            ></div>
            <div class="flex justify-between mb-8">
              <div>
                <h5 class="mb-1 text-secondary dark:text-accent">Financial report</h5>

                <p class="text-secondary/60 dark:text-accent">$3500.20</p>
              </div>
              <p class="text-[#A0AEC0]">20%</p>
            </div>
            <figure>
              <img src="./images/ns-img-63.png" alt="report bar" class="w-full" />
            </figure>
          </div>
          <div
            data-ns-animate
            data-delay="0.7"
            data-instant="true"
            class="opacity-0 p-[26px] backdrop-blur-[20px] bg-background-2 dark:bg-background-6 rounded-[20px] overflow-hidden relative z-0 flex items-center justify-center max-md:min-h-[320px]"
          >
            <div
              class="absolute -right-[140px] -bottom-[175px] -rotate-180 w-full h-full -z-10 bg-[url('/images/ns-img-496.png')] bg-no-repeat bg-[length:117%_106%]"
            ></div>

            <div class="text-center group">
              <div class="flex items-center justify-center gap-4 mb-4">
                <div class="flex -space-x-3.5">
                  <figure
                    class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[135deg,#ffffff_0%,#a585ff_100%] overflow-hidden relative"
                  >
                    <img src="./images/ns-avatar-1.png" alt="avatar" class="max-w-full" />
                    <img
                      src="./images/ns-author-avatar-bg.png"
                      alt="avatar"
                      class="absolute top-0 left-0 -z-10"
                    />
                  </figure>
                  <figure
                    class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[135deg,#ffffff_0%,#a585ff_100%] overflow-hidden relative"
                  >
                    <img src="./images/ns-avatar-2.png" alt="avatar" class="max-w-full" />
                    <img
                      src="./images/ns-author-avatar-bg.png"
                      alt="avatar"
                      class="absolute top-0 left-0 -z-10"
                    />
                  </figure>
                  <figure
                    class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[135deg,#ffffff_0%,#a585ff_100%] overflow-hidden relative"
                  >
                    <img src="./images/ns-avatar-3.png" alt="avatar" class="max-w-full" />
                    <img
                      src="./images/ns-author-avatar-bg.png"
                      alt="avatar"
                      class="absolute top-0 left-0 -z-10"
                    />
                  </figure>
                  <div
                    class="inline-flex items-center relative z-10 justify-center size-12 bg-ns-yellow text-secondary/80 rounded-full ring-2 ring-white text-tagline-3 overflow-hidden"
                  >
                    <figure>
                      <a href="#" aria-label="View global investment">
                        <span class="sr-only">View global investment</span>
                        <!-- light Icon -->
                        <img
                          src="./images/icons/bold-arrow-up-right.svg"
                          alt="Arrow Icon"
                          class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 inline dark:hidden"
                        />

                        <img
                          src="./images/icons/bold-arrow-up-right.svg"
                          alt="Arrow Icon"
                          class="absolute translate-y-6 -translate-x-12 transition-all duration-500 group-hover:-translate-x-[13px] group-hover:-translate-y-[48%] opacity-0 group-hover:opacity-100 inline-block dark:hidden"
                        />
                        <!-- dark Icon -->
                        <img
                          src="./images/icons/bold-arrow-up-right.svg"
                          alt="Arrow Icon"
                          class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0 dark:inline hidden"
                        />
                        <img
                          src="./images/icons/bold-arrow-up-right.svg"
                          alt="Arrow Icon"
                          class="absolute translate-y-6 -translate-x-12 transition-all duration-500 group-hover:-translate-x-[14px] group-hover:-translate-y-[49%] opacity-0 group-hover:opacity-100 dark:inline hidden"
                        />
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
              <h6 class="mb-1 text-secondary dark:text-accent">20k+ global investment</h6>
              <p class="text-secondary/60 dark:text-accent/60">
                Get Global Investment policy in the year
              </p>
            </div>
          </div>
        </div>
        <div
          data-ns-animate
          data-delay="0.8"
          data-instant="true"
          class="opacity-0 flex p-6 backdrop-blur-[20px] bg-background-2 dark:bg-background-6 rounded-[20px] justify-between max-sm:flex-col max-sm:gap-y-8"
        >
          <div class="max-sm:text-center">
            <h5 class="mb-1 text-secondary dark:text-accent">Trackers connected</h5>
            <p class="text-secondary/60 dark:text-accent/60">3 active connections</p>
          </div>
          <div class="flex items-center max-sm:justify-center gap-4">
            <div
              class="flex items-center justify-center size-14 rounded-full bg-white dark:bg-background-7 p-3"
            >
              <img src="./images/icons/zapier.svg" alt="zapier" class="size-[31.5px]" />
            </div>
            <div
              class="flex items-center justify-center size-14 rounded-full bg-white dark:bg-background-7 p-3"
            >
              <img src="./images/icons/figma.svg" alt="figma" class="size-[31.5px]" />
            </div>
            <div
              class="flex items-center justify-center size-14 rounded-full bg-white dark:bg-background-7 p-3"
            >
              <img src="./images/icons/slack.svg" alt="slack" />
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
              >
                <g clip-path="url(#clip0_533_20854)">
                  <rect
                    width="54"
                    height="54"
                    rx="27"
                    fill=""
                    class="fill-white dark:fill-background-7"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16 27C16 25.8954 16.8954 25 18 25C19.1046 25 20 25.8954 20 27C20 28.1046 19.1046 29 18 29C16.8954 29 16 28.1046 16 27ZM25 27C25 25.8954 25.8954 25 27 25C28.1046 25 29 25.8954 29 27C29 28.1046 28.1046 29 27 29C25.8954 29 25 28.1046 25 27ZM36 25C34.8954 25 34 25.8954 34 27C34 28.1046 34.8954 29 36 29C37.1046 29 38 28.1046 38 27C38 25.8954 37.1046 25 36 25Z"
                    fill="#D9D9D9"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_533_20854">
                    <rect width="54" height="54" rx="27" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-ns-animate
      data-delay="0.9"
      data-instant="true"
      class="opacity-0 py-6 bg-secondary dark:bg-background-6 rounded-2xl"
    >
      <div class="flex flex-col md:flex-row items-center">
        <div
          class="flex items-center justify-center flex-col gap-6 flex-1/3 py-[22px] max-md:border-b-1 md:not-last:border-r-1 not-last:border-accent/20"
        >
          <div class="px-7 py-3.5 bg-ns-yellow rounded-full w-fit">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 11.0799V11.9999C21.9988 14.1563 21.3005 16.2545 20.0093 17.9817C18.7182 19.7088 16.9033 20.9723 14.8354 21.5838C12.7674 22.1952 10.5573 22.1218 8.53447 21.3744C6.51168 20.6271 4.78465 19.246 3.61096 17.4369C2.43727 15.6279 1.87979 13.4879 2.02168 11.3362C2.16356 9.18443 2.99721 7.13619 4.39828 5.49694C5.79935 3.85768 7.69279 2.71525 9.79619 2.24001C11.8996 1.76477 14.1003 1.9822 16.07 2.85986"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22 4L12 14.01L9 11.01"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h6 class="flex items-center text-white gap-1">
            <div class="text-white flex items-center font-inherit">
              <span
                data-counter
                data-number="60"
                data-speed="2000"
                data-interval="100"
                data-rooms="2"
                >60</span
              >
              <span class="font-inherit">%</span>
            </div>
            Project Completed
          </h6>
        </div>
        <div
          class="flex items-center justify-center flex-col gap-6 flex-1/3 py-[22px] max-md:border-b-1 md:not-last:border-r-1 not-last:border-accent/20"
        >
          <div class="px-7 py-3.5 bg-ns-cyan rounded-full w-fit">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23 21.0009V19.0009C22.9993 18.1146 22.7044 17.2536 22.1614 16.5532C21.6184 15.8527 20.8581 15.3524 20 15.1309"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16 3.13086C16.8604 3.35116 17.623 3.85156 18.1676 4.55317C18.7122 5.25478 19.0078 6.11769 19.0078 7.00586C19.0078 7.89403 18.7122 8.75694 18.1676 9.45855C17.623 10.1602 16.8604 10.6606 16 10.8809"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h6 class="text-white flex gap-1 items-center">
            <span data-counter data-number="25" data-speed="2000" data-interval="100" data-rooms="2"
              >25</span
            >
            Team Members
          </h6>
        </div>
        <div
          class="flex items-center justify-center flex-col gap-6 flex-1/3 py-[22px] border-b-0 md:not-last:border-r-8 not-last:border-accent/20"
        >
          <div class="px-7 py-3.5 bg-ns-red rounded-full w-fit">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 22H4C3.46957 22 2.96086 21.7893 2.58579 21.4142C2.21071 21.0391 2 20.5304 2 20V13C2 12.4696 2.21071 11.9609 2.58579 11.5858C2.96086 11.2107 3.46957 11 4 11H7M14 9V5C14 4.20435 13.6839 3.44129 13.1213 2.87868C12.5587 2.31607 11.7956 2 11 2L7 11V22H18.28C18.7623 22.0055 19.2304 21.8364 19.5979 21.524C19.9654 21.2116 20.2077 20.7769 20.28 20.3L21.66 11.3C21.7035 11.0134 21.6842 10.7207 21.6033 10.4423C21.5225 10.1638 21.3821 9.90629 21.1919 9.68751C21.0016 9.46873 20.7661 9.29393 20.5016 9.17522C20.2371 9.0565 19.9499 8.99672 19.66 9H14Z"
                stroke="#1A1A1C"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h6 class="text-white flex gap-1 items-center">
            <span
              data-counter
              data-number="250"
              data-speed="1500"
              data-interval="100"
              data-rooms="3"
              >250</span
            >
            Satisfied Clients
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
