<!-- =========================
Integration section
===========================-->
<section class="py-28 dark:bg-background-7">
  <div class="main-container">
    <div class="text-center mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-yellow-v2 mb-5"> Integration </span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3">
        Make productivity easier with <br class="hidden lg:block" />
        50+ integrations
      </h2>
      <p data-ns-animate data-delay="0.3" class="mb-8 lg:max-w-[620px] mx-auto">
        Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
        not Latin though it looks like nothing.
      </p>
    </div>

    <!-- Integration items -->
    <div data-ns-animate data-delay="0.4" class="max-w-[968px] mx-auto relative">
      <div
        class="absolute left-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-r from-white to-transparent dark:from-background-7 z-40"
      ></div>
      <div
        class="absolute right-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-l from-white to-transparent dark:from-background-7 z-40"
      ></div>
      <div class="logos-marquee-container">
        <div class="flex items-center justify-center gap-6">
          <!-- Integration item 1 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px] ml-6"
          >
            <img src="./images/icons/snapchat.svg" alt="snapchat" class="size-12" />
          </div>
          <!-- Integration item 2 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/slack.svg" alt="slack" class="size-12" />
          </div>
          <!-- Integration item 3 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/confluence.svg" alt="confluence" class="size-12" />
          </div>
          <!-- Integration item 4 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/snapchat.svg" alt="snapchat" class="size-12" />
          </div>
          <!-- Integration item 5 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/ms_yammer.svg" alt="ms_yammer" class="size-12" />
          </div>
          <!-- Integration item 6 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/figma.svg" alt="figma" class="size-12" />
          </div>
          <!-- Integration item 7 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/microsoft.svg" alt="microsoft" class="size-12" />
          </div>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.5" class="max-w-[844px] mx-auto mt-6 relative">
      <div
        class="absolute left-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-r from-white to-transparent dark:from-background-7 z-40"
      ></div>
      <div
        class="absolute right-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-l from-white to-transparent dark:from-background-7 z-40"
      ></div>
      <div class="logos-right-marquee-container">
        <div class="flex items-center justify-center gap-6">
          <!-- Integration item 9 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px] ml-6"
          >
            <img src="./images/icons/google-meet.svg" alt="google-meet" class="size-12" />
          </div>
          <!-- Integration item 10 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/slack.svg" alt="slack" class="size-12" />
          </div>
          <!-- Integration item 11 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/microsoft.svg" alt="microsoft" class="size-12" />
          </div>
          <!-- Integration item 12 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/framer.svg" alt="framer" class="size-12" />
          </div>
          <!-- Integration item 13 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/marvel.svg" alt="marvel" class="size-12" />
          </div>
          <!-- Integration item 14 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/confluence.svg" alt="confluence" class="size-12" />
          </div>
          <!-- Integration item 15 -->
          <div
            class="bg-background-2 dark:bg-background-6 size-[100px] flex items-center justify-center rounded-[20px]"
          >
            <img src="./images/icons/gmail.svg" alt="gmail" class="size-12" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
