<!-- =========================
Service section
===========================-->
<section class="py-28 lg:py-[156px] dark:bg-background-6">
  <div class="main-container">
    <!-- Service Header Section-->
    <div class="text-center mb-[70px] max-w-[880px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-yellow-v2 mb-5">
        Our Services
      </span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3">
        Leading companies around the globe rely on NexSaas.
      </h2>
      <p data-ns-animate data-delay="0.3" class="mb-14 lg:max-w-[600px] mx-auto">
        Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
        not Latin, though it looks like it
      </p>
      <div data-ns-animate data-delay="0.4">
        <a
          href="./financial-application-services.html"
          class="btn btn-primary hover:btn-secondary dark:hover:btn-white btn-md text-tagline-2 w-[90%] md:w-auto mx-auto md:mx-0"
        >
          <span>Explore all services</span>
        </a>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Service Item 1-->
      <div data-ns-animate data-delay="0.5">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-47 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Real-time analytics</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Sign up free</span>
          </a>
        </div>
      </div>
      <!-- Service Item 2-->
      <div data-ns-animate data-delay="0.6">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-12 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Track conversions</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Read More</span>
          </a>
        </div>
      </div>
      <!-- Service Item 3-->
      <div data-ns-animate data-delay="0.7">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-8 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Sales Management</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Read More</span>
          </a>
        </div>
      </div>
      <!-- Service Item 4-->
      <div data-ns-animate data-delay="0.8">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-3 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Track Conversion</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Read More</span>
          </a>
        </div>
      </div>
      <!-- Service Item 5-->
      <div data-ns-animate data-delay="0.9">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-52 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Real-time analytics</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Read More</span>
          </a>
        </div>
      </div>
      <!-- Service Item 6-->
      <div data-ns-animate data-delay="1">
        <div
          class="px-6 py-8 rounded-[20px] bg-background-2 dark:bg-background-5 flex flex-col items-center justify-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
        >
          <div>
            <span class="ns-shape-35 text-[54px] text-secondary dark:text-accent"> </span>
          </div>
          <div class="text-center">
            <h5 class="mb-2">Track Conversion</h5>
            <p class="text-secondary/60 dark:text-accent/60">
              Gain deep insights into your contacts at a glance and easily track
            </p>
          </div>
          <a
            href="./financial-application-service-details.html"
            class="btn btn-white hover:btn-secondary btn-md dark:btn-transparent dark:hover:btn-accent w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Read More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
