<!-- ============================ 
About
============================ -->
<section class="py-18 md:py-28 overflow-x-hidden">
  <div class="main-container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-20 lg:gap-x-10 xl:gap-x-20 items-center">
      <div class="order-1">
        <span
          class="badge badge-gray-light-v2 mb-5"
          data-ns-animate
          data-delay="0.1"
          data-direction="left"
          >About</span
        >
        <h2 class="mb-3" data-ns-animate data-delay="0.2" data-direction="left">
          Where bold ideas <br class="lg:block hidden" />
          come to life
        </h2>
        <p class="mb-8 md:mb-12 lg:mb-8" data-ns-animate data-delay="0.3" data-direction="left">
          At our creative agency, we specialize in bringing bold ideas to life. We believe that
          creativity is the key to connecting brands with their audiences in meaningful ways. Our
          team of talented designers, strategists, and storytellers work collaboratively to
          <br class="lg:block hidden" /><br class="lg:block hidden" />
          craft unique campaigns that resonate and inspire. Whether it’s branding, digital
          marketing, or content creation, we approach every project with fresh perspectives and a
          passion for innovation. We don’t just follow trends; we set them, ensuring that our
          clients stand out in a crowded marketplace. Let us help you tell your story and make a
          lasting impact.
        </p>

        <div data-ns-animate data-delay="0.4" data-direction="left" class="md:w-auto w-full">
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="./ai-gadgets-about.html"
            btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2 "
            btn-text="Explore more"
          />
        </div>
      </div>
      <div
        class="order-2 overflow-hidden rounded-[20px]"
        data-ns-animate
        data-delay="0.2"
        data-direction="right"
        data-spring="true"
        data-duration="2.4"
      >
        <figure
          class="rounded-[20px] overflow-hidden hover:scale-105 transition-all duration-300 ease-in-out"
        >
          <img src="./images/ns-img-338.png" alt="about image" class="w-full h-full object-cover" />
        </figure>
      </div>
    </div>
  </div>
</section>
