<!-- =========================
Career Positions section
===========================-->
<section class="py-[100px] xl:py-[200px]">
  <div class="main-container">
    <div class="text-center mb-14">
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5">Open Positions </span>
      <h2 data-ns-animate data-delay="0.2">
        Become part of the
        <br class="hidden md:block" />
        dream-team
      </h2>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Position 1-->
      <div data-ns-animate data-delay="0.3">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">New york</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">
              Digital is making place in funds back-office
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
      <!-- Position 2-->
      <div data-ns-animate data-delay="0.4">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Germany</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Systems administrator</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
      <!-- Position 3-->
      <div data-ns-animate data-delay="0.5">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Australia</span>
            <span class="badge badge-gray-light">Remote</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Technical project manager</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
      <!-- Position 4-->
      <div data-ns-animate data-delay="0.6">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">Canada</span>
            <span class="badge badge-gray-light">Remote</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Marketing lead</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
      <!-- Position 5-->
      <div data-ns-animate data-delay="0.7">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">London</span>
            <span class="badge badge-gray-light">Part-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Cybersecurity analyst</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
      <!-- Position 6-->
      <div data-ns-animate data-delay="0.8">
        <div
          class="bg-background-1 dark:bg-background-6 space-y-8 p-11 rounded-[20px] hover:scale-[100.5%] hover:shadow-md transition-all duration-[400ms]"
        >
          <div class="flex items-center gap-2">
            <span class="badge badge-gray-light">New york</span>
            <span class="badge badge-gray-light">Full-time</span>
          </div>
          <div>
            <h3 class="text-heading-5 mb-3 font-normal">Information security specialist</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
              Adipiscing viverra vulputate curabitur est.
            </p>
          </div>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 btn-v2-white group-hover/btn-v2:btn-primary-v2"
            btn-text="Read more"
            aria-label="Read full article about electronic prescription in finance sector"
          />
        </div>
      </div>
    </div>
  </div>
</section>
