<!-- =========================
Feature v2 section
===========================-->
<section class="pt-[200px] pb-28">
  <div
    class="main-container flex flex-col-reverse lg:flex-row items-center gap-y-12 gap-x-24 overflow-hidden"
  >
    <div class="md:flex-1 relative flex justify-start w-full lg:w-auto">
      <img
        data-ns-animate
        data-delay="0.2"
        src="./images/ns-img-73.png"
        alt="Finance Hero"
        class="w-full max-w-[450px] h-auto"
      />
      <div
        data-ns-animate
        data-delay="0.3"
        data-direction="right"
        data-offset="90"
        class="absolute top-[49%] right-[15%] bg-ns-yellow p-4 rounded-2xl text-heading-4 max-w-[219px] max-h-[70px] flex items-center justify-center"
      >
        $
        <span data-counter data-number="245450" data-speed="2000" data-interval="200" data-rooms="6"
          >2,45450.00</span
        >
      </div>
      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="right"
        data-offset="100"
        class="rounded-xl max-w-[186px] w-full overflow-hidden shadow-10 absolute bottom-[15%] right-[17%]"
      >
        <img src="./images/ns-img-356.png" alt="Finance Hero" class="size-full object-cover" />
      </figure>
    </div>
    <div class="md:flex-1 flex flex-col lg:items-start lg:text-left">
      <h2 data-ns-animate data-delay="0.2" class="mb-3">Designed to deliver Tangible outcomes</h2>
      <p data-ns-animate data-delay="0.3" class="mb-6">
        Take control of your finances with us and experience the confidence that comes with smart
        money management. Whether you're looking to budget better
      </p>
      <ul class="mb-10 md:mb-14 space-y-2 md:space-y-3.5">
        <li
          data-ns-animate
          data-delay="0.4"
          class="text-tagline-1 font-medium flex items-center gap-3 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                fill="white"
              />
            </svg>
          </span>
          Clarity Over Clutter
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          class="text-tagline-1 font-medium flex items-center gap-3 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                fill="white"
              />
            </svg>
          </span>
          People Before Features
        </li>
        <li
          data-ns-animate
          data-delay="0.6"
          class="text-tagline-1 font-medium flex items-center gap-3 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                fill="white"
              />
            </svg>
          </span>
          Security as a Standard
        </li>
      </ul>
      <div data-ns-animate data-delay="0.7">
        <Component
          src="src/components/shared/button-v2.htm"
          page-link="{=$page-link}"
          btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
          btn-text="Start your journey"
        />
      </div>
    </div>
  </div>
</section>
