<!-- =========================
Gadgets section
===========================-->
<section class="max-[1920px]:px-5">
  <div
    class="bg-background-12 max-w-[1880px] rounded-3xl md:rounded-4xl py-12 md:py-24 xl:py-28 md:px-5 mx-auto"
  >
    <div class="main-container 2xl:!max-w-[1440px]">
      <!-- Grid Container -->
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-y-4 md:gap-4">
        <!-- Grid 1 -->
        <div
          data-ns-animate
          data-delay="0.1"
          class="md:col-span-2 lg:col-span-1 lg:row-span-4 bg-white rounded-2xl p-8 flex justify-between flex-col"
        >
          <div class="space-y-6">
            <div>
              <h6 class="text-secondary/60 dark:text-accent/60">Premium gadget access</h6>
              <p class="text-secondary/40 dark:text-accent/40 text-tagline-2">
                Unlock exclusive device upgrades
              </p>
            </div>

            <h5 class="flex flex-wrap 2xl:flex-nowrap items-center">
              <span class="font-inherit text-inherit mr-1"> $00.00 – </span>
              <span
                class="font-inherit text-inherit"
                data-counter
                data-number="50000"
                data-speed="1500"
                data-interval="190"
                data-height-space="2.5"
                data-rooms="5"
              >
                50,000
              </span>
              <span class="font-inherit text-inherit"> .00 USD </span>
            </h5>
          </div>

          <div class="space-y-4">
            <div class="space-y-2">
              <div
                class="flex item-center justify-between px-4 py-[15px] border border-stroke-1 rounded-[100px]"
              >
                <span class="text-tagline-3">Smart Home</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 6L8 10L4 6"
                    stroke="#1A1A1C"
                    stroke-opacity="0.6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <div
                class="flex item-center justify-between px-4 py-[15px] border border-stroke-1 rounded-[100px]"
              >
                <span class="text-tagline-3">LifeStyle</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 6L8 10L4 6"
                    stroke="#1A1A1C"
                    stroke-opacity="0.6"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="group w-full sm:w-auto">
              <Component
                src="src/components/shared/button-v2.htm"
                page-link="./ai-gadgets-login.html"
                class="!w-full"
                btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2 !w-full"
                btn-text="Get access"
              />
            </div>
          </div>
        </div>

        <!-- Grid 2 -->
        <div
          data-ns-animate
          data-delay="0.2"
          class="lg:col-span-1 lg:row-span-1 rounded-2xl p-8 flex item-center justify-center flex-col bg-linear-[180deg,#A585FF_0%,#FFC2AD_100%]"
        >
          <div class="text-center">
            <h5 class="text-white">Your AI Device Balance</h5>
            <h3 class="text-white flex justify-center items-center">
              <span
                class="font-inherit text-inherit"
                data-counter
                data-number="35900"
                data-speed="1500"
                data-interval="190"
                data-height-space="2.0"
                data-rooms="5"
              >
                35,900
              </span>
              <span class="font-inherit text-inherit">.50</span>
            </h3>
          </div>
        </div>

        <!-- Grid 3 -->
        <div
          data-ns-animate
          data-delay="0.3"
          class="lg:col-span-1 lg:row-span-1 bg-white rounded-2xl p-8 flex items-center justify-center flex-col"
        >
          <div
            class="relative z-0 size-[172px] rounded-full overflow-hidden flex items-center justify-center flex-col"
          >
            <figure class="absolute left-1/2 top-1/2 -translate-1/2 -z-10 w-full h-full">
              <img src="./images/ns-img-331.png" alt="gadget-productivity" />
            </figure>
            <div class="text-center">
              <h5 class="flex items-center justify-center">
                <span
                  data-counter
                  data-number="60"
                  data-speed="1500"
                  data-interval="150"
                  data-rooms="2"
                  >60</span
                >%
              </h5>
              <p class="text-secondary/60 text-tagline-3">Productivity</p>
            </div>
          </div>
        </div>

        <!-- Grid 4 -->
        <div
          data-ns-animate
          data-delay="0.4"
          class="md:col-span-2 lg:col-span-1 lg:row-span-3 rounded-2xl bg-white p-8 flex items-center justify-center flex-col lg:min-h-[361px]"
        >
          <div class="text-center">
            <h5>"Track your AI gadgets in real-time with clear insights."</h5>
          </div>
        </div>

        <!-- Grid 5 (center wide card) -->
        <div
          data-ns-animate
          data-delay="0.1"
          data-start="top 98%"
          class="md:col-span-3 lg:col-span-2 lg:row-span-6 bg-white rounded-2xl p-8 flex justify-center flex-col lg:min-h-[452px]"
        >
          <div class="text-center space-y-6">
            <figure class="lg:max-w-[198px] lg:block hidden mx-auto">
              <img src="./images/shared/main-logo.svg" alt="NextSaaS" class="dark:invert" />
            </figure>
            <div>
              <h2>
                Smart Gadgets,<br class="lg:block hidden" />
                Powered by AI
              </h2>
            </div>
          </div>
        </div>

        <!-- Grid 6 -->
        <div
          data-ns-animate
          data-delay="0.1"
          data-start="top 97%"
          class="lg:col-span-1 lg:row-span-2 rounded-2xl bg-secondary p-8 flex items-center justify-center flex-col lg:min-h-[226px]"
        >
          <div class="text-center">
            <h5 class="text-white">AI-Powered Gadget platform</h5>
          </div>
        </div>

        <!-- Grid 7 -->
        <div
          data-ns-animate
          data-delay="0.1"
          data-start="top 95%"
          class="md:col-span-2 lg:col-span-1 lg:row-span-4 bg-white rounded-2xl p-8 flex justify-between flex-col"
        >
          <div class="text-center">
            <p class="text-secondary/60">Insights</p>
          </div>
          <div class="text-center space-y-3">
            <div class="flex max-[375px]:flex-col items-center justify-center">
              <div class="flex -space-x-3.5 items-center">
                <img
                  data-ns-animate
                  data-delay="0.2"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-13 rounded-full ring-2 ring-white dark:ring-black bg-ns-green relative z-30"
                  src="./images/ns-img-332.png"
                  alt="Avatar 1"
                />
                <img
                  data-ns-animate
                  data-delay="0.3"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-15 rounded-full ring-2 ring-white dark:ring-black bg-ns-green relative z-20"
                  src="./images/ns-img-333.png"
                  alt="Avatar 2"
                />
                <img
                  data-ns-animate
                  data-delay="0.4"
                  data-direction="right"
                  data-offset="50"
                  class="inline-block size-13 rounded-full ring-2 ring-white dark:ring-black bg-ns-green relative z-10"
                  src="./images/ns-img-334.png"
                  alt="Avatar 3"
                />
              </div>
            </div>
            <h5>Smarter, Faster, AI-Powered Gadgets</h5>
          </div>
          <div class="text-center">
            <p class="text-secondary/60">2025</p>
          </div>
        </div>

        <!-- Grid 8 -->
        <div
          data-ns-animate
          data-delay="0.3"
          data-start="top 80%"
          class="lg:col-span-1 lg:row-span-3 rounded-2xl bg-white p-8 flex items-center justify-center flex-col lg:min-h-[361px]"
        >
          <div class="text-center">
            <h5>Award-winning AI gadget ecosystem</h5>
          </div>
        </div>

        <!-- Grid 9 -->
        <div
          data-ns-animate
          data-delay="0.2"
          data-start="top 96%"
          class="lg:col-span-1 lg:row-span-1 bg-white rounded-2xl p-8 flex flex-col space-y-8"
        >
          <div class="flex items-center justify-between">
            <p class="text-tagline-1 font-medium text-secondary">AI Device Health</p>
            <p class="text-secondary/60 text-tagline-3">92%</p>
          </div>
          <figure>
            <img src="./images/ns-img-335.png" alt="gadget-chart" />
          </figure>
        </div>

        <!-- Grid 10 -->
        <div
          data-ns-animate
          data-delay="0.3"
          data-start="top 96%"
          class="lg:col-span-1 lg:row-span-1 bg-white rounded-2xl p-8 flex items-center justify-center flex-col space-y-8"
        >
          <div class="w-full text-center space-y-2">
            <div class="bg-primary-500 py-3.5 px-5 rounded-full text-center max-w-[240x] mx-auto">
              <p class="text-tagline-2 text-accent">Total saved</p>
            </div>
            <div>
              <h4 class="text-black flex md:flex-wrap 2xl:flex-nowrap items-center justify-center">
                <span
                  class="font-inherit text-inherit"
                  data-counter
                  data-number="100333"
                  data-speed="1500"
                  data-interval="190"
                  data-height-space="2"
                  data-rooms="6"
                >
                  100,333
                </span>
                <span class="font-inherit text-inherit">.50 $</span>
              </h4>
            </div>
            <div class="flex items-center justify-center gap-1">
              <span
                class="bg-ns-yellow flex items-center justify-center rounded-full size-[18px] p-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="14"
                  viewBox="0 0 13 14"
                  fill="none"
                >
                  <path
                    d="M0.673696 7.00446C0.776925 7.11477 0.918664 7.17963 1.06849 7.1851C1.2291 7.18812 1.38357 7.12258 1.49425 7.00446L5.90667 2.52753V12.9109C5.91084 13.2345 6.16835 13.4958 6.48725 13.5C6.80616 13.4958 7.06367 13.2345 7.06784 12.9109V2.52752L11.4803 7.00446C11.6282 7.15879 11.8461 7.22131 12.0518 7.16846C12.2575 7.11562 12.4198 6.95544 12.4776 6.74826C12.5353 6.54108 12.4797 6.31838 12.3318 6.16405L6.91302 0.666063C6.68303 0.444646 6.32245 0.444646 6.09246 0.666063L0.673696 6.16405C0.562587 6.27481 0.5 6.42622 0.5 6.58425C0.5 6.74229 0.562587 6.8937 0.673696 7.00446Z"
                    fill="black"
                  />
                </svg>
              </span>
              <p class="text-tagline-2">234.45%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
