<section class="max-[1920px]:px-5">
  <div
    class="bg-background-12 max-w-[1880px] md:rounded-4xl rounded-3xl py-25 lg:py-39 md:px-5 mx-auto"
    data-ns-animate
    data-delay="0.2"
  >
    <div class="main-container flex flex-col gap-[70px]">
      <div class="flex flex-col items-center text-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-secondary mb-5 max-[426px]:mb-3">
          Our Pricing
        </span>
        <h2
          data-ns-animate
          data-delay="0.2"
          class="max-w-[650px] mx-auto mb-8 max-[426px]:max-w-[320px]"
        >
          Simple, Transparent Pricing
        </h2>

        <div class="relative z-0">
          <span
            data-ns-animate
            data-delay="0.5"
            data-direction="top"
            data-offset="150"
            data-spring
            data-duration="2.5"
            class="absolute z-11 -right-6 -top-2.5 bg-ns-green dark:bg-ns-green text-secondary dark:text-secondary inline-block font-normal capitalize text-tagline-2 px-3.5 py-1.5 shadow-xs rounded-[36px] rotate-[20deg] w-[90px]"
          >
            save 40%
          </span>
          <label
            data-ns-animate
            data-delay="0.3"
            class="relative inline-flex items-center cursor-pointer z-[10] bg-white dark:bg-background-9 py-6 px-[57px] max-[426px]:px-10 max-[426px]:py-4 rounded-full"
          >
            <span
              class="mr-2.5 text-tagline-1 max-[426px]:text-tagline-2 text-secondary dark:text-accent font-normal"
              >Monthly</span
            >
            <input
              type="checkbox"
              id="priceCheck"
              class="sr-only peer"
              aria-label="Toggle between monthly and yearly pricing"
            />
            <span
              class="relative w-13 h-[28px] bg-secondary dark:bg-accent rounded-[34px] peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:start-[2px] peer-checked:after:start-[2px] after:bg-accent dark:after:bg-background-8 after:rounded-full after:h-6 after:w-6 after:transition-all"
            ></span>
            <span
              class="ms-2.5 text-tagline-1 max-[426px]:text-tagline-2 text-secondary dark:text-accent font-normal"
              >Yearly</span
            >
          </label>
        </div>
      </div>
      <div class="relative">
        <div
          class="grid grid-cols-1 lg:grid-cols-3 items-center lg:gap-8 gap-y-5 lg:max-w-full max-w-[500px] mx-auto lg:mx-0"
        >
          <!-- Price Card 1 -->
          <div
            data-ns-animate
            data-delay="0.3"
            class="bg-white dark:bg-background-7 flex-1 p-8 rounded-[20px] max-lg:w-full w-full"
          >
            <h3 class="mb-2 font-normal text-heading-5">Starter</h3>
            <p class="mb-6 max-w-[250px] max-[426px]:text-tagline-2">
              Perfect for individuals trying out AI gadgets.
            </p>
            <div class="price-month mb-7">
              <h4 class="text-heading-4 font-normal">$<span>160.00</span></h4>
              <p class="text-secondary dark:text-accent">Per Month</p>
            </div>
            <div class="price-year mb-7">
              <h4 class="text-heading-4 font-normal">$<span>220.00</span></h4>
              <p class="text-secondary dark:text-accent">Per Year</p>
            </div>
            <a
              href="./ai-gadgets-contact.html"
              class="btn btn-md btn-white dark:btn-white-dark hover:btn-secondary dark:hover:btn-white w-full block text-center mb-8 before:content-none first-letter:uppercase"
            >
              Get started
            </a>
            <ul class="relative list-none space-y-2.5">
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent font-normal text-tagline-1">
                  Connect up to 2 devices
                </span>
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect width="20" height="20" rx="10" fill="" class="fill-white dark:fill-black" />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/60"
                  />
                </svg>

                <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1">
                  Basic automation features
                </span>
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect width="20" height="20" rx="10" fill="" class="fill-white dark:fill-black" />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/60"
                  />
                </svg>

                <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1">
                  Standard support
                </span>
              </li>
            </ul>
          </div>
          <!-- Price Card 2 -->
          <div
            data-ns-animate
            data-start="top 84%"
            data-delay="0.4"
            class="p-2.5 w-full rounded-[20px] flex-1 bg-[url('/images/ns-img-329.png')] dark:bg-[url('/images/ns-img-329.png')] bg-no-repeat bg-center bg-cover max-lg:w-full"
          >
            <div class="bg-white dark:bg-black p-5 sm:p-8 rounded-[12px]">
              <h3 class="mb-2.5 font-normal text-heading-5">Pro</h3>
              <p class="mb-6 text-secondary/60 dark:text-accent/60 max-w-[250px]">
                For power users who want more control and flexibility.
              </p>
              <div class="price-month mb-7">
                <h4 class="text-heading-4 font-normal">$<span>3342.00</span></h4>
                <p class="text-secondary dark:text-accent">Per Month</p>
              </div>
              <div class="price-year mb-7">
                <h4 class="text-heading-4 font-normal">$<span>4420.00</span></h4>
                <p class="text-secondary dark:text-accent">Per Year</p>
              </div>
              <a
                href="./ai-gadgets-contact.html"
                class="btn btn-md btn-secondary dark:btn-accent hover:btn-primary w-full block text-center mb-8 before:content-none first-letter:uppercase"
              >
                Get started
              </a>
              <ul class="relative list-none space-y-2.5">
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                    >Connect up to 10 devices
                  </span>
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                    >Advanced AI automation
                  </span>
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                    >Real-time insights & analytics
                  </span>
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    />
                  </svg>

                  <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                    >Priority support
                  </span>
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-background-4 dark:fill-background-9"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-secondary/60 dark:fill-accent/60"
                    />
                  </svg>

                  <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
                    >Custom Notifications & Alerts</span
                  >
                </li>
                <li class="flex items-center gap-2.5">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-background-4 dark:fill-background-9"
                    />
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-secondary/60 dark:fill-accent/60"
                    />
                  </svg>

                  <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
                    >Cross-Platform Access</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Price Card 3 -->
          <div
            data-ns-animate
            data-delay="0.5"
            class="bg-white dark:bg-background-7 flex-1 p-8 rounded-[20px] max-lg:w-full"
          >
            <h3 class="mb-2 font-normal text-heading-5">Elite</h3>
            <p class="mb-6 max-w-[250px] text-secondary/60 dark:text-accent/60">
              Best for families and professionals with multiple gadgets.
            </p>
            <div class="price-month mb-7">
              <h4 class="text-heading-4 font-normal">$<span>4800.00</span></h4>
              <p class="text-secondary">Per Month</p>
            </div>
            <div class="price-year mb-7">
              <h4 class="text-heading-4 font-normal">$<span>5800.00</span></h4>
              <p class="text-secondary">Per Year</p>
            </div>
            <a
              href="./ai-gadgets-contact.html"
              class="btn btn-md btn-white dark:btn-white-dark hover:btn-secondary dark:hover:btn-white w-full block text-center mb-8 before:content-none first-letter:uppercase"
            >
              Get started
            </a>
            <ul class="relative list-none space-y-2.5">
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent font-normal text-tagline-1"
                  >Unlimited device connections
                </span>
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  />
                </svg>

                <span class="text-secondary dark:text-accent/60 font-normal text-tagline-1"
                  >Full AI customization
                </span>
              </li>
              <li class="flex items-center gap-2.5">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect width="20" height="20" rx="10" fill="" class="fill-white dark:fill-black" />
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-secondary/60 dark:fill-accent/60"
                  />
                </svg>

                <span class="text-secondary/60 dark:text-accent/60 font-normal text-tagline-1"
                  >Cross-platform integration</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
