<!-- =========================
Integration section
===========================-->
<section
  class="bg-background-2 dark:bg-background-5 pt-[100px] lg:pt-[200px] pb-[100px] overflow-hidden"
>
  <div class="main-container">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 items-center justify-center lg:gap-[100px] md:gap-y-20 sm:gap-y-10 gap-y-28 lg:mb-[120px]"
    >
      <div class="max-lg:order-0">
        <!--Integration Images-->
        <div class="relative z-10 inline-block max-lg:left-1/2 max-lg:-translate-x-1/2">
          <figure data-ns-animate data-delay="0.2" class="max-w-[358px] rounded-[20px]">
            <img
              src="./images/ns-img-57.png"
              alt="about-data-integration"
              class="size-full dark:hidden rounded-[20px] object-cover"
            />
            <img
              src="./images/ns-img-dark-35.png"
              alt="about-data-integration"
              class="size-full hidden dark:inline-block rounded-[20px] object-cover"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.3"
            data-direction="right"
            class="absolute max-sm:w-[200px] md:w-[250px] lg:w-[260px] xl:w-auto -top-12 -right-14 sm:-top-[90px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] rounded-2xl overflow-hidden"
          >
            <img
              src="./images/ns-img-58.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-36.svg"
              alt="about-data"
              class="size-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            class="absolute max-sm:w-[130px] bottom-12 -right-14 sm:bottom-[85px] sm:-right-[200px] md:-right-[150px] lg:-right-[150px] xl:-right-[200px] -z-10 rounded-2xl overflow-hidden"
          >
            <img
              src="./images/ns-img-59.svg"
              alt="about-data-integration"
              class="size-full object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-37.svg"
              alt="about-data-integration"
              class="size-full object-cover hidden dark:inline-block"
            />
          </figure>
        </div>
      </div>
      <!--Integration Data-->
      <div class="pt-5 max-lg:order-1">
        <div class="max-w-[592px] mx-auto lg:mx-0 lg:text-left text-center lg:max-w-full">
          <div class="space-y-5 mb-8">
            <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5">
              Data integrations
            </span>
            <div class="space-y-3 mb-8">
              <h2 data-ns-animate data-delay="0.3" class="max-w-[592px] mx-auto lg:mx-0">
                A clear vision is essential for understanding wealth dynamics.
              </h2>
              <p data-ns-animate data-delay="0.4">
                A clear vision is essential for understanding wealth dynamics because it provides
                direction, purpose, and clarity in navigating financial growth and sustainability.
              </p>
            </div>
          </div>
          <ul class="max-sm:flex-col flex sm:items-start items-center gap-6 mb-14">
            <li data-ns-animate data-delay="0.5" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >On demand support</span
              >
            </li>
            <li data-ns-animate data-delay="0.6" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >Information Sharing</span
              >
            </li>
            <li data-ns-animate data-delay="0.7" class="flex items-center gap-2">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <path
                  d="M15.1875 5.0625L7.3125 12.9371L3.375 9"
                  class="stroke-secondary dark:stroke-accent"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-secondary font-medium text-tagline-1 dark:text-accent/60"
                >Cloud Technology</span
              >
            </li>
          </ul>
          <div data-ns-animate data-delay="0.7" class="md:text-left text-center">
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="{=$page-link}"
              btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
              btn-text="Start your journey"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
