<!-- =========================
Services section
===========================-->
<section class="max-[1920px]:px-5">
  <div
    class="bg-secondary max-w-[1880px] md:rounded-4xl rounded-3xl py-25 xl:py-28 md:px-5 mx-auto relative overflow-hidden"
  >
    <figure class="absolute right-0 bottom-0 w-full h-full" data-ns-animate data-delay="0.4">
      <img src="./images/ns-img-328.png" alt="service bg" class="w-full h-full" />
    </figure>
    <div class="main-container mb-13">
      <div class="mb-19 text-center lg:max-w-[730px] lg:mx-auto">
        <span
          data-ns-animate
          data-delay="0.1"
          class="badge badge-white mb-5 !text-secondary font-medium !text-tagline-2"
        >
          services
        </span>
        <h2 data-ns-animate data-delay="0.2" class="mb-3 text-accent">Our smart AI services</h2>
        <p data-ns-animate data-delay="0.3" class="lg:max-w-[420px] lg:mx-auto text-accent/60">
          Everything you need to connect, control, and simplify life powered by intelligent AI.
        </p>
      </div>

      <!-- services cards -->
      <div class="grid grdi-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-8 gap-y-8">
        <!-- service card 01 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.4"
        >
          <div class="">
            <span class="ns-shape-47 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>
        <!-- service card 02 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.5"
        >
          <div class="">
            <span class="ns-shape-12 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>
        <!-- service card 03 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.6"
        >
          <div class="">
            <span class="ns-shape-8 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>

        <!-- service card 04 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.7"
        >
          <div class="">
            <span class="ns-shape-3 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>
        <!-- service card 05 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.8"
        >
          <div class="">
            <span class="ns-shape-52 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>
        <!-- service card 06 -->
        <article
          class="flex flex-col items-center justify-center text-center space-y-8 p-6 lg:p-9 xl:p-11"
          data-ns-animate
          data-delay="0.9"
        >
          <div class="">
            <span class="ns-shape-35 text-[52px] text-accent"></span>
          </div>
          <div class="space-y-2 max-w-[322px]">
            <h5 class="text-white">Smart integration</h5>
            <p class="text-tagline-1 text-accent/60">
              Seamlessly connect your gadgets with one hub, from voice assistants to home devices.
            </p>
          </div>
        </article>
      </div>
    </div>

    <div
      data-ns-animate
      data-delay="1"
      class="flex items-center justify-center w-[90%] mx-auto md:w-auto"
    >
      <Component
        src="src/components/shared/button-v2.htm"
        page-link="./ai-gadgets-services.html"
        btn-class="btn-xl-v2 btn-v2-white !border-0 group-hover/btn-v2:btn-secondary-v2 "
        btn-text="See all services"
      />
    </div>
  </div>
</section>
