<!-- ======================  
 Spotlight Stories 
====================== -->
<section class="xl:py-28 lg:pb-24 md:py-18 py-12" aria-label="spotlight stories section">
  <div class="main-container space-y-17.5">
    <div
      class="flex justify-center flex-col md:flex-row space-y-8 md:space-y-0 md:justify-between items-center"
    >
      <div>
        <h2 data-ns-animate data-delay="0.1">Spotlight Stories</h2>
        <p data-ns-animate data-delay="0.2">Real results from real teams</p>
      </div>

      <!-- btns -->
      <div
        class="flex md:flex-row flex-col gap-y-3 md:gap-y-0 items-center justify-start max-md:w-full gap-x-4"
      >
        <div
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="70"
          class="w-[90%] md:w-auto"
        >
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$customer-page-link}"
            btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
            btn-text="Read customer stories"
          />
        </div>

        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          data-offset="70"
          class="w-[90%] md:w-auto modal-action"
        >
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$contact-page-link}"
            btn-class="btn-xl-v2 btn-stone-v2 group-hover/btn-v2:btn-secondary-v2"
            btn-text="Share your story"
          />
        </div>
      </div>
    </div>

    <!-- stories -->
    <article class="flex flex-col lg:flex-row lg:gap-2 gap-5 justify-center items-center">
      <div
        class="bg-background-3 dark:bg-background-5 rounded-xl p-6 max-w-full xl:max-w-[316px]"
        data-ns-animate
        data-delay="0.1"
      >
        <figure>
          <img src="./images/icons/hotjar.svg" alt="story" />
        </figure>
        <p class="text-secondary dark:text-accent pt-16 pb-8">
          We easily converted scripts into natural voices and scaled our ad campaigns faster than
          ever.
        </p>

        <figure class="flex items-center gap-3">
          <img
            src="./images/ns-avatar-20.png"
            class="size-11 rounded-full object-center object-cover"
            alt="Andrew Gasiorowski's avatar"
            width="44"
            height="44"
            loading="lazy"
          />

          <figure>
            <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">
              Andrew Gasiorowski
            </h3>
            <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
              NLP Engineer Goodcall
            </p>
          </figure>
        </figure>
      </div>

      <div class="space-y-5 lg:space-y-2 max-w-full max-lg:w-full">
        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.2"
        >
          <span
            data-ns-animate
            data-delay="0.1"
            class="bg-background-12 text-secondary text-tagline-3 font-medium text-nowrap px-5 py-1.5 rounded-full"
            role="text"
            aria-label="Section category"
            >Case study</span
          >
          <p class="text-secondary dark:text-accent pt-16 pb-8">
            SoundWave Studios boosts video output by 40% using AI-generated voices.
          </p>

          <div class="w-[90%] md:w-auto">
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="{=$case-study-page-link}"
              btn-class="btn-md-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
              btn-text="Read now"
            />
          </div>
        </div>

        <div
          class="bg-ns-green rounded-xl p-6 space-y-3 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.3"
        >
          <h2
            class="text-secondary xl:text-8xl lg:text-7xl md:text-6xl sm:text-5xl text-4xl xl:leading-[110%] pt-6 font-light"
          >
            50%
          </h2>

          <p class="text-secondary/60">
            less time spent on dubbing compared to traditional workflows.
          </p>
        </div>
      </div>

      <div class="space-y-5 lg:space-y-2 max-w-full max-lg:w-full">
        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.4"
        >
          <figure>
            <img src="./images/icons/stripe.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-37.5 pb-8">
            The voice clarity and tone customization blew us away!
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-21.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">Carlos M.</h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Business Owner
              </p>
            </figure>
          </figure>
        </div>

        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.2"
        >
          <figure>
            <img src="./images/icons/notion-v2.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-31 pb-8">
            We instantly localize our campaigns with natural accents — no extra cost, no delays.
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-23.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">Nora Kim.</h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Marketing Lead, AdPulse Global
              </p>
            </figure>
          </figure>
        </div>
      </div>

      <div class="space-y-5 max-w-full lg:space-y-2">
        <div
          class="bg-secondary dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.4"
        >
          <span
            data-ns-animate
            data-delay="0.1"
            class="bg-accent/10 text-white text-tagline-3 font-medium text-nowrap px-5 py-1.5 rounded-full"
            role="text"
            aria-label="Section category"
            >Case study</span
          >
          <p class="text-white pt-5 pb-8">
            SoundWave Studios boosts video output by 40% using AI-generated voices.
          </p>

          <div class="w-[90%] md:w-auto">
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="{=$case-study-page-link}"
              btn-class="btn-md-v2 btn-v2-white !border-0 group-hover/btn-v2:btn-primary-v2"
              btn-text="Read now"
            />
          </div>
        </div>

        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.3"
        >
          <figure>
            <img src="./images/icons/scapic.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-19 pb-8">
            Our explainer videos now sound professional without hiring multiple voice actors. It’s a
            total game-changer.
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-17.png"
              class="size-11 rounded-full object-center object-cover"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 sm:text-lg font-semibold leading-[1.5]">Liam Brooks</h3>
              <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
                Video Producer, BrightMotion
              </p>
            </figure>
          </figure>
        </div>
      </div>
    </article>
  </div>
</section>
