<!-- =========================
Need Help section
===========================-->
<section class="pb-[100px] lg:pb-[200px] lg:pt-[160px] pt-[120px]">
  <div class="main-container">
    <div class="text-center space-y-14 mb-[70px]">
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.3">Need help with NextSaaS?</h2>
        <p data-ns-animate data-delay="0.4">
          Welcome to the NextSaaS Support Center! We're ready to assist you if you have an issue or
          a question.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="inline-block">
        <Component
          src="src/components/shared/button-v2.htm"
          page-link="{=$page-link}"
          btn-class="btn-xl-v2 btn-primary-v2 group-hover/btn-v2:btn-secondary-v2"
          btn-text="Get help"
        />
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" data-instant class="section-reveal">
      <figure class="rounded-[20px] overflow-hidden">
        <img src="./images/ns-img-401.jpg" alt="support" />
      </figure>
    </div>
  </div>
</section>
