<!-- =========================
Changelog FAQ section
===========================-->
<div data-ns-animate data-delay="0.6" data-instant>
  <div class="tab-content max-w-[850px] mx-auto space-y-4 {=$class}" data-display="block">
    <!-- accordion one -->
    <div
      class="accordion-item active-accordion bg-background-1 dark:bg-background-6 rounded-[20px] px-8"
    >
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          What is a changelog?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion two -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          How often is the changelog updated?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion three -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          Where can I view the latest changelog?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion four -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          Am I get notified when something changes?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>
    <!-- accordion five -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          What types of updates are included?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion six -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          Are minor fixes always included in the changelog?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            We diligently update the changelog each time we roll out new features, implement
            enhancements, or address bugs. This process usually occurs on a biweekly or monthly
            schedule, ensuring that our users are always informed about the latest improvements and
            fixes.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
