<!-- =========================
FAQ section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <!-- HEADING  -->
    <div class="text-center space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">FAQ</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3">Commonly asked questions</h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[600px] mx-auto">
          By offering concise and informative responses, this section helps users find solutions
          without the need to contact customer support, saving time
        </p>
      </div>
    </div>

    <!-- tab group  -->
    <Component src="./faq-tab.htm" />

    <!-- general tab  -->
    <Component src="./general-faq.htm" />

    <!-- changelog tab  -->
    <Component src="./change-log-faq.htm" />

    <!-- privacy tab  -->
    <Component src="./privacy.htm" />

    <!-- terms & condition tab  -->
    <Component src="./terms-condition-faq.htm" />
  </div>
</section>
