<!-- =========================
General Faq section
===========================-->
<div data-ns-animate data-delay="0.6" data-instant>
  <div class="tab-content max-w-[850px] mx-auto space-y-4 {=$class}" data-display="block">
    <!-- accordion one  -->
    <div
      class="accordion-item active-accordion bg-background-1 dark:bg-background-6 rounded-[20px] px-8"
    >
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          What is the primary role of a business agency?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion two  -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          What kinds of services should I anticipate from a business agency?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion three  -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          How often should I consider updating my website?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion four  -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          How often is it recommended to refresh my website?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion five  -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          What’s the ideal frequency for updating my website?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>

    <!-- accordion six  -->
    <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
      <!-- heading  -->
      <button
        class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
      >
        <span class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent">
          How frequently should I consider refreshing my website?
        </span>
        <Component src="src/components/shared/accordion-icon.htm" />
      </button>
      <!-- content  -->
      <div class="accordion-content">
        <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
          <p>
            When collaborating with a business agency, you can generally expect an extensive array
            of services designed to not only support your current operations but also to foster
            growth and innovation within your business. These services often include strategic
            planning, marketing solutions, financial consulting, and operational improvements.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
