<!-- =========================
feature v2 section
===========================-->
<section
  class="relative xl:py-[200px] lg:py-[100px] md:py-20 py-16 bg-background-2 dark:bg-background-5"
  aria-label="Hero section"
>
  <div class="main-container">
    <div class="grid grid-cols-12 md:gap-8 sm:gap-5 gap-y-6">
      <div data-ns-animate data-delay="0.1" class="col-span-12 xl:col-span-8">
        <div
          class="lg:px-14 lg:py-[42px] md:px-8 md:py-8 px-5 py-5 rounded-[20px] lg:min-h-[408px] md:min-h-[340px] min-h-[250px] bg-white dark:bg-background-8 relative overflow-hidden"
        >
          <figure
            data-ns-animate
            data-delay="0.2"
            data-offset="200"
            data-direction="up"
            data-start="top 50%"
            class="absolute -top-[50%] xl:-right-[30%] lg:-right-[25%] md:-right-[39%] -right-[78%] -rotate-[255deg] h-full opacity-70 -z-0 pointer-events-none select-none max-w-[400px] max-h-[408px] w-full"
          >
            <img src="./images/ns-img-498.png" alt="gredient" />
          </figure>
          <div class="lg:space-y-14 md:space-y-8 space-y-5">
            <div class="space-y-3">
              <h3
                class="lg:text-heading-2 md:text-heading-3 sm:text-heading-4 text-heading-5 max-w-[503px] w-full"
              >
                Supercharge your app management
              </h3>
              <p class="max-w-[592px] w-full">
                Modern tools make managing your money simpler than ever. From clear, customizable
                budgets to smart savings goals
              </p>
            </div>
            <div>
              <a
                href="./mobile-management-software-contact.html"
                class="btn btn-secondary dark:btn-transparent hover:btn-primary btn-md w-[85%] md:w-auto mx-auto md:mx-0"
              >
                <span>Try the app for Free</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.2" class="col-span-12 xl:col-span-4 sm:col-span-6">
        <div
          class="md:p-8 p-5 rounded-[20px] lg:min-h-[408px] bg-white dark:bg-background-8 space-y-6"
        >
          <div class="space-y-1">
            <h3 class="md:text-heading-5 text-heading-6">Keep all data protected</h3>
            <p>End-to-end encrypted & centrally managed</p>
          </div>
          <figure class="xl:max-w-[344px] w-full rounded-2xl overflow-hidden">
            <img
              src="./images/ns-img-213.svg"
              alt="feature"
              class="size-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-144.svg"
              alt="feature"
              class="size-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div data-ns-animate data-delay="0.3" class="col-span-12 xl:col-span-4 sm:col-span-6">
        <div
          class="md:p-8 p-5 rounded-[20px] lg:min-h-[408px] bg-white dark:bg-background-8 space-y-6"
        >
          <div class="space-y-1">
            <h3 class="md:text-heading-5 text-heading-6">Multi-device support</h3>
            <p>Manage tablets, phones & rugged devices</p>
          </div>
          <figure class="xl:max-w-[344px] w-full rounded-2xl overflow-hidden">
            <img
              src="./images/ns-img-214.svg"
              alt="feature"
              class="size-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-145.svg"
              alt="feature"
              class="size-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="col-span-12 xl:col-span-4 sm:col-span-6">
        <div
          class="md:p-8 p-5 rounded-[20px] lg:min-h-[408px] bg-white dark:bg-background-8 space-y-6"
        >
          <div class="space-y-1">
            <h3 class="md:text-heading-5 text-heading-6">Team collaboration</h3>
            <p>Shared dashboards & role-based access</p>
          </div>
          <figure class="xl:max-w-[344px] w-full rounded-2xl overflow-hidden">
            <img
              src="./images/ns-img-215.svg"
              alt="feature"
              class="size-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-146.svg"
              alt="feature"
              class="size-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 xl:col-span-4 sm:col-span-6">
        <div
          class="md:p-8 p-5 rounded-[20px] lg:min-h-[408px] bg-white dark:bg-background-8 space-y-6"
        >
          <div class="space-y-1">
            <h3 class="md:text-heading-5 text-heading-6">Seamless sync & backup</h3>
            <p>Continuous performance, zero disruptions</p>
          </div>
          <figure class="xl:max-w-[344px] max-w-full w-full rounded-2xl overflow-hidden">
            <img
              src="./images/ns-img-216.png"
              alt="feature"
              class="size-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-147.png"
              alt="feature"
              class="size-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
