<!-- =========================
Hero section
===========================-->
<section class="relative pt-36 lg:pt-[150px] md:pt-[180px] pb-12 sm:pb-0" aria-label="Hero section">
  <div class="main-container md:mb-[70px] mb-10">
    <div class="text-center md:space-y-14 space-y-8">
      <div class="space-y-4 relative z-20">
        <h1 data-ns-animate data-delay="0.1">
          Mobile device <br />
          management software
        </h1>
        <p
          data-ns-animate
          data-delay="0.2"
          class="lg:max-w-[818px] md:max-w-[618px] sm:max-w-[518px] max-w-[450px] w-full mx-auto"
        >
          NextSaaS empowers organizations to manage their mobile fleet with confidence. From
          security policies to remote configurations—manage every device without touching it.
        </p>
        <ul class="flex items-center lg:gap-9 sm:gap-6 gap-4 justify-center flex-wrap">
          <li data-ns-animate data-delay="0.3" class="flex items-center gap-1.5">
            <span
              class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                class="shrink-0"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <span class="text-secondary/60 text-tagline-2 dark:text-accent/60">
              Free installation
            </span>
          </li>
          <li data-ns-animate data-delay="0.4" class="flex items-center gap-1.5">
            <span
              class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                class="shrink-0"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <span class="text-secondary/60 text-tagline-2 dark:text-accent/60">
              App version 3.9
            </span>
          </li>
          <li data-ns-animate data-delay="0.5" class="flex items-center gap-1.5">
            <span
              class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                class="shrink-0"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                  class="fill-white dark:fill-secondary"
                />
              </svg>
            </span>
            <span class="text-secondary/60 text-tagline-2 dark:text-accent/60">
              4.4 rated by 1,300,000+ customers
            </span>
          </li>
        </ul>
      </div>
      <ul
        class="relative z-20 flex items-center justify-center sm:flex-row flex-col sm:gap-4 gap-y-5"
      >
        <li
          data-ns-animate
          data-delay="0.6"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./mobile-management-software-case-study.html"
            class="btn btn-primary btn-md md:btn-xl hover:btn-secondary dark:hover:btn-accent md:w-auto w-[90%]"
            aria-label="Get started with NextSaaS"
          >
            <span>Take a product tour</span>
          </a>
        </li>

        <li
          data-ns-animate
          data-delay="0.8"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./mobile-management-software-contact.html"
            class="btn btn-secondary btn-md md:btn-xl hover:btn-primary dark:btn-accent md:w-auto w-[90%]"
            aria-label="Get started with NextSaaS"
          >
            <span>Start free trial</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div
    data-ns-animate
    data-delay="0.9"
    data-duration="1.1"
    class="lp:max-w-[1290px] xl:max-w-[1140px] lg:max-w-[940px] md:max-w-[640px] sm:max-w-[500px] max-w-[420px] max-[500px]:max-w-[320px] w-full mx-auto block dark:hidden"
  >
    <figure
      class="w-full rounded-xl md:rounded-[20px] overflow-hidden xl:-mb-7 md:-mb-6 min-[500px]:mb-10"
    >
      <img
        src="./images/ns-img-205.jpg"
        alt="NextSaaS mobile device management software"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>
  <div
    data-ns-animate
    data-delay="0.9"
    data-duration="1.1"
    class="lp:max-w-[1290px] xl:max-w-[1140px] lg:max-w-[940px] md:max-w-[640px] sm:max-w-[500px] max-w-[420px] max-[500px]:max-w-[320px] w-full mx-auto hidden dark:block"
  >
    <figure
      class="w-full rounded-xl md:rounded-[20px] overflow-hidden xl:-mb-7 md:-mb-6 min-[500px]:-mb-10"
    >
      <img
        src="./images/ns-img-dark-140.jpg"
        alt="NextSaaS mobile device management software"
        class="w-full h-full object-cover"
      />
    </figure>
  </div>
</section>
