<!-- =========================
Services section
===========================-->
<section class="relative xl:py-[100px] lg:py-[90px] md:py-20 py-16">
  <div class="main-container">
    <!-- Actions steps -->
    <div class="mb-[100px] lg:space-y-14 space-y-10 max-lg:px-2">
      <div class="grid grid-cols-12 lg:gap-8 gap-y-8 items-start progress-container">
        <div data-ns-animate data-delay="0.1" class="col-span-12 lg:col-span-4">
          <div>
            <div
              class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
            >
              <div
                class="progress-line w-[20%] bg-ns-green rounded-full h-full absolute left-0"
              ></div>
            </div>

            <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-3">01</p>
            <div class="space-y-1">
              <p
                class="xl:text-heading-5 sm:text-heading-6 text-tagline-1 dark:text-accent text-secondary"
              >
                Boost team efficiency
              </p>
              <p>Reduce time spent on manual device tasks</p>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.2" class="col-span-12 lg:col-span-4">
          <div>
            <div
              class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
            >
              <div
                class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"
              ></div>
            </div>
            <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-2 sm:py-3">02</p>
            <div class="space-y-1">
              <p
                class="xl:text-heading-5 sm:text-heading-6 text-tagline-1 dark:text-accent text-secondary"
              >
                Remote device access
              </p>
              <p>Update settings or apps without physical contact</p>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.3" class="col-span-12 lg:col-span-4">
          <div>
            <div
              class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
            >
              <div
                class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"
              ></div>
            </div>
            <p class="text-tagline-1 md:text-tagline-2 text-primary-500 py-2 sm:py-3">03</p>
            <div class="space-y-1">
              <p
                class="xl:text-heading-5 sm:text-heading-6 text-tagline-1 dark:text-accent text-secondary"
              >
                Zero maintenance required
              </p>
              <p>Nutritive UI that anyone can manage</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4">
        <a
          href="./mobile-management-software-process.html"
          class="btn dark:btn-transparent btn-md btn-secondary hover:btn-primary w-[85%] md:w-auto mx-auto md:mx-0"
        >
          <span>See It in action</span>
        </a>
      </div>
    </div>
    <!-- Request demo -->
    <div class="my-24 lg:my-[100px]">
      <div
        class="md:py-14 sm:py-10 py-10 md:px-[42px] sm:px-8 px-6 lg:rounded-4xl rounded-2xl bg-background-2 dark:bg-background-5 flex xl:gap-[165px] lg:gap-20 lg:flex-row flex-col gap-y-14"
      >
        <div class="flex-1">
          <div>
            <div class="space-y-3 mb-6 md:mb-8">
              <h2
                data-ns-animate
                data-delay="0.1"
                class="md:max-w-[520px] xl:text-heading-2 md:text-heading-3 sm:text-heading-4 text-heading-5"
              >
                Designed for security teams that can't afford downtime
              </h2>
              <p data-ns-animate data-delay="0.2">
                Track key indicators, spot trends early, and turn data into action.
              </p>
            </div>
            <ul class="space-y-3 md:space-y-4 sm:mb-14 mb-10">
              <li data-ns-animate data-delay="0.3" class="flex items-center sm:gap-3 gap-2.5">
                <span
                  class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="7"
                    viewBox="0 0 10 7"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                      class="fill-white dark:fill-secondary"
                    />
                  </svg>
                </span>
                <p class="text-secondary dark:text-accent">
                  Kiosk mode for retail & public devices
                </p>
              </li>
              <li data-ns-animate data-delay="0.4" class="flex items-center sm:gap-3 gap-2.5">
                <span
                  class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="7"
                    viewBox="0 0 10 7"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                      class="fill-white dark:fill-secondary"
                    />
                  </svg>
                </span>
                <p class="text-secondary dark:text-accent">Factory reset protection</p>
              </li>
              <li data-ns-animate data-delay="0.5" class="flex items-center sm:gap-3 gap-2.5">
                <span
                  class="size-[18px] rounded-full bg-secondary shrink-0 flex items-center justify-center dark:bg-accent"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="7"
                    viewBox="0 0 10 7"
                    fill="none"
                    class="shrink-0"
                  >
                    <path
                      d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                      class="fill-white dark:fill-secondary"
                    />
                  </svg>
                </span>
                <p class="text-secondary dark:text-accent">
                  Restrict profile removal & unauthorized changes
                </p>
              </li>
            </ul>
            <div data-ns-animate data-delay="0.6">
              <a
                href="./mobile-management-software-signup.html"
                class="btn md:btn-xl btn-md dark:btn-transparent hover:btn-primary btn-white md:w-auto w-full"
              >
                <span>Request a live demo</span>
              </a>
            </div>
          </div>
        </div>
        <div class="flex-1">
          <figure
            data-ns-animate
            data-delay="0.7"
            class="lg:max-w-[521px] max-w-full w-full overflow-hidden rounded-3xl"
          >
            <img src="./images/ns-img-207.jpg" alt="services" class="w-full h-full" />
          </figure>
        </div>
      </div>
    </div>
    <!-- Download app -->
    <div>
      <div
        class="md:rounded-4xl rounded-2xl bg-secondary dark:bg-background-5 lg:py-[100px] py-[50px] relative overflow-hidden"
      >
        <!-- bg gradient img  -->
        <figure
          data-ns-animate
          data-delay="0.7"
          data-offset="200"
          class="absolute size-[700px] sm:size-[900px] lg:size-[1100px] rotate-[-597deg] top-[520px] left-[-136px] sm:left-[-72px] lg:left-[-41px] xl:left-[100px] select-none pointer-events-none"
        >
          <img src="./images/ns-img-532.png" alt="download-bg" class="size-full object-cover" />
        </figure>

        <div class="text-center relative mb-[70px] z-0 space-y-5">
          <span data-ns-animate data-delay="0.1" class="badge badge-blur">Download your app</span>
          <div class="space-y-3">
            <h3
              data-ns-animate
              data-delay="0.2"
              class="lg:text-heading-2 md:text-heading-3 sm:text-heading-4 text-heading-5 text-white"
            >
              App download & access
            </h3>
            <p data-ns-animate data-delay="0.3" class="text-accent/60">
               Manage Anywhere. Anytime.
            </p>
          </div>
        </div>
        <div
          class="max-w-[900px] mx-auto relative flex items-center justify-center z-0 overflow-hidden lg:px-0 px-5"
        >
          <div
            data-ns-animate
            data-delay="0.4"
            class="bg-white dark:bg-black sm:max-w-[310px] rounded-[20px] sm:p-8 p-6 flex flex-col items-center justify-center space-y-6"
          >
            <div class="space-y-2 text-center">
              <figure class="rounded-2xl overflow-hidden max-w-[246px]">
                <img src="./images/ns-img-191.svg" alt="qr-code" class="dark:hidden" />
                <img src="./images/ns-img-dark-130.svg" alt="qr-code" class="hidden dark:block" />
              </figure>
              <p class="dark:text-accent">Scan the QR code to start!</p>
            </div>
            <div class="space-y-3 w-full">
              <a
                href="#"
                class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black hover:bg-secondary transition-all duration-300 dark:bg-background-9 flex items-center justify-center gap-2"
              >
                <figure>
                  <img
                    class="w-full h-full object-contain"
                    src="./images/icons/apple-dark.svg"
                    alt="Apple logo"
                  />
                </figure>
                <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1 mt-1">
                  Apple Store
                </span>
              </a>
              <a
                href="#"
                class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black hover:bg-secondary transition-all duration-300 dark:bg-background-9 flex items-center justify-center gap-2"
              >
                <figure class="">
                  <img
                    class="w-full h-full object-contain"
                    src="./images/icons/google-playstore.svg"
                    alt="Google Play logo"
                  />
                </figure>
                <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1">
                  Google Play
                </span>
              </a>
            </div>
          </div>
          <div
            class="absolute left-1/2 -translate-x-1/2 size-[510px] rounded-full -z-1 publish-circle"
          >
            <div
              class="size-[510px] flex items-center justify-center rounded-full border border-[#DCD4FF]/10 bg-[#DCD4FF]/5 opacity-60"
            >
              <div
                class="size-[428px] flex items-center justify-center rounded-full border border-[#DCD4FF]/10 bg-[#DCD4FF]/5 opacity-60"
              >
                <div
                  class="size-[346px] flex items-center justify-center rounded-full border border-[#DCD4FF]/10 bg-[#DCD4FF]/5 opacity-60"
                >
                  <div
                    class="size-[265px] flex items-center justify-center rounded-full border border-[#DCD4FF]/10 bg-[#DCD4FF]/5 opacity-60"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
