<!-- =========================
Steps section
===========================-->
<section
  class="relative xl:py-[200px] lg:py-[100px] md:py-20 py-16 bg-background-2 dark:bg-background-5"
  aria-label="Hero section"
>
  <div class="main-container">
    <div
      class="grid grid-cols-12 lg:gap-10 xl:gap-[68px] gap-y-10 items-start max-lg:justify-items-center"
    >
      <div class="col-span-12 lg:col-span-6 lg:sticky lg:top-28">
        <div class="lg:space-y-14 md:space-y-8 space-y-5 lg:text-left text-center">
          <div class="sm:space-y-3 space-y-1">
            <h2 data-ns-animate data-delay="0.1" class="sm:max-w-[629px] w-full xl:mx-0 mx-auto">
              Manage any device in 3 easy steps
            </h2>
            <p data-ns-animate data-delay="0.2">
              We streamline automation for a strategic and sustainable AI transition.
            </p>
          </div>
          <div data-ns-animate data-delay="0.3">
            <a
              href="./mobile-management-software-contact.html"
              class="btn hover:btn-primary dark:btn-transparent btn-secondary btn-md w-[85%] md:w-auto mx-auto"
            >
              <span>Get started now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="stack-cards js-stack-cards flex-1">
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-[383px] min-[500px]:mx-0 mx-auto w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[98%] -left-[90%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-498.png" alt="step" />
            </figure>
            <div
              class="relative z-10 sm:p-8 p-5 rounded-[14px] max-w-[467px] w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="md:text-heading-5 text-heading-6 text-secondary dark:text-accent">
                  Download the app
                </p>
                <p class="max-w-[294px]">
                  Daownloads available for iOS, Android & enterprise tablets.
                </p>
              </div>
              <figure class="sm:max-w-[403px] max-w-full w-full rounded-2xl overflow-hidden">
                <img src="./images/ns-img-210.png" alt="step" />
              </figure>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-[383px] min-[500px]:mx-0 mx-auto w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[98%] -left-[90%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-498.png" alt="step" />
            </figure>
            <div
              class="relative z-10 sm:p-8 p-5 rounded-[14px] max-w-[467px] w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="md:text-heading-5 text-heading-6 text-secondary dark:text-accent">
                  Create your account
                </p>
                <p class="max-w-[294px] w-full">
                  Add teams, assign policies, and connect devices in minutes.
                </p>
              </div>
              <figure class="sm:max-w-[403px] max-w-full w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-211.png"
                  alt="step"
                  class="size-full dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-143.png"
                  alt="step"
                  class="size-full hidden dark:block"
                />
              </figure>
            </div>
          </div>
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-[383px] min-[500px]:mx-0 mx-auto w-full overflow-hidden"
          >
            <figure
              class="absolute pointer-events-none -top-[98%] -left-[90%] size-[1000px] -z-10 rotate-[307deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-498.png" alt="step" />
            </figure>
            <div
              class="relative z-10 sm:p-8 p-5 rounded-[14px] max-w-[467px] w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="md:text-heading-5 text-heading-6 text-secondary dark:text-accent">
                  Start managing
                </p>
                <p class="w-full max-w-[267px]">
                  Monitor, restrict, or wipe devices remotely any time.
                </p>
              </div>
              <figure class="sm:max-w-[403px] max-w-full w-full rounded-2xl overflow-hidden">
                <img src="./images/ns-img-212.png" alt="step" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
