<!-- =========================
Process section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] bg-background-1 dark:bg-background-6 space-y-[70px] overflow-hidden"
>
  <div class="main-container space-y-[70px]">
    <div class="space-y-5 max-w-[804px] mx-auto text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Process</span>
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.2" class="max-w-[624px] mx-auto">
          What are the steps involved in its operation?
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[802px] mx-auto">
          The operation of instantaneous data insights and analytics involves several key steps. It
          begins with data collection, where information is gathered in real-time from various
          sources such as sensors
        </p>
      </div>
    </div>

    <div class="grid grid-cols-12 items-center xl:gap-[100px] gap-y-14">
      <div class="col-span-12 xl:col-span-5">
        <div>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="right"
            data-offset="100"
            class="max-w-[478px] max-h-[547px] mx-auto xl:mx-0"
          >
            <img
              src="./images/ns-img-49.png"
              alt="process"
              class="h-full w-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-28.png"
              alt="process"
              class="h-full w-full dark:block hidden"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-7">
        <div class="flex flex-col gap-y-5 items-center">
          <div
            data-ns-animate
            data-delay="0.5"
            class="max-w-[596px] w-full sm:py-6 sm:px-[34px] py-5 px-7 bg-background-3 dark:bg-background-7 rounded-[20px] flex items-start sm:gap-[22px] gap-y-4 sm:flex-row flex-col"
          >
            <div>
              <div
                class="size-10 rounded-full bg-primary-400 text-accent flex items-center justify-center shrink-0"
              >
                1
              </div>
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Choose domain</h3>
              <p>
                Choose a domain name that reflects your website's purpose, content, or the nature of
                your business.
              </p>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.6"
            class="max-w-[596px] w-full sm:py-6 sm:px-[34px] py-5 px-7 bg-background-3 dark:bg-background-7 rounded-[20px] flex items-start sm:gap-[22px] gap-y-4 sm:flex-row flex-col"
          >
            <div
              class="size-10 rounded-full bg-primary-400 text-accent flex items-center justify-center shrink-0"
            >
              2
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Login/register</h3>
              <p>
                Take the first step towards creating your website and reaching a wider audience by
                registering today.
              </p>
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="0.7"
            class="max-w-[596px] w-full sm:py-6 sm:px-[34px] py-5 px-7 bg-background-3 dark:bg-background-7 rounded-[20px] flex items-start sm:gap-[22px] gap-y-4 sm:flex-row flex-col"
          >
            <div
              class="size-10 rounded-full bg-primary-400 text-accent flex items-center justify-center shrink-0"
            >
              3
            </div>
            <div class="space-y-1">
              <h3 class="text-lg font-medium leading-[27px] text-scondary">Make payment</h3>
              <p>
                We offer a variety of secure payment methods to make your payment process convenient
                and hassle-free.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
