<!-- =========================
Services section
===========================-->
<section
  class="xl:py-[100px] md:py-20 py-14 bg-background-2 dark:bg-background-5 xl:space-y-[100px] md:space-y-20 space-y-14 overflow-hidden"
>
  <div class="main-container">
    <div class="max-w-[650px] mx-auto w-full text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Our Services</span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3 mt-4">
        In-depth overview of cryptocurrency solutions
      </h2>
      <p data-ns-animate data-delay="0.3">
        An in-depth overview of cryptocurrency solutions reveals a rapidly evolving ecosystem
        designed to revolutionize traditional financial systems.
      </p>
    </div>
  </div>
  <div class="main-container xl:pb-20">
    <div
      class="grid grid-cols-12 items-center justify-center xl:justify-start xl:gap-[100px] gap-y-14"
    >
      <div class="col-span-12 xl:col-span-6">
        <figure
          data-ns-animate
          data-delay="0.4"
          data-direction="right"
          data-offset="50"
          class="max-w-[595px] max-h-[480px] mx-auto xl:mx-0"
        >
          <img
            src="./images/ns-img-45.png"
            alt="services-1"
            class="w-full h-full object-fill dark:hidden"
          />
          <img
            src="./images/ns-img-dark-24.png"
            alt="services-1"
            class="w-full h-full object-fill hidden dark:block"
          />
        </figure>
      </div>
      <div class="col-span-12 xl:col-span-6">
        <div class="text-center xl:text-left">
          <div class="space-y-3 mb-14">
            <h3 data-ns-animate data-delay="0.5" class="max-w-[509px] mx-auto xl:mx-0">
              Monitor and analyze conversions effectively
            </h3>
            <p data-ns-animate data-delay="0.6" class="max-w-[465px] mx-auto xl:mx-0">
              Monitoring and analyzing conversions effectively is essential for understanding how
              users interact with your digital platforms
            </p>
          </div>
          <div data-ns-animate data-delay="0.7">
            <a
              href="./web-hosting-service-details.html"
              class="btn btn-secondary dark:btn-accent hover:btn-primary btn-md"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container xl:pb-14">
    <div class="grid grid-cols-12 items-center xl:gap-[100px] gap-y-14">
      <div class="col-span-12 xl:col-span-6 xl:order-1 order-2">
        <div class="text-center xl:text-left">
          <div class="space-y-3 mb-14">
            <h3 data-ns-animate data-delay="0.1" class="max-w-[509px] mx-auto xl:mx-0">
              Instantaneous data insights and analytics
            </h3>
            <p data-ns-animate data-delay="0.2" class="max-w-[465px] mx-auto xl:mx-0">
              Instantaneous data insights and analytics refer to the real-time processing and
              interpretation of data
            </p>
          </div>
          <div data-ns-animate data-delay="0.3">
            <a
              href="./web-hosting-service-details.html"
              class="btn btn-secondary dark:btn-accent hover:btn-primary btn-md"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6 xl:order-2 order-1">
        <div class="flex gap-8 flex-row items-center justify-center xl:justify-start">
          <figure
            data-ns-animate
            data-delay="0.4"
            data-direction="up"
            class="max-w-[350px] w-full xl:h-[345px] h-auto rounded-[20px] overflow-hidden"
          >
            <img
              src="./images/ns-img-46.png"
              alt="services-2"
              class="w-full h-full object-fill dark:hidden"
            />
            <img
              src="./images/ns-img-dark-25.png"
              alt="services-2"
              class="w-full hidden dark:block"
            />
          </figure>
          <div class="space-y-8 xl:mt-12 mt-6">
            <figure
              data-ns-animate
              data-delay="0.5"
              class="max-w-[233px] w-full xl:h-[186px] h-auto rounded-[20px] overflow-hidden"
            >
              <img
                src="./images/ns-img-47.png"
                alt="services-3"
                class="w-full h-full object-cover dark:hidden"
              />
              <img
                src="./images/ns-img-dark-26.png"
                alt="services-3"
                class="size-full hidden object-cover dark:block"
              />
            </figure>
            <div data-ns-animate data-delay="0.6" class="flex space-y-4 flex-col">
              <div class="flex -space-x-3.5">
                <img
                  data-ns-animate
                  data-delay="0.7"
                  data-direction="right"
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-1.png"
                  alt="Avatar 1"
                />
                <img
                  data-ns-animate
                  data-delay="0.8"
                  data-direction="right"
                  class="size-11 rounded-full ring-4 ring-white dark:ring-black bg-linear-[156deg,#FFF_32.92%,#A585FF_91%] hidden sm:inline-block"
                  src="./images/ns-avatar-2.png"
                  alt="Avatar 2"
                />
                <img
                  data-ns-animate
                  data-delay="0.9"
                  data-direction="right"
                  class="inline-block size-11 rounded-full relative z-0 ring-4 ring-white dark:ring-black bg-linear-[156deg,#FFF_32.92%,#A585FF_91%]"
                  src="./images/ns-avatar-3.png"
                  alt="Avatar 3"
                />
                <div
                  data-ns-animate
                  data-delay="1"
                  data-direction="right"
                  class="inline-flex items-center relative z-10 justify-center size-11 bg-ns-green rounded-full ring-4 ring-white dark:ring-black text-secondary/80 text-tagline-3 font-medium"
                >
                  99+
                </div>
              </div>
              <div data-ns-animate data-delay="1.1">
                <p class="text-heading-6 font-normal text-secondary dark:text-accent">
                  Trusted by 20k+
                </p>
                <p class="text-tagline-2">Customers across the globe</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="grid grid-cols-12 items-center xl:gap-[100px] gap-y-14">
      <div class="col-span-12 xl:col-span-6">
        <div class="relative max-w-[595px] mx-auto xl:mx-0 w-full">
          <figure
            data-ns-animate
            data-delay="0.5"
            data-direction="left"
            data-offset="100"
            class="absolute bottom-10 xl:-left-12 left-2.5 z-[1] min-w-[288px] space-y-2 shadow-1 bg-white dark:bg-background-6 rounded-xl p-4 min-h-[100px] max-h-[101px]"
          >
            <figcaption class="flex justify-between gap-2">
              <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
              <span
                class="text-lg flex items-center font-medium leading-[1.5] text-secondary dark:text-accent"
              >
                <span class="font-inherit"> $ </span>
                <span
                  data-counter
                  data-number="53224"
                  data-speed="2500"
                  data-interval="100"
                  data-rooms="5"
                ></span>
              </span>
            </figcaption>
            <div
              data-progress-item
              data-progress-value="88"
              class="flex items-center justify-between gap-1"
              role="status"
              aria-label="Credit limit usage"
            >
              <span
                class="relative max-w-[229px] inline-block bg-secondary dark:bg-accent w-full h-1.5 rounded-full"
              >
                <span
                  data-progress-bar
                  data-progress-duration="2"
                  class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
                ></span>
              </span>
              <span data-progress-text class="text-tagline-3 font-normal dark:text-accent"
                >88%</span
              >
            </div>
          </figure>

          <figure
            data-ns-animate
            data-delay="0.2"
            data-direction="up"
            data-offset="100"
            class="max-w-[413px] mx-auto xl:mx-0 w-full max-h-[995px] rounded-[20px] overflow-hidden"
          >
            <img
              src="./images/ns-img-48.png"
              alt="services-4"
              class="size-full object-cover dark:hidden"
            />
            <img
              src="./images/ns-img-dark-27.png"
              alt="services-4"
              class="size-full object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.5"
            data-direction="right"
            data-offset="100"
            class="absolute xl:bottom-10 xl:right-20 right-0 rounded-xl overflow-hidden -bottom-8 z-[1] shadow-9 hidden sm:block"
          >
            <img
              src="./images/ns-img-51.svg"
              alt="balance"
              class="w-full h-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-30.svg"
              alt="balance"
              class="w-full h-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6">
        <div class="text-center xl:text-left">
          <div class="space-y-3 mb-14">
            <h3 data-ns-animate data-delay="0.1" class="max-w-[509px] mx-auto xl:mx-0">
              Sales strategy and management techniques
            </h3>
            <p data-ns-animate data-delay="0.2" class="max-w-[465px] mx-auto xl:mx-0">
              Sales strategy and management techniques are essential components for driving business
              growth and achieving revenue targets.
            </p>
          </div>
          <div data-ns-animate data-delay="0.3">
            <a
              href="./web-hosting-service-details.html"
              class="btn btn-secondary btn-md dark:btn-accent hover:btn-primary"
            >
              <span>Read More</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
