<!-- =========================
Services section
===========================-->
<section class="py-[100px]">
  <div class="main-container">
    <div class="text-center space-y-5 mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-green"> Our services </span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2" class="max-w-[810px] mx-auto">
          Leading companies around the globe rely on NextSaaS.
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[542px] mx-auto">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
          not Latin, though it looks like it
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 py-8 px-6 rounded-[20px] space-y-6 relative z-10 overflow-hidden"
        >
          <!-- bg gradient -->
          <figure
            class="absolute -z-10 pointer-events-none -top-[66%] -left-[60%] rotate-[304deg] size-[410px] select-none"
          >
            <img
              src="./images/ns-img-495.png"
              class="size-full object-contain"
              alt="gradient-16"
            />
          </figure>
          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-9 text-[52px] text-secondary dark:text-accent"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Live chat</h3>
            <p class="line-clamp-2">
              Instant help for pre-sales queries reach us through our live chat for any pre-sale or
              general inquiries.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Check bottom-right</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 py-8 px-6 rounded-[20px] space-y-6 relative z-10 overflow-hidden"
        >
          <figure
            class="absolute -z-10 pointer-events-none -top-[74%] -right-[70%] rotate-[175deg] size-[410px] select-none"
          >
            <img
              src="./images/ns-img-515.png"
              class="size-full object-contain"
              alt="gradient-16"
            />
          </figure>
          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-3 text-[52px] text-secondary dark:text-accent"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Support ticket</h3>
            <p class="line-clamp-2">
              In-depth technical assistance submit a ticket for a personalized and detailed solution
              to your issue.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Submit a ticket</span>
            </a>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-4">
        <div
          class="bg-background-2 dark:bg-background-6 py-8 px-6 rounded-[20px] space-y-6 relative z-10 overflow-hidden"
        >
          <figure
            class="absolute -z-10 pointer-events-none -top-[74%] -right-[35%] rotate-[175deg] size-[410px] select-none"
          >
            <img
              src="./images/ns-img-508.png"
              class="size-full object-contain"
              alt="gradient-16"
            />
          </figure>

          <div>
            <div class="flex items-center justify-center">
              <span class="ns-shape-12 text-[52px] text-secondary dark:text-accent"> </span>
            </div>
          </div>
          <div class="space-y-2 text-center">
            <h3 class="text-heading-5">Knowledge base</h3>
            <p class="line-clamp-2">
              Comprehensive guides and documentation find step-by-step instructions and solutions
              for the most common topics.
            </p>
          </div>
          <div class="text-center">
            <a
              href="{=$page-link}"
              class="btn btn-white hover:btn-secondary dark:btn-transparent dark:hover:btn-accent btn-md"
            >
              <span>Visit knowledge base</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
