<!-- =========================
Finance Intro section
===========================-->
<section class="bg-background-3 dark:bg-background-5 overflow-hidden py-10 md:py-20 2xl:py-[120px]">
  <div class="main-container flex flex-col-reverse lg:flex-row items-center gap-y-10 lg:gap-24">
    <div class="md:flex-1 relative flex justify-start w-full lg:w-auto">
      <figure data-ns-animate data-delay="0.1" data-direction="up" data-offset="100">
        <img
          src="./images/ns-img-73.png"
          alt="Finance Hero"
          class="w-full lg:max-w-[450px] h-auto"
        />
      </figure>

      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="right"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        data-progress-item
        data-progress-value="88"
        data-progress-duration="2"
        class="absolute bottom-24 rounded-[12px] overflow-hidden shadow-1 right-0 min-w-[288px] space-y-2 bg-white dark:bg-background-6 p-4 min-h-[100px] max-h-[101px]"
      >
        <figcaption class="flex justify-between gap-2">
          <span class="text-tagline-1 font-normal dark:text-accent"> Today's Revenue </span>
          <p
            class="text-lg flex items-center font-medium leading-[1.5] text-secondary dark:text-accent"
          >
            <span class="font-inherit"> $ </span>
            <span
              data-counter
              data-number="53224"
              data-speed="1500"
              data-interval="180"
              data-rooms="5"
              data-height-space="2.5"
              class="text-lg font-medium leading-[1.5] text-secondary dark:text-accent"
              >53,224</span
            >
          </p>
        </figcaption>
        <div
          class="flex items-center justify-between gap-1"
          role="status"
          aria-label="Credit limit usage"
        >
          <span
            class="relative max-w-[229px] inline-block bg-secondary dark:bg-background-2 w-full h-1.5 rounded-full"
          >
            <span
              data-progress-bar
              class="bg-ns-green w-0 h-full rounded-full absolute top-0 left-0"
            ></span>
          </span>
          <span data-progress-text class="text-tagline-3 font-normal dark:text-accent">88%</span>
        </div>
      </figure>
    </div>
    <div class="md:flex-1 flex flex-col items-center md:items-start lg:items-start lg:text-left">
      <h2 data-ns-animate data-delay="0.1" class="mb-3">Take control of your finances with us</h2>
      <p data-ns-animate data-delay="0.2" class="mb-6">
        Take control of your finances with us and experience the confidence that comes with smart
        money management. Whether you're looking to budget better
      </p>
      <ul class="mb-14 space-y-2.5">
        <li
          data-ns-animate
          data-delay="0.3"
          class="text-tagline-1 font-normal flex items-center gap-4 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          Methods for recording accounting entries
        </li>
        <li
          data-ns-animate
          data-delay="0.4"
          class="text-tagline-1 font-normal flex items-center gap-4 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          Statements of cash flow
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          class="text-tagline-1 font-normal flex items-center gap-4 dark:text-accent"
        >
          <span
            class="bg-secondary dark:bg-accent rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
              class="shrink-0"
            >
              <path
                d="M4.31661 7.00605L9.74905 1.67144C10.0836 1.3459 10.0836 0.819702 9.74905 0.494158C9.41446 0.168614 8.87363 0.168614 8.53904 0.494158L3.7116 5.24012L1.46096 3.03807C1.12636 2.71253 0.585538 2.71253 0.250945 3.03807C-0.0836483 3.36362 -0.0836483 3.88982 0.250945 4.21536L3.1066 7.00605C3.27347 7.16841 3.49253 7.25 3.7116 7.25C3.93067 7.25 4.14974 7.16841 4.31661 7.00605Z"
                class="fill-white dark:fill-secondary"
              />
            </svg>
          </span>
          Statements of cash flow
        </li>
      </ul>
      <div data-ns-animate data-delay="0.6" class="w-full md:w-auto">
        <a
          href="./payment-solution-about.html"
          class="btn btn-secondary btn-lg md:btn-xl w-[90%] md:w-auto mx-auto md:mx-0 hover:btn-primary dark:btn-accent font-medium text-tagline-1"
        >
          <span>Get started</span>
        </a>
      </div>
    </div>
  </div>
</section>
