<!-- =========================
Integration section
===========================-->
<section
  class="py-24 lg:py-[120px] bg-background-1 dark:bg-background-6"
  aria-label="Integration Partners"
>
  <div class="main-container">
    <div class="space-y-10 md:space-y-[70px]">
      <!-- integration heading  -->
      <div class="max-w-[1028px] text-center w-full mx-auto">
        <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5">Integration</span>
        <h2 data-ns-animate data-delay="0.2" class="mb-3">
          Enhance your productivity effortlessly with over 50 integrations.
        </h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[582px] mx-auto w-full">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's
          not Latin though it looks like nothing.
        </p>
      </div>

      <!-- brand logos  -->
      <div class="space-y-6">
        <!-- marquee logo one  -->
        <div data-ns-animate data-delay="0.4" class="max-w-[1128px] mx-auto relative">
          <div
            class="absolute left-0 top-0 h-20 w-[100px] md:h-[115px] md:w-[105px] bg-gradient-to-r from-background-1 to-transparent dark:from-background-6 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-20 w-[100px] md:h-[115px] md:w-[105px] bg-gradient-to-l from-background-1 to-transparent dark:from-background-6 z-40"
          ></div>
          <div class="logos-marquee-container">
            <div class="flex items-center gap-2 md:!gap-6 justify-center">
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center ml-6"
              >
                <img
                  src="./images/icons/google.svg"
                  alt="Google logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/slack.svg"
                  alt="Slack logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/snapchat.svg"
                  alt="Snapchat logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/ms_yammer.svg"
                  alt="Yammer logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/figma.svg"
                  alt="Figma logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/microsoft.svg"
                  alt="Microsoft logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>

        <!-- marquee logo two  -->
        <div data-ns-animate data-delay="0.5" class="max-w-[984px] mx-auto relative">
          <div
            class="absolute left-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-r from-background-1 to-transparent dark:from-background-6 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-[115px] w-[10%] md:w-[15%] bg-gradient-to-l from-background-1 to-transparent dark:from-background-6 z-40"
          ></div>
          <div class="logos-right-marquee-container">
            <div
              class="flex items-center gap-2 md:!gap-6 justify-center"
              aria-label="Integration partners row 2"
            >
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center ml-6"
              >
                <img
                  src="./images/icons/google.svg"
                  alt="Google Meet logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/edge.svg"
                  alt="Microsoft Edge logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/ms_yammer.svg"
                  alt="LV logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/framer.svg"
                  alt="Framer logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/marvel.svg"
                  alt="Marvel logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/confluence.svg"
                  alt="Confluence logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
              <figure
                class="size-16 shrink-0 md:size-[100px] bg-white dark:bg-background-6 rounded-2xl border-[10px] border-background-2 dark:border-background-5 flex items-center justify-center"
              >
                <img
                  src="./images/icons/gmail.svg"
                  alt="Gmail logo"
                  loading="lazy"
                  class="size-12"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
