<!-- =========================
Pricing section
===========================-->
<section class="py-24 lg:py-[120px] bg-white dark:bg-background-6">
  <div class="main-container space-y-[70px]">
    <div class="max-w-2xl mx-auto text-center space-y-3">
      <span data-ns-animate data-delay="0.1" class="badge badge-yellow">Our pricing</span>
      <h2 data-ns-animate data-delay="0.2">Select the pricing plan that best suits your needs.</h2>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-8">
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div data-ns-animate data-delay="0.3">
          <div class="h-[195px] w-[290px] hidden md:block"></div>
          <div class="space-y-2.5">
            <h3 class="text-heading-6 text-secondary dark:text-accent">What’s included</h3>
            <ul>
              <li
                class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                Pages included
              </li>
              <li
                class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                Custom design
              </li>
              <li
                class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                SEO optimization
              </li>
              <li
                class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6 border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                Branding support
              </li>
              <li
                class="text-secondary/60 dark:text-accent/60 text-tagline-1 font-normal py-4 pr-6"
              >
                Social media integration
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div data-ns-animate data-delay="0.4">
          <div class="rounded-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8">
            <div>
              <p class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3">
                Essential
              </p>
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">Free</h3>
              <p class="text-secondary/60 dark:text-accent/60">Free plan for all users</p>
            </div>
            <a
              href="./payment-solution-contact.html"
              class="btn btn-white hover:btn-primary dark:btn-white-dark btn-md w-full before:content-none first-letter:uppercase"
            >
              Get started
            </a>
          </div>
          <div class="rounded-[20px] bg-background-1 dark:bg-background-5">
            <ul>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 5</p>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li class="h-14 px-6 py-4 text-center"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div data-ns-animate data-delay="0.5">
          <div
            class="rounded-[20px] relative py-8 px-6 bg-secondary dark:bg-background-5 space-y-8 overflow-hidden"
          >
            <div class="absolute h-full w-full -top-28 -right-20 select-none pointer-events-none">
              <img src="./images/ns-img-496.png" alt="pricing bg" />
            </div>
            <div>
              <p class="text-tagline-1 text-accent/60 font-medium mb-3">Advanced</p>
              <h3 class="text-heading-5 font-normal text-accent">$99</h3>
              <p class="text-accent/60">Plans for advanced users</p>
            </div>
            <a
              href="./payment-solution-contact.html"
              class="btn btn-primary hover:btn-white dark:hover:btn-accent btn-md w-full before:content-none first-letter:uppercase"
            >
              Get started
            </a>
          </div>
          <div class="rounded-[20px] bg-background-1 dark:bg-background-5">
            <ul>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                <p class="font-medium text-secondary/60 dark:text-accent/60">Up to 10</p>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li class="h-14 px-6 py-4 text-center flex items-center justify-center"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <div data-ns-animate data-delay="0.6">
          <div class="rounded-[20px] py-8 px-6 bg-background-3 dark:bg-background-7 space-y-8">
            <div>
              <p class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-medium mb-3">
                Enterprise
              </p>
              <h3 class="text-heading-5 font-normal text-secondary dark:text-accent">Enterprise</h3>
              <p class="text-secondary/60 dark:text-accent/60">Contact us for enterprise users</p>
            </div>
            <a
              href="./payment-solution-contact.html"
              class="btn btn-white hover:btn-primary dark:btn-white-dark btn-md w-full before:content-none first-letter:uppercase"
            >
              Get started
            </a>
          </div>
          <div class="rounded-[20px] bg-background-1 dark:bg-background-5">
            <ul>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5"
              >
                <p class="font-medium text-secondary/60 dark:text-accent/60">Unlimited</p>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li
                class="h-14 px-6 py-4 text-center border-b border-b-stroke-4 dark:border-b-stroke-5 flex items-center justify-center"
              >
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
              <li class="h-14 px-6 py-4 text-center flex items-center justify-center">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="shrink-0"
                >
                  <rect
                    width="20"
                    height="20"
                    rx="10"
                    fill=""
                    class="fill-secondary dark:fill-accent"
                  ></rect>
                  <path
                    d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                    fill=""
                    class="fill-white dark:fill-black"
                  ></path>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
