<!-- =========================
Why Choose Us section
===========================-->
<section class="py-20 lg:py-[120px] bg-background-3 dark:bg-background-5 overflow-hidden">
  <div class="main-container flex flex-col lg:flex-row justify-between gap-12 items-center">
    <div>
      <span data-ns-animate data-delay="0.1" class="badge badge-green mb-5">
        Reasons to select us
      </span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3">
        Easily manage your

        <br class="hidden lg:block" />
        cash flow.
      </h2>
      <p data-ns-animate data-delay="0.3" class="lg:max-w-[536px]">
        Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text nothing
        Before & After magazine.
      </p>
      <ul class="space-y-1 mt-8 lg:mt-14">
        <li data-ns-animate data-delay="0.4" class="flex items-center gap-4 list-none py-2">
          <span class="ns-shape-8 text-[36px] text-secondary dark:text-accent"> </span>
          <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
            >A version for offline use is available.</strong
          >
        </li>
        <li data-ns-animate data-delay="0.5" class="flex items-center gap-4 list-none py-2">
          <span class="ns-shape-9 text-[36px] text-secondary dark:text-accent"> </span>

          <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
            >Designed to be both scalable and secure.</strong
          >
        </li>
        <li data-ns-animate data-delay="0.6" class="flex items-center gap-4 list-none py-2">
          <span class="ns-shape-12 text-[36px] text-secondary dark:text-accent"> </span>

          <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
            >Feature powered by artificial intelligence.</strong
          >
        </li>
        <li data-ns-animate data-delay="0.7" class="flex items-center gap-4 list-none py-2">
          <span class="ns-shape-21 text-[36px] text-secondary dark:text-accent"> </span>

          <strong class="text-tagline-1 font-medium text-secondary dark:text-accent"
            >It offers both scalability and robust security.</strong
          >
        </li>
      </ul>
    </div>
    <div class="relative">
      <figure
        data-ns-animate
        data-delay="0.2"
        data-direction="up"
        data-offset="150"
        class="rounded-[20px] max-w-[735px] w-full h-full object-cover"
      >
        <img
          src="./images/ns-img-74.png"
          alt="transaction-statistics"
          class="block dark:hidden size-full object-cover"
        />
        <img
          src="./images/ns-img-dark-50.png"
          alt="transaction-statistics"
          class="hidden dark:block size-full object-cover"
        />
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="right"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        class="rounded-[20px] overflow-hidden absolute top-[15%] right-6 md:right-0 max-w-[140px] md:max-w-[253px] lg:max-w-[200px] xl:max-w-[253px] w-full"
      >
        <img
          src="./images/ns-img-235.svg"
          alt="features"
          class="w-full h-full object-cover inline-block dark:hidden"
        />
        <img
          src="./images/ns-img-dark-157.svg"
          alt="features"
          class="w-full h-full object-cover hidden dark:block"
        />
      </figure>
      <div
        data-ns-animate
        data-delay="1.3"
        data-direction="up"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        class="absolute top-[20%] right-0 xl:-right-[4%] w-[92px] z-10"
      >
        <div
          class="text-heading-6 md:text-heading-5 font-normal flex items-center justify-center -rotate-[14deg] py-1 px-2 bg-ns-yellow rounded-[8px]"
        >
          <span
            data-counter
            data-number="20"
            data-speed="2000"
            data-delay="1"
            data-interval="200"
            data-rooms="2"
            >20</span
          >%
        </div>
      </div>
      <figure
        data-ns-animate
        data-delay="0.7"
        data-direction="right"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        class="rounded-[20px] overflow-hidden absolute bottom-0 sm:bottom-10 md:bottom-[10%] right-0 shadow-3 max-w-[200px] sm:max-w-[320px] md:max-w-[395px] w-full"
      >
        <img
          src="./images/ns-img-240.png"
          alt="features"
          class="w-full h-full dark:hidden"
        />
        <img
          src="./images/ns-img-dark-161.png"
          alt="features"
          class="w-full h-full hidden dark:block"
        />
      </figure>
    </div>
  </div>
</section>
