<!-- =========================
FAQ section
===========================-->
<section
  class="bg-white dark:bg-background-6 py-[100px] lg:py-[150px] xl:py-[200px]"
  aria-label="Frequently Asked Questions"
>
  <div class="main-container">
    <div class="flex items-center flex-col gap-8 lg:gap-0 lg:flex-row justify-between">
      <!-- faq content -->
      <div class="space-y-14 text-center lg:text-left">
        <!-- faq heading  -->
        <div class="space-y-5">
          <span data-ns-animate data-delay="0.1" class="badge badge-green">FAQ</span>
          <h2
            data-ns-animate
            data-delay="0.2"
            class="lg:max-w-[439px] mx-auto lg:mx-0"
            id="faq-heading"
          >
            Common inquiries from clients
          </h2>
        </div>

        <!-- faq accordion  -->
        <div
          data-ns-animate
          data-delay="0.3"
          class="accordion max-w-[576px] mx-auto lg:mx-0 w-full"
        >
          <div class="dark:bg-background-6 bg-white rounded-[20px] accordion-item active-accordion">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent"
              >
                What is the primary role of a business agency?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
          <div class="dark:bg-background-6 bg-white rounded-[20px] accordion-item">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent"
              >
                What kinds of services should I anticipate from a business agency?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
          <div class="dark:bg-background-6 bg-white rounded-[20px] accordion-item">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent"
              >
                How often should I consider updating my website?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
          <div class="dark:bg-background-6 bg-white rounded-[20px] accordion-item">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left text-heading-6 font-normal text-secondary dark:text-accent"
              >
                How often is it recommended to refresh my website?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6 pb-8">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- faq image -->
      <figure
        data-ns-animate
        data-delay="0.5"
        class="w-full relative max-w-[684px] lg:max-w-[500px] xl:max-w-[684px] overflow-hidden"
      >
        <img
          class="size-full object-cover dark:hidden"
          src="./images/ns-img-52.png"
          alt="Business agency services illustration"
          loading="lazy"
        />
        <img
          class="size-full object-cover dark:inline-block hidden"
          src="./images/ns-img-dark-31.png"
          alt="Business agency services illustration"
          loading="lazy"
        />
      </figure>
    </div>
  </div>
</section>
