<!-- =========================
Feature section
===========================-->
<section
  class="bg-white dark:bg-background-6 pt-[100px] xl:pt-[200px] pb-[100px] md:pb-[85px] xl:pb-[100px]"
>
  <div class="main-container">
    <div
      class="space-y-[40px] md:space-y-[50px] lg:space-y-[60px] xl:space-y-[70px] flex flex-col items-center"
    >
      <div class="text-center space-y-5 max-w-[628px] mx-auto">
        <span data-ns-animate data-delay="0.1" class="badge badge-green mb-3 md:mb-4 lg:mb-5">
          Features
        </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">Discover our cutting-edge analytics features.</h2>
          <p data-ns-animate data-delay="0.3">
            Discover our cutting-edge analytics features designed to transform the way you
            understand
          </p>
        </div>
      </div>

      <!-- cards  -->
      <div class="flex items-center justify-center flex-col xl:flex-row gap-8">
        <!-- card one  -->
        <article
          data-ns-animate
          data-delay="0.4"
          class="max-w-[408px] w-full pt-[29px] px-0 sm:px-2.5 overflow-hidden space-y-[72px] bg-background-3 dark:bg-background-5 rounded-[20px] relative h-[493px]"
        >
          <!-- card heading  -->
          <div class="space-y-4 max-w-[350px] mx-auto text-center xl:text-left pl-4">
            <h3 class="text-heading-5">Oversee project budgets</h3>
            <p>
              Overseeing project budgets involves carefully planning, monitoring and managing the
              financial
            </p>
          </div>

          <!-- card description   -->
          <div
            data-animation-type="to"
            data-ns-animate
            data-direction="up"
            data-offset="0"
            data-delay="0.7"
            data-rotation="-7"
            class="group px-6 max-w-[350px] py-8 bg-white dark:bg-background-8 w-full flex flex-col items-center justify-center rounded-2xl gap-y-9 overflow-hidden absolute top-[44%] left-[7%]"
          >
            <!-- avatar and heading  -->
            <div class="space-y-4 w-full">
              <!-- avatar  -->
              <div class="flex -space-x-3.5 justify-center">
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-1.png"
                  alt="Avatar 1"
                />
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-2.png"
                  alt="Avatar 2"
                />
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-3.png"
                  alt="Avatar 3"
                />
                <div
                  class="inline-flex items-center relative z-10 justify-center size-11 bg-ns-green rounded-full ring-4 ring-white dark:ring-black overflow-hidden"
                >
                  <figure>
                    <!-- light Icon -->
                    <img
                      src="./images/icons/arrow-up-right.svg"
                      alt="Arrow Icon"
                      class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
                    />

                    <img
                      src="./images/icons/arrow-up-right.svg"
                      alt="Arrow Icon"
                      class="absolute translate-y-6 -translate-x-12 transition-all duration-500 group-hover:-translate-x-[14px] group-hover:-translate-y-[49%] opacity-0 group-hover:opacity-100"
                    />
                  </figure>
                </div>
              </div>
              <div class="space-y-1 text-center">
                <p class="text-heading-6 text-secondary dark:text-accent">20k+ Global Investment</p>
                <p class="text-secondary dark:text-accent">
                  Get Global Investment policy in the year
                </p>
              </div>
            </div>

            <!-- circle with text -->
            <figure class="w-[302px] h-[136px] overflow-hidden">
              <img
                src="./images/ns-img-53.svg"
                alt="circle with text"
                class="size-full object-cover dark:hidden"
              />
              <img
                src="./images/ns-img-dark-32.svg"
                alt="circle with text"
                class="size-full object-cover hidden dark:block"
              />
            </figure>
          </div>
        </article>

        <!-- card two  -->
        <article
          data-ns-animate
          data-delay="0.5"
          class="max-w-[408px] h-[493px] pt-[29px] sm:px-[29px] overflow-hidden space-y-[72px] bg-ns-green rounded-[20px] w-full"
        >
          <!-- card heading  -->
          <div class="space-y-4 text-center xl:text-left">
            <h3 class="text-secondary text-heading-5">Optimized data workflows</h3>
            <p class="dark:text-secondary/60">
              Optimized data workflows refer to the streamlined and efficient processes for
              collecting
            </p>
          </div>

          <!-- card description   -->
          <div
            data-ns-animate
            data-delay="0.5"
            data-offset="100"
            class="px-6 py-8 bg-secondary w-full rounded-2xl space-y-9"
          >
            <!-- chart heading  -->
            <div>
              <div class="flex justify-between">
                <h4 class="text-accent text-heading-6">Revenue</h4>
                <p class="text-accent/60">20%</p>
              </div>
              <p class="text-accent/60">$5230</p>
            </div>

            <!-- bar chart  -->
            <div class="flex items-end gap-[30px] pb-[70px]">
              <div class="w-4 rounded-t-4xl h-[115px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[81px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[160px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[101px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[134px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[177px] bg-ns-green"></div>
              <div class="w-4 rounded-t-4xl h-[47px] bg-ns-green"></div>
            </div>
          </div>
        </article>

        <!-- card three  -->
        <article
          data-ns-animate
          data-delay="0.6"
          class="max-w-[408px] pt-[29px] px-0 sm:px-2.5 overflow-hidden space-y-[72px] bg-background-3 dark:bg-background-5 rounded-[20px] relative h-[493px] w-full"
        >
          <!-- card heading  -->
          <div class="space-y-4 max-w-[350px] mx-auto text-center xl:text-left pl-4">
            <h3 class="text-heading-5">Comprehend user interactions</h3>
            <p>Comprehending user interactions involves understanding how users engage with a</p>
          </div>

          <!-- card description   -->
          <div
            data-animation-type="to"
            data-ns-animate
            data-delay="0.7"
            data-rotation="7"
            data-offset="0"
            class="group px-6 py-8 space-y-2 bg-white dark:bg-background-8 rounded-2xl pb-20 absolute top-[43%] -right-1.5 sm:right-[8%] w-[350px]"
          >
            <!-- chart heading  -->
            <div class="flex items-center justify-between w-full">
              <h4 class="text-heading-6">User activity</h4>
              <button aria-label="More options">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="6"
                  height="16"
                  viewBox="0 0 6 16"
                  fill="none"
                >
                  <path
                    d="M3.48151 3.91788C2.65926 3.81692 2.07454 3.06851 2.17549 2.24626C2.27645 1.42401 3.02487 0.839283 3.84712 0.940243C4.66937 1.0412 5.25409 1.78961 5.15313 2.61187C5.05217 3.43412 4.30376 4.01884 3.48151 3.91788Z"
                    fill="#1A1A1C"
                    fill-opacity="0.2"
                  />
                  <path
                    d="M2.75029 9.87316C1.92804 9.7722 1.34332 9.02379 1.44428 8.20153C1.54524 7.37928 2.29365 6.79456 3.1159 6.89552C3.93815 6.99648 4.52288 7.74489 4.42192 8.56714C4.32096 9.3894 3.57255 9.97412 2.75029 9.87316Z"
                    fill="#1A1A1C"
                    fill-opacity="0.2"
                  />
                  <path
                    d="M2.01908 15.8284C1.19683 15.7275 0.612102 14.9791 0.713062 14.1568C0.814022 13.3346 1.56243 12.7498 2.38469 12.8508C3.20694 12.9518 3.79166 13.7002 3.6907 14.5224C3.58974 15.3447 2.84133 15.9294 2.01908 15.8284Z"
                    fill="#1A1A1C"
                    fill-opacity="0.2"
                  />
                </svg>
              </button>
            </div>

            <!-- line chart  -->
            <figure>
              <img src="./images/ns-img-54.svg" alt="User activity chart" class="dark:hidden" />

              <img
                src="./images/ns-img-dark-33.svg"
                alt="User activity chart"
                class="hidden dark:block"
              />
            </figure>
            <!-- avatar and text  -->
            <div class="flex flex-col gap-y-2">
              <div class="flex -space-x-3.5 items-start">
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-1.png"
                  alt="Avatar 1"
                />
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-2.png"
                  alt="Avatar 2"
                />
                <img
                  class="inline-block size-11 rounded-full ring-4 ring-white dark:ring-black bg-ns-green"
                  src="./images/ns-avatar-3.png"
                  alt="Avatar 3"
                />

                <div
                  class="inline-flex items-center relative z-10 justify-center size-11 bg-ns-green rounded-full ring-4 ring-white dark:ring-black overflow-hidden"
                >
                  <figure>
                    <!-- light Icon -->
                    <img
                      src="./images/icons/arrow-up-right.svg"
                      alt="Arrow Icon"
                      class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
                    />

                    <img
                      src="./images/icons/arrow-up-right.svg"
                      alt="Arrow Icon"
                      class="absolute translate-y-6 -translate-x-12 transition-all duration-500 group-hover:-translate-x-[14px] group-hover:-translate-y-[49%] opacity-0 group-hover:opacity-100"
                    />
                  </figure>
                </div>
              </div>
              <div class="space-y-1">
                <p class="text-secondary text-heading-6 dark:text-accent">Trusted by 20k+</p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
