<!-- =========================
Hero section
===========================-->
<section
  class="hero-section pt-[160px] lg:pt-[180px] xl:pt-[228px] bg-[url('/images/ns-img-55.svg')] dark:bg-[url('/images/ns-img-dark-34.svg')] bg-no-repeat bg-top"
>
  <div class="main-container">
    <div class="space-y-[40px] md:space-y-[50px] lg:space-y-[60px] xl:space-y-[70px]">
      <div class="flex flex-col items-center">
        <span data-ns-animate data-delay="0.1" class="badge badge-green mb-3 md:mb-4 lg:mb-5">
          Over 50,000 reliable companies
        </span>
        <div class="space-y-3 md:space-y-4 md:mx-10 lg:mx-0">
          <h1 data-ns-animate data-delay="0.2" class="max-w-[842px] text-center">
            Showcasing the cutting edge of product evaluation
          </h1>
          <p data-ns-animate data-delay="0.3" class="text-center">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text.
            It's not Latin, though it looks like it
          </p>
        </div>
        <ul
          class="flex flex-col sm:flex-row items-center justify-center gap-y-3 text-center md:gap-x-4 pt-8 md:pt-10 lg:pt-12 xl:pt-14 w-full sm:w-auto"
        >
          <li
            data-ns-animate
            data-delay="0.3"
            data-direction="left"
            data-offset="50"
            class="w-full"
          >
            <a
              href="./analytics-and-reporting-login.html"
              class="btn btn-primary hover:btn-secondary btn-w btn-xl w-[90%] sm:w-auto dark:hover:btn-white"
            >
              <span>Get started</span>
            </a>
          </li>
          <li
            data-ns-animate
            data-delay="0.5"
            data-direction="left"
            data-offset="50"
            class="w-full"
          >
            <a
              href="./analytics-and-reporting-contact.html"
              class="btn btn-white hover:btn-primary btn-xl w-[90%] sm:w-auto dark:btn-transparent"
            >
              <span>Book a call</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- video  -->
      <div class="px-4 md:px-6 lg:px-8 xl:px-0">
        <figure class="hero-perspective opacity-0">
          <img src="./images/ns-img-56.png" alt="Hero video" class="w-full h-auto" />
        </figure>
      </div>
    </div>
  </div>
</section>
