<!-- =========================
Number section
===========================-->
<section class="bg-white dark:bg-background-6 py-[100px] lg:py-[150px] xl:py-[200px]">
  <div class="main-container">
    <div class="flex items-center flex-col gap-8 xl:gap-0 xl:flex-row justify-between">
      <!-- heading   -->
      <div class="xl:max-w-[442px] space-y-5 text-center xl:text-left">
        <span data-ns-animate data-delay="0.1" class="badge badge-green">Number</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">Over a decade of experience in this</h2>
          <p data-ns-animate data-delay="0.3" class="max-w-[780px]">
            This extensive experience not only reflects our commitment to excellence but also equips
            us with the insight and skills necessary to meet
          </p>
        </div>
      </div>

      <!-- number cards  -->
      <div class="flex flex-col md:flex-row items-center gap-8">
        <!-- business card  -->
        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="up"
          class="p-8 bg-background-2 dark:bg-background-5 rounded-xl max-w-[365px] w-full flex flex-col gap-y-14 justify-between flex-1"
        >
          <!-- card heading    -->
          <div class="flex items-center justify-between">
            <h3 class="text-heading-5 basis-[197px]">Relied upon by businesses</h3>
            <span class="ns-shape-47 text-[52px] text-secondary dark:text-accent"> </span>
          </div>

          <!-- card description  -->
          <div>
            <p class="text-heading-3 text-secondary dark:text-accent flex items-center">
              <span data-counter data-number="83" data-speed="1500" data-interval="150">83</span>
              <span class="font-inherit">%</span>
            </p>
            <p>Avg. Completed</p>
          </div>
        </div>

        <!-- bank card  -->
        <div
          data-ns-animate
          data-delay="0.5"
          class="p-8 bg-background-2 dark:bg-background-5 rounded-xl max-w-[365px] w-full gap-y-14 flex flex-col justify-between flex-1"
        >
          <!-- card heading    -->
          <div class="flex items-center justify-between">
            <h3 class="text-heading-5 basis-[197px]">The team at NexSaaS bank</h3>
            <span class="ns-shape-57 text-[52px] text-secondary dark:text-accent"> </span>
          </div>

          <!-- card description  -->
          <div>
            <p class="text-heading-3 text-secondary dark:text-accent flex items-center">
              <span data-counter data-number="78" data-speed="1500" data-interval="150">78</span>
              <span class="font-inherit">%</span>
            </p>
            <p>Avg. Completed</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
