<!-- =========================
Process section
===========================-->
<section class="py-[100px] lg:py-[150px] xl:py-[200px] dark:bg-background-5">
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- process heading  -->
      <div class="max-w-[736px] text-center w-full mx-auto space-y-5">
        <span data-ns-animate data-delay="0.1" class="badge badge-green"> Process </span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">
            Adhere to the straight forward installation steps.
          </h2>
          <p data-ns-animate data-delay="0.3">
            Adhering to the straightforward installation steps is essential for ensuring a smooth
          </p>
        </div>
      </div>

      <!-- process cards  -->
      <div class="flex items-center justify-center flex-wrap gap-4 pb-14" role="list">
        <!-- process card 01  -->
        <div
          data-ns-animate
          data-delay="0.4"
          class="max-w-[403px] w-full p-8 bg-white dark:bg-background-6 rounded-[20px] space-y-3.5 text-left"
          role="listitem"
        >
          <!-- step number and logo  -->
          <div class="space-y-11">
            <p aria-label="Step number">Step 1</p>

            <span class="ns-shape-35 text-[54px] text-secondary dark:text-accent"> </span>
          </div>

          <!-- process card heading and des  -->
          <div class="space-y-3">
            <h3 id="process-step1-title" class="text-heading-5">Sign up</h3>
            <p>
              Sign up is the initial process through which users register or create an account on a
              platform, website, or application.
            </p>
          </div>
        </div>

        <!-- process card 02  -->
        <div
          data-ns-animate
          data-delay="0.5"
          class="max-w-[403px] w-full p-8 bg-white dark:bg-background-6 rounded-[20px] space-y-3.5 text-left"
          role="listitem"
        >
          <!-- step number and logo  -->
          <div class="space-y-11">
            <p aria-label="Step number">Step 2</p>

            <span class="ns-shape-12 text-[54px] text-secondary dark:text-accent"> </span>
          </div>

          <!-- process card heading and description  -->
          <div class="space-y-3">
            <h3 id="process-step2-title" class="text-heading-5">Set up analytic process</h3>
            <p>
              This process typically begins with defining clear objectives and identifying the key
              metrics or data sources needed to achieve them.
            </p>
          </div>
        </div>

        <!-- process card 03  -->
        <div
          data-ns-animate
          data-delay="0.6"
          class="max-w-[403px] w-full p-8 bg-white dark:bg-background-6 rounded-[20px] space-y-3.5 text-left"
          role="listitem"
        >
          <!-- step number and logo  -->
          <div class="space-y-11">
            <p aria-label="Step number">Step 3</p>

            <span class="ns-shape-6 text-[54px] text-secondary dark:text-accent"> </span>
          </div>

          <!-- process card heading and des  -->
          <div class="space-y-3">
            <h3 id="process-step3-title" class="text-heading-5">Reset data after solutions</h3>
            <p>
              Resetting data after solutions is an important step in maintaining system integrity,
              ensuring privacy, and preparing for future use.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- process cta btn  -->
    <div data-ns-animate data-delay="0.7" class="flex items-center justify-center w-full">
      <a
        href="./analytics-and-reporting-process.html"
        class="btn btn-primary btn-lg md:btn-xl hover:btn-secondary dark:hover:btn-white w-full sm:w-auto"
        aria-label="Start free trial for 30 days"
      >
        <span>Try it for 30 days, no credit card required</span>
      </a>
    </div>
  </div>
</section>
