<!-- =========================
Services section
===========================-->
<section
  class="bg-white dark:bg-background-6 pb-[100px] xl:pb-[200px] pt-[50px] md:pt-[85px] xl:pt-[100px]"
>
  <div class="main-container">
    <div class="space-y-[40px] md:space-y-[50px] lg:space-y-[60px] xl:space-y-[70px]">
      <!-- service section heading  -->
      <div class="max-w-[810px] text-center lg:w-full mx-auto space-y-5">
        <span data-ns-animate data-delay="0.1" class="badge badge-green mb-3 md:mb-4 lg:mb-5">
          Our Services
        </span>

        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">
            Leading companies around the globe rely on NextSaaS.
          </h2>
          <p data-ns-animate data-delay="0.3" class="max-w-[582px] mx-auto sm:w-full">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text.
            It's not Latin, though it looks like it
          </p>
        </div>
      </div>

      <!-- service cards  -->
      <div class="flex items-center justify-center flex-wrap gap-8">
        <!-- service card 01  -->
        <article data-ns-animate data-delay="0.4">
          <div
            class="max-w-[403px] w-full py-8 px-6 bg-background-2 dark:bg-background-5 rounded-[20px] flex flex-col items-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
          >
            <!-- logo  -->
            <span class="ns-shape-9 text-[54px] text-secondary dark:text-accent"> </span>

            <!-- heading  -->
            <div class="text-center space-y-2">
              <h3 class="text-heading-5">Real-time analytics</h3>
              <p>Gain deep insights into your contacts at a glance and easily track</p>
            </div>

            <!-- btn  -->
            <div>
              <a
                href="./analytics-and-reporting-service-details.html"
                class="btn btn-md btn-white-v2 hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
                rel="noopener noreferrer"
              >
                <span>View Services</span>
              </a>
            </div>
          </div>
        </article>

        <!-- service card 02  -->
        <article data-ns-animate data-delay="0.5">
          <div
            class="max-w-[403px] w-full py-8 px-6 bg-background-2 dark:bg-background-5 rounded-[20px] flex flex-col items-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
          >
            <!-- logo  -->
            <span class="ns-shape-3 text-[54px] text-secondary dark:text-accent"> </span>

            <!-- heading  -->
            <div class="text-center space-y-2">
              <h3 class="text-heading-5">Track Conversions</h3>
              <p>Gain deep insights into your contacts at a glance and easily track</p>
            </div>

            <!-- btn  -->
            <div>
              <a
                href="./analytics-and-reporting-service-details.html"
                class="btn btn-md btn-white-v2 hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
                rel="noopener noreferrer"
              >
                <span>View Services</span>
              </a>
            </div>
          </div>
        </article>

        <!-- service card 03  -->
        <article data-ns-animate data-delay="0.6">
          <div
            class="max-w-[403px] w-full py-8 px-6 bg-background-2 dark:bg-background-5 rounded-[20px] flex flex-col items-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
          >
            <!-- logo  -->
            <span class="ns-shape-12 text-[54px] text-secondary dark:text-accent"> </span>

            <!-- heading  -->
            <div class="text-center space-y-2">
              <h3 class="text-heading-5">Sales Management</h3>
              <p>Gain deep insights into your contacts at a glance and easily track</p>
            </div>

            <!-- btn  -->
            <div>
              <a
                href="./analytics-and-reporting-service-details.html"
                class="btn btn-md btn-white-v2 hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
                rel="noopener noreferrer"
              >
                <span>View Services</span>
              </a>
            </div>
          </div>
        </article>

        <!-- service card 04  -->
        <article data-ns-animate data-delay="0.7">
          <div
            class="max-w-[403px] w-full py-8 px-6 bg-background-2 dark:bg-background-5 rounded-[20px] flex flex-col items-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
          >
            <!-- logo  -->
            <span class="ns-shape-2 text-[54px] text-secondary dark:text-accent"> </span>

            <!-- heading  -->
            <div class="text-center space-y-2">
              <h3 class="text-heading-5">Track Conversions</h3>
              <p>Gain deep insights into your contacts at a glance and easily track</p>
            </div>

            <!-- btn  -->
            <div>
              <a
                href="./analytics-and-reporting-service-details.html"
                class="btn btn-md btn-white-v2 hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
                rel="noopener noreferrer"
              >
                <span>View Services</span>
              </a>
            </div>
          </div>
        </article>

        <!-- service card 05  -->
        <article data-ns-animate data-delay="0.8">
          <div
            class="max-w-[403px] w-full py-8 px-6 bg-background-2 dark:bg-background-5 rounded-[20px] flex flex-col items-center gap-6 hover:translate-y-[-10px] transition-transform duration-500 ease-in-out"
          >
            <!-- logo  -->
            <span class="ns-shape-7 text-[54px] text-secondary dark:text-accent"> </span>

            <!-- heading  -->
            <div class="text-center space-y-2">
              <h3 class="text-heading-5">Sales Management</h3>
              <p>Gain deep insights into your contacts at a glance and easily track</p>
            </div>

            <!-- btn  -->
            <div>
              <a
                href="./analytics-and-reporting-service-details.html"
                class="btn btn-md btn-white-v2 hover:btn-secondary dark:btn-transparent dark:hover:btn-accent"
                rel="noopener noreferrer"
              >
                <span>View Services</span>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
