<!-- =========================
Career Details section
===========================-->
<section class="pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="text-center space-y-3 mb-[70px]">
      <h2 data-ns-animate data-delay="0.3">
        We're building the ruture of NextSaaS— <br class="hidden md:block" />
        come build It with us.
      </h2>
    </div>
    <div
      class="grid grid-cols-12 items-start gap-y-[70px] md:gap-y-0 md:gap-x-8 lg:gap-x-[70px] xl:gap-[100px]"
    >
      <!-- Career details   -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="col-span-12 md:col-span-6 bg-background-1 dark:bg-background-5 rounded-[20px] overflow-hidden p-11 relative"
      >
        <!-- bg gradient img  -->
        <figure
          data-ns-animate
          data-delay="0.4"
          data-duration="1.2"
          data-direction="right"
          data-offset="90"
          class="absolute top-[-27%] md:top-[-27%] lg:top-[-49%] xl:top-[-60%] max-[377px]:right-[-90%] right-[-77%] md:right-[-83%] lg:right-[-102%] xl:right-[-99%] xl:size-[1000px] lg:size-[800px] size-[500px] overflow-hidden select-none pointer-events-none"
        >
          <img
            src="./images/ns-img-533.png"
            alt="career-details-bg-gradient-img"
            class="size-full object-cover"
          />
        </figure>

        <div class="space-y-8">
          <div>
            <h5 class="mb-8">Job Overview</h5>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Date Posted</p>
              <p class="text-lg leading-[150%]">January 10, 2024</p>
            </div>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Expiration date</p>
              <p class="text-lg leading-[150%]">January 20, 2024</p>
            </div>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Location</p>
              <p class="text-lg leading-[150%]">2464 Royal Ln. Mesa, New Jersey 45463</p>
            </div>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Offered Salary</p>
              <p class="text-lg leading-[150%]">$170 - $200 / week</p>
            </div>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Experience</p>
              <p class="text-lg leading-[150%]">4 Years Experience</p>
            </div>
            <div class="py-4 border-b border-stroke-4 dark:border-stroke-7">
              <p class="text-xl text-secondary dark:text-accent leading-[150%]">Qualification</p>
              <p class="text-lg leading-[150%]">Bachelor Degree, Art of Design</p>
            </div>
          </div>
          <div>
            <h5 class="mb-8">Job Skills</h5>
            <div class="flex items-center flex-wrap gap-3 max-w-[275px]">
              <span
                class="inline-block px-[18px] py-[9px] bg-secondary dark:bg-accent border border-secondary dark:border-accent text-white dark:text-secondary rounded-full font-base leading-[150%] font-medium"
              >
                App
              </span>
              <span
                class="inline-block px-[18px] p-[9px] bg-background-1 dark:bg-background-6 border border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent rounded-full font-base leading-[150%] font-medium"
              >
                Design
              </span>
              <span
                class="inline-block px-[18px] p-[9px] bg-background-1 dark:bg-background-6 border border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent rounded-full font-base leading-[150%] font-medium"
              >
                Support
              </span>
              <span
                class="inline-block px-[18px] p-[9px] bg-background-1 dark:bg-background-6 border border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent rounded-full font-base leading-[150%] font-medium"
              >
                UI/UX
              </span>
              <span
                class="inline-block px-[18px] p-[9px] bg-background-1 dark:bg-background-6 border border-stroke-4 dark:border-stroke-7 text-secondary dark:text-accent rounded-full font-base leading-[150%] font-medium"
              >
                Brand
              </span>
            </div>
          </div>
          <div class="w-full">
            <a
              href="#"
              class="hover:btn-secondary dark:hover:btn-accent w-full btn btn-primary btn-md before:content-none first-letter:uppercase"
              >Apply Now</a
            >
          </div>
        </div>
      </div>

      <!-- team member description  -->
      <div class="col-span-12 md:col-span-6">
        <div class="space-y-[70px]">
          <div class="space-y-3">
            <h4 data-ns-animate data-delay="0.4">Job Description</h4>
            <div data-ns-animate data-delay="0.5" class="space-y-5">
              <p>
                Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu.
                Adipiscing viverra vulputate curabitur est.
              </p>

              <p>
                Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae
                suspendisse sed accumsan. Sodales morbi tristique elit cursus gravida. Ullamcorper
                commodo eget pulvinar pretium. Condimentum rhoncus commodo amet nec auctor nibh vel
                mi blandit.
              </p>
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
            </div>
          </div>
          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.5">What you’ll bring:</h5>
            <div data-ns-animate data-delay="0.6" class="space-y-8">
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Manage your time so you’ll get more done in less time</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Cut expenses without sacrificing quality</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.7">Benefits:</h5>
            <div data-ns-animate data-delay="0.8" class="space-y-8">
              <p class="text-secondary dark:text-accent">
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Manage your time so you’ll get more done in less time
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Cut expenses without sacrificing quality</span
                  >
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="space-y-3">
            <h5 data-ns-animate data-delay="0.9">What you’ll bring:</h5>
            <div data-ns-animate data-delay="1" class="space-y-8">
              <p>
                Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare.
                Porttitor in rhoncus magna augue adipiscing.
              </p>
              <ul class="space-y-5">
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Manage your time so you’ll get more done in less time
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent">
                    Cut expenses without sacrificing quality
                  </span>
                </li>
                <li class="flex items-center gap-3">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0"
                  >
                    <rect
                      width="20"
                      height="20"
                      rx="10"
                      fill=""
                      class="fill-secondary dark:fill-accent"
                    ></rect>
                    <path
                      d="M9.31661 13.7561L14.7491 8.42144C15.0836 8.0959 15.0836 7.5697 14.7491 7.24416C14.4145 6.91861 13.8736 6.91861 13.539 7.24416L8.7116 11.9901L6.46096 9.78807C6.12636 9.46253 5.58554 9.46253 5.25095 9.78807C4.91635 10.1136 4.91635 10.6398 5.25095 10.9654L8.1066 13.7561C8.27347 13.9184 8.49253 14 8.7116 14C8.93067 14 9.14974 13.9184 9.31661 13.7561Z"
                      fill=""
                      class="fill-white dark:fill-black"
                    ></path>
                  </svg>
                  <span class="text-secondary dark:text-accent"
                    >Attract and retain quality, high-paying customers</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
