<!-- =========================
FAQ section
===========================-->
<section class="py-[100px]" aria-label="Frequently Asked Questions">
  <div class="main-container">
    <div class="space-y-[96px]">
      <!-- heading  -->
      <div class="space-y-3 text-center">
        <span
          data-ns-animate
          data-delay="0.1"
          class="badge badge-primary"
          id="faq-heading"
          aria-label="Frequently Asked Questions Section"
        >
          FAQ
        </span>

        <div class="space-y-8">
          <h2 data-ns-animate data-delay="0.2">Commonly Asked Questions</h2>
          <p
            data-ns-animate
            data-delay="0.3"
            class="text-secondary dark:text-accent max-w-[596px] md:w-full mx-auto"
          >
            Neque accumsan dolor nullam commodo. Odio massa nisi ullamcorper suspendisse amet amet.
            Aenean suspendisse eget est pulvinar. Fames eget eget nascetur ornare
          </p>
        </div>
      </div>

      <!-- faq accordion  -->
      <div data-ns-animate data-delay="0.4" class="max-w-[786px] mx-auto" role="region">
        <div
          class="accordion-item active-accordion bg-background-1 dark:bg-background-6 rounded-[20px] px-8"
        >
          <button
            class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
          >
            <span
              class="flex-1 text-left lg:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
            >
              What is the primary role of a business agency?
            </span>
            <Component src="src/components/shared/accordion-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6">
              <p>
                When collaborating with a business agency, you can generally expect an extensive
                array of services designed to not only support your current operations but also to
                foster growth and innovation within your business. These services often include
                strategic planning, marketing solutions, financial consulting, and operational
                improvements.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
          <button
            class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
          >
            <span
              class="flex-1 text-left lg:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
            >
              What kinds of services should I anticipate from a business agency?
            </span>
            <Component src="src/components/shared/accordion-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6">
              <p>
                When collaborating with a business agency, you can generally expect an extensive
                array of services designed to not only support your current operations but also to
                foster growth and innovation within your business. These services often include
                strategic planning, marketing solutions, financial consulting, and operational
                improvements.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
          <button
            class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
          >
            <span
              class="flex-1 text-left lg:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
            >
              How often should I consider updating my website?
            </span>
            <Component src="src/components/shared/accordion-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6">
              <p>
                When collaborating with a business agency, you can generally expect an extensive
                array of services designed to not only support your current operations but also to
                foster growth and innovation within your business. These services often include
                strategic planning, marketing solutions, financial consulting, and operational
                improvements.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item bg-background-1 dark:bg-background-6 rounded-[20px] px-8">
          <button
            class="accordion-action flex items-center cursor-pointer justify-between pt-8 pb-8 w-full"
          >
            <span
              class="flex-1 text-left lg:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
            >
              How often is it recommended to refresh my website?
            </span>
            <Component src="src/components/shared/accordion-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="border-t border-t-stroke-2 dark:border-t-stroke-6 pt-6">
              <p>
                When collaborating with a business agency, you can generally expect an extensive
                array of services designed to not only support your current operations but also to
                foster growth and innovation within your business. These services often include
                strategic planning, marketing solutions, financial consulting, and operational
                improvements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
