<!-- =========================
Select Us section
===========================-->
<section class="py-[100px] bg-background-3 dark:bg-background-7 overflow-hidden">
  <div class="main-container">
    <div class="flex items-center justify-between flex-col gap-y-14 lg:gap-0 lg:flex-row relative">
      <!-- left side  -->
      <div class="space-y-14">
        <!-- heading  -->
        <div class="max-w-[536px] md:w-full space-y-5">
          <span data-ns-animate data-delay="0.1" class="badge badge-primary">
            Reasons to select us
          </span>
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.2">Easily manage your cash flow.</h2>
            <p data-ns-animate data-delay="0.3">
              Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text
              nothing Before & After magazine.
            </p>
          </div>
        </div>

        <!-- list  -->
        <ul class="space-y-2" aria-label="Key CRM features">
          <li data-ns-animate data-delay="0.4" class="flex items-start gap-3 p-3">
            <div class="overflow-hidden" aria-hidden="true">
              <span class="ns-shape-8 text-[36px] text-secondary dark:text-accent"></span>
            </div>

            <h3 class="text-tagline-1 font-normal leading-[150%] text-secondary dark:text-accent">
              A version for offline use is available.
            </h3>
          </li>

          <li data-ns-animate data-delay="0.5" class="flex items-start gap-3 p-3">
            <div class="overflow-hidden" aria-hidden="true">
              <span class="ns-shape-9 text-[36px] text-secondary dark:text-accent"></span>
            </div>
            <h3 class="text-tagline-1 font-normal leading-[150%] text-secondary dark:text-accent">
              Designed to be both scalable and secure.
            </h3>
          </li>

          <li data-ns-animate data-delay="0.6" class="flex items-start gap-3 p-3">
            <div class="overflow-hidden" aria-hidden="true">
              <span class="ns-shape-12 text-[36px] text-secondary dark:text-accent"></span>
            </div>
            <h3 class="text-lg font-normal leading-[150%] text-secondary dark:text-accent">
              Feature powered by artificial intelligence.
            </h3>
          </li>

          <li data-ns-animate data-delay="0.7" class="flex items-start gap-3 p-3">
            <div class="overflow-hidden" aria-hidden="true">
              <span class="ns-shape-21 text-[36px] text-secondary dark:text-accent"></span>
            </div>
            <h3 class="text-lg font-normal leading-[150%] text-secondary dark:text-accent">
              It offers both scalability and robust security.
            </h3>
          </li>
        </ul>
      </div>

      <!-- right side  -->
      <div
        data-ns-animate
        data-delay="0.2"
        data-offset="100"
        class="relative w-[320px] lg:w-[431px] xl:w-[459px] md:w-[459px] h-[450px] md:h-[598px] lg:h-[489px] xl:h-[598px] bg-background-1 dark:bg-background-6 rounded-[20px] overflow-hidden"
        role="presentation"
      >
        <!-- bg img  -->
        <figure
          class="size-[700px] select-none pointer-events-none absolute top-[-173px] right-[-80px] overflow-hidden rotate-[240deg] z-10"
          aria-hidden="true"
        >
          <img
            src="./images/ns-img-498.png"
            alt="Decorative gradient background"
            class="size-full object-cover"
          />
        </figure>
      </div>

      <!-- right side img one  -->
      <figure
        data-ns-animate
        data-delay="0.5"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        data-direction="right"
        class="w-[153px] lg:w-[188px] xl:w-[210px] 2xl:w-[253px] md:w-[253px] overflow-hidden z-20 absolute top-[590px] lg:top-10 max-[376px]:top-[666px] right-[-5px] lg:right-[-19px] xl:right-[-15px] 2xl:right-[-83px] rounded-xl sm:rounded-[20px]"
        aria-hidden="true"
      >
        <img
          src="./images/ns-img-260.png"
          alt="CRM dashboard visualization"
          class="size-full object-cover dark:hidden"
        />
        <img
          src="./images/ns-img-dark-175.png"
          alt="CRM dashboard visualization"
          class="size-full object-cover hidden dark:inline-block"
        />
      </figure>

      <!-- right side img three  -->
      <figure
        data-ns-animate
        data-delay="0.7"
        data-offset="100"
        data-spring="true"
        data-duration="2"
        data-direction="right"
        class="md:max-w-[364px] max-w-[250px] lg:max-w-[300px] xl:max-w-[324px] 2xl:max-w-[395px] w-full shadow-3 overflow-hidden z-20 absolute bottom-[46px] right-[10px] md:right-[12px] lg:right-[-16px] xl:right-[-1px] 2xl:right-[-82px] rounded-xl sm:rounded-[20px]"
        aria-hidden="true"
      >
        <img
          src="./images/ns-img-240.png"
          alt="CRM financial dashboard"
          class="size-full object-cover dark:hidden"
        />
        <img
          src="./images/ns-img-dark-161.png"
          alt="CRM financial dashboard"
          class="size-full object-cover hidden dark:inline-block"
        />
      </figure>
    </div>
  </div>
</section>
