<!-- =========================
Client section
===========================-->
<section class="py-[50px] md:py-[80px] lg:py-[100px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="space-y-14">
      <h2
        id="trusted-businesses-heading"
        data-ns-animate
        data-delay="0.2"
        class="text-center text-heading-5 md:text-heading-3"
      >
        Trusted by 10k+ fast-growing businesses
      </h2>
      <!-- clients marquee  -->
      <div class="space-y-7">
        <article data-ns-animate data-delay="0.3" class="relative max-w-[1200px] mx-auto">
          <div
            class="absolute left-0 top-0 h-full w-[8%] bg-gradient-to-r from-background-2 to-background-2/20 dark:to-background-5/20 dark:from-background-5 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-full w-[8%] bg-gradient-to-l from-background-2 to-background-2/20 dark:to-background-5/20 dark:from-background-5 z-40"
          ></div>
          <div class="logos-marquee-container">
            <!-- marquee one  -->
            <div class="flex items-center justify-center gap-8">
              <figure class="min-w-[140px] md:min-w-[201px] ml-8">
                <img
                  src="./images/icons/client-logo-6.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-6-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-7.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-7-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-8.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-8-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-9.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-9-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-10.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-10-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>
            </div>
          </div>
        </article>
        <!-- marquee two  -->
        <article data-ns-animate data-delay="0.4" class="relative max-w-[900px] mx-auto">
          <div
            class="absolute left-0 top-0 h-full w-[3%] bg-gradient-to-r from-background-2 to-background-2/20 dark:to-background-5/20 dark:from-background-5 z-40"
          ></div>
          <div
            class="absolute right-0 top-0 h-full w-[3%] bg-gradient-to-l from-background-2 to-background-2/20 dark:to-background-5/20 dark:from-background-5 z-40"
          ></div>
          <div class="logos-right-marquee-container">
            <!-- marquee one  -->
            <div class="flex items-center justify-center gap-8">
              <figure class="min-w-[140px] md:min-w-[201px] ml-8">
                <img
                  src="./images/icons/client-logo-6.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-6-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-7.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-7-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>
              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-8.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-8-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>
              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-9.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-9-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>

              <figure class="min-w-[140px] md:min-w-[201px]">
                <img
                  src="./images/icons/client-logo-10.svg"
                  alt="Client company logo"
                  class="dark:hidden"
                />
                <img
                  src="./images/icons/client-logo-10-dark.svg"
                  alt="Client company logo"
                  class="hidden dark:block"
                />
              </figure>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
