<!-- =========================
Get started section
===========================-->
<section class="relative py-[50px] md:py-[80px] lg:py-[100px]" aria-label="Hero section">
  <div class="main-container">
    <div class="grid grid-cols-12 xl:gap-[60px] gap-y-12 items-start">
      <div class="col-span-12 xl:col-span-6 lg:sticky lg:top-28">
        <div class="space-y-7 xl:text-left text-center">
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.2" class="xl:max-w-[629px] w-full xl:mx-0 mx-auto">
              What makes us stand out
            </h2>
            <p data-ns-animate data-delay="0.3" class="xl:max-w-[544px]">
              What distinguishes us is our commitment to empowering bold founders, dynamic teams,
              and innovative entrepreneurs.
            </p>
          </div>
          <div data-ns-animate data-delay="0.4" class="w-full">
            <a
              href="./smart-solutions-pricing.html"
              class="btn btn-primary btn-md hover:btn-secondary dark:hover:btn-accent w-[85%] md:w-auto"
            >
              <span>Get started now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-6">
        <div class="stack-cards js-stack-cards xl:max-w-full max-w-[820px] xl:mx-0 mx-auto">
          <!-- card one  -->
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full sm:mx-0 mx-auto w-full overflow-hidden"
          >
            <!-- border img  -->
            <figure
              class="absolute pointer-events-none top-[-62%] md:-top-[85%] left-[-48%] md:-left-[68%] -z-10 rotate-[312deg] opacity-50 md:size-[800px] size-[500px] select-none"
            >
              <img src="./images/ns-img-520.png" alt="step" />
            </figure>

            <!-- card content  -->
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Innovative ideas</p>
                <p>Built with modern business challenges in mind</p>
              </div>
              <figure class="max-w-[385px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-192.png"
                  alt="step"
                  class="md:max-h-[315px] md:min-h-[315px]"
                />
              </figure>
            </div>
          </div>

          <!-- card two  -->
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <!-- border img  -->
            <figure
              class="absolute pointer-events-none top-[-127%] md:-top-[130%] left-[-103%] md:-left-[79%] size-[800px] md:size-[1000px] -z-10 rotate-[255deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-521.png" alt="step" />
            </figure>

            <!-- card content  -->
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Top-rated features</p>
                <p>Only what you need, nothing you don’t</p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-193.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[315px] md:min-h-[315px]"
                />
                <img
                  src="./images/ns-img-dark-131.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[315px] md:min-h-[315px]"
                />
              </figure>
            </div>
          </div>

          <!-- card three  -->
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <!-- border img  -->
            <figure
              class="absolute pointer-events-none top-[-127%] md:-top-[130%] left-[-107%] md:-left-[88%] size-[800px] md:size-[1000px] -z-10 rotate-[240deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-522.png" alt="step" />
            </figure>

            <!-- card content  -->
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Beautiful interface</p>
                <p>Designed to impress, built to perform</p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-194.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[315px] md:min-h-[315px]"
                />
                <img
                  src="./images/ns-img-dark-132.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[315px] md:min-h-[315px]"
                />
              </figure>
            </div>
          </div>

          <!-- card four  -->
          <div
            class="stack-cards__item js-stack-cards__item p-2 relative rounded-[20px] z-20 flex items-center justify-center sm:max-w-[483px] max-w-full w-full overflow-hidden"
          >
            <!-- border img  -->
            <figure
              class="absolute pointer-events-none top-[-143%] md:-top-[117%] left-[-72%] md:-left-[37%] size-[1000px] -z-10 rotate-[245deg] opacity-50 select-none"
            >
              <img src="./images/ns-img-501.png" alt="step" />
            </figure>

            <!-- card content  -->
            <div
              class="relative z-10 p-8 rounded-[14px] sm:max-w-[467px] max-w-full w-full space-y-6 bg-white dark:bg-black"
            >
              <div class="space-y-1">
                <p class="text-heading-5 text-secondary dark:text-accent">Simple solutions</p>
                <p>No fluff, just functionality</p>
              </div>
              <figure class="max-w-[403px] w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-195.png"
                  alt="step"
                  class="dark:hidden block md:max-h-[315px] md:min-h-[315px]"
                />
                <img
                  src="./images/ns-img-dark-133.png"
                  alt="step"
                  class="hidden dark:block md:max-h-[315px] md:min-h-[315px]"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
