<!-- =========================
Solution section
===========================-->
<section class="py-[50px] md:py-[80px] lg:py-[100px] bg-background-2 dark:bg-background-5">
  <div class="main-container">
    <div class="space-y-[35px] md:space-y-[70px]">
      <!-- heading  -->
      <div class="space-y-3 text-center">
        <h2 id="wealth-management-heading" data-ns-animate data-delay="0.2">
          All-in-one wealth management
        </h2>
        <p data-ns-animate data-delay="0.3">
          Manage your money with guidance that evolves with your goals.
        </p>
      </div>

      <div class="space-y-14">
        <!-- cards  -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9">
          <!-- card one  -->
          <div
            data-ns-animate
            data-delay="0.4"
            class="max-w-[405px] w-full p-8 bg-white dark:bg-background-8 rounded-[20px] space-y-6"
          >
            <span
              class="ns-shape-3 text-[52px] text-secondary dark:text-accent inline-block"
            ></span>

            <div class="space-y-2">
              <h3 id="portfolio-management-heading" class="text-heading-5">Portfolio management</h3>
              <p class="max-w-[275px] w-full">
                Custom, diversified portfolios that adapt to market changes.
              </p>
            </div>

            <div>
              <a
                href="./smart-solutions-service-details.html"
                rel="noopener noreferrer"
                class="btn btn-white hover:btn-primary btn-md dark:btn-transparent"
                aria-label="Learn more about portfolio management"
              >
                <span>View more</span>
              </a>
            </div>
          </div>

          <!-- card two  -->
          <div
            data-ns-animate
            data-delay="0.5"
            class="max-w-[405px] w-full p-8 bg-white dark:bg-background-8 rounded-[20px] space-y-6"
          >
            <span
              class="ns-shape-35 text-[52px] text-secondary dark:text-accent inline-block"
            ></span>

            <div class="space-y-2">
              <h3 id="financial-planning-heading" class="text-heading-5">Financial planning</h3>
              <p class="max-w-[275px] w-full">
                Get a plan that grows with you—automated and advisor-reviewed.
              </p>
            </div>

            <div>
              <a
                href="./smart-solutions-service-details.html"
                rel="noopener noreferrer"
                class="btn btn-white hover:btn-primary btn-md dark:btn-transparent"
                aria-label="Learn more about financial planning"
              >
                <span>View more</span>
              </a>
            </div>
          </div>

          <!-- cards three  -->
          <div
            data-ns-animate
            data-delay="0.7"
            class="max-w-[405px] w-full p-8 bg-white dark:bg-background-8 rounded-[20px] space-y-6"
          >
            <span
              class="ns-shape-1 text-[52px] text-secondary dark:text-accent inline-block"
            ></span>

            <div class="space-y-2">
              <h3 id="growth-assist-heading" class="text-heading-5">Growth assist</h3>
              <p class="max-w-[275px] w-full">
                Smart tools that help optimize savings, interest, and tax efficiency.
              </p>
            </div>

            <div>
              <a
                href="./smart-solutions-service-details.html"
                rel="noopener noreferrer"
                class="btn btn-white hover:btn-primary btn-md dark:btn-transparent"
                aria-label="Learn more about growth assist"
              >
                <span>View more</span>
              </a>
            </div>
          </div>
        </div>

        <!-- btn  -->
        <div data-ns-animate data-delay="0.8" class="text-center w-full">
          <a
            href="./smart-solutions-services.html"
            class="btn btn-primary btn-md w-[85%] md:w-auto hover:btn-secondary dark:hover:btn-accent"
            aria-label="View all wealth management solutions"
          >
            <span>View all solutions</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
