<!-- =========================
Steps section
===========================-->
<section class="py-[50px] md:py-[80px] lg:py-[100px]" aria-label="Application Steps">
  <div class="main-container">
    <div
      class="flex flex-col md:flex-row items-center justify-center gap-[62px] progress-container"
    >
      <!-- step one  -->
      <div
        data-ns-animate
        data-delay="0.2"
        class="space-y-3 max-w-[388px] md:w-full"
        role="region"
        aria-label="Step 1"
      >
        <!-- progress bar  -->
        <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
          <div class="progress-line w-[40%] bg-ns-green rounded-full h-full absolute left-0"></div>
        </div>
        <!-- number -->
        <p class="text-tagline-2 text-primary-500">01</p>

        <!-- text  -->
        <div class="space-y-2">
          <h2 class="text-heading-5">Download the app</h2>
          <p>Launch and share your app instantly with one click.</p>
        </div>
      </div>

      <!-- step two  -->
      <div
        data-ns-animate
        data-delay="0.3"
        class="space-y-3 max-w-[388px] md:w-full"
        role="region"
        aria-label="Step 2"
      >
        <!-- progress bar  -->
        <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
          <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
        </div>
        <!-- number -->
        <p class="text-tagline-2 text-primary-500">02</p>

        <!-- text  -->
        <div class="space-y-2">
          <h2 class="text-heading-5">Create your profile</h2>
          <p>Create your profile to unlock endless possibilities.</p>
        </div>
      </div>

      <!-- step three  -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="space-y-3 max-w-[388px] md:w-full"
        role="region"
        aria-label="Step 3"
      >
        <!-- progress bar  -->
        <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
          <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
        </div>
        <!-- number -->
        <p class="text-tagline-2 text-primary-500">03</p>

        <!-- text  -->
        <div class="space-y-2">
          <h2 class="text-heading-5">Start managing</h2>
          <p>Ready to take control? Start managing your time!</p>
        </div>
      </div>
    </div>
  </div>
</section>
