<!-- =========================
Team section
===========================-->
<section class="pb-[50px] md:pb-[80px] lg:pb-[100px]" aria-label="Team Introduction">
  <div class="main-container">
    <div class="space-y-7 md:space-y-14">
      <h2 data-ns-animate data-delay="0.1" class="split-text-team-title text-center">
        From intuitive dashboards to data-driven automation, NextSaaS is built for modern businesses
        that want to simplify workflows and scale effortlessly.
      </h2>

      <div data-ns-animate data-delay="0.3" class="text-center">
        <a
          href="./smart-solutions-team.html"
          rel="noopener noreferrer"
          class="btn btn-primary btn-md w-[85%] md:w-auto hover:btn-secondary dark:hover:btn-accent"
          aria-label="Meet NextSaaS team"
        >
          <span>Meet NextSaaS team</span>
        </a>
      </div>
    </div>
  </div>
</section>
