<!-- =========================
Audit section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[200px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[200px]"
>
  <div class="main-container">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 xl:gap-x-[165px]">
      <div class="space-y-14">
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.1" class="text-secondary dark:text-accent">
            Get a free audit with a personalized plan.
          </h2>
          <p data-ns-animate data-delay="0.2" class="text-secondary/60 dark:text-accent/60">
            We’ll analyze your current performance and show you exactly how we’d enhance it—before
            you spend a dime.
          </p>
        </div>
        <div data-ns-animate data-delay="0.3">
          <a
            href="./digital-marketing-pricing.html"
            class="btn btn-secondary dark:btn-accent hover:btn-white dark:hover:btn-white-dark btn-md"
          >
            <span>Claim my free audit</span>
          </a>
        </div>
      </div>

      <figure data-ns-animate data-delay="0.4" class="bg-[#D9D9D9] rounded-2xl overflow-hidden">
        <img
          src="./images/ns-img-294.png"
          alt="audit image"
          class="size-full object-cover"
        />
      </figure>
    </div>
  </div>
</section>
