<!-- =========================
Hero section
===========================-->
<section
  class="banner-section relative pt-[200px] 2xl:pt-[280px] pb-[100px] bg-[url('/images/true-grow-trust-banner-image.jpg')] bg-no-repeat bg-center bg-cover z-10"
>
  <!-- dot bg  -->
  <figure class="absolute left-1/2 -translate-x-1/2 bottom-0 h-full w-full max-w-[1362px] -z-10">
    <img src="./images/ns-img-292.svg" alt="Hero shape" class="w-full h-full" />
  </figure>
  <div class="main-container z-10">
    <div class="flex flex-col items-center text-center mb-[70p]">
      <h1 data-ns-animate data-delay="0.1" class="text-secondary font-medium mb-4 max-w-[1000px]">
        TrustGrow: Building trust. Driving growth.
      </h1>
      <p data-ns-animate data-delay="0.2" class="text-secondary/60 max-w-[850px] mb-7 md:mb-14">
        Your brand’s reputation is your most powerful asset.
We engineer search visibility, credibility, and conversion using advanced reputation frameworks, automated review systems, and high-impact content distribution.
      </p>
      <ul class="flex flex-col md:flex-row gap-4 mb-7 md:mb-14 w-[90%] md:w-auto">
        <li
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./digital-marketing-pricing.html"
            class="btn btn-secondary btn-xl dark:btn-accent w-[90%] sm:w-auto hover:btn-white dark:hover:btn-white-dark"
          >
            <span>Start your reputation audit</span>
          </a>
        </li>
        <li
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./digital-marketing-services.html"
            class="btn hover:btn-secondary dark:btn-dark btn-white border-0 btn-xl dark:bg-accent/20 dark:text-secondary w-[90%] sm:w-auto"
          >
            <span>Explore our work</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Avatars and Trust Indicator -->
    <div class="flex items-center justify-center gap-x-4 mb-[100px]">
      <div class="flex -space-x-3.5">
        <img
          data-ns-animate
          data-delay="0.5"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3]"
          src="./images/ns-avatar-1.png"
          alt="Avatar 1"
        />
        <img
          data-ns-animate
          data-delay="0.6"
          data-direction="right"
          data-offset="50"
          class="size-12 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3] hidden sm:inline-block"
          src="./images/ns-avatar-2.png"
          alt="Avatar 2"
        />
        <img
          data-ns-animate
          data-delay="0.7"
          data-direction="right"
          data-offset="50"
          class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-black bg-[#98AAC3]"
          src="./images/ns-avatar-3.png"
          alt="Avatar 3"
        />
        <div
          data-ns-animate
          data-delay="0.8"
          data-direction="right"
          data-offset="50"
          class="inline-flex items-center justify-center size-12 rounded-full ring-2 ring-white dark:ring-black text-secondary/80 bg-[#98AAC3] text-tagline-3 font-medium"
        >
          99+
        </div>
      </div>
      <div data-ns-animate data-delay="0.9" data-direction="right" data-offset="50">
        <p class="font-medium block text-left text-secondary text-tagline-2">
          Trusted by over 300 clients.
        </p>
        <p class="text-secondary/60 text-tagline-3 max-w-[172px]">
          Your brand’s success will be our next case study.
        </p>
      </div>
    </div>

    <!-- client logos  -->
    <div data-ns-animate data-delay="1" data-instant>
      <div
        class="flex items-center flex-wrap md:flex-nowrap justify-center gap-8 md:gap-y-0 md:gap-x-8"
      >
        <figure class="lg:min-w-36 md:ml-8">
          <img
            src="./images/icons/client-logo-1-white.svg"
            alt="Client logo"
            class="lg:w-auto dark:hidden"
          />
          <img
            src="./images/icons/client-logo-1-dark.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="lg:min-w-36">
          <img
            src="./images/icons/client-logo-2-white.svg"
            alt="Client logo"
            class="lg:w-auto dark:hidden"
          />
          <img
            src="./images/icons/client-logo-2-dark.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
        <figure class="lg:min-w-36">
          <img
            src="./images/icons/client-logo-3-white.svg"
            alt="Client logo"
            class="lg:w-auto dark:hidden"
          />
          <img
            src="./images/icons/client-logo-3-dark.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>

        <figure class="lg:min-w-36">
          <img
            src="./images/icons/client-logo-5-white.svg"
            alt="Client logo"
            class="lg:w-auto dark:hidden"
          />
          <img
            src="./images/icons/client-logo-5-dark.svg"
            alt="Client logo"
            class="lg:w-auto hidden dark:block"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
