<!-- =========================
Hero section
===========================-->
<section
  class="hero-section xl:pt-[230px] pt-[140px] md:pt-[160px] lg:pt-[200px] pb-[120px] lg:pb-[150px] xl:pb-[200px] bg-[url('/images/ns-img-85.png')] bg-no-repeat bg-left lg:bg-top-right"
  aria-label="Hero section"
>
  <div class="main-container">
    <div class="flex 2xl:gap-[100px] flex-col sm:flex-row h-[396px]">
      <!-- hero text  -->
      <div class="lg:max-w-[570px] xl:max-w-[595px] md:w-full text-center lg:text-left">
        <span data-ns-animate data-delay="0.1" class="badge badge-white mb-5"
          >Keep an eye on your finances</span
        >

        <h1 data-ns-animate data-delay="0.2" class="mb-4">Cloud solutions for business success</h1>
        <p
          data-ns-animate
          data-delay="0.3"
          class="mb-10 md:mb-14 lg:max-w-[440px] xl:max-w-[570px]"
        >
          Empower your business with NextSaaS—your all-in-one cloud-based software designed for
          performance, automation, and growth.
        </p>

        <!-- hero btns -->
        <ul
          class="flex items-center flex-col md:flex-row gap-4 mb-9 md:justify-center lg:justify-start"
        >
          <li
            data-ns-animate
            data-delay="0.4"
            data-direction="left"
            data-offset="50"
            class="w-full sm:w-auto"
          >
            <a
              href="./cloud-software-contact.html"
              target="_blank"
              class="btn btn-primary btn-xl hover:btn-secondary dark:hover:btn-white w-[90%] md:w-auto"
              rel="noopener"
            >
              <span>Get started</span>
            </a>
          </li>
          <li
            data-ns-animate
            data-delay="0.6"
            data-direction="left"
            data-offset="50"
            class="w-full sm:w-auto"
          >
            <a
              href="./cloud-software-pricing.html"
              target="_blank"
              class="btn btn-white dark:btn-transparent btn-xl hover:btn-primary w-[90%] md:w-auto"
              rel="noopener"
            >
              <span>14-Days Free Trial</span>
            </a>
          </li>
        </ul>

        <div class="avatar-group-images flex max-lg:justify-center items-center gap-4">
          <!-- avatar  -->
          <div class="flex -space-x-3.5">
            <img
              data-ns-animate
              data-delay="0.7"
              data-direction="right"
              data-offset="50"
              class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-stroke-7 bg-background-2 dark:bg-background-5"
              src="./images/ns-avatar-1.png"
              alt="User avatar 1"
            />
            <img
              data-ns-animate
              data-delay="0.8"
              data-direction="right"
              data-offset="50"
              class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-stroke-7 bg-background-2 dark:bg-background-5"
              src="./images/ns-avatar-2.png"
              alt="User avatar 2"
            />
            <img
              data-ns-animate
              data-delay="0.9"
              data-direction="right"
              data-offset="50"
              class="inline-block size-12 rounded-full ring-2 ring-white dark:ring-stroke-7 bg-background-2 dark:bg-background-5"
              src="./images/ns-avatar-3.png"
              alt="User avatar 3"
            />
            <div
              data-ns-animate
              data-delay="1"
              data-direction="right"
              data-offset="50"
              class="inline-flex items-center justify-center size-12 rounded-full ring-2 ring-white dark:ring-stroke-7 text-secondary/80 bg-background-2 dark:bg-background-5 text-tagline-3 font-medium dark:text-accent/80"
            >
              99+
            </div>
          </div>
          <div
            data-ns-animate
            data-delay="1.1"
            data-direction="left"
            data-offset="50"
            class="opacity-0"
          >
            <p class="text-tagline-2 text-secondary dark:text-accent font-medium leading-[140%]">
              Trusted by 20k+
            </p>
            <p class="text-tagline-3">Customers Across the Globe</p>
          </div>
        </div>
      </div>

      <!-- hero image  -->
      <div class="relative" aria-hidden="true">
        <figure
          data-ns-animate
          data-delay="0.3"
          data-spring="true"
          data-duration="2"
          class="absolute z-[1] left-0 top-0 rounded-[20px] overflow-hidden w-[408px] hidden lg:block"
        >
          <img
            src="./images/ns-img-86.png"
            alt="Hero img 1"
            class="size-full object-cover dark:hidden"
          />

          <img
            src="./images/ns-img-dark-59.png"
            alt="Hero img 1"
            class="size-full object-cover dark:inline-block hidden"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.4"
          data-spring="true"
          data-duration="2"
          class="absolute z-[2] top-[275px] left-0 w-[408px] overflow-hidden rounded-[20px] hidden lg:block"
        >
          <img
            src="./images/ns-img-87.png"
            alt="Hero img 2"
            class="size-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-60.png"
            alt="Hero img 2"
            class="size-full object-cover dark:inline-block hidden"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.5"
          data-spring="true"
          data-duration="2"
          class="relative z-[3] left-[358px] rotate-[-20deg] top-[43px] overflow-hidden w-[273px] hidden lp:block"
        >
          <img
            src="./images/ns-img-88.png"
            alt="Hero img 3"
            class="size-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-61.png"
            alt="Hero img 3"
            class="size-full object-cover dark:inline-block hidden"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.6"
          data-spring="true"
          data-duration="2"
          class="relative z-[4] top-[-115px] left-[401px] rotate-[5deg] overflow-hidden w-[273px] shadow-4 hidden lp:block"
        >
          <img
            src="./images/ns-img-89.png"
            alt="Hero img 4"
            class="size-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-62.png"
            alt="Hero img 4"
            class="size-full object-cover dark:inline-block hidden"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.7"
          data-spring="true"
          data-duration="2"
          class="relative z-[3] top-[-310px] left-[450px] rotate-[5deg] overflow-hidden w-[273px] shadow-4 hidden lp:block"
        >
          <img
            src="./images/ns-img-89.png"
            alt="Hero img 5"
            class="size-full object-cover dark:hidden"
          />
          <img
            src="./images/ns-img-dark-62.png"
            alt="Hero img 5"
            class="size-full object-cover dark:inline-block hidden"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
