<!-- =========================
Pricing section
===========================-->
<section aria-label="Pricing Plans">
  <div class="max-w-[1460px] px-4 md:px-0 mx-auto">
    <div
      class="py-[70px] lg:px-[64px] bg-background-2 dark:bg-background-7 border-white dark:border-background-6 border-[10px] rounded-[20px]"
    >
      <div class="main-container">
        <div class="space-y-11 md:space-y-[70px]">
          <!-- heading  -->
          <div class="space-y-3 text-center lg:text-left w-full md:max-w-[610px]">
            <span data-ns-animate data-delay="0.1" class="badge badge-white">Our pricing</span>
            <h2 data-ns-animate data-delay="0.2" class="lg:text-heading-2 text-heading-4">
              Select the pricing plan that best suits your needs.
            </h2>
          </div>

          <div class="space-y-3">
            <!-- pricing cards  -->
            <div class="items-center flex flex-col md:flex-row justify-center xl:justify-end gap-3">
              <!-- card one  -->
              <div
                data-ns-animate
                data-delay="0.3"
                class="p-2.5 bg-white dark:bg-background-5 rounded-[20px] md:max-w-full xl:max-w-[282px] w-full"
              >
                <div class="py-8 px-6 bg-background-2 dark:bg-background-7 rounded-xl">
                  <p class="mb-2">Essential</p>
                  <div class="mb-8">
                    <h3 class="text-heading-5">$Free</h3>
                    <p>Free plan for all users</p>
                  </div>
                  <div>
                    <a
                      href="./cloud-software-contact.html"
                      rel="noopener noreferrer"
                      class="btn btn-base dark:btn-secondary-v2 btn-white w-full hover:btn-primary before:content-none first-letter:uppercase"
                      aria-label="Get started with Essential free plan"
                      >Get started</a
                    >
                  </div>
                </div>
              </div>

              <!-- card two  -->
              <div
                data-ns-animate
                data-delay="0.4"
                class="p-2.5 bg-white dark:bg-background-5 rounded-[20px] md:max-w-full xl:max-w-[282px] w-full"
              >
                <div
                  class="py-8 px-6 bg-secondary dark:bg-background-7 rounded-xl relative overflow-hidden"
                >
                  <figure
                    class="select-none pointer-events-none"
                    data-ns-animate
                    data-direction="right"
                    data-offset="100"
                    data-duration="0.9"
                    data-delay="0.5"
                  >
                    <img
                      class="absolute z-[2] top-[-80px] right-[-93px] select-none pointer-events-none"
                      src="./images/ns-img-535.png"
                      alt="Advanced plan background decoration"
                    />
                  </figure>
                  <p class="mb-2 text-accent/60">Advanced</p>
                  <div class="mb-8">
                    <h3 class="text-heading-5 text-accent">$99</h3>
                    <p class="text-accent">Plans for advanced users</p>
                  </div>
                  <div>
                    <a
                      href="./cloud-software-contact.html"
                      rel="noopener noreferrer"
                      class="btn btn-primary btn-lg w-full hover:btn-white dark:hover:btn-accent before:content-none first-letter:uppercase border-0"
                      aria-label="Get started with Advanced plan for $99"
                      >Get started</a
                    >
                  </div>
                </div>
              </div>

              <!-- card three  -->
              <div
                data-ns-animate
                data-delay="0.5"
                class="p-2.5 bg-white dark:bg-background-5 rounded-[20px] md:max-w-full xl:max-w-[282px] w-full"
              >
                <div class="py-8 px-6 bg-background-2 dark:bg-background-7 rounded-xl">
                  <p class="mb-2">Enterprise</p>
                  <div class="mb-8">
                    <h3 class="text-heading-5">Enterprise</h3>
                    <p class="line-clamp-1">Contact us for enterprise users</p>
                  </div>
                  <div>
                    <a
                      href="./cloud-software-contact.html"
                      rel="noopener noreferrer"
                      class="btn btn-base dark:btn-secondary-v2 btn-white hover:btn-primary w-full before:content-none first-letter:uppercase"
                      aria-label="Get started with Premium plan for $199"
                      >Get started</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- price include table -->
            <div class="w-full">
              <!-- table heading  -->
              <h4 data-ns-animate data-delay="0.6" class="py-6 text-heading-6">What's included</h4>

              <!-- table data  -->
              <div class="flex flex-col w-full" role="table">
                <!-- row one  -->
                <div
                  data-ns-animate
                  data-delay="0.7"
                  class="flex items-center py-4 border-y border-stroke-1 dark:border-stroke-6"
                  role="row"
                >
                  <p class="max-w-[420px] md:w-full text-secondary dark:text-accent">
                    Pages included
                  </p>
                  <p
                    class="flex-1 text-center text-secondary dark:text-accent font-medium"
                    role="cell"
                  >
                    Up to 5
                  </p>
                  <p
                    class="flex-1 text-center text-secondary dark:text-accent font-medium"
                    role="cell"
                  >
                    Up to 10
                  </p>
                  <p
                    class="flex-1 text-center text-secondary dark:text-accent font-medium"
                    role="cell"
                  >
                    Unlimited
                  </p>
                </div>

                <!-- row two  -->
                <div
                  data-ns-animate
                  data-delay="0.8"
                  class="flex items-center py-4 border-b border-stroke-1 dark:border-stroke-6"
                  role="row"
                >
                  <p class="max-w-[420px] md:w-full text-secondary dark:text-accent">
                    Custom design
                  </p>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>

                <!-- row three  -->
                <div
                  data-ns-animate
                  data-delay="0.9"
                  class="flex items-center py-4 border-b border-stroke-1 dark:border-stroke-6"
                  role="row"
                >
                  <p class="max-w-[420px] md:w-full text-secondary dark:text-accent">
                    SEO optimization
                  </p>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>

                <!-- row four  -->
                <div
                  data-ns-animate
                  data-delay="1"
                  class="flex items-center py-4 border-b border-stroke-1 dark:border-stroke-6"
                  role="row"
                >
                  <p class="max-w-[420px] md:w-full text-secondary dark:text-accent">
                    Branding support
                  </p>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <!-- Empty for first column -->
                    <span class="sr-only">Not included in Essential plan</span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>

                <!-- row five  -->
                <div
                  data-ns-animate
                  data-delay="1.1"
                  class="flex items-center py-4 border-b border-stroke-1 dark:border-stroke-6"
                  role="row"
                >
                  <p class="max-w-[420px] md:w-full text-secondary dark:text-accent">
                    Social media integration
                  </p>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <!-- Empty for first column -->
                    <span class="sr-only">Not included in Essential plan</span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <!-- Empty for second column -->
                    <span class="sr-only">Not included in Advanced plan</span>
                  </div>
                  <div class="flex-1 flex items-center justify-center" role="cell">
                    <span
                      class="size-[18px] rounded-full bg-secondary flex shrink-0 items-center-safe justify-center dark:bg-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="10"
                        height="7"
                        viewBox="0 0 10 7"
                        class="fill-white dark:fill-black shrink-0"
                      >
                        <path
                          d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
