<!-- =========================
Reason to select us section
===========================-->
<section
  class="py-16 md:py-20 lg:py-[90px] xl:py-[100px] overflow-hidden"
  aria-label="Reasons to select us"
>
  <div class="main-container">
    <div class="flex items-center flex-col sm:flex-row xl:gap-[100px]">
      <!-- left part  -->
      <div class="space-y-[42px]">
        <!-- heading  -->
        <div class="md:max-w-[536px] w-full text-center md:text-left">
          <span data-ns-animate data-delay="0.1" class="badge badge-white mb-5"
            >Reasons to select us</span
          >
          <h2 data-ns-animate data-delay="0.2" class="max-w-[452px] md:w-full mb-3">
            Easily manage your cash flow.
          </h2>
          <p data-ns-animate data-delay="0.3">
            Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text
            nothing Before & After magazine.
          </p>
        </div>

        <!-- list  -->

        <ul class="space-y-6" aria-label="Our key features">
          <li data-ns-animate data-delay="0.4" class="px-3 flex items-center gap-4">
            <span class="ns-shape-50 text-[36px] text-secondary dark:text-accent"> </span>
            <p class="font-medium text-secondary dark:text-accent">Cloud-native & scalable</p>
          </li>

          <li data-ns-animate data-delay="0.5" class="px-3 flex items-center gap-4">
            <span class="ns-shape-22 text-[36px] text-secondary dark:text-accent"> </span>
            <p class="font-medium text-secondary dark:text-accent">Enterprise-grade security</p>
          </li>

          <li data-ns-animate data-delay="0.6" class="px-3 flex items-center gap-4">
            <span class="ns-shape-23 text-[36px] text-secondary dark:text-accent"> </span>
            <p class="font-medium text-secondary dark:text-accent">Seamless integrations</p>
          </li>

          <li data-ns-animate data-delay="0.7" class="px-3 flex items-center gap-4">
            <span class="ns-shape-36 text-[36px] text-secondary dark:text-accent"> </span>
            <p class="font-medium text-secondary dark:text-accent">Always up-to-date</p>
          </li>
        </ul>
      </div>

      <!-- right part  -->
      <div class="relative">
        <figure
          data-ns-animate
          data-delay="0.5"
          data-direction="up"
          class="w-[370px] md:w-[382px] lg:w-[574px] xl:w-[802px] overflow-hidden"
        >
          <img
            src="./images/ns-img-95.png"
            alt="Dashboard interface showing cash flow management"
            class="size-full object-cover dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/ns-img-dark-68.png"
            alt="Dashboard interface showing cash flow management"
            class="size-full object-cover hidden dark:inline-block"
            loading="lazy"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="0.8"
          data-direction="right"
          class="absolute w-[150px] lg:w-[200px] xl:w-[300px] left-[189px] md:top-[73px] md:left-[210px] lg:left-[350px] lg:top-[130px] xl:left-[459px] xl:top-[170px] top-[68px] shadow-5 rounded-[10px] overflow-hidden"
        >
          <img
            src="./images/ns-img-97.png"
            alt="Financial analytics chart"
            class="size-full object-cover dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/ns-img-dark-70.png"
            alt="Financial analytics chart"
            class="size-full object-cover hidden dark:inline-block"
            loading="lazy"
          />
        </figure>
        <figure
          data-ns-animate
          data-delay="1"
          data-direction="right"
          class="absolute w-[200px] bottom-[57px] right-[25px] md:right-[37px] xl:w-[395px] lg:w-[300px] lg:right-[42px] lg:bottom-[87px] xl:right-[68px] xl:bottom-[124px] rounded-[10px] overflow-hidden why-choose-us-persent"
        >
          <img
            src="./images/ns-img-96.png"
            alt="Mobile app interface for cash management"
            class="size-full object-cover dark:hidden"
            loading="lazy"
          />

          <img
            src="./images/ns-img-dark-69.png"
            alt="Mobile app interface for cash management"
            class="size-full object-cover hidden dark:inline-block"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
