<!-- =========================
Steps section
===========================-->
<section class="py-[60px] md:py-[90px] lg:py-[120px]">
  <div class="main-container">
    <!-- heading  -->
    <div class="space-y-5 text-center mb-[35px] lg:mb-[70px]">
      <span data-ns-animate data-delay="0.1" class="badge badge-white">Steps</span>
      <h2 data-ns-animate data-delay="0.2" id="steps-heading">
        Get started in <br class="sm:hidden" />3 simple steps
      </h2>
    </div>

    <!-- steps  cards  -->
    <div class="grid grid-cols-12 gap-8 items-center justify-center">
      <!-- card one  -->
      <div
        data-ns-animate
        data-delay="0.3"
        class="md:max-w-[408px] w-full py-10 space-y-6 col-span-12 md:col-span-6 lg:col-span-4"
        role="region"
        aria-label="Step 1"
      >
        <p class="text-center">
          <span
            class="text-heading-6 px-9 py-2.5 rounded-[34px] bg-secondary dark:bg-accent dark:text-secondary text-accent"
            aria-hidden="true"
            >1</span
          >
        </p>

        <div class="space-y-1 text-center px-5">
          <h3 class="text-heading-5">Sign up for free</h3>
          <p class="mx-auto">
            Try our services commitment-free! Explore all we offer without a credit card—it's a
            risk-free
          </p>
        </div>
      </div>

      <!-- card two  -->
      <div
        data-ns-animate
        data-delay="0.4"
        class="md:max-w-[408px] w-full py-10 space-y-6 col-span-12 md:col-span-6 lg:col-span-4"
        role="region"
        aria-label="Step 2"
      >
        <p class="text-center">
          <span
            class="text-heading-6 px-9 py-2.5 rounded-[34px] bg-secondary dark:bg-accent dark:text-secondary text-accent"
            aria-hidden="true"
            >2</span
          >
        </p>

        <div class="space-y-1 text-center px-5">
          <h3 class="text-heading-5">Customize your setup</h3>
          <p>
            Customize NextSaaS to perfectly align with the unique requirements of your business.
          </p>
        </div>
      </div>

      <!-- card three  -->
      <div
        data-ns-animate
        data-delay="0.5"
        class="md:max-w-[408px] w-full py-10 space-y-6 col-span-12 md:col-span-6 md:col-start-4 lg:col-start-auto lg:col-span-4"
        role="region"
        aria-label="Step 3"
      >
        <p class="text-center">
          <span
            class="text-heading-6 px-9 py-2.5 rounded-[34px] bg-secondary dark:bg-accent dark:text-secondary text-accent"
            aria-hidden="true"
            >3</span
          >
        </p>

        <div class="space-y-1 text-center px-5">
          <h3 class="text-heading-5">Start scaling</h3>
          <p>Streamline your processes, enhance efficiency, and expand your business horizons.</p>
        </div>
      </div>
    </div>

    <div data-ns-animate data-delay="0.6" class="text-center mt-9 md:mt-14">
      <a
        href="./cloud-software-process.html"
        class="btn btn-secondary hover:btn-primary dark:btn-accent btn-md w-[90%] md:w-auto mx-auto md:mx-0"
        aria-label="Learn more about our process"
      >
        <span>See our process</span>
      </a>
    </div>
  </div>
</section>
