<!-- =========================
Counter section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container progress-container grid grid-cols-1 md:grid-cols-3 gap-8">
    <div data-ns-animate data-delay="0.2" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[25%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">01</p>
      <div class="space-y-1">
        <h5>Select a template or create new</h5>
        <p>
          Start fast with a template <br class="md:block hidden" />
          —or build it your way.
        </p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.4" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">02</p>
      <div class="space-y-1">
        <h5>Customize with visual blocks</h5>
        <p class=" ">Mix and match visual blocks for your perfect design.</p>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="flex flex-col space-y-3">
      <div class="w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
        <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
      </div>
      <p class="text-tagline-2 text-primary-500">03</p>
      <div class="space-y-1">
        <h5>Deploy & share with one click</h5>
        <p>Launch and share your app instantly with one click.</p>
      </div>
    </div>
  </div>
</section>
