<!-- =========================
Feature section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[150px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[150px] bg-background-3 dark:bg-background-7"
>
  <div class="main-container">
    <div class="text-center space-y-5 max-w-[650px] mx-auto mb-14">
      <span data-ns-animate data-delay="0.2" class="badge badge-green">Core features</span>
      <div>
        <h2 data-ns-animate data-delay="0.3">
          Everything you need to
          <span class="text-primary-500">build & launch smarter</span>
        </h2>
      </div>
    </div>
    <!-- feature Items -->
    <div class="grid grid-cols-12 space-y-8 md:space-y-0 md:gap-8 mb-18">
      <div
        data-ns-animate
        data-delay="0.4"
        class="col-span-12 md:col-span-6 lg:col-span-8 p-6 rounded-[20px] border-8 border-white dark:border-background-9 dark:bg-background-7 bg-background-3 space-y-6"
      >
        <div class="space-y-1">
          <h5 class="">Drag & drop builder</h5>
          <p class="">Build apps visually—no coding required</p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-152.png"
            alt="feature image"
            class="w-full object-cover rounded-2xl block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-106.png"
            alt="feature image"
            class="w-full object-cover rounded-2xl hidden dark:block"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.5"
        class="col-span-12 md:col-span-6 lg:col-span-4 py-6 ps-6 rounded-[20px] border-8 border-white bg-background-3 dark:border-background-9 dark:bg-background-7 space-y-6 relative after:h-1/2 after:w-[calc(100%+16px)] after:absolute after:-left-2 after:right-0 after:bottom-0 after:bg-gradient-to-t after:from-black/0 to-white rounded-br-[20px] rounded-bl-[20px] overflow-hidden"
      >
        <div class="space-y-1">
          <h5 class="">Real-time preview</h5>
          <p class="">See your app in action as you create it</p>
        </div>
        <figure class="w-full rounded-2xl overflow-hidden">
          <img
            src="./images/ns-img-153.png"
            alt="feature image"
            class="w-full object-cover block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-107.png"
            alt="feature image"
            class="w-full object-cover hidden dark:block"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.6"
        class="col-span-12 md:col-span-6 lg:col-span-4 p-6 rounded-[20px] border-8 border-white bg-background-3 dark:border-background-9 dark:bg-background-7 space-y-6"
      >
        <div class="space-y-1">
          <h5 class="">Custom workflows & automation</h5>
          <p class="">Create conditional logic, form flows, and integrations</p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-154.png"
            alt="feature image"
            class="w-full rounded-xl block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-108.png"
            alt="feature image"
            class="w-full rounded-xl hidden dark:block"
          />
        </figure>
      </div>
      <div
        data-ns-animate
        data-delay="0.7"
        class="col-span-12 md:col-span-6 lg:col-span-8 p-6 rounded-[20px] border-8 border-white bg-background-3 dark:border-background-9 dark:bg-background-7 space-y-6"
      >
        <div class="space-y-1 max-w-[285px]">
          <h5 class="">Secure data management</h5>
          <p class="">Connect to google sheets, airtable, or your own database</p>
        </div>
        <figure class="w-full">
          <img
            src="./images/ns-img-155.png"
            alt="feature image"
            class="w-full h-full object-cover rounded-2xl block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-109.png"
            alt="feature image"
            class="w-full h-full object-cover rounded-2xl hidden dark:block"
          />
        </figure>
      </div>
    </div>
    <div data-ns-animate data-delay="0.8" class="flex items-center justify-center">
      <a
        href="./app-builder-features.html"
        class="btn btn-lg md:btn-xl btn-secondary hover:btn-white dark:hover:btn-accent dark:btn-transparent w-[85%] md:w-auto"
      >
        <span> Start building free</span>
      </a>
    </div>
  </div>
</section>
