<!-- =========================
Feature v2 section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] dark:bg-background-7"
>
  <div class="main-container">
    <div class="grid grid-cols-12 md:gap-y-18 lg:gap-x-[60px] xl:gap-x-[100px] items-center">
      <div class="col-span-12 lg:col-span-7 max-md:mb-18">
        <div>
          <div
            class="relative max-w-[300px] md:max-w-[400px] lg:max-w-[500px] md:ms-16 lg:ms-0 w-full"
          >
            <figure
              data-ns-animate
              data-delay="0.8"
              data-duration="1.7"
              data-spring
              class="absolute top-[12%] md:top-[20%] lg:top-[17%] xl:top-[20%] -right-[20px] md:-right-[130px] lg:-right-[15px] xl:-right-[130px] w-[100px]"
            >
              <img
                src="./images/ns-img-156.svg"
                alt="features"
                class="w-full h-full dark:hidden"
              />
              <img
                src="./images/ns-img-dark-110.svg"
                alt="features"
                class="w-full h-full hidden dark:block"
              />
            </figure>
            <figure
              data-ns-animate
              data-delay="0.9"
              data-duration="2.4"
              data-spring
              class="absolute top-[40%] md:top-[32%] left-[60%] md:left-[82%] lg:left-[63%] xl:left-[82%] max-w-[140px] md:max-w-[208px] lg:max-w-[200px] xl:max-w-[253px] w-full z-10 rounded-[20px] overflow-hidden rotate-[8deg]"
            >
              <img
                src="./images/ns-img-157.png"
                alt="features"
                class="w-full h-full dark:hidden"
              />
              <img
                src="./images/ns-img-dark-111.png"
                alt="features"
                class="w-full h-full hidden dark:block"
              />
            </figure>
            <figure
              data-ns-animate
              data-delay="0.7"
              class="w-full md:max-w-[500px] lg:max-w-[400px] xl:max-w-[500px]"
            >
              <img
                src="./images/ns-img-158.png"
                alt="features"
                class="w-full dark:hidden"
              />
              <img
                src="./images/ns-img-dark-112.png"
                alt="features"
                class="w-full hidden dark:block"
              />
            </figure>
            <figure
              data-ns-animate
              data-delay="0.9"
              data-duration="2.7"
              data-spring
              class="absolute bottom-0 md:bottom-1/12 left-[40%] md:left-[62%] max-w-[200px] md:max-w-[265px] lg:max-w-[250px] xl:max-w-[333px] w-full rounded-[10px] overflow-hidden"
            >
              <img
                src="./images/ns-img-159.png"
                alt="features"
                class="size-full dark:hidden"
              />
              <img
                src="./images/ns-img-dark-113.png"
                alt="features"
                class="size-full hidden dark:block"
              />
            </figure>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-5">
        <div class="space-y-8">
          <div class="space-y-5">
            <span data-ns-animate data-delay="0.2" class="badge badge-green">
              Reasons to select us
            </span>
            <div class="space-y-3">
              <h2 data-ns-animate data-delay="0.3">
                Why <span class="text-primary-500">thousands trust </span> us to build their apps
              </h2>
            </div>
          </div>
          <div>
            <ul class="space-y-2">
              <li data-ns-animate data-delay="0.4" class="p-2 flex items-center gap-4">
                <span class="ns-shape-8 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  No coding or technical skills required
                </span>
              </li>
              <li data-ns-animate data-delay="0.5" class="p-2 flex items-center gap-4">
                <span class="ns-shape-9 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Intuitive interface built for speed
                </span>
              </li>
              <li data-ns-animate data-delay="0.6" class="p-2 flex items-center gap-4">
                <span class="ns-shape-12 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Affordable plans for every stage
                </span>
              </li>
              <li data-ns-animate data-delay="0.7" class="p-2 flex items-center gap-4">
                <span class="ns-shape-21 text-[36px] text-secondary dark:text-accent"></span>
                <span class="text-tagline-1 font-medium text-secondary dark:text-accent">
                  Built-in hosting and app publishing
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
