<!-- =========================
Hero section
===========================-->
<section class="pt-[150px] md:pt-[190px] lg:pt-[230px] overflow-hidden relative">
  <div
    class="absolute top-20 z-[-1] left-1/2 -translate-x-1/2"
    data-ns-animate
    data-delay="0.3"
    data-offset="20"
  >
    <img
      src="./images/ns-img-150.png"
      alt="Hero background pattern"
      class="dark:hidden"
    />
    <img
      src="./images/ns-img-dark-104.png"
      alt="Hero background pattern"
      class="hidden dark:inline-block"
    />
  </div>
  <div class="main-container relative z-10">
    <div class="flex flex-col items-center justify-center mb-14">
      <div class="max-w-[1075px] mb-14 space-y-4 w-full mx-auto text-center">
        <h1 data-ns-animate data-delay="0.2">
          Build <span class="text-primary-500">powerful apps</span> without writing a single line of
          code
        </h1>
        <p data-ns-animate data-delay="0.3" class="max-w-[650px] mx-auto">
          Whether you're launching a new startup, digitizing internal workflows, or building an MVP,
          App Builder gives you all the tools you need—no developers required.
        </p>
      </div>
      <ul
        class="flex flex-col max-md:items-center text-center max-md:justify-center md:flex-row gap-4 w-[90%] md:w-auto"
      >
        <li
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./app-builder-login.html"
            class="btn btn-xl btn-secondary dark:btn-accent hover:btn-white w-[90%] md:w-auto dark:hover:btn-white-dark"
            aria-label="Start building free"
          >
            <span>Start building free</span>
          </a>
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <button
            class="modal-action btn btn-xl dark:btn-white-dark hover:btn-secondary btn-white dark:hover:btn-accent w-[90%] md:w-auto"
            aria-label="Watch demo video"
          >
            <span>Watch demo video</span>
          </button>
        </li>
      </ul>
    </div>
    <figure data-ns-animate data-delay="0.6" data-offset="100" class="max-w-[1290px] w-full">
      <img
        src="./images/ns-img-151.png"
        alt="hero-image"
        class="dark:hidden size-full object-cover scale-[150%] md:scale-100"
      />
      <img
        src="./images/ns-img-dark-105.png"
        alt="hero-image"
        class="hidden dark:block size-full object-cover scale-[150%] md:scale-100"
      />
    </figure>
  </div>
</section>
