<!-- =========================
Publish section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[150px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[150px] bg-background-3 dark:bg-background-7"
>
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.2"
      class="rounded-[32px] bg-secondary dark:bg-background-8 relative py-[100px] overflow-hidden"
    >
      <!-- publish section bg  -->
      <figure
        data-ns-animate
        data-delay="0.9"
        data-duration="1.3"
        data-offset="200"
        class="absolute max-w-[1290px] max-h-[1137px] h-full w-full left-1/2 -translate-x-1/2 max-lg:w-[600px] max-lg:h-[600px] -bottom-[350px] md:-bottom-[80px] lg:-bottom-[720px] xl:-bottom-[620px] select-none pointer-events-none"
      >
        <img src="./images/ns-img-537.png" alt="publish gradient" class="size-full object-cover" />
      </figure>
      <div class="text-center max-w-[900px] sm:mx-auto relative mb-[70px] z-0 mx-5">
        <figure class="absolute animate-pulse left-1/2 -top-5 -translate-x-1/2 -z-1">
          <img src="./images/ns-img-hero-dot-bg.png" alt="bg star" />
        </figure>

        <span data-ns-animate data-delay="0.2" class="badge badge-blur text-ns-yellow mb-5">
          Publish
        </span>
        <h2 data-ns-animate data-delay="0.3" class="mb-3 text-white">
          <span class="text-primary-500">Publish your app </span> to any platform
        </h2>
        <p data-ns-animate data-delay="0.4" class="mb-6 text-accent/60">
           Join thousands of creators using App Builder to launch their ideas.
        </p>
      </div>
      <div
        class="max-w-[900px] mx-auto relative flex items-center justify-center z-0 py-[100px] overflow-hidden"
      >
        <div
          data-ns-animate
          data-delay="0.4"
          class="bg-white max-w-[310px] rounded-[20px] md:p-8 p-4 flex flex-col items-center justify-center space-y-6"
        >
          <div class="space-y-2 text-center">
            <figure class="max-w-[246px] w-full rounded-2xl overflow-hidden">
              <img
                src="./images/ns-img-191.svg"
                alt="qr-code"
                class="size-full object-cover dark:hidden"
              />
              <img
                src="./images/ns-img-dark-130.svg"
                alt="qr-code"
                class="size-full object-cover hidden dark:block"
              />
            </figure>
            <p class="text-secondary/60">Scan the QR code to start!</p>
          </div>
          <div class="space-y-3 w-full md:w-auto">
            <a
              href="#"
              class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black flex items-center justify-center gap-2"
            >
              <figure class="lg:size-12 size-8">
                <img
                  class="w-full h-full object-contain"
                  src="./images/icons/apple-dark.svg"
                  alt="Apple logo"
                />
              </figure>
              <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1 mt-1">
                Apple Store
              </span>
            </a>
            <a
              href="#"
              class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black flex items-center justify-center gap-2"
            >
              <figure class="lg:size-12 size-8">
                <img
                  class="w-full h-full object-contain"
                  src="./images/icons/google-playstore.svg"
                  alt="Google Play logo"
                />
              </figure>
              <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1">
                Google Play
              </span>
            </a>
          </div>
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          class="opacity-20 absolute left-1/2 -translate-x-1/2 top-0 w-fit -z-1"
        >
          <div
            class="rounded-full p-[83px] border border-primary-200/60 bg-primary-100/10 opacity-60"
          >
            <div
              class="rounded-full p-17 border border-primary-200/60 bg-primary-100/10 opacity-60"
            >
              <div
                class="rounded-full p-[75px] border border-primary-200/60 bg-primary-100/10 opacity-60"
              >
                <div
                  class="rounded-full w-[150px] h-[150px] md:w-[200px] md:h-[200px] lg:w-[266px] lg:h-[266px] border border-primary-200/60 bg-primary-100/10 opacity-60"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
