<section class="md:pt-[192px] pt-[140px] pb-28">
  <div class="main-container">
    <div class="md:space-y-[70px] space-y-[50px]">
      <h1
        data-ns-animate
        data-delay="0.1"
        class="md:text-heading-2 text-heading-3 font-normal max-w-[700px] mx-auto text-center"
      >
        Relied upon by over 100,000 top GTM teams.
      </h1>

      <div
        data-ns-animate
        data-delay="0.2"
        class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 w-full"
      >
        <!-- logo one  -->
        <figure
          class="flex items-center group justify-center p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7"
        >
          <img
            src="./images/icons/hotjar.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/hotjar-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo two  -->
        <figure
          class="flex items-center group justify-center p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 md:border-l-0 md:border-t border-t-0"
        >
          <img
            src="./images/icons/dropbox-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/dropbox-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo three  -->
        <figure
          class="flex items-center group justify-center p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 md:border-l-0 md:border-t border-t-0"
        >
          <img
            src="./images/icons/stripe.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/stripe-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo four  -->
        <figure
          class="flex items-center group justify-center p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 lg:border-l-0 lg:border-t border-t-0"
        >
          <img
            src="./images/icons/spotify.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/spotify-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo five  -->
        <figure
          class="flex items-center group justify-center p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l md:border-l-0"
        >
          <img
            src="./images/icons/discord.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/discord-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo six  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/squarespace.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/squarespace-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo seven  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l-0"
        >
          <img
            src="./images/icons/asana-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/asana-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo eight  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/notion-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/notion-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo nine  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l md:border-l-0"
        >
          <img
            src="./images/icons/scapic.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/scapic-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo ten  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l-0"
        >
          <img
            src="./images/icons/hotjar.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/hotjar-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo eleven  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/spotify.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/spotify-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo twelve  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/squarespace.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/squarespace-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo thirteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0"
        >
          <img
            src="./images/icons/squarespace.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/squarespace-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo fourteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/stripe.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/stripe-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo fifteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0 border-l"
        >
          <img
            src="./images/icons/discord.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/discord-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo sixteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l-0"
        >
          <img
            src="./images/icons/dropbox-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/dropbox-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo seventeen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 border-l lg:border-l md:border-l-0"
        >
          <img
            src="./images/icons/scapic.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/scapic-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo eighteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0"
        >
          <img
            src="./images/icons/hotjar.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/hotjar-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo nineteen  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 lg:border-l-0"
        >
          <img
            src="./images/icons/notion-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/notion-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
        <!-- logo twenty  -->
        <figure
          class="flex items-center justify-center group p-[30px] md:max-w-[322.5px] w-full border border-stroke-1 dark:border-stroke-7 border-t-0 md:border-l-0"
        >
          <img
            src="./images/icons/asana-v2.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 dark:hidden"
            loading="lazy"
          />
          <img
            src="./images/icons/asana-v2-dark.svg"
            alt="Company logo"
            class="object-cover group-hover:scale-105 transition-transform duration-300 hidden dark:block"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
