<section class="xl:py-28 lg:py-20 py-16">
  <div class="main-container">
    <div class="text-center">
      <h2 data-ns-animate data-delay="0.1" class="text-heading-3">
        Transforming business success with NextSaaS
      </h2>
    </div>
  </div>
  <div class="py-14">
    <div data-ns-animate data-delay="0.2" class="relative mx-auto">
      <div class="logos-marquee-container">
        <div class="flex items-center justify-center gap-8">
          <figure class="w-28 md:w-36 ml-8">
            <img
              src="./images/icons/client-logo-1.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/icons/client-logo-dark-1.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/icons/client-logo-2.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/icons/client-logo-dark-2.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/icons/client-logo-3.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/icons/client-logo-dark-3.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/icons/client-logo-4.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/icons/client-logo-dark-4.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
          <figure class="w-28 md:w-36">
            <img
              src="./images/icons/client-logo-5.svg"
              alt="Client logo"
              class="lg:w-auto inline-block dark:hidden"
            />
            <img
              src="./images/icons/client-logo-dark-5.svg"
              alt="Client logo"
              class="lg:w-auto hidden dark:inline-block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
