<section class="xl:pt-[170px] lg:pt-[140px] pt-[100px] xl:pb-28 lg:pb-20 pb-16">
  <div class="main-container">
    <div class="text-center space-y-6">
      <span data-ns-animate data-delay="0.1" class="badge badge-green-v2"
        >Whitepapers & Insights</span
      >
      <div class="space-y-4">
        <h1 data-ns-animate data-delay="0.2" class="font-normal">
          Deep research. real data.<br />
          actionable SaaS strategies.
        </h1>
        <p data-ns-animate data-delay="0.3">
          Explore our exclusive whitepapers packed with expert insights, case studies, and growth
          playbooks for <br />
          modern SaaS businesses. Stay ahead with knowledge that drives performance.
        </p>
      </div>
    </div>
  </div>
</section>
