<!-- =========================
Feature v1 section
===========================-->
<section class="pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32" aria-label="Features">
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- feature heading  -->
      <div class="space-y-3 text-center">
        <h2 data-ns-animate data-delay="0.3" class="max-w-[814px] mx-auto">
          Everything you need to manage money smarter
        </h2>
        <p data-ns-animate data-delay="0.4" class="max-w-[734px] mx-auto">
          NextSaaS simplifies finance with powerful tools designed for clarity, speed, and growth.
          Whether you’re budgeting, forecasting, or tracking cash flow—our platform keeps you in
          control.
        </p>
      </div>

      <!-- feature cards  -->
      <!-- 1st row cards  -->
      <div class="flex flex-col sm:flex-row items-center justify-center gap-y-8 sm:gap-x-8">
        <!-- card one  -->
        <div data-ns-animate data-delay="0.5" class="space-y-3">
          <!-- card img  -->
          <div class="max-w-[409px] w-full rounded-[20px] bg-white dark:bg-background-5 p-2.5">
            <figure class="overflow-hidden p-4 bg-background-3 dark:bg-background-7 rounded-2xl">
              <img
                src="./images/ns-img-90.png"
                alt="Fast and secure cloud upload feature"
                class="w-full h-full object-cover dark:hidden"
                loading="lazy"
              />
              <img
                src="./images/ns-img-dark-63.png"
                alt="Fast and secure cloud upload feature"
                class="w-full h-full object-cover hidden dark:block"
                loading="lazy"
              />
            </figure>
          </div>

          <!-- card content  -->
          <div class="space-y-1">
            <h3 class="text-heading-5">Fast & secure cloud upload</h3>
            <p>Store, access, and manage data from anywhere.</p>
          </div>
        </div>

        <!-- card two  -->
        <div data-ns-animate data-delay="0.6" class="space-y-3">
          <!-- card img  -->
          <div class="max-w-[409px] w-full rounded-[20px] bg-white dark:bg-background-5 p-2.5">
            <figure class="overflow-hidden p-4 bg-background-3 dark:bg-background-7 rounded-2xl">
              <img
                src="./images/ns-img-91.png"
                alt="Automated workflows feature"
                class="w-full h-full object-cover dark:hidden"
                loading="lazy"
              />
              <img
                src="./images/ns-img-dark-64.png"
                alt="Automated workflows feature"
                class="w-full h-full object-cover hidden dark:block"
                loading="lazy"
              />
            </figure>
          </div>

          <!-- card content  -->
          <div class="space-y-1">
            <h3 class="text-heading-5">Automated workflows</h3>
            <p>Store, access, and manage data from anywhere.</p>
          </div>
        </div>

        <!-- card three  -->
        <div data-ns-animate data-delay="0.7" class="space-y-3">
          <!-- card img  -->
          <div class="max-w-[409px] w-full rounded-[20px] bg-white dark:bg-background-5 p-2.5">
            <figure class="overflow-hidden p-4 bg-background-3 dark:bg-background-7 rounded-2xl">
              <img
                src="./images/ns-img-92.png"
                alt="Smart search and AI insights feature"
                class="w-full h-full object-cover dark:hidden"
                loading="lazy"
              />
              <img
                src="./images/ns-img-dark-65.png"
                alt="Smart search and AI insights feature"
                class="w-full h-full object-cover hidden dark:block"
                loading="lazy"
              />
            </figure>
          </div>

          <!-- card content  -->
          <div class="space-y-1">
            <h3 class="text-heading-5">Smart search & AI insights</h3>
            <p>Store, access, and manage data from anywhere.</p>
          </div>
        </div>
      </div>

      <!-- 2nd row cards  -->
      <div class="flex flex-col sm:flex-row items-center justify-center gap-y-8 sm:gap-x-8">
        <!-- card four  -->
        <div data-ns-animate data-delay="0.8" class="space-y-3">
          <!-- card img  -->
          <div class="max-w-[409px] w-full rounded-[20px] bg-white dark:bg-background-5 p-2.5">
            <figure class="overflow-hidden p-4 bg-background-3 dark:bg-background-7 rounded-2xl">
              <img
                src="./images/ns-img-93.png"
                alt="Teamwork and leadership feature"
                class="w-full h-full object-cover dark:hidden"
                loading="lazy"
              />
              <img
                src="./images/ns-img-dark-66.png"
                alt="Teamwork and leadership feature"
                class="w-full h-full object-cover hidden dark:block"
                loading="lazy"
              />
            </figure>
          </div>

          <!-- card content  -->
          <div class="space-y-1">
            <h3 class="text-heading-5">Teamwork & leadership</h3>
            <p>Store, access, and manage data from anywhere.</p>
          </div>
        </div>

        <!-- card five  -->
        <div data-ns-animate data-delay="0.9" class="space-y-3">
          <!-- card img  -->
          <div class="max-w-[409px] w-full rounded-[20px] bg-white dark:bg-background-5 p-2.5">
            <figure class="overflow-hidden p-4 bg-background-3 dark:bg-background-7 rounded-2xl">
              <img
                src="./images/ns-img-94.png"
                alt="Custom dashboards feature"
                class="w-full h-full object-cover dark:hidden"
                loading="lazy"
              />
              <img
                src="./images/ns-img-dark-67.png"
                alt="Custom dashboards feature"
                class="w-full h-full object-cover hidden dark:block"
                loading="lazy"
              />
            </figure>
          </div>

          <!-- card content  -->
          <div class="space-y-1">
            <h3 class="text-heading-5">Custom dashboards</h3>
            <p>Store, access, and manage data from anywhere.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
