<!-- =========================
CTA section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px] {=$class}"
>
  <div class="main-container">
    <div class="text-center">
      <h2 data-ns-animate data-delay="0.1" class="mb-3">
        Experience a free trial today and
        <br class="hidden lg:block" />
        watch your
        <span class="text-primary-500">business grow.</span>
      </h2>
      <p data-ns-animate data-delay="0.2" class="mb-8 lg:max-w-[390px] mx-auto">
        Sign up today to enhance your customer support with our tools and solutions.
      </p>
      <div data-ns-animate data-delay="0.3">
        <Component
          src="src/components/shared/button-v2.htm"
          page-link="{=$page-link}"
          btn-class="btn-md-v2 md:btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
          btn-text="Get started"
        />
      </div>

      <ul
        class="flex flex-wrap max-lg:gap-5 items-center justify-center gap-[42px] {=$button-top-spacing}"
      >
        <li data-ns-animate data-delay="0.4" class="flex gap-3 items-center">
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
            >
              <path
                d="M4.31661 7.25605L9.74905 1.92144C10.0836 1.5959 10.0836 1.0697 9.74905 0.744158C9.41446 0.418614 8.87363 0.418614 8.53904 0.744158L3.7116 5.49012L1.46096 3.28807C1.12636 2.96253 0.585538 2.96253 0.250945 3.28807C-0.0836483 3.61362 -0.0836483 4.13982 0.250945 4.46536L3.1066 7.25605C3.27347 7.41841 3.49253 7.5 3.7116 7.5C3.93067 7.5 4.14974 7.41841 4.31661 7.25605Z"
                fill="white"
              />
            </svg>
          </span>
          <p>No Credit Card Required</p>
        </li>
        <li data-ns-animate data-delay="0.5" class="flex gap-3 items-center">
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
            >
              <path
                d="M4.31661 7.25605L9.74905 1.92144C10.0836 1.5959 10.0836 1.0697 9.74905 0.744158C9.41446 0.418614 8.87363 0.418614 8.53904 0.744158L3.7116 5.49012L1.46096 3.28807C1.12636 2.96253 0.585538 2.96253 0.250945 3.28807C-0.0836483 3.61362 -0.0836483 4.13982 0.250945 4.46536L3.1066 7.25605C3.27347 7.41841 3.49253 7.5 3.7116 7.5C3.93067 7.5 4.14974 7.41841 4.31661 7.25605Z"
                fill="white"
              />
            </svg>
          </span>
          <p>Free For 30 Day Trial.</p>
        </li>
        <li data-ns-animate data-delay="0.6" class="flex gap-3 items-center">
          <span
            class="bg-secondary dark:bg-accent/10 rounded-full size-[18px] flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="8"
              viewBox="0 0 10 8"
              fill="none"
            >
              <path
                d="M4.31661 7.25605L9.74905 1.92144C10.0836 1.5959 10.0836 1.0697 9.74905 0.744158C9.41446 0.418614 8.87363 0.418614 8.53904 0.744158L3.7116 5.49012L1.46096 3.28807C1.12636 2.96253 0.585538 2.96253 0.250945 3.28807C-0.0836483 3.61362 -0.0836483 4.13982 0.250945 4.46536L3.1066 7.25605C3.27347 7.41841 3.49253 7.5 3.7116 7.5C3.93067 7.5 4.14974 7.41841 4.31661 7.25605Z"
                fill="white"
              />
            </svg>
          </span>
          <p>Money Back Guarantee.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
