<!-- ===============
affiliate-program section
================ -->
<section class="lg:pt-[160px] pt-[120px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="main-container">
    <div class="space-y-14 md:space-y-[70px]">
      <div class="md:text-center max-w-[602px] space-y-1.5 md:space-y-3 mx-auto">
        <h2 data-ns-animate data-delay="0.1" data-instant>NextSaaS affiliate program</h2>
        <h3 data-ns-animate data-delay="0.2" data-instant class="text-heading-4">
          Earn up to $200 per referral!
        </h3>
        <p data-ns-animate data-delay="0.3" data-instant>
          Become part of the NextSaaS family by joining our Affiliate Program. Help businesses grow
          while you earn generous commissions — it’s a win-win!
        </p>
        <div data-ns-animate data-delay="0.4" data-instant class="mt-7 md:mt-14">
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-md-v2 md:btn-xl-v2 btn-primary-v2 group-hover/btn-v2:btn-secondary-v2"
            btn-text="Get started"
          />
        </div>
      </div>

      <figure
        data-ns-animate
        data-delay="0.5"
        data-instant
        class="max-w-full rounded-[20px] overflow-hidden"
      >
        <img
          src="./images/ns-img-371.png"
          class="w-full h-full object-cover object-center"
          alt="blog-details-cover"
        />
      </figure>

      <div class="space-y-3 max-w-[830px]">
        <h4 data-ns-animate data-delay="0.1">Why join the NextSaaS affiliate program?</h4>
        <p data-ns-animate data-delay="0.2">
          Our rapidly growing platform, high customer satisfaction, and strong renewal rates make
          promoting <br />
          NextSaaS easy and profitable.
        </p>
        <ul data-ns-animate data-delay="0.3" class="space-y-2">
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-normal before:relative before:content-[''] before:w-1.5 before:h-1.5 before:bg-secondary dark:before:bg-accent before:rounded-full before:left-0 before:-translate-y-1/2 before:mr-1 before:inline-block"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Earn money doing what you love: </strong
            ><span>
              Whether you're an SEO expert, content creator, community leader, or ad specialist,
              there’s an opportunity for you.
            </span>
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-normal before:relative before:content-[''] before:w-1.5 before:h-1.5 before:bg-secondary dark:before:bg-accent before:rounded-full before:left-0 before:-translate-y-1/2 before:mr-1 before:inline-block"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Trusted by businesses worldwide: </strong
            ><span>
              Our solutions are designed to scale, making them attractive for a wide variety of
              clients.
            </span>
          </li>
          <li
            class="text-tagline-1 text-secondary/60 dark:text-accent/60 font-normal before:relative before:content-[''] before:w-1.5 before:h-1.5 before:bg-secondary dark:before:bg-accent before:rounded-full before:left-0 before:-translate-y-1/2 before:mr-1 before:inline-block"
          >
            <strong class="text-secondary dark:text-accent font-medium"
              >Attractive lifetime deals: </strong
            ><span> Make it easier for your audience to invest and grow with NextSaaS. </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
