<!-- client marquee section  -->
<section
  class="xl:py-39 lg:py-28 py-16 relative"
  aria-labelledby="clients-heading"
  itemscope
  itemtype="https://schema.org/Organization"
>
  <div class="main-container">
    <h2
      data-ns-animate
      data-delay="0.1"
      id="clients-heading"
      class="max-w-[800px] 2xl:text-left text-center 2xl:mx-0 mx-auto"
      itemprop="description"
    >
      NextSaaS resumes have helped users land jobs at top companies.
    </h2>
  </div>

  <div data-ns-animate data-delay="0.2">
    <div
      class="logos-marquee-container overflow-hidden mt-14"
      role="img"
      aria-label="Logos of companies where NextSaaS users have found employment"
    >
      <div class="flex items-center justify-center gap-x-14">
        <figure class="shrink-0 w-[135px] h-[45px] ml-14" itemprop="logo">
          <img
            src="./images/icons/scapic-metal.svg"
            alt="Scapic company logo"
            width="135"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[128px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/asana-metal.svg"
            alt="Asana company logo"
            width="128"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[160px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/discord-metal.svg"
            alt="Discord company logo"
            width="160"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[164px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/dropbox-metal.svg"
            alt="Dropbox company logo"
            width="164"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[124px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/hotjar-metal.svg"
            alt="Hotjar company logo"
            width="124"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[148px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/lattice-metal.svg"
            alt="Lattice company logo"
            width="148"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[128px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/notion-metal.svg"
            alt="Notion company logo"
            width="128"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[168px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/outreach-metal.svg"
            alt="Outreach company logo"
            width="168"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[136px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/spotify-metal.svg"
            alt="Spotify company logo"
            width="136"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[250px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/squarespace-metal.svg"
            alt="Squarespace company logo"
            width="250"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
        <figure class="shrink-0 w-[123px] h-[45px]" itemprop="logo">
          <img
            src="./images/icons/stripe-metal.svg"
            alt="Stripe company logo"
            width="123"
            height="45"
            loading="lazy"
            decoding="async"
          />
        </figure>
      </div>
    </div>
  </div>
  <!-- left gradient -->
  <div
    class="2xl:w-[455px] md:w-[150px] w-[80px] h-[80px] sm:h-[130px] absolute left-0 bottom-[20%]"
    style="background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 39.14%)"
    aria-hidden="true"
    role="presentation"
  ></div>
  <!-- right gradient -->
  <div
    class="2xl:w-[455px] md:w-[150px] w-[80px] h-[80px] sm:h-[130px] absolute right-0 bottom-[20%] rotate-180"
    style="background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 39.14%)"
    aria-hidden="true"
    role="presentation"
  ></div>
</section>
