<!-- how it works section   -->
<section
  class="pt-16 lg:pt-22 xl:pt-39 pb-12 md:pb-16 lg:pb-22 xl:pb-28"
  aria-labelledby="how-it-works-heading"
  itemscope
>
  <div class="main-container">
    <div class="space-y-10 md:space-y-12 lg:space-y-14 xl:space-y-19">
      <div class="text-center space-y-3">
        <h2 id="how-it-works-heading" itemprop="name" data-ns-animate data-delay="0.1">
          How it works
        </h2>
        <p class="text-[#323A44]" itemprop="description" data-ns-animate data-delay="0.2">
          Step-by-step Flow
        </p>
      </div>

      <!-- cards  -->
      <div
        class="flex max-xl:flex-wrap items-center justify-center gap-x-3 gap-y-6 relative"
        role="list"
        aria-label="Step-by-step process to use NextSaaS"
      >
        <!-- card one  -->
        <div
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          class="p-10.5 w-full md:max-w-[306px] rounded-[20px] space-y-24 bg-background-3"
          role="listitem"
          itemscope
          itemtype="https://schema.org/HowToStep"
        >
          <h3 class="text-heading-3" itemprop="position" aria-label="Step 1">1</h3>
          <div class="space-y-1">
            <h4 class="text-heading-5" itemprop="name">Sign up</h4>
            <p class="max-w-[190px]" itemprop="text">Get started for free in just a few seconds!</p>
          </div>
        </div>

        <!-- -> line 1  -->
        <div
          data-ns-animate
          data-delay="0.6"
          data-direction="left"
          class="bg-background-3 overflow-hidden z-10 ring-8 ring-white rounded-[80px] py-6 px-2.5 absolute left-[23.5%] -translate-y-1/2 top-1/2 hidden md:block max-w-[44px] w-full"
        >
          <div class="size-6 overflow-hidden icon-right-marquee-container">
            <figure class="size-6 flex items-center justify-center">
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
            </figure>
          </div>
        </div>

        <!-- -> line 2  -->
        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          class="bg-background-3 z-10 ring-8 overflow-hidden ring-white rounded-[80px] py-6 px-2.5 absolute -translate-y-1/2 top-1/2 left-1/2 -translate-x-1/2 hidden lg:block max-w-[44px] w-full"
        >
          <div class="size-6 overflow-hidden icon-right-marquee-container">
            <figure class="size-6 flex items-center justify-center">
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
            </figure>
          </div>
        </div>

        <!-- -> line 3  -->
        <div
          class="bg-background-3 overflow-hidden z-10 ring-8 ring-white rounded-[80px] py-6 px-2.5 absolute right-[23.5%] -translate-y-1/2 top-1/2 hidden md:block max-w-[44px] w-full"
          data-ns-animate
          data-delay="0.8"
          data-direction="left"
        >
          <div class="size-6 overflow-hidden icon-right-marquee-container">
            <figure class="size-6 flex items-center justify-center">
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
              <img
                src="./images/icons/new-arrow.svg"
                alt="new-arrow"
                class="size-full object-cover"
              />
            </figure>
          </div>
        </div>

        <!-- card two  -->
        <div
          data-ns-animate
          data-delay="0.5"
          data-direction="left"
          class="p-10.5 w-full md:max-w-[306px] rounded-[20px] space-y-24 bg-ns-green"
          role="listitem"
          itemscope
          itemtype="https://schema.org/HowToStep"
        >
          <h3 class="text-heading-3" itemprop="position" aria-label="Step 2">2</h3>
          <div class="space-y-1">
            <h4 class="text-heading-5" itemprop="name">Import or start fresh</h4>
            <p class="max-w-[190px]" itemprop="text">
              Upload your resume or paste your LinkedIn profile.
            </p>
          </div>
        </div>

        <!-- card three  -->
        <div
          data-ns-animate
          data-delay="0.7"
          data-direction="left"
          class="p-10.5 w-full md:max-w-[306px] rounded-[20px] space-y-24 bg-background-3"
          role="listitem"
          itemscope
          itemtype="https://schema.org/HowToStep"
        >
          <h3 class="text-heading-3" itemprop="position" aria-label="Step 3">3</h3>
          <div class="space-y-1">
            <h4 class="text-heading-5" itemprop="name">Paste the job details</h4>
            <p class="max-w-[190px]" itemprop="text">Let AI help you jazz up your resume!</p>
          </div>
        </div>

        <!-- card four  -->
        <div
          data-ns-animate
          data-delay="0.8"
          data-direction="left"
          class="p-10.5 w-full md:max-w-[306px] rounded-[20px] space-y-24 bg-ns-green"
          role="listitem"
          itemscope
          itemtype="https://schema.org/HowToStep"
        >
          <h3 class="text-heading-3" itemprop="position" aria-label="Step 4">4</h3>
          <div class="space-y-1">
            <h4 class="text-heading-5" itemprop="name">Apply & track</h4>
            <p itemprop="text">Submit applications and track your progress all in one place.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-14 flex items-center justify-center" data-ns-animate>
      <div class="w-[90%] sm:w-auto">
        <Component
          src="src/components/shared/button-v2.htm"
          page-link="./ai-resume-builder-signup.html"
          btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
          btn-text="Get started now"
        />
      </div>
    </div>
  </div>
</section>
