<!-- =========================
Learn Banner section
===========================-->
<section class="xl:pt-[170px] pt-[140px] pb-[100px] md:pb-[200px]">
  <div class="main-container">
    <div class="flex flex-col lg:flex-row items-center lg:gap-[100px] gap-y-14">
      <div
        class="flex-1 space-y-14 max-w-[540px] mx-auto lg:mx-0 lg:max-w-full text-center lg:text-left"
      >
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.1">
            Built for your business. Adapted to your workflow.
          </h2>
          <p data-ns-animate data-delay="0.2">
            NextSaaS is designed to serve a wide range of teams and industries. Whether you’re
            managing data, scaling operations, optimizing finances, or streamlining customer
            experiences—NextSaaS is the platform that grows with you.
          </p>
        </div>

        <div data-ns-animate data-delay="0.3" data-instant>
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="{=$page-link}"
            btn-class="btn-xl-v2 btn-primary-v2 group-hover/btn-v2:btn-secondary-v2"
            btn-text="Explore the platform"
          />
        </div>
      </div>
      <div class="flex-1">
        <figure
          data-ns-animate
          data-delay="0.3"
          class="opacity-0 max-w-[596px] w-full rounded-[20px] overflow-hidden"
        >
          <img
            src="./images/ns-img-385.png"
            class="w-full h-full object-cover"
            alt="learn banner"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
