<!-- =========================
Benefits section
===========================-->
<section class="py-[100px]">
  <div class="main-container">
    <!-- Benefits Section -->
    <div class="flex flex-col gap-x-[70px] items-center md:flex-row-reverse justify-between">
      <div class="w-full md:w-1/2">
        <div class="mb-13">
          <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">Benefits</span>
          <h2 data-ns-animate data-delay="0.3" class="text-heading-2 mb-3">
            Meet customers where they are
          </h2>
          <p data-ns-animate data-delay="0.4" class="lg:max-w-[596px]">
            Deliver fast, seamless interactions with our AI-powered messaging platform—instant
            support, automated responses, and reduced wait times for meaningful engagement.
          </p>
        </div>
        <ul class="list-none">
          <li data-ns-animate data-delay="0.5" class="flex items-center gap-3 py-2">
            <div>
              <span class="ns-shape-8 text-[36px] text-secondary dark:text-accent"></span>
            </div>
            <div>
              <p class="font-medium text-secondary dark:text-accent">Loyality</p>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60">
                Strengthen customer relationships with contextual, real-time conversations.
              </p>
            </div>
          </li>
          <li data-ns-animate data-delay="0.6" class="flex items-center gap-3 py-2">
            <div>
              <span class="ns-shape-46 text-[36px] text-secondary dark:text-accent"></span>
            </div>

            <div>
              <p class="font-medium text-secondary dark:text-accent">Speed</p>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60">
                Automate routine queries and let agents step in when needed.
              </p>
            </div>
          </li>
          <li data-ns-animate data-delay="0.7" class="flex items-center gap-3 py-2">
            <div>
              <span class="ns-shape-47 text-[36px] text-secondary dark:text-accent"></span>
            </div>

            <div>
              <p class="font-medium text-secondary dark:text-accent">Personalization</p>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60">
                Use customer data to initiate tailored, interactive conversations.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <!-- Features Image -->
      <div class="relative w-full md:w-1/2">
        <figure data-ns-animate data-delay="0.4" class="max-w-[452px] h-auto justify-self-end">
          <img
            src="./images/ns-img-30.png"
            alt="features Images"
            class="w-full h-full object-cover object-center block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-11.png"
            alt="features Images"
            class="w-full h-full object-cover object-center hidden dark:block"
          />
        </figure>

        <div class="absolute flex flex-col items-center z-20 top-[55%] -left-[8.5%]">
          <figure
            data-ns-animate
            data-delay="0.5"
            class="max-w-[320px] rounded-2xl overflow-hidden self-end h-[74px]"
          >
            <img
              src="./images/ns-img-36.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-17.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.6"
            class="max-w-[320px] rounded-2xl overflow-hidden h-[74px] my-3"
          >
            <img
              src="./images/ns-img-37.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-18.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-3 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.7"
            class="max-w-[300px] rounded-2xl overflow-hidden relative z-40 max-h-[72px]"
          >
            <img
              src="./images/ns-img-38.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-19.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.8"
            class="max-w-[280px] rounded-2xl overflow-hidden max-h-[72px] -mt-[37px] z-30"
          >
            <img
              src="./images/ns-img-39.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-20.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.9"
            class="max-w-[260px] rounded-2xl overflow-hidden max-h-[72px] -mt-[37px] z-20"
          >
            <img
              src="./images/ns-img-40.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-21.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="1"
            class="max-w-[240px] rounded-2xl overflow-hidden max-h-[72px] -mt-[37px]"
          >
            <img
              src="./images/ns-img-41.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover block dark:hidden"
            />
            <img
              src="./images/ns-img-dark-22.png"
              alt="Sub features"
              class="w-full h-auto object-center shadow-2 object-cover hidden dark:block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
