<!-- =========================
Feature  section
===========================-->

<section
  class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] overflow-hidden xl:pt-[180px] md:pt-42 sm:pt-36 pt-32"
>
  <div class="main-container space-y-14 md:space-y-[70px]">
    <div class="space-y-3 text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5"
        >Passion meets purpose</span
      >
      <h2
        data-ns-animate
        data-delay="0.3"
        class="xl:text-heading-1 font-medium lg:max-w-[980px] mx-auto"
      >
        Engineered for advancement. Crafted for potential.
      </h2>
      <p data-ns-animate data-delay="0.4" class="lg:max-w-[904px] mx-auto">
        At NextSaaS, we create tools that simplify your work, scale with your growth, and bring
        clarity to complexity. From streamlining operations to unlocking insights, our platform is
        built to support your entire journey—from startup to enterprise.
      </p>
    </div>

    <!-- Features Grid -->
    <div
      class="flex flex-col-reverse gap-y-7 gap-x-4 md:flex-row justify-around items-start md:items-center lg:items-end 2xl:justify-evenly"
    >
      <!-- Left Column Images -->
      <article
        aria-label="Feature supporting images"
        class="space-y-[25px] flex flex-row max-md:gap-2 max-md:justify-between md:flex-col items-center md:hidden lg:block"
      >
        <figure
          data-ns-animate
          data-delay="0.4"
          data-duration="2.8"
          data-spring
          data-direction="left"
          class="max-w-[254px] rounded-2xl shadow-5 overflow-hidden max-h-[250px]"
        >
          <img
            src="./images/ns-img-362.svg"
            class="size-full shadow-5 object-cover block dark:hidden"
            alt="Sales performance visualization"
            loading="lazy"
          />
          <img
            src="./images/ns-img-dark-209.svg"
            class="size-full shadow-5 object-cover hidden dark:block"
            alt="Sales performance visualization"
            loading="lazy"
          />
        </figure>

        <figure
          data-ns-animate
          data-delay="0.5"
          data-duration="2.2"
          data-spring
          class="max-w-[143px] rounded-2xl shadow-2 overflow-hidden max-h-[110px]"
        >
          <img
            src="./images/ns-img-363.png"
            class="size-full object-cover block dark:hidden"
            alt="Sales Asset"
          />
          <img
            src="./images/ns-img-364.png"
            class="size-full object-cover hidden dark:block"
            alt="Sales Asset"
          />
        </figure>
      </article>

      <!-- Center Main Feature Image -->
      <figure
        data-ns-animate
        data-delay="0.5"
        data-direction="up"
        aria-label="Main feature visualization"
        class="max-w-[630px] max-h-[564px]"
      >
        <img
          src="./images/ns-img-365.png"
          alt="Main platform feature visualization"
          loading="lazy"
          class="size-full object-cover"
        />
      </figure>

      <!-- Right Column  Balance -->
      <article class="space-y-[37px] max-md:w-full">
        <figure data-ns-animate data-delay="0.5" data-spring data-duration="2.2">
          <img src="./images/ns-img-66.svg" alt="Achievement badge" loading="lazy" />
        </figure>

        <!-- Investment  -->
        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="right"
          class="flex items-start flex-col bg-secondary dark:bg-accent w-full md:w-[148px] h-auto md:h-[91px] gap-1 p-4 rounded-2xl"
        >
          <h3 class="text-tagline-2 text-accent dark:text-secondary font-normal">
            Investment target
          </h3>
          <h3
            class="text-heading-5 flex items-center justify-center gap-0.5 text-ns-green dark:text-secondary font-normal"
          >
            <span
              data-counter
              data-number="76"
              data-speed="1000"
              data-interval="180"
              data-rooms="2"
              data-height-space="2.6"
              >76</span
            >%
          </h3>
        </div>

        <!-- Balance Card -->
        <div
          data-ns-animate
          data-delay="0.6"
          data-direction="right"
          class="bg-white dark:bg-black rounded-2xl p-6 max-w-full md:max-w-[288px] min-w-full md:min-w-[288px]"
        >
          <div class="text-left">
            <span class="text-tagline-2 font-normal text-secondary dark:text-accent">Balance</span>
            <h3 class="text-[40px] flex items-center font-normal leading-[1.2] mt-2 mb-[30px]">
              $<span
                data-counter
                data-number="45324"
                data-speed="1000"
                data-interval="180"
                data-rooms="5"
                data-height-space="2.2"
                >45,324</span
              >
            </h3>
          </div>

          <div class="flex gap-3">
            <!-- Income Card -->
            <div
              class="bg-background-4 dark:bg-background-9 rounded-xl p-4 space-y-2 flex-1 text-left"
            >
              <div
                class="flex items-center justify-start gap-2 text-tagline-2 text-secondary dark:text-accent"
              >
                <span
                  class="bg-ns-red flex items-center justify-center rounded-full size-[18px] p-1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8"
                    height="9"
                    viewBox="0 0 8 9"
                    fill="none"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <path
                      d="M7.8842 4.49692C7.81538 4.42054 7.72089 4.37564 7.62101 4.37185C7.51393 4.36976 7.41095 4.41514 7.33717 4.49692L4.39555 7.59633L4.39555 0.407818C4.39277 0.18381 4.2211 0.00292873 4.0085 0C3.79589 0.00292873 3.62422 0.18381 3.62144 0.407818L3.62144 7.59633L0.679823 4.49692C0.581182 4.39007 0.435935 4.34679 0.298794 4.38337C0.161654 4.41996 0.0534544 4.53085 0.0149541 4.67428C-0.0235462 4.81771 0.0135021 4.97189 0.112143 5.07873L3.72465 8.88503C3.87798 9.03832 4.11836 9.03832 4.27169 8.88503L7.8842 5.07873C7.95828 5.00206 8 4.89724 8 4.78783C8 4.67841 7.95828 4.57359 7.8842 4.49692Z"
                      fill="#1A1A1C"
                    />
                  </svg>
                </span>
                Income
              </div>
              <div class="text-lg flex items-center font-medium leading-[1.5] dark:text-accent">
                $<span
                  data-counter
                  data-number="48000"
                  data-speed="1000"
                  data-interval="180"
                  data-rooms="5"
                  data-height-space="2.5"
                  >48,000</span
                >
              </div>
            </div>

            <!-- Expenses Card -->
            <div
              class="bg-background-4 dark:bg-background-9 rounded-xl p-4 space-y-2 flex-1 text-left"
            >
              <div
                class="flex items-center justify-start gap-2 text-tagline-2 text-secondary dark:text-accent"
              >
                <span
                  class="bg-ns-green flex items-center justify-center rounded-full size-[18px] p-1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8"
                    height="9"
                    viewBox="0 0 8 9"
                    fill="none"
                    aria-hidden="true"
                    focusable="false"
                  >
                    <path
                      d="M7.8842 4.50308C7.81538 4.57946 7.72089 4.62436 7.62101 4.62815C7.51393 4.63024 7.41095 4.58486 7.33717 4.50308L4.39555 1.40367L4.39555 8.59218C4.39277 8.81619 4.2211 8.99707 4.0085 9C3.79589 8.99707 3.62422 8.81619 3.62144 8.59218L3.62144 1.40367L0.679823 4.50308C0.581182 4.60993 0.435935 4.65321 0.298794 4.61663C0.161654 4.58004 0.0534544 4.46915 0.0149541 4.32572C-0.0235462 4.18229 0.0135021 4.02811 0.112143 3.92127L3.72465 0.114967C3.87798 -0.0383222 4.11836 -0.0383222 4.27169 0.114967L7.8842 3.92127C7.95828 3.99794 8 4.10276 8 4.21217C8 4.32159 7.95828 4.42641 7.8842 4.50308Z"
                      fill="#1A1A1C"
                    />
                  </svg>
                </span>
                Expenses
              </div>
              <div class="text-lg flex items-center font-medium leading-[1.5] dark:text-accent">
                $<span
                  data-counter
                  data-number="2321"
                  data-speed="1000"
                  data-interval="180"
                  data-rooms="5"
                  data-height-space="2.5"
                  >2,321</span
                >
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
