<!-- ========================
Our Vision Section
======================== -->

<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[100px] xl:pt-[100px]"
>
  <div class="main-container space-y-16 md:space-y-[100px]">
    <div class="space-y-3 text-center">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan mb-5">Our vision</span>
      <h2 data-ns-animate data-delay="0.3">Motivated by Intent, steered by insight</h2>
      <p data-ns-animate data-delay="0.4" class="max-w-[806px] mx-auto">
        Every great journey begins with a clear purpose—and it’s that sense of intent that drives
        everything we do. But purpose alone isn’t enough. To truly make meaningful progress, we
        combine our motivation with sharp
      </p>
    </div>

    <!--  -->
    <div class="grid grid-cols-12 xl:gap-x-24 gap-y-14">
      <div class="col-span-12 xl:col-span-8">
        <figure
          data-ns-animate
          data-delay="0.5"
          class="lg:max-w-[780px] lg:min-h-[424px] rounded-4xl overflow-hidden mx-auto"
        >
          <img
            src="./images/ns-img-124.png"
            alt="hero image"
            class="w-full block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-93.png"
            alt="hero image"
            class="w-full hidden dark:block"
          />
        </figure>
      </div>
      <div class="col-span-12 xl:col-span-4">
        <div
          class="relative w-full h-full max-lg:flex max-[400px]:flex-wrap gap-4 max-[400px]:justify-start max-lg:justify-between"
        >
          <figure
            data-ns-animate
            data-delay="0.6"
            class="size-[140px] rounded-2xl lg:absolute lg:top-0 lg:left-11 overflow-hidden"
          >
            <img
              src="./images/ns-img-359.png"
              alt="Vision Avatar"
              class="w-full h-full object-cover"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.7"
            class="size-[140px] rounded-2xl lg:absolute lg:top-[41%] lg:right-[14%] overflow-hidden"
          >
            <img
              src="./images/ns-img-360.png"
              alt="Vision Avatar"
              class="w-full h-full object-cover"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.8"
            class="size-[140px] rounded-2xl lg:absolute lg:-bottom-22 xl:bottom-0 lg:left-96 xl:left-0 overflow-hidden"
          >
            <img
              src="./images/ns-img-361.png"
              alt="Vision Avatar"
              class="w-full h-full object-cover"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
