<!-- ========================
Our Mission Section
======================== -->

<section class="pb-20 pt-14 md:pb-28 md:pt-16 lg:pb-44 lg:pt-[88px] xl:pb-[200px] xl:pt-[100px]">
  <div class="main-container">
    <div class="grid grid-cols-12 gap-y-14 xl:gap-x-28 items-center">
      <div class="col-span-12 lg:col-span-6 mx-4 xl:mx-0">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.1" class="badge badge-cyan mb-5">Our Mission</span>
          <h2 data-ns-animate data-delay="0.2">
            Empowering teams to collaborate and thrive with intelligent
          </h2>
          <p data-ns-animate data-delay="0.4">
            In today’s fast-paced, digitally connected world, successful teams rely on more than
            just talent—they thrive on intelligent collaboration.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="col-span-12 lg:col-span-6 relative mx-4 xl:mx-0">
        <!-- Business Growth Card -->
        <figure
          data-ns-animate
          data-delay="0.5"
          data-spring
          data-duration="2.5"
          class="absolute max-w-[360px] z-20 overflow-hidden left-1/2 -translate-x-1/2 top-[78%] rounded-[12px]"
        >
          <img
            src="./images/ns-img-366.png"
            alt="business growth card"
            class="h-full w-full block dark:hidden"
          />
          <img
            src="./images/ns-img-dark-210.png"
            alt="business growth card"
            class="h-full w-full hidden dark:block"
          />
        </figure>

        <div
          data-ns-animate
          data-delay="0.6"
          class="p-[26px] backdrop-blur-[20px] bg-white/60 dark:bg-background-8 shadow-2 min-h-[380px] rounded-[20px] h-full overflow-hidden relative z-10 flex items-center justify-center"
        >
          <!-- gradient bg -->
          <figure
            data-ns-animate
            data-delay="0.7"
            class="absolute select-none pointer-events-none max-[376px]:bottom-[-45%] bottom-[-54%] md:bottom-[-112%] lg:bottom-[-80%] right-[-33%] md:right-[-30%] xl:bottom-[-90%] xl:right-[-32%] max-w-[500px] md:max-w-[700px] w-full -z-10 rotate-180"
          >
            <img
              src="./images/ns-img-496.png"
              alt="hero author bg"
              class="size-full object-cover"
            />
          </figure>

          <div class="text-center -mt-20">
            <div class="flex items-center justify-center gap-4 mb-4">
              <div class="flex -space-x-3.5 group">
                <figure
                  class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[156deg,_#FFF_32.92%,_#A585FF_91%] overflow-hidden relative"
                >
                  <img src="./images/ns-avatar-1.png" alt="avatar" class="max-w-full" />
                  <img
                    src="./images/ns-author-avatar-bg.png"
                    alt="avatar"
                    class="absolute top-0 left-0 -z-10"
                  />
                </figure>
                <figure
                  class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[156deg,_#FFF_32.92%,_#A585FF_91%] overflow-hidden relative"
                >
                  <img src="./images/ns-avatar-2.png" alt="avatar" class="max-w-full" />
                  <img
                    src="./images/ns-author-avatar-bg.png"
                    alt="avatar"
                    class="absolute top-0 left-0 -z-10"
                  />
                </figure>
                <figure
                  class="inline-block size-11 rounded-full ring-3 ring-white bg-linear-[156deg,_#FFF_32.92%,_#A585FF_91%] overflow-hidden relative"
                >
                  <img src="./images/ns-avatar-3.png" alt="avatar" class="max-w-full" />
                  <img
                    src="./images/ns-author-avatar-bg.png"
                    alt="avatar"
                    class="absolute top-0 left-0 -z-10"
                  />
                </figure>
                <div
                  class="inline-flex overflow-hidden items-center justify-center size-12 rounded-full ring-3 ring-white text-secondary/80 bg-ns-yellow text-tagline-3 font-medium relative z-10"
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500"
                  >
                    <path
                      d="M6 18L18 6"
                      stroke="#1A1A1C"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M8.25 6H18V15.75"
                      stroke="#1A1A1C"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                  <!--  -->
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute translate-y-6 -translate-x-12 transition-all duration-500 group-hover:-translate-x-[1px] group-hover:-translate-y-[2%]"
                  >
                    <path
                      d="M6 18L18 6"
                      stroke="#1A1A1C"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M8.25 6H18V15.75"
                      stroke="#1A1A1C"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <h6 class="mb-1 text-secondary dark:text-accent text-xl font-normal leading-[1 .5]">
              20k+ global investment
            </h6>
            <p class="text-secondary/60 dark:text-accent/60">
              Get Global Investment policy in the year
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
