<!-- =========================
Sign Up hero v4 section
===========================-->
<section class="lg:pt-[180px] pt-[120px] lg:pb-[100px] pb-[70px]">
  <div class="main-container">
    <div class="lg:max-w-[930px] max-w-[400px] mx-auto w-full">
      <div
        class="bg-white dark:bg-black md:rounded-4xl rounded-[20px] overflow-hidden flex items-center lg:gap-16 py-2.5 pr-2.5"
      >
        <div data-ns-animate data-delay="0.1" class="lg:max-w-[400px] w-full py-14 px-8">
          <form>
            <fieldset class="space-y-2 mb-4">
              <label
                for="username"
                class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
              >
                Username
              </label>
              <input
                type="text"
                id="username"
                class="auth-form-input"
                placeholder="Your unique identifier"
              />
            </fieldset>
            <fieldset class="space-y-2 mb-4">
              <label
                for="email"
                class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
              >
                Your email
              </label>
              <input type="email" id="email" class="auth-form-input" placeholder="Email address" />
            </fieldset>
            <fieldset class="space-y-2 mb-4">
              <label
                for="password"
                class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
              >
                Password
              </label>
              <input
                type="password"
                id="password"
                class="auth-form-input"
                placeholder="At least 8 characters"
              />
            </fieldset>
            <fieldset class="space-y-2 mb-8">
              <label
                for="confirm-password"
                class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
              >
                Confirm Password
              </label>
              <input
                type="password"
                id="confirm-password"
                class="auth-form-input"
                placeholder="Re-enter your password"
              />
            </fieldset>
            <div>
              <button
                type="submit"
                class="btn btn-md btn-primary hover:btn-secondary dark:hover:btn-accent w-full before:content-none first-letter:uppercase"
              >
                Sign Up
              </button>
            </div>
          </form>
          <div class="py-8 text-center">
            <p class="text-tagline-2 font-normal text-secondary dark:text-accent">Or</p>
          </div>
          <div>
            <div class="flex items-center justify-center gap-2">
              <button
                class="flex items-center justify-center gap-2 w-full bg-background-4 dark:bg-background-6 p-4 rounded-full cursor-pointer hover:-translate-y-1.5 transition-transform ease-in-out duration-500"
              >
                <span class="size-6 block">
                  <img src="./images/icons/google.svg" alt="google" class="size-full" />
                </span>
              </button>
              <button
                class="flex items-center justify-center gap-2 w-full bg-background-4 dark:bg-background-6 p-4 rounded-full cursor-pointer hover:-translate-y-1.5 transition-transform ease-in-out duration-500"
              >
                <span class="size-6 block">
                  <img src="./images/icons/facebook-v2.svg" alt="facebook" class="size-full" />
                </span>
              </button>
              <button
                class="flex items-center justify-center gap-2 w-full bg-background-4 dark:bg-background-6 p-4 rounded-full cursor-pointer hover:-translate-y-1.5 transition-transform ease-in-out duration-500"
              >
                <span class="size-6 block">
                  <img src="./images/icons/apple.svg" alt="apple" class="size-full dark:invert" />
                </span>
              </button>
              <button
                class="flex items-center justify-center gap-2 w-full bg-background-4 dark:bg-background-6 p-4 rounded-full cursor-pointer hover:-translate-y-1.5 transition-transform ease-in-out duration-500"
              >
                <span class="size-6 block">
                  <img src="./images/icons/microsoft.svg" alt="microsoft" class="size-full" />
                </span>
              </button>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.2" data-direction="up" class="hidden lg:block">
          <figure class="max-w-[456px] h-[665px] w-full rounded-[20px] overflow-hidden">
            <img src="./images/ns-img-374.jpg" alt="login-bg" class="size-full object-cover" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
