<!-- =========================
Sign Up hero v2 section
===========================-->
<section class="lg:pt-[180px] pt-[120px] lg:pb-[100px] pb-[70px]">
  <div class="main-container">
    <div
      data-ns-animate
      data-delay="0.1"
      class="max-w-[866px] w-full mx-auto overflow-hidden sm:bg-[url('/images/ns-img-375.jpg')] bg-cover bg-center bg-no-repeat md:rounded-4xl rounded-[20px] sm:p-[70px]"
    >
      <div
        data-ns-animate
        data-delay="0.1"
        class="max-w-[400px] bg-background-1 dark:bg-background-6 rounded-[20px] py-14 px-8"
      >
        <form>
          <fieldset class="space-y-2 mb-4">
            <label
              for="username"
              class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
            >
              Username
            </label>
            <input
              type="text"
              id="username"
              class="auth-form-input"
              placeholder="Your unique identifier"
            />
          </fieldset>
          <fieldset class="space-y-2 mb-4">
            <label
              for="email"
              class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
            >
              Your email
            </label>
            <input type="email" id="email" class="auth-form-input" placeholder="Email address" />
          </fieldset>
          <fieldset class="space-y-2 mb-4">
            <label
              for="password"
              class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
            >
              Password
            </label>
            <input
              type="password"
              id="password"
              class="auth-form-input"
              placeholder="At least 8 characters"
            />
          </fieldset>
          <fieldset class="space-y-2 mb-3">
            <label
              for="confirm-password"
              class="block text-tagline-2 font-medium text-secondary dark:text-accent select-none"
            >
              Confirm Password
            </label>
            <input
              type="password"
              id="confirm-password"
              class="auth-form-input"
              placeholder="Re-enter your password"
            />
          </fieldset>
          <div class="mt-8">
            <button
              type="submit"
              class="btn btn-md hover:btn-secondary dark:hover:btn-accent btn-primary w-full before:content-none first-letter:uppercase"
            >
              Sign up
            </button>
          </div>
        </form>

        <div class="py-8 text-center">
          <p class="text-tagline-2 font-normal text-secondary dark:text-accent">Or</p>
        </div>
        <div>
          <div class="space-y-4">
            <button
              class="flex items-center justify-center gap-2 w-full border border-stroke-3 dark:border-stroke-7 py-3 px-8 rounded-full cursor-pointer group transition-colors duration-500 ease-in-out hover:bg-primary-500"
            >
              <span class="size-6 block">
                <img src="./images/icons/google.svg" alt="google" class="size-full" />
              </span>
              <span
                class="text-tagline-2 font-medium text-secondary dark:text-accent group-hover:text-accent transition-colors duration-500 ease-in-out"
              >
                Continue with Google
              </span>
            </button>
            <button
              class="flex items-center justify-center gap-2 w-full border border-stroke-3 dark:border-stroke-7 py-3 px-8 rounded-full cursor-pointer group transition-colors duration-500 ease-in-out hover:bg-primary-500"
            >
              <span class="size-6 block">
                <img src="./images/icons/facebook-v2.svg" alt="facebook" class="size-full" />
              </span>
              <span
                class="text-tagline-2 font-medium text-secondary dark:text-accent group-hover:text-accent transition-colors duration-500 ease-in-out"
              >
                Continue with facebook
              </span>
            </button>
            <button
              class="flex items-center justify-center gap-2 w-full border border-stroke-3 dark:border-stroke-7 py-3 px-8 rounded-full cursor-pointer group transition-colors duration-500 ease-in-out hover:bg-primary-500"
            >
              <span class="size-6 block">
                <img src="./images/icons/apple.svg" alt="apple" class="size-full dark:invert" />
              </span>
              <span
                class="text-tagline-2 font-medium text-secondary dark:text-accent group-hover:text-accent transition-colors duration-500 ease-in-out"
              >
                Continue with apple
              </span>
            </button>
            <button
              class="flex items-center justify-center gap-2 w-full border border-stroke-3 dark:border-stroke-7 py-3 px-8 rounded-full cursor-pointer group transition-colors duration-500 ease-in-out hover:bg-primary-500"
            >
              <span class="size-6 block">
                <img src="./images/icons/microsoft.svg" alt="microsoft" class="size-full" />
              </span>
              <span
                class="text-tagline-2 font-medium text-secondary dark:text-accent group-hover:text-accent transition-colors duration-500 ease-in-out"
              >
                Continue with microsoft
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
