<!-- =========================
Footer v2
===========================-->
<footer class="footer footer-two relative overflow-hidden bg-secondary dark:bg-background-8">
  <!-- right gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="right"
    data-offset="400"
    class="pointer-events-none select-none absolute h-[618px] w-[617px] top-[-15%] md:top-[-21%] xl:top-[-24%] max-[376px]:right-[-68%] right-[-71%] md:right-[-33%] lg:right-[-19%] xl:right-[-9%] bg-no-repeat bg-top-right z-0 rotate-[-30deg]"
  >
    <img
      class="size-full object-cover object-top"
      src="./images/ns-img-493.png"
      alt="Decorative gradient background"
    />
  </figure>

  <!-- left gradient -->
  <figure
    data-ns-animate
    data-delay="0.4"
    data-duration="0.8"
    data-direction="left"
    data-offset="400"
    class="pointer-events-none select-none absolute size-[570px] md:size-[870px] -bottom-[8%] md:-bottom-[20%] xl:-bottom-[26%] min-[2559px]:!bottom-[-14%] -left-[65%] md:-left-[59%] lg:-left-[38%] xl:-left-[21%] min-[2559px]:!left-[-16%] z-0"
  >
    <img class="size-full" src="./images/ns-img-494.png" alt="Decorative gradient background" />
  </figure>
  <div class="main-container px-5 xl:py-[88px] py-14 relative z-10 max-[400px]:py-14">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div
        class="xl:max-w-[650px] lg:max-w-[476px] w-full space-y-5 text-center lg:text-left max-[400px]:max-w-[270px]"
      >
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.1"
            class="text-accent text-heading-4 lg:text-heading-2 max-[400px]:text-heading-6"
          >
            Build a complete website using the assistance
          </h2>
          <p data-ns-animate data-delay="0.2" class="text-accent/60 max-[400px]:text-tagline-2">
            Start your free trial today and see your ideas come to life easily and creatively.
          </p>
        </div>
      </div>

      <div class="lg:basis-[466px] space-y-6 md:ml-0 xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full">
        <form
          data-ns-animate
          data-delay="0.3"
          action="#"
          method="post"
          class="flex items-center flex-col gap-5 md:flex-row justify-start lg:gap-3 lg:max-w-full max-w-[505px] mx-auto lg:mx-0"
        >
          <input
            type="email"
            name="email"
            id="userEmail-footer"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-accent/60 font-normal rounded-full border border-stroke-7 lg:max-w-[340px] md:w-[71%] w-[85%] dark:border-stroke-7 dark:placeholder:text-accent/60 focus:outline-none focus:border-accent/60 bg-accent/10 text-accent dark:bg-transparent placeholder:font-normal"
          />

          <button type="submit" class="btn btn-md btn-white h-12 w-[85%] md:w-auto">
            <span>Get started</span>
          </button>
        </form>
        <ul
          class="flex items-center justify-center lg:justify-start gap-[42px] max-[400px]:flex-col flex-row max-[400px]:gap-5"
        >
          <li data-ns-animate data-delay="0.4" class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                fill="white"
              />
            </svg>
            <span class="text-accent/60 font-normal text-tagline-2">No credit card required</span>
          </li>
          <li data-ns-animate data-delay="0.5" class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="7"
              viewBox="0 0 10 7"
              fill="none"
            >
              <path
                d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                fill="white"
              />
            </svg>
            <span class="text-accent/60 font-normal text-tagline-2">14-Day free trial</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-container relative z-10 px-5 border-t border-t-stroke-6 dark:border-t-accent/10">
    <div class="grid grid-cols-12 xl:pt-[90px] gap-x-0 gap-y-16 pt-16 pb-12 justify-between">
      <div class="col-span-12 xl:col-span-4">
        <div data-ns-animate data-delay="0.3" class="xl:max-w-[306px]">
          <figure>
            <img src="./images/shared/dark-logo.svg" alt="NextSass Logo" />
          </figure>
          <p class="text-accent/60 font-normal text-tagline-1 mt-4 mb-7">
            Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.
          </p>
          <div class="flex items-center gap-3">
            <a href="#" class="footer-social-link">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Dribbble</span>
              <img class="size-6" src="./images/icons/dribbble.svg" alt="Dribbble" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#" class="footer-social-link">
              <span class="sr-only">Behance</span>
              <img class="size-6" src="./images/icons/behance.svg" alt="Behance" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-8 grid grid-cols-12">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Company</p>
            <ul class="space-y-5 max-[400px]:space-y-3">
              <li>
                <a href="./ai-software-about.html" class="footer-link"> About Us </a>
              </li>
              <li>
                <a href="./ai-software-career.html" class="footer-link"> Career </a>
              </li>
              <li>
                <a href="./ai-software-case-study.html" class="footer-link"> Case Studies </a>
              </li>
              <li>
                <a href="./ai-software-contact.html" class="footer-link"> Contact us </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.5" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Support</p>
            <ul class="space-y-5">
              <li>
                <a href="./ai-software-faq.html" class="footer-link"> FAQ </a>
              </li>
              <li>
                <a href="./ai-software-documentation.html" class="footer-link"> Documentation </a>
              </li>
              <li>
                <a href="./ai-software-tutorial.html" class="footer-link"> Tutorial </a>
              </li>
              <li>
                <a href="./ai-software-support.html" class="footer-link"> Support </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.6" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">
              Legal Policies
            </p>
            <ul class="space-y-5">
              <li>
                <a href="./ai-software-terms-conditions.html" class="footer-link">
                  Terms & Conditions
                </a>
              </li>
              <li>
                <a href="./ai-software-privacy-policy.html" class="footer-link"> Privacy Policy </a>
              </li>
              <li>
                <a href="./ai-software-refund-policy.html" class="footer-link"> Refund Policy </a>
              </li>
              <li>
                <a href="./ai-software-gdpr.html" class="footer-link"> GDPR Compliance </a>
              </li>
              <li>
                <a href="./ai-software-affiliate-policy.html" class="footer-link">
                  Affiliate Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-6 pb-10 text-center relative">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-stroke-6 dark:bg-accent/10"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 max-sm:text-tagline-2 font-normal text-primary-50"
      >
        Copyright &copy;NextSaaS – smart application for modern business
      </p>
    </div>
  </div>
  <Component src="src/components/shared/theme-toggle.htm" />
  
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
