<!-- =========================
Reviews section
===========================-->
<section
  class="relative pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] {=$background}"
>
  <div class="main-container flex flex-col gap-[70px] max-[426px]:gap-10">
    <div class="flex flex-col items-center text-center">
      <span data-ns-animate data-delay="0.1" class="badge {=$badge-class} mb-5">
        Customer Success
      </span>
      <h2 data-ns-animate data-delay="0.2" class="max-w-[750px] mx-auto mb-4 max-[426px]:mb-3">
        Real apps. Real results.
      </h2>
      <p
        data-ns-animate
        data-delay="0.3"
        class="max-w-[490px] max-[426px]:text-tagline-2 max-[426px]:max-w-[320px]"
      >
        "Real apps. Real results. "Nextsaas delivered our entire platform ahead of schedule—flawless
        execution and real partnership."
      </p>
    </div>

    <div data-ns-animate data-delay="0.4" class="relative">
      <!-- Swiper -->
      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-8 z-0 mx-1 sm:mx-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative gradient background overlay"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-7.png" alt="avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "I built a fully functional app for my business in a weekend—without a developer."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  John Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden mx-1 sm:mx-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative gradient background overlay"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-1.png" alt="avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "App Builder saved us thousands in dev costs. It's like magic."
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Adam Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  CEO, App Builder
                </p>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative z-10 overflow-hidden p-8 flex flex-col gap-y-8 mx-1 sm:mx-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative gradient background overlay"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-2.png" alt="avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Discover the ultimate solution designed specifically for agencies and freelancers."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  John Smith
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Lorem Ipsum
                </p>
              </div>
            </div>
          </div>

          <!-- slide 4 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative overflow-hidden p-8 flex flex-col gap-y-8 z-0 mx-1 sm:mx-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative gradient background overlay"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-3.png" alt="avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "The platform exceeded our expectations. Highly recommended for any business."
              </p>

              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Sarah Johnson
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Tech Solutions
                </p>
              </div>
            </div>
          </div>

          <!-- slide 5 -->
          <div class="swiper-slide">
            <div
              class="bg-background-2 dark:bg-background-5 rounded-[20px] relative p-8 flex flex-col gap-y-8 z-0 overflow-hidden mx-1 sm:mx-0"
            >
              <!-- Gradient overlay for active slide -->
              <div
                class="absolute max-md:w-[350px] max-md:h-[300px] -left-[180px] -top-[180px] md:-left-[190px] md:-top-[190px] lg:-left-[150px] lg:-top-[150px] xl:-left-[220px] xl:-top-[220px] w-full h-full -z-10 opacity-0 transition-opacity duration-300 gradient-overlay select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="Decorative gradient background overlay"
                  class="-rotate-[90deg]"
                />
              </div>
              <figure
                class="inline-block size-14 rounded-full bg-linear-[156deg,_#FFF_32.92%,_#83E7EE_91%] overflow-hidden relative"
              >
                <img src="./images/ns-avatar-4.png" alt="avatar" class="max-w-full" />
              </figure>
              <p class="text-secondary/60 dark:text-accent/60 review-text">
                "Incredible performance and user experience. Game changer!"
              </p>
              <div>
                <p
                  class="text-secondary dark:text-accent font-medium text-lg leading-[1.5] review-name"
                >
                  Mike Davis
                </p>
                <p class="text-secondary/60 dark:text-accent/60 text-tagline-2 review-title">
                  Digital Agency
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-ns-animate data-delay="0.5" class="text-center">
      <a
        href="./ai-software-testimonial.html"
        class="btn btn-md btn-secondary dark:btn-transparent hover:btn-white w-full sm:w-auto"
      >
        <span>View all reviews</span>
      </a>
    </div>
  </div>
</section>
