<!-- =========================
CTA section
===========================-->
<section aria-label="Call to Action" class="relative top-12 z-20">
  <div class="max-w-[1400px] max-lg:px-5 mx-auto">
    <div
      class="py-[76px] bg-secondary dark:bg-black rounded-4xl relative overflow-hidden px-4 sm:px-0"
    >
      <!-- bg left  -->
      <figure
        data-ns-animate
        data-delay="0.2"
        data-duration="0.9"
        data-offset="100"
        data-direction="left"
        class="absolute left-[-141px] top-[-155px] size-[280px] md:size-[300px] lg:size-[400px] rotate-180 select-none pointer-events-none"
      >
        <img
          src="./images/ns-img-502.png"
          alt="Decorative gradient background"
          class="size-full object-cover"
        />
      </figure>
      <div class="max-w-[649px] mx-auto md:w-full text-center space-y-8">
        <div class="space-y-2">
          <h2 data-ns-animate data-delay="0.2" class="text-white" id="cta-heading">
            Ready to take the first step?
          </h2>
          <p data-ns-animate data-delay="0.3" class="text-accent/60" aria-describedby="cta-heading">
            Get a custom quote, check your eligibility, or talk to a real expert—today.
          </p>
        </div>
        <div data-ns-animate data-delay="0.4">
          <a
            href="./mortgage-services-contact.html"
            class="btn btn-primary border-0 btn-lg hover:btn-white dark:hover:btn-secondary w-[90%] md:w-auto mx-auto md:mx-0"
          >
            <span>Start application</span>
          </a>
        </div>
      </div>

      <!-- bg-right  -->
      <figure
        data-ns-animate
        data-delay="0.2"
        data-duration="0.9"
        data-offset="100"
        data-direction="right"
        class="absolute right-[-160px] top-[-132px] size-[280px] md:size-[300px] lg:size-[350px] rotate-180 select-none pointer-events-none"
      >
        <img
          src="./images/ns-img-502.png"
          alt="Decorative gradient background"
          class="size-full object-cover"
        />
      </figure>
    </div>
  </div>
</section>
