<!-- =========================
Hero section
===========================-->
<section class="mt-3 relative" aria-label="Mortgage Solutions Hero" id="scene">
  <div class="max-w-[1600px] mx-auto">
    <div
      class="bg-[url('/images/ns-img-128.svg')] dark:bg-[url('/images/ns-img-dark-97.svg')] md:rounded-t-[20px] bg-cover bg-no-repeat mb-16 md:mb-[100px]"
    >
      <div class="main-container">
        <!-- hero heading  -->
        <div
          class="pt-[140px] sm:pt-[170px] max-lg:pb-20 lg:pt-[176px] pb-[50px] md:pb-[80px] lg:pb-[100px] text-center"
        >
          <h1 data-ns-animate data-delay="0.2" class="max-w-[976px] md:w-full mx-auto mb-4">
            Smart, simple, and stress-free mortgage solutions.
          </h1>
          <p data-ns-animate data-delay="0.3" class="max-w-[719px] md:w-full mx-auto mb-14">
            Take the hassle out of home financing. With NextSaaS, you get personalized mortgage
            plans, expert support every step of the way, and lightning-fast approval.
          </p>

          <!-- hero form  -->
          <div
            data-ns-animate
            data-delay="0.4"
            class="flex items-center justify-center hero-form w-[90%] md:w-auto mx-auto"
          >
            <form class="flex flex-col md:flex-row items-center gap-3 max-w-[500px] w-full">
              <input
                aria-label="Email address"
                type="email"
                placeholder="Enter your email"
                required
                autocomplete="email"
                class="sm:flex-1 bg-background-1 shadow-1 dark:bg-background-6 px-5 py-3 rounded-full h-12 placeholder:text-secondary/50 placeholder:text-tagline-1 placeholder:font-normal focus:outline-none border border-stroke-3 focus-visible:border-stroke-5/40 max-w-[340px] w-full dark:border-stroke-7 dark:focus-visible:border-stroke-3/20 dark:placeholder:text-accent/60 text-secondary dark:text-accent focus:ring-[0.7px] focus-within:ring-primary-500 font-normal"
              />
              <button
                type="submit"
                class="btn btn-primary btn-lg hover:btn-secondary dark:hover:btn-white h-12 w-full md:w-auto"
              >
                <span>Get a free quote</span>
              </button>
            </form>
          </div>
        </div>

        <!-- hero images  -->
        <div class="flex items-center justify-center relative max-w-[787px] mx-auto">
          <!-- yellow badge   -->
          <figure
            data-ns-animate
            data-delay="0.6"
            data-spring
            data-duration="1.9"
            data-instant
            class="hero-asset parallax-effect absolute left-[-11px] top-[68px] md:top-[48px] md:left-[28px] lg:top-14 lg:left-14 w-[125px] sm:w-[172px] overflow-hidden hidden md:block"
            data-parallax-value="0.7"
            data-parallax-y="0.7"
            data-parallax-x="0.7"
          >
            <img src="./images/ns-img-64.svg" alt="Gold badge icon" class="dark:hidden" />
            <img
              src="./images/ns-img-dark-41.svg"
              alt="Gold badge icon"
              class="hidden dark:block"
            />
          </figure>

          <!-- credit limit  -->
          <div
            data-ns-animate
            data-delay="0.6"
            data-offset="50"
            data-direction="left"
            data-animation-type="from"
            data-progress-item
            data-progress-value="48"
            class="max-w-[240px] md:max-w-[288px] absolute bg-white dark:bg-black rounded-xl p-4 w-full space-y-4 top-[70px] md:top-[128px] left-1 md:left-20 z-30"
          >
            <!-- heading  -->
            <div class="flex items-center justify-between">
              <p class="text-secondary leading-[150%] dark:text-accent">Credit limit</p>
              <p
                class="text-lg flex items-center font-medium leading-[150%] text-secondary dark:text-accent"
              >
                $
                <span
                  data-counter
                  data-number="80224"
                  data-speed="2000"
                  data-interval="200"
                  data-rooms="5"
                  data-height-space="2.5"
                  >80,224</span
                >
              </p>
            </div>

            <!-- progress bar  -->
            <div class="w-[80%] h-2 bg-secondary dark:bg-accent rounded-full relative z-30">
              <div
                class="w-0 h-full bg-ns-green absolute left-[-1px] rounded-full"
                data-progress-bar
              ></div>
              <p
                class="text-secondary dark:text-accent text-tagline-3 leading-[150%] absolute right-[-52px] -top-1.5"
                data-progress-text
              >
                48%
              </p>
            </div>
          </div>

          <!-- transfer success  -->
          <div
            data-ns-animate
            data-delay="0.7"
            data-instant
            class="flex absolute md:bottom-8 md:left-28 items-center flex-col bg-secondary dark:bg-accent w-[153px] h-24 gap-1 p-4 rounded-xl bottom-[90px] right-[-10px] z-20"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="37"
                height="36"
                viewBox="0 0 37 36"
                fill="none"
                aria-hidden="true"
                focusable="false"
                class="stroke-ns-green dark:stroke-black"
              >
                <path
                  d="M13.0703 18.0011L16.6853 21.6311L23.9303 14.3711"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16.6253 3.67547C17.6603 2.79047 19.3553 2.79047 20.4053 3.67547L22.7753 5.71547C23.2253 6.10547 24.0653 6.42047 24.6653 6.42047H27.2153C28.8053 6.42047 30.1103 7.72547 30.1103 9.31547V11.8655C30.1103 12.4505 30.4253 13.3055 30.8153 13.7555L32.8553 16.1255C33.7403 17.1605 33.7403 18.8555 32.8553 19.9055L30.8153 22.2755C30.4253 22.7255 30.1103 23.5655 30.1103 24.1655V26.7155C30.1103 28.3055 28.8053 29.6105 27.2153 29.6105H24.6653C24.0803 29.6105 23.2253 29.9255 22.7753 30.3155L20.4053 32.3555C19.3703 33.2405 17.6753 33.2405 16.6253 32.3555L14.2553 30.3155C13.8053 29.9255 12.9653 29.6105 12.3653 29.6105H9.77031C8.18031 29.6105 6.87531 28.3055 6.87531 26.7155V24.1505C6.87531 23.5655 6.56031 22.7255 6.18531 22.2755L4.16031 19.8905C3.29031 18.8555 3.29031 17.1755 4.16031 16.1405L6.18531 13.7555C6.56031 13.3055 6.87531 12.4655 6.87531 11.8805V9.30047C6.87531 7.71047 8.18031 6.40547 9.77031 6.40547H12.3653C12.9503 6.40547 13.8053 6.09047 14.2553 5.70047L16.6253 3.67547Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span class="text-white dark:text-black"> Transfer success! </span>
          </div>

          <!-- visa card  -->
          <figure
            data-ns-animate
            data-delay="0.8"
            data-offset="50"
            data-spring
            data-duration="1.9"
            data-direction="up"
            aria-label="Visa card illustration"
            class="relative z-10 max-w-[280px] w-full rounded-[20px] overflow-hidden"
          >
            <img src="./images/ns-img-75.png" alt="VISA Card" />
          </figure>

          <!-- green badge   -->
          <figure
            data-ns-animate
            data-delay="0.6"
            data-spring
            data-duration="1.9"
            data-instant
            class="parallax-effect absolute lg:top-14 md:top-[32px] md:right-[67px] lg:right-24 right-[-8px] top-[68px] w-[100px] md:w-[131px] hidden sm:block"
            data-parallax-value="-0.7"
            data-parallax-y="-0.7"
            data-parallax-x="-0.7"
          >
            <img src="./images/ns-img-66.svg" alt="badge-2" class="dark:hidden" />
            <img src="./images/ns-img-dark-43.svg" alt="badge-2" class="hidden dark:block" />
          </figure>

          <!-- personal load  -->
          <div
            data-ns-animate
            data-instant
            data-delay="0.8"
            class="flex items-start flex-col absolute md:left-[530px] lg:left-[565px] md:top-[105px] lg:top-[128px] bg-white dark:bg-black md:w-[148px] h-[91px] gap-1 p-4 rounded-2xl w-[120px] left-[-3px] top-[204px] z-10"
          >
            <h3 class="text-tagline-2 text-secondary dark:text-accent font-normal">
              Personal load
            </h3>
            <p
              class="text-lg flex items-center gap-0.5 text-secondary dark:text-accent font-medium leading-[150%]"
            >
              $
              <span
                data-counter
                data-number="40345"
                data-speed="2000"
                data-interval="200"
                data-rooms="5"
                data-height-space="2.5"
                >40,345</span
              >
            </p>
          </div>

          <!-- total balance  -->
          <div
            data-ns-animate
            data-delay="0.9"
            data-instant
            data-offset="90"
            class="bg-white dark:bg-black rounded-2xl md:p-4 lg:p-6 md:max-w-[250px] lg:max-w-[288px] absolute lg:bottom-[-97px] lg:right-[-60px] md:-right-0.5 md:bottom-[-40px] shadow-lg hidden md:block z-10"
          >
            <div class="text-left">
              <span class="text-tagline-2 font-normal text-secondary dark:text-accent"
                >Total balance</span
              >
              <h3
                class="text-heading-5 flex items-center lg:text-heading-3 font-normal leading-[1.2] mt-2 mb-[30px]"
              >
                $
                <span
                  data-counter
                  data-number="45324"
                  data-speed="2000"
                  data-interval="200"
                  data-rooms="5"
                  data-height-space="2"
                  >45,324</span
                >
              </h3>
            </div>
            <div class="flex gap-1 lg:gap-3">
              <div
                class="bg-background-4 dark:bg-background-9 rounded-xl p-4 space-y-2 flex-1 text-left"
              >
                <div
                  class="flex items-center justify-start gap-2 text-tagline-2 text-secondary dark:text-accent"
                >
                  <span
                    class="bg-ns-red flex items-center justify-center rounded-full size-[18px] p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="9"
                      viewBox="0 0 8 9"
                      fill="none"
                      aria-hidden="true"
                      focusable="false"
                      class="fill-secondary dark:fill-accent"
                    >
                      <path
                        d="M7.8842 4.49692C7.81538 4.42054 7.72089 4.37564 7.62101 4.37185C7.51393 4.36976 7.41095 4.41514 7.33717 4.49692L4.39555 7.59633L4.39555 0.407818C4.39277 0.18381 4.2211 0.00292873 4.0085 0C3.79589 0.00292873 3.62422 0.18381 3.62144 0.407818L3.62144 7.59633L0.679823 4.49692C0.581182 4.39007 0.435935 4.34679 0.298794 4.38337C0.161654 4.41996 0.0534544 4.53085 0.0149541 4.67428C-0.0235462 4.81771 0.0135021 4.97189 0.112143 5.07873L3.72465 8.88503C3.87798 9.03832 4.11836 9.03832 4.27169 8.88503L7.8842 5.07873C7.95828 5.00206 8 4.89724 8 4.78783C8 4.67841 7.95828 4.57359 7.8842 4.49692Z"
                      />
                    </svg>
                  </span>
                  Income
                </div>
                <div
                  class="text-lg flex items-center font-medium leading-[1.5] text-secondary dark:text-accent"
                >
                  $
                  <span
                    data-counter
                    data-number="48000"
                    data-speed="2000"
                    data-interval="170"
                    data-rooms="5"
                    data-height-space="2.5"
                    >48,000</span
                  >
                </div>
              </div>

              <div
                class="bg-background-4 dark:bg-background-9 rounded-xl p-4 space-y-2 flex-1 text-left"
              >
                <div
                  class="flex items-center justify-start gap-2 text-tagline-2 text-secondary dark:text-accent"
                >
                  <span
                    class="bg-ns-green flex items-center justify-center rounded-full size-[18px] p-1"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="9"
                      viewBox="0 0 8 9"
                      fill="none"
                      aria-hidden="true"
                      focusable="false"
                      class="fill-secondary dark:fill-accent"
                    >
                      <path
                        d="M7.8842 4.50308C7.81538 4.57946 7.72089 4.62436 7.62101 4.62815C7.51393 4.63024 7.41095 4.58486 7.33717 4.50308L4.39555 1.40367L4.39555 8.59218C4.39277 8.81619 4.2211 8.99707 4.0085 9C3.79589 8.99707 3.62422 8.81619 3.62144 8.59218L3.62144 1.40367L0.679823 4.50308C0.581182 4.60993 0.435935 4.65321 0.298794 4.61663C0.161654 4.58004 0.0534544 4.46915 0.0149541 4.32572C-0.0235462 4.18229 0.0135021 4.02811 0.112143 3.92127L3.72465 0.114967C3.87798 -0.0383222 4.11836 -0.0383222 4.27169 0.114967L7.8842 3.92127C7.95828 3.99794 8 4.10276 8 4.21217C8 4.32159 7.95828 4.42641 7.8842 4.50308Z"
                      />
                    </svg>
                  </span>
                  Expenses
                </div>
                <div
                  class="text-lg flex items-center font-medium leading-[1.5] text-secondary dark:text-accent"
                >
                  $
                  <span
                    data-counter
                    data-number="2321"
                    data-speed="2000"
                    data-interval="170"
                    data-rooms="4"
                    data-height-space="2.5"
                    >2,321</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
