<!-- =========================
Steps section
===========================-->
<section
  class="py-16 md:py-[90px] lg:py-[100px] bg-background-3 dark:bg-background-7"
  aria-label="Application Steps"
>
  <div class="main-container">
    <div class="space-y-14">
      <div
        class="progress-container flex flex-col lg:flex-row items-start justify-center xl:justify-normal gap-[62px] max-lg:px-5"
      >
        <!-- step one  -->
        <div
          data-ns-animate
          data-delay="0.2"
          class="space-y-3 md:max-w-[90%] lg:max-w-[388px] mx-auto w-full"
          role="region"
          aria-label="Step 1"
        >
          <!-- progress bar  -->
          <div class="progress-bar w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
            <div class="absolute progress-line w-[25%] left-0 bg-ns-green top-0 h-full"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">01</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Apply online.</h2>
            <p class="max-w-[260px] w-full">
              Start your application in minutes—no paperwork required.
            </p>
          </div>
        </div>

        <!-- step two  -->
        <div
          data-ns-animate
          data-delay="0.4"
          class="space-y-3 md:max-w-[90%] lg:max-w-[388px] mx-auto w-full"
          role="region"
          aria-label="Step 2"
        >
          <!-- progress bar  -->
          <div class="progress-bar w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
            <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">02</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Get approved.</h2>
            <p class="max-w-[260px] w-full">
              Our team reviews your application and offers a personalized loan solution.
            </p>
          </div>
        </div>

        <!-- step three  -->
        <div
          data-ns-animate
          data-delay="0.5"
          class="space-y-3 md:max-w-[90%] lg:max-w-[388px] mx-auto w-full"
          role="region"
          aria-label="Step 3"
        >
          <!-- progress bar  -->
          <div class="progress-bar w-full h-[2px] bg-stroke-2 relative dark:bg-stroke-6">
            <div class="absolute progress-line w-[0%] left-0 bg-ns-green top-0 h-full"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">03</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Close with confidence.</h2>
            <p class="max-w-[260px] w-full">
              We handle the coordination, documents, and closing logistics.
            </p>
          </div>
        </div>
      </div>

      <div data-ns-animate data-delay="0.5" class="lg:text-start text-center">
        <a
          href="./mortgage-services-process.html"
          class="btn btn-secondary dark:btn-transparent hover:btn-primary btn-md w-[85%] md:w-[40%] lg:w-auto"
          role="button"
          aria-label="Start your application"
          onKeyDown="handleKeyDown(event)"
        >
          <span>Start your application</span>
        </a>
      </div>
    </div>
  </div>
</section>
