<!-- =========================
Why choos us section
===========================-->
<section class="py-20 md:py-[90px] lg:py-[100px]" aria-label="Why choose NextSaaS">
  <div class="main-container">
    <div
      class="pt-16 md:pt-[100px] max-lg:pb-10 px-5 sm:px-7 md:px-14 relative rounded-4xl bg-white overflow-hidden dark:bg-background-8"
    >
      <figure
        data-ns-animate
        data-delay="0.8"
        data-duration="0.9"
        data-offset="200"
        data-direction="up"
        class="absolute top-[-407px] md:top-[-354px] rounded-t-4xl right-[-145px] md:right-[-149px] rotate-[240deg] md:rotate-[238deg] size-[650px] opacity-90 select-none pointer-events-none"
      >
        <img
          src="./images/ns-img-503.png"
          alt="Gradient background"
          class="size-full object-cover"
        />
      </figure>

      <div class="space-y-[70px]">
        <!-- heading  -->
        <div class="space-y-[20px] text-center md:text-left">
          <span data-ns-animate data-delay="0.2" class="badge badge-yellow">
            Why choose NextSaaS?
          </span>
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.3">Stress-free mortgage solutions.</h2>
            <p data-ns-animate data-delay="0.4">
              Smart solutions and human support—everything you need for a stress-free mortgage
              experience.
            </p>
          </div>
        </div>

        <!-- content  -->
        <div class="max-w-[1178px] mx-auto flex flex-col lg:flex-row items-center gap-10 lg:gap-0">
          <!-- left side features  -->
          <div class="w-full gap-8 flex flex-col md:flex-row lg:flex-col">
            <!-- feature one  -->
            <div
              data-ns-animate
              data-delay="0.6"
              data-duration="0.5"
              data-direction="left"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-13 text-[36px] text-secondary dark:text-accent"></span>

              <div>
                <h3 id="passcode-policy-heading" class="text-tagline-1 font-medium">
                  Simple process
                </h3>
                <p class="text-tagline-2">
                  Apply in minutes from any device—no paperwork, no hassle.
                </p>
              </div>
            </div>

            <!-- feature two  -->
            <div
              data-ns-animate
              data-delay="0.7"
              data-duration="0.5"
              data-direction="left"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-41 text-[36px] text-secondary dark:text-accent"></span>
              <div>
                <h3 class="text-tagline-1 font-medium">Personalized guidance</h3>
                <p class="text-tagline-2">
                  Our specialists guide you every step of the way, tailored to your needs.
                </p>
              </div>
            </div>

            <!-- feature three  -->
            <div
              data-ns-animate
              data-delay="0.8"
              data-duration="0.5"
              data-direction="left"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-36 text-[36px] text-secondary dark:text-accent"></span>
              <div>
                <h3 class="text-tagline-1 font-medium">Competitive interest rates</h3>
                <p class="text-tagline-2">
                  Get access to fair rates with zero hidden fees or surprises.
                </p>
              </div>
            </div>
          </div>

          <!-- feature img  -->
          <figure
            data-ns-animate
            data-delay="0.7"
            data-duration="0.7"
            data-offset="80"
            class="w-full lg:w-[538.95px] lg:h-[640px] order-first lg:order-none lg:mt-[66px] xl:mt-0 lg:mr-6 xl:mr-0 flex-shrink-0"
          >
            <img
              src="./images/ns-img-206.png"
              alt="Investment platform interface showing key features"
              class="size-full object-cover"
            />
          </figure>

          <!-- right side feature  -->
          <div class="w-full gap-8 flex flex-col md:flex-row lg:flex-col lg:ml-4 xl:ml-0">
            <!-- feature one  -->
            <div
              data-ns-animate
              data-delay="0.6"
              data-duration="0.5"
              data-direction="right"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-35 text-[36px] text-secondary dark:text-accent"></span>
              <div>
                <h3 class="text-tagline-1 font-medium">Fast pre-approvals</h3>
                <p class="text-tagline-2">
                  Know where you stand quickly—get pre-approved in hours, not days.
                </p>
              </div>
            </div>

            <!-- feature two  -->
            <div
              data-ns-animate
              data-delay="0.7"
              data-duration="0.5"
              data-direction="right"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-34 text-[36px] text-secondary dark:text-accent"></span>
              <div>
                <h3 class="text-tagline-1 font-medium">Simple process</h3>
                <p class="text-tagline-2">
                  Apply in minutes from any device—no paperwork, no hassle.
                </p>
              </div>
            </div>

            <!-- feature three  -->
            <div
              data-ns-animate
              data-delay="0.8"
              data-duration="0.5"
              data-direction="right"
              class="space-y-3 md:max-w-[300px] w-full"
            >
              <span class="block ns-shape-27 text-[36px] text-secondary dark:text-accent"></span>
              <div>
                <h3 class="text-tagline-1 font-medium">Ongoing support</h3>
                <p class="text-tagline-2">
                  We stay with you post-closing to ensure a smooth transition.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
