<!-- =========================
Privacy section
===========================-->
<section class="pb-[100px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="space-y-[75px] privacy-policy">
      <div class="space-y-2">
        <h2 data-ns-animate data-delay="0.1">Data protection guidelines</h2>
        <p data-ns-animate data-delay="0.2">
          <span class="text-secondary dark:text-accent">NextSaaS</span> is a product operated by
          <span class="text-secondary dark:text-accent">NextSaaS Technologies LLC</span>. We
          specialize in property management solutions, empowering businesses worldwide to streamline
          their operations efficiently. We are committed to protecting your privacy and handling
          your information transparently.
        </p>
      </div>
      <div data-ns-animate data-delay="0.3" class="space-y-2">
        <h4>NextSaaS privacy policy</h4>
        <p>
          This Privacy Policy describes how your personal information is collected, used, and shared
          when you visit, subscribe, register, or make a purchase from
          <a href="https://nextsaas.com" class="text-secondary dark:text-accent">
            https://nextsaas.com
          </a>
          (the "Site").
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-6">
        <div class="space-y-2">
          <h4>Personal information we collect</h4>
          <p>
            When you visit the Site, we automatically collect certain information about your device,
            including information about your web browser, IP address, time zone, and cookies
            installed on your device. Additionally, as you browse the Site, we collect information
            about the individual pages you view, what websites or search terms referred you to the
            Site, and how you interact with the Site. We call this automatically-collected
            information
            <span class="text-secondary dark:text-accent">"Device Information." </span>
          </p>
        </div>

        <ul
          data-ns-animate
          data-delay="0.5"
          class="space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>
            <strong class="text-secondary dark:text-accent font-normal">Cookies – </strong>
            Data files placed on your device, often including an anonymous unique identifier. <br />
            ( Learn more about cookies and how to disable them:
            <a href="http://www.allaboutcookies.org" class="text-secondary">
              http://www.allaboutcookies.org
            </a>
            )
          </li>
          <li>
            <strong class="text-secondary dark:text-accent font-normal"> Log Files – </strong>
            Track actions on the Site and collect IP address, browser type, ISP, referring/exit
            pages, and timestamps.
          </li>
          <li>
            <strong class="text-secondary dark:text-accent font-normal">
              Web Beacons, Tags, and Pixels –
            </strong>
            Electronic files to monitor site usage and interaction.
          </li>
          <li>
            <strong class="text-secondary dark:text-accent font-normal">
              Google Analytics and Pixels –
            </strong>
            Collect traffic-related information and interaction behavior.
          </li>
        </ul>
      </div>

      <div>
        <div class="grid grid-cols-12 gap-y-[100px] lg:gap-[100px]">
          <div class="col-span-12 lg:col-span-6">
            <div data-ns-animate data-delay="0.6" class="text-left mb-[70px]">
              <p class="max-w-[550px]">
                When you make or attempt to purchase through the Site, we collect information such
                as your name, email address, billing address, shipping address, payment details, and
                any other relevant data necessary to process your order.
              </p>
            </div>
            <figure
              data-ns-animate
              data-delay="0.7"
              class="max-w-[595px] w-full overflow-hidden rounded-[20px] self-end"
            >
              <img
                src="./images/ns-img-391.png"
                class="size-full object-cover"
                alt="support-contact"
              />
            </figure>
          </div>
          <div data-ns-animate data-delay="0.8" class="col-span-12 lg:col-span-6">
            <form class="p-6 lg:p-[42px] rounded-[20px] bg-white dark:bg-background-8">
              <fieldset class="space-y-2 mb-8">
                <label
                  for="name"
                  class="text-tagline-1 text-secondary dark:text-accent font-medium block"
                >
                  Your name
                </label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Enter your name"
                  class="w-full block border dark:text-accent dark:bg-background-6 border-stroke-3 dark:border-stroke-7 bg-background-1 py-3 px-[18px] rounded-full h-12 focus-visible:outline focus-visible:outline-primary-500 placeholder:text-tagline-1 placeholder:font-normal placeholder:text-secondary/60 dark:placeholder:text-accent/60 shadow-1 font-normal"
                />
              </fieldset>
              <fieldset class="space-y-2 mb-8">
                <label
                  for="billing-shipping-addresses"
                  class="text-tagline-1 text-secondary dark:text-accent font-medium block"
                >
                  Billing and shipping addresses
                </label>
                <input
                  type="text"
                  name="billing-shipping-addresses"
                  id="billing-shipping-addresses"
                  placeholder="Billing and shipping addresses"
                  class="w-full block border dark:text-accent dark:bg-background-6 border-stroke-3 dark:border-stroke-7 bg-background-1 py-3 px-[18px] rounded-full h-12 focus-visible:outline focus-visible:outline-primary-500 placeholder:text-tagline-1 placeholder:font-normal placeholder:text-secondary/60 dark:placeholder:text-accent/60 shadow-1 font-normal"
                />
              </fieldset>
              <fieldset class="space-y-2 mb-8">
                <label
                  for="payment-information"
                  class="text-tagline-1 text-secondary dark:text-accent font-medium block"
                >
                  Payment information
                </label>
                <input
                  type="text"
                  name="payment-information"
                  id="payment-information"
                  placeholder="credit card, PayPal, or bank details"
                  class="w-full block border dark:text-accent dark:bg-background-6 border-stroke-3 dark:border-stroke-7 bg-background-1 py-3 px-[18px] rounded-full h-12 focus-visible:outline focus-visible:outline-primary-500 placeholder:text-tagline-1 placeholder:font-normal placeholder:text-secondary/60 dark:placeholder:text-accent/60 shadow-1 font-normal"
                />
              </fieldset>
              <fieldset class="space-y-2">
                <label
                  for="email"
                  class="text-tagline-1 text-secondary dark:text-accent font-medium block"
                >
                  Email address
                </label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Enter your email address"
                  class="w-full block border dark:text-accent dark:bg-background-6 border-stroke-3 dark:border-stroke-7 bg-background-1 py-3 px-[18px] rounded-full h-12 focus-visible:outline focus-visible:outline-primary-500 placeholder:text-tagline-1 placeholder:font-normal placeholder:text-secondary/60 dark:placeholder:text-accent/60 shadow-1 font-normal"
                />
              </fieldset>

              <fieldset class="flex mt-4 items-center gap-2 mb-4">
                <label for="agree-terms" class="flex items-center gap-x-3">
                  <input id="agree-terms" type="checkbox" class="sr-only peer" required />
                  <span
                    class="size-4 rounded-full border border-stroke-3 dark:border-stroke-7 relative after:absolute after:size-2.5 after:bg-primary-500 after:rounded-full after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:opacity-0 peer-checked:after:opacity-100 peer-checked:border-primary-500 cursor-pointer"
                  ></span>
                </label>
                <label
                  for="agree-terms"
                  class="text-tagline-3 text-secondary/60 dark:text-accent/60 cursor-pointer"
                >
                  I agree with the
                  <a href="#" class="text-primary-500 underline text-tagline-3"
                    >terms and conditions</a
                  >
                </label>
              </fieldset>
              <button
                type="submit"
                class="btn dark:btn-accent btn-md btn-secondary hover:btn-primary w-full before:content-none first-letter:uppercase"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

      <div data-ns-animate data-delay="0.5" class="space-y-6">
        <div class="space-y-2">
          <h4>How we use your personal information</h4>
          <p>We use the collected Order Information to:</p>
        </div>
        <ul
          class="space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>Process your orders, payments, and generate invoices</li>
          <li>Communicate with you</li>
          <li>Screen for potential fraud or risks</li>
          <li>
            Provide you with information or promotions related to our services, when aligned with
            your preferences
          </li>
        </ul>
        <div class="space-y-2">
          <p class="text-secondary dark:text-accent">We use the collected Order Information to:</p>

          <ul
            class="space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
          >
            <li>Improve and optimize the Site experience</li>
            <li>Analyze customer interactions for performance tracking</li>
            <li>Screen for potential risk and fraud</li>
          </ul>
        </div>
      </div>

      <div data-ns-animate data-delay="0.6" class="space-y-6">
        <div class="space-y-2">
          <h4>Sharing your personal information</h4>
          <p>
            We share your Personal Information with trusted third-party service providers to help us
            operate effectively:
          </p>
        </div>
        <ul
          class="space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>
            Google Analytics: To understand customer interactions and optimize experience (Learn
            more:
            <a href="#" class="text-secondary dark:text-accent"> Google Privacy Policy </a>)
          </li>
          <li>Payment processors (PayPal, Stripe)</li>
        </ul>
      </div>

      <div data-ns-animate data-delay="0.7" class="space-y-6">
        <div class="space-y-2">
          <h4>Do not track</h4>
          <p>
            Please note, we do not alter our Site’s data collection practices when we detect a "Do
            Not Track" signal from your browser.
          </p>
        </div>
      </div>

      <div data-ns-animate data-delay="0.8" class="space-y-6">
        <div class="space-y-2">
          <h4>Your rights</h4>
          <p>If you are a resident of the European Economic Area (EEA):</p>
        </div>
        <ul
          class="space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>You have the right to access, update, or delete your personal information.</li>
          <li>
            If you wish to exercise these rights, please contact us at
            <a href="mailto:support@nextsaas.com" class="text-secondary dark:text-accent">
              support@nextsaas.com
            </a>
          </li>
        </ul>
      </div>

      <div data-ns-animate data-delay="0.9" class="space-y-6">
        <div class="space-y-2">
          <h4>Data retention</h4>
          <p>
            We will retain your Order Information for our records unless you ask us to delete this
            information.
          </p>
        </div>
      </div>

      <div data-ns-animate data-delay="1" class="space-y-6">
        <div class="space-y-2">
          <h4>Minors</h4>
          <p>Our Site is not intended for individuals under the age of 18.</p>
        </div>
      </div>

      <div data-ns-animate data-delay="1.1" class="space-y-6">
        <div class="space-y-2">
          <h4>Changes</h4>
          <p>
            We may update this Privacy Policy periodically to reflect changes to our practices or
            for other operational, legal, or regulatory reasons.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
