<li class="relative space-y-0">
  <button
    class="sub-menu text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer"
  >
    <span>Home</span>
    <span class="sub-menu-arrow transition-all duration-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M8 12L12 8L8 4"
          class="stroke-secondary dark:stroke-accent"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </button>
  <div
    class="hidden ml-3.5 transition-all duration-300 w-full bg-white dark:bg-background-7 overflow-y-auto"
  >
    <ul>
      <li>
        <a
          href="./index.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          1. Crypto Marketing
        </a>
      </li>
      <li>
        <a
          href="./home-page-02.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          2. AI Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-03.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          3. AI Chatbot
        </a>
      </li>
      <li>
        <a
          href="./home-page-04.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          4. Web Hosting
        </a>
      </li>
      <li>
        <a
          href="./home-page-05.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          5. Analytics & Reporting
        </a>
      </li>
      <li>
        <a
          href="./home-page-06.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          6. Financial Application
        </a>
      </li>
      <li>
        <a
          href="./home-page-07.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          7. Payment Solutions
        </a>
      </li>
      <li>
        <a
          href="./home-page-08.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          8. Online Banking
        </a>
      </li>
      <li>
        <a
          href="./home-page-09.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          9. Cloud Based Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-10.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          10. Cyber Security
        </a>
      </li>
      <li>
        <a
          href="./home-page-11.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          11. Email Marketing
        </a>
      </li>
      <li>
        <a
          href="./home-page-12.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          12. Lead Capture
        </a>
      </li>
      <li>
        <a
          href="./home-page-13.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          13. Messaging Platform
        </a>
      </li>
      <li>
        <a
          href="./home-page-14.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          14. Mortgage Services
        </a>
      </li>
      <li>
        <a
          href="./home-page-15.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          15. Creative Portfolio
        </a>
      </li>
      <li>
        <a
          href="./home-page-16.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          16. App Builder
        </a>
      </li>
      <li>
        <a
          href="./home-page-17.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          17. App Development
        </a>
      </li>
      <li>
        <a
          href="./home-page-18.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          18. AI Agency
        </a>
      </li>
      <li>
        <a
          href="./home-page-19.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          19. Smart Solutions
        </a>
      </li>
      <li>
        <a
          href="./home-page-20.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          20. Risk Management Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-21.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          21. Personal Finance
        </a>
      </li>
      <li>
        <a
          href="./home-page-22.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          22. Mobile Management Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-23.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          23. Investment Management
        </a>
      </li>
      <li>
        <a
          href="./home-page-24.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          24. Insurance Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-25.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          25. Property Management
        </a>
      </li>
      <li>
        <a
          href="./home-page-26.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          26. POS System
        </a>
      </li>
      <li>
        <a
          href="./home-page-27.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          27. Social Media Management
        </a>
      </li>
      <li>
        <a
          href="./home-page-28.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          28. Nuvexa CRM
        </a>
      </li>
      <li>
        <a
          href="./home-page-29.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          29. Wealth Management
        </a>
      </li>
      <li>
        <a
          href="./home-page-30.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          30. Security Software
        </a>
      </li>
      <li>
        <a
          href="./home-page-31.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          31. Time Tracking
        </a>
      </li>
      <li>
        <a
          href="./home-page-32.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          32. Data Visualization
        </a>
      </li>
      <li>
        <a
          href="./home-page-33.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          33. Digital Marketing Agency
        </a>
      </li>
      <li>
        <a
          href="./home-page-34.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          34. Forex Trading
        </a>
      </li>
      <li>
        <a
          href="./home-page-35.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          35. Decentralized Finance
        </a>
      </li>
      <li>
        <a
          href="./home-page-36.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          36. AI Applications
        </a>
      </li>
      <li>
        <a
          href="./home-page-37.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          37. AI Gadget
        </a>
      </li>
      <li>
        <a
          href="./home-page-38.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          38. AI Resume Builder
        </a>
      </li>
    </ul>
  </div>
</li>
