<li class="relative space-y-0">
  <button
    class="sub-menu text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left flex items-center justify-between cursor-pointer"
  >
    <span>Integration</span>
    <span class="sub-menu-arrow transition-all duration-300">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M8 12L12 8L8 4"
          class="stroke-secondary dark:stroke-accent"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </span>
  </button>
  <div
    class="hidden ml-3.5 transition-all duration-300 w-full bg-white dark:bg-background-7 max-h-[500px] overflow-y-auto scroll-bar"
  >
    <ul>
      <li>
        <a
          href="./integration-page-01.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Integration Page 01
        </a>
      </li>
      <li>
        <a
          href="./integration-page-02.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 border-b border-stroke-4 dark:border-stroke-6 w-full text-left block"
        >
          Integration Page 02
        </a>
      </li>
      <li>
        <a
          href="./integration-page-03.html"
          class="text-tagline-1 font-normal text-secondary/60 dark:text-accent/60 transition-all duration-200 py-3 w-full text-left block"
        >
          Integration Page 03
        </a>
      </li>
    </ul>
  </div>
</li>
