<!-- =========================
CTA section
===========================-->
<section class="bg-secondary dark:bg-background-5 py-28">
  <div class="main-container">
    <div class="flex items-center flex-col lg:flex-row justify-between">
      <div class="xl:max-w-[650px] lg:max-w-[476px] max-w-[650px] space-y-5">
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2" class="text-accent">
            Join the future of cloud software
          </h2>
          <p data-ns-animate data-delay="0.3" class="text-accent/60 max-w-[530px]">
            Start your free trial today and experience the power of NexSaaS—where efficiency meets
            innovation.
          </p>
        </div>
      </div>

      <div
        class="md:w-[95%] lg:basis-[466px] space-y-6 md:ml-[42px] xl:ml-[100px] pt-[40px] lg:pt-[67px] w-full"
      >
        <form
          action="#"
          method="post"
          data-ns-animate
          data-delay="0.5"
          class="flex items-center flex-col gap-5 md:flex-row justify-start lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail"
            placeholder="Enter your email"
            required
            class="px-[18px] shadow-1 h-12 py-3 placeholder:text-accent/60 rounded-full focus:outline-1 text-accent focus:outline-primary-600 dark:focus:outline-primary-400 bg-accent/5 lg:max-w-[340px] md:w-[71%] w-full dark:border-stroke-7 dark:placeholder:text-accent/60 placeholder:font-normal font-normal"
          />

          <button
            type="submit"
            class="btn btn-md btn-primary hover:btn-white h-12 w-full max-[376px]:w-[97%%] md:w-auto"
          >
            <span>Get started</span>
          </button>
        </form>

        <ul class="flex items-center justify-start gap-[42px]">
          <li data-ns-animate data-delay="0.3" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-accent/10 dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                class="shrink-0"
              >
                <path
                  d="M9.125 1.375L3.875 6.62477L1.25 4"
                  class="stroke-white dark:stroke-secondary"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <p class="text-tagline-2 text-accent dark:text-accent/60">No credit card required</p>
          </li>

          <li data-ns-animate data-delay="0.4" class="flex items-center justify-center gap-2">
            <span
              class="size-[18px] bg-accent/10 dark:bg-accent rounded-full flex items-center justify-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="8"
                viewBox="0 0 10 8"
                fill="none"
                class="shrink-0"
              >
                <path
                  d="M9.125 1.375L3.875 6.62477L1.25 4"
                  class="stroke-white dark:stroke-secondary"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <p class="text-tagline-2 text-accent dark:text-accent/60">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
