<!-- =========================
Refund guidelines section
===========================-->
<section class="pb-[100px] md:pb-[200px] xl:pt-[180px] md:pt-42 sm:pt-36 pt-32">
  <div class="main-container">
    <div class="space-y-[70px] refund-policy">
      <div data-ns-animate data-delay="0.3" class="space-y-3">
        <h2>Return and refund guidelines</h2>
        <p>
          At NextSaaS, we are committed to providing you with the best possible service and
          experience. However, if for any reason our platform does not meet your expectations, we
          offer a simple and hassle-free refund policy.
        </p>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-3">
        <h2>14-Day money-back guarantee</h2>
        <p>
          We are confident that you will love using NextSaaS. <br />
          Still, if you are not fully satisfied, we offer a full refund within 14 days of your
          original purchase — no questions asked.
        </p>
      </div>
      <div data-ns-animate data-delay="0.5" class="space-y-3">
        <h2>Conditions for refund</h2>
        <p>You are eligible for a full refund if</p>
        <ul
          class="mt-6 space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>You request a refund within 14 days from the date of purchase.</li>
          <li>You can provide a valid reason if requested (optional but helps us improve).</li>
          <li>You request a refund after the 14-day period.</li>
          <li>You have violated our Terms and Conditions.</li>
          <li>You simply decide not to use the product anymore without a valid issue.</li>
          <li>You requested a refund for issues already resolved by our support team.</li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.4" class="space-y-3">
        <h2>How to request a refund</h2>
        <p>Simply follow these easy steps</p>
        <ol class="mt-8 mb-6 space-y-8">
          <li data-ns-animate data-delay="0.5">
            <div
              class="max-w-[596px] sm:rounded-[20px] rounded-2xl bg-background-1 dark:bg-background-6 sm:py-6 py-5 sm:px-[34px] px-7 flex sm:gap-[22px] gap-4 items-start"
            >
              <div
                class="size-10 flex items-center justify-center bg-ns-yellow text-tagline-1 font-semibold text-secondary shrink-0 rounded-full"
              >
                1
              </div>
              <div class="space-y-1">
                <p
                  class="sm:text-lg text-tagline-1 font-medium leading-[27px] text-secondary dark:text-accent"
                >
                  Submit a support ticket through our [Contact Page].
                </p>
                <p>
                  If you're experiencing any issues or need assistance, our support team is here to
                  help. Simply visit our [Contact Page] and fill out the support ticket form with
                  the relevant details.
                </p>
              </div>
            </div>
          </li>
          <li data-ns-animate data-delay="0.6">
            <div
              class="max-w-[596px] sm:rounded-[20px] rounded-2xl bg-background-1 dark:bg-background-6 sm:py-6 py-5 sm:px-[34px] px-7 flex sm:gap-[22px] gap-4 items-start"
            >
              <div
                class="size-10 flex items-center justify-center bg-ns-green text-tagline-1 font-semibold text-secondary shrink-0 rounded-full"
              >
                2
              </div>
              <div class="space-y-1">
                <p
                  class="sm:text-lg text-tagline-1 font-medium leading-[27px] text-secondary dark:text-accent"
                >
                  Share your order ID, email, and a quick description.
                </p>
                <p>
                  Once we receive this information, our team will review it and get back to you as
                  soon as possible. Thank you for your cooperation!
                </p>
              </div>
            </div>
          </li>
          <li data-ns-animate data-delay="0.7">
            <div
              class="max-w-[596px] sm:rounded-[20px] rounded-2xl bg-background-1 dark:bg-background-6 sm:py-6 py-5 sm:px-[34px] px-7 flex sm:gap-[22px] gap-4 items-start"
            >
              <div
                class="size-10 flex items-center justify-center bg-ns-cyan text-tagline-1 font-semibold text-secondary shrink-0 rounded-full"
              >
                3
              </div>
              <div class="space-y-1">
                <p
                  class="sm:text-lg text-tagline-1 font-medium leading-[27px] text-secondary dark:text-accent"
                >
                  Our team will review and process your refund request.
                </p>
                <p>
                  Thank you for reaching out. We’ve received your refund request and our team is
                  currently reviewing the details.
                </p>
              </div>
            </div>
          </li>
        </ol>
        <p data-ns-animate data-delay="0.7">
          Refunds will be issued to the
          <span class="text-secondary dark:text-accent">original payment method</span>
          used at checkout.
        </p>
      </div>
      <div data-ns-animate data-delay="0.8" class="space-y-3">
        <h2>Refund processing time</h2>
        <p>
          Once your refund is approved, it may take 5–10 business days for the amount to reflect in
          your bank statement, depending on your payment provider.
        </p>
      </div>
      <div data-ns-animate data-delay="0.9" class="space-y-3">
        <h2>Non-refundable situations</h2>
        <p>
          NextSaaS reserves the right to suspend or terminate any user account without prior notice
          for reasons including but not limited to
        </p>
        <ul
          class="mt-6 space-y-3 list-inside text-tagline-1 font-normal text-secondary/60 dark:text-accent/60"
        >
          <li>Purchases made through unauthorized sources.</li>
          <li>Requests based on lack of features not available in the product description.</li>
          <li>Downgrades from a higher-tier plan after extensive usage.</li>
        </ul>
      </div>
      <div data-ns-animate data-delay="0.8" class="space-y-3">
        <h2>We appreciate your feedback</h2>
        <p>
          If you choose to request a refund, we would be grateful if you could let us know why. Your
          feedback helps us improve NextSaaS for future users!
        </p>
      </div>
    </div>
  </div>
</section>
