<!-- =========================
Footer v4
===========================-->
<footer
  class="footer bg-secondary dark:bg-background-8 relative z-0 border-t border-t-[#303032] dark:border-t-0 max-sm:z-[11] overflow-hidden"
>
  <figure
    data-ns-animate
    data-delay="0.3"
    data-direction="up"
    data-offset="50"
    class="absolute size-[1635px] -top-[1320px] left-1/2 -translate-x-1/2 -z-1 select-none pointer-events-none"
  >
    <img src="./images/ns-img-532.png" alt="footer-four-gradient" class="size-full object-cover" />
  </figure>
  <div class="main-container px-5">
    <div class="grid grid-cols-12 xl:pt-[90px] gap-x-0 gap-y-16 pt-16 pb-12 justify-between">
      <div data-ns-animate data-delay="0.1" class="col-span-12 xl:col-span-4">
        <div class="max-w-[306px]">
          <figure>
            <img src="./images/shared/dark-logo.svg" alt="NextSass Logo" />
          </figure>
          <p class="text-accent/60 font-normal text-tagline-1 mt-4 mb-7">
            Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.
          </p>
          <div class="flex items-center gap-3">
            <a href="#">
              <span class="sr-only">Facebook</span>
              <img class="size-6" src="./images/icons/facebook.svg" alt="Facebook" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#">
              <span class="sr-only">Instagram</span>
              <img class="size-6" src="./images/icons/instagram.svg" alt="Instagram" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#">
              <span class="sr-only">Youtube</span>
              <img class="size-6" src="./images/icons/youtube.svg" alt="Youtube" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#">
              <span class="sr-only">LinkedIn</span>
              <img class="size-6" src="./images/icons/linkedin.svg" alt="LinkedIn" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#">
              <span class="sr-only">Dribbble</span>
              <img class="size-6" src="./images/icons/dribbble.svg" alt="Dribbble" />
            </a>
            <div class="h-6 w-px bg-stroke-1/20"></div>
            <a href="#">
              <span class="sr-only">Behance</span>
              <img class="size-6" src="./images/icons/behance.svg" alt="Behance" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-12 xl:col-span-8 grid grid-cols-12 gap-x-0 gap-y-8">
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.2" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Company</p>
            <ul class="space-y-5">
              <li>
                <a href="./ai-agency-about.html" class="footer-link"> About Us </a>
              </li>
              <li>
                <a href="./ai-agency-career.html" class="footer-link"> Career </a>
              </li>
              <li>
                <a href="./ai-agency-why-choose-us.html" class="footer-link"> Why Choose Us </a>
              </li>
              <li>
                <a href="./ai-agency-our-manifesto.html" class="footer-link"> Our Manifesto </a>
              </li>
              <li>
                <a href="./ai-agency-contact.html" class="footer-link"> Contact Us </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.3" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">Support</p>
            <ul class="space-y-5">
              <li>
                <a href="./ai-agency-faq.html" class="footer-link"> FAQ </a>
              </li>
              <li>
                <a href="./ai-agency-documentation.html" class="footer-link"> Documentation </a>
              </li>
              <li>
                <a href="./ai-agency-tutorial.html" class="footer-link"> Tutorial </a>
              </li>
              <li>
                <a href="./ai-agency-support.html" class="footer-link"> Support </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-span-12 md:col-span-4">
          <div data-ns-animate data-delay="0.4" class="space-y-8">
            <p class="sm:text-heading-6 text-tagline-1 font-normal text-primary-50">
              Legal Policies
            </p>
            <ul class="space-y-5">
              <li>
                <a href="./ai-agency-terms-conditions.html" class="footer-link">
                  Terms & Conditions
                </a>
              </li>
              <li>
                <a href="./ai-agency-privacy-policy.html" class="footer-link"> Privacy Policy </a>
              </li>
              <li>
                <a href="./ai-agency-refund-policy.html" class="footer-link"> Refund Policy </a>
              </li>
              <li>
                <a href="./ai-agency-gdpr.html" class="footer-link"> GDPR Compliance </a>
              </li>
              <li>
                <a href="./ai-agency-affiliate-policy.html" class="footer-link">
                  Affiliate Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-[26px] pb-[42px] text-center relative">
      <div
        class="footer-divider absolute top-0 left-0 right-0 w-0 origin-center mx-auto h-px bg-accent/10 dark:bg-stroke-6"
      ></div>
      <p
        data-ns-animate
        data-delay="0.7"
        data-offset="10"
        data-start="top 105%"
        class="text-tagline-1 font-normal text-primary-50"
      >
        Copyright &copy;Pixels71. NextSaaS – smart application for modern business
      </p>
    </div>
  </div>
  
  <Component src="src/components/shared/theme-toggle.htm" />
  <Component src="src/components/shared/package-link.htm" />

  <!-- SCRIPT -->
  <script type="module" src="./src/main.js"></script>
</footer>
