<!-- =========================
Integration section
===========================-->
<section
  class="pt-16 md:pt-20 lg:pt-[90px] xl:pt-[150px] pb-16 md:pb-20 lg:pb-[90px] xl:pb-[250px]"
>
  <div class="bg-background-2 dark:bg-background-5">
    <div class="main-container">
      <div class="flex flex-col lg:flex-row items-start gap-y-24 gap-x-[140px]">
        <div
          class="w-full lg:flex-1 lg:sticky lg:top-28 lg:max-w-full max-w-[520px] lg:mx-0 mx-auto text-center lg:text-left"
        >
          <span data-ns-animate data-delay="0.2" class="badge badge-green mb-5"> Process </span>
          <h2 data-ns-animate data-delay="0.3" class="mb-3 max-w-[529px]">
            Why thousands trust us for their apps.
          </h2>
          <p data-ns-animate data-delay="0.4" class="mb-7 lg:max-w-[620px]">
            We streamline automation for a strategic and sustainable AI transition.
          </p>
          <div data-ns-animate data-delay="0.5">
            <a
              href="./ai-agency-process.html"
              rel="noopener noreferrer"
              class="btn btn-secondary hover:btn-primary dark:btn-transparent btn-md w-[85%] md:w-auto mx-auto"
            >
              <span>Get started</span>
            </a>
          </div>
        </div>

        <div
          class="w-full lg:flex-1 stack-cards js-stack-cards lg:max-w-full md:max-w-[50%] sm:max-w-[60%] lg:mx-0 mx-auto max-w-full"
        >
          <!-- Case Item 1-->
          <div
            class="stack-cards__item js-stack-cards__item lg:max-w-[483px] max-w-full max-sm:min-h-[433px]"
          >
            <div class="p-2.5 rounded-[20px] relative z-[10] overflow-hidden">
              <!-- gradient border img  -->
              <figure
                class="absolute z-[-1] w-[600px] md:w-[900px] xl:w-[1050px] top-[-66%] md:top-[-99%] left-[-52%] md:left-[-103%] rotate-[-41deg] select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-520.png"
                  alt="gradient-border"
                  class="w-full h-full object-cover"
                />
              </figure>

              <figure class="p-8 bg-white dark:bg-background-5 rounded-xl space-y-6">
                <figcaption class="space-y-2">
                  <h5>Design tailored AI strategies.</h5>
                  <p class="max-w-[250px]">
                    Tailored AI strategies align solutions to drive smarter decisions.
                  </p>
                </figcaption>
                <figure class="max-w-[385px] w-full">
                  <img
                    src="./images/ns-img-179.png"
                    alt="case icon"
                    class="w-full md:max-h-[300px] md:min-h-[300px]"
                  />
                </figure>
              </figure>
            </div>
          </div>
          <!--Case Item 2-->
          <div
            class="stack-cards__item js-stack-cards__item lg:max-w-[483px] max-w-full max-sm:min-h-[433px]"
          >
            <div class="p-2.5 rounded-[20px] relative z-[10] overflow-hidden">
              <!-- gradient border img  -->
              <figure
                class="absolute z-[-1] w-[600px] md:w-[900px] xl:w-[1050px] top-[-76%] md:top-[-111%] left-[-62%] md:left-[-103%] rotate-[-41deg] select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-521.png"
                  alt="gradient-border"
                  class="w-full h-full object-cover"
                />
              </figure>

              <figure class="p-8 bg-white dark:bg-background-5 rounded-xl space-y-6">
                <figcaption class="space-y-2">
                  <h5>Monitor and optimize results.</h5>
                  <p class="max-w-[250px]">Track performance and fine-tune your strategy.</p>
                </figcaption>
                <div class="rounded-2xl overflow-hidden max-w-[400px] w-full">
                  <img
                    src="./images/ns-img-180.png"
                    alt="case icon"
                    class="w-full dark:hidden md:max-h-[300px] md:min-h-[300px]"
                  />
                  <img
                    src="./images/ns-img-dark-123.png"
                    alt="case icon"
                    class="w-full hidden dark:block md:max-h-[300px] md:min-h-[300px]"
                  />
                </div>
              </figure>
            </div>
          </div>
          <!--Case Item 3-->
          <div
            class="stack-cards__item js-stack-cards__item lg:max-w-[483px] max-w-full max-sm:min-h-[433px]"
          >
            <div class="p-2.5 rounded-[20px] relative z-[10] overflow-hidden">
              <!-- gradient border img  -->
              <figure
                class="absolute z-[-1] w-[600px] md:w-[900px] xl:w-[1050px] top-[-75%] md:top-[-111%] left-[-65%] md:left-[-103%] rotate-[-41deg] select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-522.png"
                  alt="gradient-border"
                  class="w-full h-full object-cover"
                />
              </figure>

              <figure class="p-8 bg-white dark:bg-background-5 rounded-xl space-y-6">
                <figcaption class="space-y-2">
                  <h5>Know your goals</h5>
                  <p class="max-w-[250px]">When you know your goals, you own your path.</p>
                </figcaption>
                <div class="rounded-2xl overflow-hidden max-w-[400px] w-full">
                  <img
                    src="./images/ns-img-181.png"
                    alt="case icon"
                    class="w-full dark:hidden md:max-h-[300px] md:min-h-[300px]"
                  />
                  <img
                    src="./images/ns-img-dark-124.png"
                    alt="case icon"
                    class="w-full hidden dark:block md:max-h-[300px] md:min-h-[300px]"
                  />
                </div>
              </figure>
            </div>
          </div>
          <!--Case Item 4-->
          <div
            class="stack-cards__item js-stack-cards__item lg:max-w-[483px] max-w-full max-sm:min-h-[433px]"
          >
            <div class="p-2.5 rounded-[20px] relative z-[10] overflow-hidden">
              <!-- gradient border img  -->
              <figure
                class="absolute z-[-1] w-[600px] md:w-[900px] xl:w-[1050px] top-[-66%] md:top-[-97%] max-[376px]:left-[-40%] left-[-30%] md:left-[-60%] lg:left-[-48%] rotate-[245deg] select-none pointer-events-none"
              >
                <img
                  src="./images/ns-img-501.png"
                  alt="gradient-border"
                  class="w-full h-full object-cover"
                />
              </figure>

              <figure class="p-8 bg-white dark:bg-background-5 rounded-xl space-y-6">
                <figcaption class="space-y-2">
                  <h5>Use smart automation.</h5>
                  <p class="max-w-[250px]">
                    Let automation handle the routine, so you can focus on strategy.
                  </p>
                </figcaption>
                <div class="rounded-2xl overflow-hidden max-w-[400px] w-full">
                  <a href="./ai-agency-process.html">
                    <img
                      src="./images/ns-img-182.png"
                      alt="case icon"
                      class="w-full dark:hidden rounded-xl md:max-h-[300px] md:min-h-[300px]"
                    />
                    <img
                      src="./images/ns-img-dark-125.png"
                      alt="case icon"
                      class="w-full hidden dark:block rounded-xl md:max-h-[300px] md:min-h-[300px]"
                    />
                  </a>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
