<!-- =========================
Newsetter section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[76px] lg:pt-[76px] bg-secondary dark:bg-background-5"
>
  <div class="main-container">
    <div class="text-center max-w-[690px] mx-auto">
      <span data-ns-animate data-delay="0.2" class="badge badge-blur mb-5 text-ns-yellow">
        Get started
      </span>
      <h2 data-ns-animate data-delay="0.3" class="mb-3 text-white">
        Let’s build a smarter tomorrow.
      </h2>
      <p data-ns-animate data-delay="0.4" class="mb-6 text-white/60">
        Start your aI journey with NextSaaS and transform the way you work—forever.
      </p>

      <div data-ns-animate data-delay="0.5" class="md:inline-block text-center">
        <a
          href="./ai-agency-contact.html"
          class="btn btn-primary btn-md w-[85%] md:w-auto hover:btn-white dark:hover:btn-accent"
        >
          <span>Contact us now</span>
        </a>
      </div>
    </div>
  </div>
</section>
