<!-- =========================
Features section
===========================-->
<section class="lg:py-[100px] py-[50px] bg-background-1 dark:bg-background-5">
  <div class="main-container">
    <div class="text-center space-y-5 mb-10 md:mb-14">
      <span data-ns-animate data-delay="0.1" class="badge badge-green">More Features</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.2">Key Features</h2>
        <p data-ns-animate data-delay="0.3" class="max-w-[578px] mx-auto">
          Our platform is designed with a focus on performance, usability, and innovation,
          delivering a seamless experience tailored to modern needs.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 xl:gap-14 lg:gap-10 md:gap-8 gap-y-8 items-start">
      <div data-ns-animate data-delay="0.4" class="col-span-12 md:col-span-4">
        <div class="xl:space-y-11 md:space-y-8 space-y-6">
          <figure class="md:max-w-[393px] md:mx-0 mx-auto w-full">
            <img
              class="size-full object-cover dark:hidden"
              src="./images/ns-img-237.png"
              alt="features"
            />
            <img
              class="size-full object-cover hidden dark:block"
              src="./images/ns-img-dark-158.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="xl:text-heading-5 text-heading-6">Billing & invoicing</h3>
            <p class="lg:text-tagline-1 text-tagline-2 md:max-w-full max-w-[340px] mx-auto md:mx-0">
              Create comprehensive receipts that include itemized purchases, taxes, and discounts
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 md:col-span-4">
        <div class="xl:space-y-11 md:space-y-8 space-y-6">
          <figure class="md:max-w-[393px] md:mx-0 mx-auto w-full">
            <img
              class="size-full object-cover dark:hidden"
              src="./images/ns-img-238.png"
              alt="features"
            />
            <img
              class="size-full object-cover hidden dark:block"
              src="./images/ns-img-dark-159.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="xl:text-heading-5 text-heading-6">Supplier management</h3>
            <p class="lg:text-tagline-1 text-tagline-2 md:max-w-full max-w-[340px] mx-auto md:mx-0">
              Monitor your suppliers, manage purchase orders seamlessly, and keep an eye on your
            </p>
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 md:col-span-4">
        <div class="xl:space-y-11 md:space-y-8 space-y-6">
          <figure class="md:max-w-[393px] md:mx-0 mx-auto w-full">
            <img
              class="size-full object-cover dark:hidden"
              src="./images/ns-img-239.png"
              alt="features"
            />
            <img
              class="size-full object-cover hidden dark:block"
              src="./images/ns-img-dark-160.png"
              alt="features"
            />
          </figure>
          <div class="space-y-2 text-left">
            <h3 class="xl:text-heading-5 text-heading-6">Cloud-based accessibility</h3>
            <p class="lg:text-tagline-1 text-tagline-2 md:max-w-full max-w-[340px] mx-auto md:mx-0">
              Easily view your POS dashboard from any device, allowing you to manage sales
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
