<!-- =========================
Hero section
===========================-->
<section class="hero-section pt-[90px] xl:pb-[100px]">
  <div
    class="2xl:max-w-[1440px] xl:max-w-[1240px] lg:max-w-[980px] md:max-w-[700px] max-w-[600px] mx-auto overflow-hidden"
  >
    <div
      class="md:pt-[150px] pt-[100px] pb-[100px] relative z-10 mt-4 rounded-4xl bg-background-4 dark:bg-background-9 sm:border-[10px] border-white dark:border-background-8 overflow-hidden"
    >
      <!-- bg gradient img  -->
      <figure
        data-ns-animate
        data-delay="0.1"
        data-instant
        data-offset="200"
        data-direction="up"
        class="absolute xl:size-[1434px] sm:size-[1000px] overflow-hidden lg:top-[-584px] xl:right-[-600px] sm:right-[-466px] xl:top-[-900px] sm:top-[-611px] size-[600px] top-[-350px] right-[-300px] pointer-events-none select-none"
      >
        <img src="./images/ns-img-514.png" alt="hero-bg-gradient" class="size-full object-cover" />
      </figure>

      <div class="text-center space-y-5 md:mb-14 sm:mb-10 mb-8">
        <span data-ns-animate data-delay="0.1" class="badge badge-green"> Fast transactions </span>
        <div class="space-y-3">
          <h1
            data-ns-animate
            data-delay="0.2"
            class="xl:max-w-[902px] md:max-w-[600px] sm:max-w-[450px] max-w-[350px] mx-auto"
          >
            Smart, fast & reliable POS for your business
          </h1>
          <p
            data-ns-animate
            data-delay="0.3"
            class="xl:max-w-full sm:max-w-[500px] max-w-[350px] mx-auto"
          >
            The all-in-one Point of Sale (POS) solution to streamline sales, manage inventory, and
            grow your business effortlessly.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-center md:mb-[100px] mb-14">
        <form
          data-ns-animate
          data-delay="0.4"
          class="flex items-center sm:flex-row flex-col gap-3 sm:max-w-[500px] max-w-[300px] w-full"
        >
          <input
            aria-label="Email address"
            type="email"
            placeholder="Enter your email"
            required
            autocomplete="email"
            class="flex-1 bg-background-1 dark:bg-background-6 shadow-1 px-5 py-3 rounded-full h-12 placeholder:text-secondary/50 placeholder:text-tagline-1 placeholder:font-normal focus:outline-none focus:ring-1 focus:ring-primary-500 text-secondary/60 max-w-[340px] w-full border border-stroke-3 dark:border-stroke-7 dark:placeholder:text-accent/60 dark:text-accent font-normal"
          />
          <button
            type="submit"
            class="btn btn-primary hover:btn-secondary dark:hover:btn-accent btn-lg h-12 sm:w-auto w-full"
          >
            <span>Get a free quote</span>
          </button>
        </form>
      </div>
      <div data-ns-animate data-delay="0.5">
        <div
          class="lg:max-w-[535px] min-[425px]:max-w-[380px] max-w-[250px] w-full mx-auto bg-white dark:bg-background-9 lg:rounded-[28px] rounded-[20px] py-2.5 pl-2.5 lg:pr-6 pr-2.5 flex items-center lg:gap-6 gap-3 max-[425px]:flex-col"
        >
          <div class="lg:max-w-[234px] max-w-[240px] min-[425px]:max-w-[150px] w-full">
            <figure class="rounded-[20px] overflow-hidden">
              <img
                src="./images/ns-img-241.svg"
                alt="QR code"
                class="dark:hidden block size-full"
              />
              <img
                src="./images/ns-img-dark-162.svg"
                alt="QR code"
                class="hidden dark:block size-full"
              />
            </figure>
          </div>
          <div class="flex-1 space-y-3 max-[425px]:w-full">
            <a
              href="#"
              class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black hover:bg-secondary transition-all duration-300 flex items-center gap-2 justify-center"
            >
              <figure class="lg:size-12 size-8">
                <img
                  class="w-full h-full object-contain"
                  src="./images/icons/apple-dark.svg"
                  alt="Apple logo"
                />
              </figure>
              <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1 mt-1">
                Apple Store
              </span>
            </a>
            <a
              href="#"
              class="lg:py-4 py-2.5 lg:px-8 px-4 lg:rounded-2xl rounded-lg bg-black hover:bg-secondary transition-all duration-300 flex items-center gap-2 justify-center"
            >
              <figure class="lg:size-12 size-8">
                <img
                  class="w-full h-full object-contain"
                  src="./images/icons/google-playstore.svg"
                  alt="Google Play logo"
                />
              </figure>
              <span class="text-background-3 font-normal lg:text-heading-5 text-tagline-1">
                Google Play
              </span>
            </a>
          </div>
        </div>
      </div>
      <div
        class="absolute lg:-bottom-[53%] sm:-bottom-[40%] bottom-[5%] -z-10 left-1/2 -translate-x-1/2 xl:max-w-[1020px] lg:max-w-[800px] sm:max-w-[600px] min-[425px]:max-w-[400px] max-w-[340px] mx-auto"
      >
        <div
          data-ns-animate
          data-delay="0.6"
          data-instant
          class="xl:size-[1020px] lg:size-[850px] sm:size-[600px] min-[425px]:size-[400px] size-[300px] rounded-full border border-[#DCD4FF] bg-[#ece8ff]/30 dark:bg-[#1B202A]/60 dark:border-stroke-7 flex items-center justify-center"
        >
          <div
            data-ns-animate
            data-delay="0.7"
            data-instant
            class="xl:size-[857px] lg:size-[700px] sm:size-[500px] min-[425px]:size-[300px] size-[260px] rounded-full border border-[#DCD4FF] bg-[#ece8ff]/30 dark:bg-[#161B23]/60 dark:border-stroke-7 flex items-center justify-center"
          >
            <div
              data-ns-animate
              data-delay="0.8"
              data-instant
              class="xl:size-[693px] lg:size-[550px] sm:size-[400px] min-[425px]:size-[300px] size-[200px] rounded-full border border-[#DCD4FF] bg-[#ece8ff]/30 dark:bg-[#12161C]/60 dark:border-stroke-7 flex items-center justify-center"
            >
              <div
                data-ns-animate
                data-delay="0.9"
                data-instant
                class="xl:size-[530px] lg:size-[400px] sm:size-[300px] min-[425px]:size-[200px] size-[140px] rounded-full border border-[#DCD4FF] bg-[#ece8ff]/30 dark:bg-[#0B0F15]/60 dark:border-stroke-7 flex items-center justify-center"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
