<div>
  <div
    class="dropdown-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[952px] pointer-events-none bg-transparent opacity-0"
  ></div>
  <div
    id="product-mega-menu"
    class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 md:w-[952px] w-full bg-white dark:bg-background-6 z-50 rounded-[20px] p-4 border border-stroke-1 dark:border-background-7 space-y-6"
  >
    <div class="flex items-start md:gap-x-6 gap-y-6">
      <ul class="space-y-2 flex-1">
        <li>
          <a
            href="./pos-system-login.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/login-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Login</p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Sign in to your account
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-signup.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/signin-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Create Account
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Join us and get started
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-referral-program.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/referral-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Referral Program
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Invite others and get benefits
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-affiliates.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Affiliate Program
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Join our affiliate network
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-affiliate-policy.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/affiliate-policy.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Affiliate Policy
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Review affiliate guidelines
              </p>
            </div>
          </a>
        </li>
      </ul>
      <ul class="space-y-2 flex-1">
        <li>
          <a
            href="./pos-system-terms-conditions.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/terms-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Terms & Conditions
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Read legal terms
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-privacy-policy.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/privacy-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Privacy Policy
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Read our privacy commitment
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-refund-policy.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/refund-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">
                Refund Policy
              </p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Learn about refunds
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-gdpr.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/gdpr-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">GDPR</p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Understand data rights
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./pos-system-legal.html"
            class="p-3 rounded-[10px] flex items-start gap-3 transition-all duration-300 relative group"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="mt-1.5 relative z-10">
              <Component src="src/components/shared/menu-icon/legal-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Legal</p>
              <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
                Review legal information
              </p>
            </div>
          </a>
        </li>
      </ul>
      <figure class="flex-1 w-full space-y-3">
        <p class="text-tagline-2 font-medium text-secondary/60 dark:text-accent/60">What's New</p>
        <a href="./pos-system-changelog.html">
          <figure
            class="overflow-hidden rounded-[14px] max-w-full w-full min-h-[200px] relative group"
          >
            <img
              src="./images/ns-img-419.jpg"
              alt="What's New"
              class="w-full h-full object-cover rounded-[14px] group-hover:scale-105 transition-all duration-500 ease-in-out"
            />
            <div
              class="absolute group-hover:top-5 group-hover:left-5 top-4 left-4 size-full space-y-1 transition-all duration-500 ease-in-out"
            >
              <p class="text-white text-tagline-1 font-medium">POS System Changelog</p>
              <p class="text-white/60 max-w-[212px] w-full text-tagline-3 font-normal">
                Access all your workflows, analytics, and integrations in one smart dashboard.
              </p>
            </div>
          </figure>
        </a>
      </figure>
    </div>
  </div>
</div>
