<!-- =========================
Benefits section
===========================-->
<section
  class="xl:py-[100px] lg:py-[90px] md:py-20 py-16 bg-secondary bg-[url('/images/ns-img-527.png')] bg-no-repeat bg-center bg-cover relative z-0"
>
  <div class="main-container relative z-30">
    <div class="space-y-5 text-center mb-10 md:mb-[70px]">
      <span data-ns-animate data-delay="0.2" class="badge badge-blur text-ns-green">Benefits</span>
      <div class="space-y-3">
        <h2
          data-ns-animate
          data-delay="0.3"
          class="text-background-4 md:max-w-full max-w-[450px] mx-auto"
        >
          Capture leads from multiple sources
        </h2>
        <p
          data-ns-animate
          data-delay="0.4"
          class="lg:max-w-[598px] max-w-[450px] mx-auto text-accent/60"
        >
          Import lead lists in one click, distribute leads instantly, and track interactions to
          boost conversion rates—all from a single platform.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-12 lg:gap-8 md:gap-6 gap-y-6 items-center justify-center">
      <div class="col-span-12 md:col-span-6">
        <div
          data-ns-animate
          data-delay="0.5"
          class="lg:p-[42px] md:p-8 p-6 rounded-[20px] bg-black/35 md:space-y-8 sm:space-y-6 space-y-4"
        >
          <h3 class="lg:text-heading-4 text-heading-5 text-accent">Our products</h3>
          <ul class="space-y-1">
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Phone calls & voicemails</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Events & tradeshows</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Website forms & pop-ups</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">TV, radio & print Ads</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6">
        <div
          data-ns-animate
          data-delay="0.6"
          class="lg:p-[42px] md:p-8 p-6 rounded-[20px] bg-black/35 md:space-y-8 sm:space-y-6 space-y-4"
        >
          <h3 class="lg:text-heading-4 text-heading-5 text-accent">Industries we serve</h3>
          <ul class="space-y-1">
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Pay-per-click (PPC) Ads</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Chatbots &live chats</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Online portals & marketplaces</p>
            </li>
            <li class="flex items-center gap-2 py-2">
              <span
                class="rounded-full size-5 flex shrink-0 items-center justify-center bg-accent backdrop-blur-[15px]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="8"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 0.679688L3.875 5.92945L1.25 3.30469"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-accent">Social media</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
