<!-- =========================
FAQ section
===========================-->
<section
  class="bg-background-1 xl:py-[200px] lg:py-[100px] py-16 md:py-20 dark:bg-background-6"
  aria-label="Frequently Asked Questions"
>
  <div class="main-container">
    <div class="flex items-center lg:flex-row flex-col justify-between lg:gap-0 gap-y-10">
      <div class="lg:space-y-14 md:space-y-10 space-y-8 flex-1">
        <div class="space-y-5 lg:text-left text-center">
          <span data-ns-animate data-delay="0.2" class="badge badge-cyan">FAQ</span>
          <h2 data-ns-animate data-delay="0.3" class="max-w-[439px]" id="faq-heading">
            Common inquiries from clients
          </h2>
        </div>

        <!-- faq  -->
        <div data-ns-animate data-delay="0.4" class="accordion max-w-[576px] w-full space-y-2">
          <div
            class="accordion-item active-accordion bg-white dark:bg-background-7 rounded-[20px] px-4"
          >
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left xl:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
              >
                What is the primary role of a business agency?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-4 dark:border-t-stroke-7 pt-6 pb-6">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-white dark:bg-background-7 rounded-[20px] px-4">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left xl:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
              >
                What kinds of services should I anticipate ?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-4 dark:border-t-stroke-7 pt-6 pb-6">
                <p>
                  When working with a business agency, you can typically anticipate a wide range of
                  services tailored to support and grow your business.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-white dark:bg-background-7 rounded-[20px] px-4">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left xl:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
              >
                How often should I consider updating my website?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-4 dark:border-t-stroke-7 pt-6 pb-6">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-white dark:bg-background-7 rounded-[20px] px-4">
            <button
              class="accordion-action flex items-center cursor-pointer justify-between pt-6 pb-6 w-full"
            >
              <span
                class="flex-1 text-left xl:text-heading-6 text-tagline-1 font-normal text-secondary dark:text-accent"
              >
                How often is it recommended to refresh my website?
              </span>
              <Component src="src/components/shared/accordion-icon.htm" />
            </button>
            <div class="accordion-content">
              <div class="border-t border-t-stroke-4 dark:border-t-stroke-7 pt-6 pb-6">
                <p>
                  When collaborating with a business agency, you can generally expect an extensive
                  array of services designed to not only support your current operations but also to
                  foster growth and innovation within your business. These services often include
                  strategic planning, marketing solutions, financial consulting, and operational
                  improvements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="relative lg:max-w-[684px] max-w-[450px] mx-auto flex-1"
      >
        <img
          src="./images/ns-img-52.png"
          alt="Business agency services illustration"
          class="dark:hidden size-full object-cover"
        />
        <img
          src="./images/ns-img-dark-89.png"
          alt="Business agency services illustration"
          class="hidden dark:block size-full object-cover"
        />
      </figure>
    </div>
  </div>
</section>
