<!-- =========================
Feature v2 section
===========================-->
<section class="xl:py-[200px] lg:py-[100px] py-16 md:py-20">
  <div class="main-container">
    <div class="space-y-5 text-center mb-10 md:mb-[70px]">
      <span data-ns-animate data-delay="0.2" class="badge badge-cyan">Features</span>
      <div class="space-y-3">
        <h2 data-ns-animate data-delay="0.3">
          A<span class="text-primary-500"> one-stop </span>solution
        </h2>
        <p data-ns-animate data-delay="0.4" class="lg:max-w-[674px] max-w-[500px] mx-auto">
          With our lead capture automation software, you can effortlessly collect, manage, and
          nurture leads from various online and offline sources in real-time.
        </p>
      </div>
    </div>
    <div class="space-y-10 md:space-y-20 lg:space-y-[100px]">
      <div class="flex items-center xl:gap-12 lg:gap-8 gap-y-6 lg:flex-row flex-col">
        <div
          data-ns-animate
          data-delay="0.5"
          data-offset="70"
          data-start="top 88%"
          class="xl:p-[42px] p-8 rounded-[20px] bg-background-1 space-y-6 dark:bg-background-6 xl:max-w-[360px] lg:max-w-[300px] max-w-[500px] w-full"
        >
          <h3 class="xl:text-heading-4 text-heading-5">Our products</h3>
          <ul>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Sales CRM</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Marketing automation</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Mobile CRM app</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Customer portal</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Lead management system</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">API & developer platform</p>
            </li>
          </ul>
        </div>
        <div data-ns-animate data-delay="0.6" data-offset="70" data-start="top 88%">
          <figure class="lg:max-w-[485px] max-w-[350px] mx-auto w-full">
            <img
              src="./images/ns-img-123.png"
              class="w-full h-full object-cover dark:hidden"
              alt="Features"
            />
            <img
              src="./images/ns-img-dark-92.png"
              class="w-full h-full object-cover hidden dark:block"
              alt="Features"
            />
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.7"
          data-start="top 88%"
          data-offset="70"
          class="xl:p-[42px] p-8 rounded-[20px] bg-background-1 space-y-6 dark:bg-background-6 xl:max-w-[360px] lg:max-w-[300px] max-w-[500px] w-full"
        >
          <h3 class="xl:text-heading-4 text-heading-5">Industries we serve</h3>
          <ul>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Real estate</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Finance & banking</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">E-commerce</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">Travel & hospitality</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">B2B SaaS</p>
            </li>
            <li class="flex items-center gap-2 xl:py-2.5 py-1.5">
              <span
                class="size-5 bg-background-3 rounded-full flex shrink-0 items-center justify-center dark:bg-accent"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="7"
                  viewBox="0 0 10 7"
                  fill="none"
                  class="shrink-0"
                >
                  <path
                    d="M9.125 1.02734L3.875 6.27711L1.25 3.65234"
                    class="stroke-secondary"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <p class="text-secondary dark:text-accent">And more!</p>
            </li>
          </ul>
        </div>
      </div>

      <div data-ns-animate data-delay="0.8" class="text-center">
        <a
          href="./lead-capture-features.html"
          class="btn hover:btn-primary dark:btn-accent btn-secondary btn-lg w-[85%] md:w-auto md:btn-xl"
        >
          <span>Explore all features</span>
        </a>
      </div>
    </div>
  </div>
</section>
