<!-- =========================
lead capture features page v4 section
===========================-->
<section class="{=$class}">
  <div class="main-container" data-ns-animate data-delay="0.2">
    <div class="relative z-10">
      <div class="absolute top-0 left-0 right-0 bottom-0 -z-10 rounded-[20px] overflow-hidden">
        <img
          src="./images/ns-img-14.png"
          alt="about bg"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="py-14 lg:px-11 px-6 grid max-lg:grid-cols-1 grid-cols-2 max-sm:gap-10 gap-5">
        <div class="max-w-[500px]">
          <h2 class="text-accent mb-8 sm:text-heading-5 text-heading-6">
            We appreciate our valued clients and strive to provide them with the best service
            possible.
          </h2>
          <a href="./crypto-marketing-services.html" class="section-button {=$btn-class}">
            <span> Get started </span>
          </a>
        </div>
        <div>
          <ul class="space-y-4">
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Innovative startups and ambitious scale-ups are redefining
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Enterprise teams are the backbone of large organizations
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Agencies and consultants play a crucial role in helping businesses
              </span>
            </li>
            <li class="flex items-center gap-2">
              <svg
                class="size-5 shrink-0"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 10.0002C0 4.47729 4.47717 0 10 0C15.5229 0 20.0001 4.47729 20.0001 10.0002C20.0001 15.523 15.5229 20.0003 10 20.0003C4.47717 20.0003 0 15.523 0 10.0002Z"
                  fill="#FCFCFC"
                  fill-opacity="0.17"
                />
                <path
                  d="M14.125 7.375L8.875 12.6248L6.25 10"
                  stroke=""
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="stroke-accent"
                />
              </svg>
              <span class="text-accent">
                Finance, marketing, and product teams collaborate to create
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
