<!-- =========================
Testimonial Marquee v1 section
===========================-->
<div class="cards-marquee-container">
  <div class="flex items-center gap-8">
    <!-- card one  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px] ml-8">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="./images/ns-avatar-10.png"
            alt="Jessica Lee avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Jessica Lee</p>
          <p class="text-tagline-2">Head of Customer Success</p>
        </div>
      </div>
    </div>

    <!-- card two  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="./images/ns-avatar-13.png"
            alt="Brian Kim avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Brian Kim</p>
          <p class="text-tagline-2">Product Designer, Aster Labs</p>
        </div>
      </div>
    </div>

    <!-- card three  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="./images/ns-avatar-3.png"
            alt="Olivia Martin avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Olivia Martin</p>
          <p class="text-tagline-2">Operations Manager, FinEdge</p>
        </div>
      </div>
    </div>

    <!-- card four  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="./images/ns-avatar-2.png"
            alt="Ethan Clark avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Ethan Clark</p>
          <p class="text-tagline-2">Marketing Strategist, BrightWorks</p>
        </div>
      </div>
    </div>

    <!-- card five  -->
    <div class="p-8 bg-background-2 dark:bg-background-6 rounded-[20px] w-[358px]">
      <h3 class="text-tagline-1 text-wrap">
        Amazing customer support and powerful featurres-Nuvio has transformed the way we manage our
        workflows!
      </h3>

      <div class="border-b border-stroke-4 dark:border-stroke-7 my-8"></div>
      <!-- avatar  -->
      <div class="flex items-center gap-3">
        <figure class="size-12 rounded-full overflow-hidden bg-(image:--color-gradient-6)">
          <img
            src="./images/ns-avatar-14.png"
            alt="Sophia Patel avatar"
            class="size-full object-cover"
          />
        </figure>

        <div>
          <p class="text-secondary dark:text-accent">Sophia Patel</p>
          <p class="text-tagline-2">Data Scientist, Quantify</p>
        </div>
      </div>
    </div>
  </div>
</div>
