<!-- =========================
Hero section
===========================-->
<section class="lg:pb-[100px] pb-16 lg:pt-[234px] pt-[150px] relative overflow-hidden" id="hero">
  <div
    class="absolute -z-10 top-5 left-1/2 -translate-x-1/2 h-full max-w-[1290px] flex justify-between lg:gap-[239px] sm:gap-[200px] gap-[150px]"
  >
    <div
      data-hero-line
      class="lp:block hidden w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
    <div
      data-hero-line
      class="lp:block hidden w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
    <div
      data-hero-line
      class="lg:block hidden w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
    <div
      data-hero-line
      class="w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
    <div
      data-hero-line
      class="w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
    <div
      data-hero-line
      class="w-px h-0 bg-linear-[180deg,#DFE4EB_0%,#dfe4eb00_100%] dark:bg-linear-[180deg,#2A333E_0%,#2a333e00_100%]"
    ></div>
  </div>
  <div class="main-container mb-[100px]">
    <div class="space-y-14 text-center">
      <div class="space-y-4">
        <h1 data-ns-animate data-delay="0.2" class="mx-auto max-w-[886px] w-full">
          Design that tells stories, code that connects.
        </h1>
        <p data-ns-animate data-delay="0.3" class="mx-auto max-w-[700px] w-full">
          Stay updated with the latest bitcoin price index, offering real-time data, historical
          trends, and market insights to keep you informed about the cryptocurrency's value
          fluctuations.
        </p>
      </div>
      <ul class="flex flex-col md:flex-row items-center justify-center gap-4">
        <li
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="50"
          class="w-full sm:w-auto"
        >
          <a
            href="./creative-portfolio-about.html"
            class="btn dark:btn-accent btn-md md:btn-xl btn-secondary hover:btn-white dark:hover:btn-white-dark w-[90%] md:w-auto"
          >
            <span>View portfolio</span>
          </a>
        </li>
        <li
          data-ns-animate
          data-delay="0.5"
          data-direction="left"
          data-offset="60"
          class="w-full sm:w-auto"
        >
          <a
            href="./creative-portfolio-contact.html"
            class="btn hover:btn-secondary btn-md md:btn-xl btn-white dark:btn-white-dark dark:hover:btn-accent w-[90%] md:w-auto"
          >
            <span>Book a call</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div data-ns-animate data-delay="0.2" data-offset="90">
    <div
      class="flex gap-4 justify-center items-center overflow-y-auto overflow-x-hidden scroll-bar"
    >
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full ml-4">
        <img src="./images/ns-img-133.jpg" class="w-full h-full object-cover" alt="hero-slide-1" />
      </figure>
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full">
        <img src="./images/ns-img-134.jpg" class="w-full h-full object-cover" alt="hero-slide-2" />
      </figure>
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full">
        <img src="./images/ns-img-135.jpg" class="w-full h-full object-cover" alt="hero-slide-3" />
      </figure>
      <figure
        class="scroll-expand rounded-[20px] overflow-hidden max-h-[380px] min-w-[500px] w-full"
      >
        <img src="./images/ns-img-136.jpg" class="w-full h-full object-cover" alt="hero-slide-4" />
      </figure>
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full">
        <img src="./images/ns-img-137.jpg" class="w-full h-full object-cover" alt="hero-slide-5" />
      </figure>
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full">
        <img src="./images/ns-img-138.jpg" class="w-full h-full object-cover" alt="hero-slide-6" />
      </figure>
      <figure class="rounded-[20px] overflow-hidden max-h-[380px] min-w-[257px] w-full">
        <img src="./images/ns-img-139.jpg" class="w-full h-full object-cover" alt="hero-slide-7" />
      </figure>
    </div>
  </div>
</section>
