<!-- =========================
Service section
===========================-->
<section class="xl:py-[100px] lg:py-[90px] md:py-20 py-16 bg-background-3 dark:bg-background-7">
  <div class="main-container">
    <div class="text-center space-y-3 mb-10 md:mb-[70px]">
      <h2 data-ns-animate data-delay="0.2">What I can help you with</h2>
      <p data-ns-animate data-delay="0.3" class="max-w-[776px] mx-auto">
        Whether you need a new visual identity, a high-performing website, or a design system, I
        offer creative services tailored to help your brand grow with clarity and confidence.
      </p>
    </div>
    <div class="mb-[72px]">
      <div class="grid grid-cols-12 sm:gap-8 gap-y-8">
        <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4 sm:col-span-6">
          <div class="bg-white dark:bg-background-8 rounded-[20px] md:p-8 p-6 space-y-6">
            <div class="space-y-1">
              <h3 class="text-heading-6 md:text-heading-5">Web design & front-end development</h3>
              <p>Create yoyr free account in seconds</p>
            </div>
            <div>
              <figure class="sm:max-w-[345px] max-w-full w-full rounded-2xl overflow-hidden">
                <img
                  src="./images/ns-img-144.png"
                  alt="services"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-100.png"
                  alt="services"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4 sm:col-span-6">
          <div class="bg-white dark:bg-background-8 rounded-[20px] md:p-8 p-6 space-y-6">
            <div class="space-y-1">
              <h3 class="text-heading-6 md:text-heading-5">Ui/ux design for saas and products</h3>
              <p>Create yoyr free account in seconds</p>
            </div>
            <div>
              <figure class="sm:max-w-[345px] max-w-full w-full">
                <img
                  src="./images/ns-img-148.png"
                  alt="services"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-102.png"
                  alt="services"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4 sm:col-span-6">
          <div class="bg-white dark:bg-background-8 rounded-[20px] md:p-8 p-6 space-y-6">
            <div class="space-y-1">
              <h3 class="text-heading-6 md:text-heading-5">Brand identity design</h3>
              <p>Create yoyr free account in seconds</p>
            </div>
            <div>
              <figure class="sm:max-w-[345px] max-w-full w-full">
                <img
                  src="./images/ns-img-145.png"
                  alt="services"
                  class="w-full h-full object-cover"
                />
              </figure>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.7" class="col-span-12 lg:col-span-4 sm:col-span-6">
          <div class="bg-white dark:bg-background-8 rounded-[20px] md:p-8 p-6 space-y-6">
            <div class="space-y-1">
              <h3 class="text-heading-6 md:text-heading-5">
                Framer, webflow & next.js development
              </h3>
              <p>Create yoyr free account in seconds</p>
            </div>
            <div>
              <figure class="sm:max-w-[345px] max-w-full w-full overflow-hidden rounded-2xl">
                <img
                  src="./images/ns-img-146.png"
                  alt="services"
                  class="w-full h-full object-cover"
                />
              </figure>
            </div>
          </div>
        </div>
        <div data-ns-animate data-delay="0.8" class="col-span-12 lg:col-span-8">
          <div class="bg-white dark:bg-background-8 rounded-[20px] md:p-8 p-6 space-y-6">
            <div class="space-y-1">
              <h3 class="text-heading-6 md:text-heading-5">Art direction & creative consulting</h3>
              <p>Create yoyr free account in seconds</p>
            </div>
            <div>
              <figure class="max-w-[784px] overflow-hidden rounded-2xl w-full">
                <img
                  src="./images/ns-img-147.png"
                  alt="services"
                  class="w-full h-full object-cover dark:hidden"
                />
                <img
                  src="./images/ns-img-dark-101.png"
                  alt="services"
                  class="w-full h-full object-cover hidden dark:block"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      data-ns-animate
      data-delay="0.9"
      class="flex flex-col md:flex-row items-center gap-y-5 md:gap-x-3 justify-center"
    >
      <a
        href="./creative-portfolio-services.html"
        class="btn btn-secondary dark:btn-accent btn-md hover:btn-white dark:hover:btn-white-dark w-[90%] md:w-auto"
      >
        <span>Explore services</span>
      </a>
      <a
        href="./creative-portfolio-contact.html"
        class="btn hover:btn-secondary dark:btn-transparent btn-white btn-md dark:hover:btn-accent w-[90%] md:w-auto"
      >
        <span>Book a call</span>
      </a>
    </div>
  </div>
</section>
