<!-- =========================
Testimonial section
===========================-->
<section class="xl:py-[100px] lg:py-[90px] md:py-20 py-16 bg-background-3 dark:bg-background-7">
  <div class="mb-14 text-center">
    <div class="space-y-5">
      <span data-ns-animate data-delay="0.2" class="badge badge-green">Testimonials</span>
      <h2 data-ns-animate data-delay="0.3">Client words</h2>
    </div>
  </div>
  <div>
    <Component src="src/components/shared/testimonial-cards.htm" />
  </div>
</section>
