<!-- =========================
Work section
===========================-->
<section class="xl:py-[100px] lg:py-[90px] md:py-20 py-16">
  <div class="main-container">
    <div class="text-center space-y-3 mb-10 md:mb-[70px]">
      <h2 data-ns-animate data-delay="0.2">Selected work</h2>
      <p data-ns-animate data-delay="0.3" class="max-w-[680px] mx-auto">
        Here’s a glimpse of projects that reflect my approach to design and development clean
        aesthetics, user first thinking, and brand-aligned strategy.
      </p>
    </div>
    <div class="mb-14">
      <div class="grid grid-cols-12 lg:gap-14 gap-y-12">
        <div class="col-span-12">
          <figure data-ns-animate data-delay="0.4" class="space-y-6">
            <div
              class="relative w-full max-h-[576px] xl:h-[576px] h-full rounded-[20px] overflow-hidden group"
            >
              <div
                class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
              ></div>
              <img
                src="./images/ns-img-140.jpg"
                class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
                alt="portfolio"
              />
              <a
                href="./creative-portfolio-case-study.html"
                class="group-hover:opacity-100 opacity-0 transition-all duration-500 ease-in-out absolute top-[55%] group-hover:top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 btn btn-md btn-white dark:btn-accent hover:!btn-white dark:hover:!btn-white-dark group-hover:shadow-3 border-0 transform hover:scale-[102%] z-20"
              >
                <span>View case studies</span>
              </a>
            </div>
            <div
              class="flex sm:items-center sm:flex-row flex-col sm:gap-4 gap-2 sm:justify-between justify-start"
            >
              <h3 class="text-heading-6 sm:text-heading-5">Cove</h3>
              <p class="max-w-[257px] sm:text-right text-left">
                Brand & web design for a sustainable skincare brand
              </p>
            </div>
          </figure>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <figure data-ns-animate data-delay="0.3" class="space-y-6">
            <div
              class="relative w-full lg:max-h-[400px] md:max-h-[280px] xl:h-[576px] h-full rounded-[20px] overflow-hidden group"
            >
              <div
                class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
              ></div>

              <img
                src="./images/ns-img-141.jpg"
                class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
                alt="portfolio"
              />
              <a
                href="./creative-portfolio-case-study.html"
                class="group-hover:opacity-100 opacity-0 transition-all duration-500 ease-in-out absolute top-[55%] group-hover:top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 btn btn-md btn-white dark:btn-accent hover:!btn-white dark:hover:!btn-white-dark group-hover:shadow-3 border-0 transform hover:scale-[102%] z-20"
              >
                <span>View case studies</span>
              </a>
            </div>
            <div
              class="flex sm:items-center sm:flex-row flex-col sm:gap-4 gap-2 sm:justify-between justify-start"
            >
              <h3 class="text-heading-6 sm:text-heading-5">Studio north</h3>
              <p class="max-w-[257px] sm:text-right text-left">
                Interactive portfolio for a film production house
              </p>
            </div>
          </figure>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <figure data-ns-animate data-delay="0.4" class="space-y-6">
            <div
              class="relative w-full lg:max-h-[400px] md:max-h-[280px] xl:h-[576px] h-full rounded-[20px] overflow-hidden group"
            >
              <div
                class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
              ></div>
              <img
                src="./images/ns-img-142.jpg"
                alt="portfolio"
                class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
              />
              <a
                href="./creative-portfolio-case-study.html"
                class="group-hover:opacity-100 opacity-0 transition-all duration-500 ease-in-out absolute top-[55%] group-hover:top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 btn btn-md btn-white dark:btn-accent hover:!btn-white dark:hover:!btn-white-dark group-hover:shadow-3 border-0 transform hover:scale-[102%] z-20"
              >
                <span>View case studies</span>
              </a>
            </div>
            <div
              class="flex sm:items-center sm:flex-row flex-col sm:gap-4 gap-2 sm:justify-between justify-start"
            >
              <h3 class="text-heading-6 sm:text-heading-5">Lumina ai</h3>
              <p class="max-w-[257px] sm:text-right text-left">
                Landing page + ui system for a fast-growing ai startup
              </p>
            </div>
          </figure>
        </div>
        <div class="col-span-12">
          <figure data-ns-animate data-delay="0.5" class="space-y-6">
            <div
              class="relative w-full max-h-[576px] xl:h-[576px] h-full rounded-[20px] overflow-hidden group"
            >
              <div
                class="absolute inset-0 bg-black/40 z-10 opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
              ></div>
              <img
                src="./images/ns-img-143.jpg"
                class="w-full h-full object-cover group-hover:scale-105 transition-all duration-500 ease-in-out"
                alt="portfolio"
              />
              <a
                href="./creative-portfolio-case-study.html"
                class="group-hover:opacity-100 opacity-0 transition-all duration-500 ease-in-out absolute top-[55%] group-hover:top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 btn btn-md btn-white dark:btn-accent hover:!btn-white dark:hover:!btn-white-dark group-hover:shadow-3 border-0 transform hover:scale-[102%] z-20"
              >
                <span>View case studies</span>
              </a>
            </div>
            <div
              class="flex sm:items-center sm:flex-row flex-col sm:gap-4 gap-2 sm:justify-between justify-start"
            >
              <h3 class="text-heading-6 sm:text-heading-5">Monaco type foundry</h3>
              <p class="max-w-[257px] sm:text-right text-left">
                E-commerce experience for a modern font shop
              </p>
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div data-ns-animate data-delay="0.6" class="text-center">
      <a
        href="./creative-portfolio-case-study.html"
        class="btn btn-secondary btn-xl dark:btn-transparent hover:btn-white dark:hover:btn-accent w-[90%] md:w-auto"
      >
        <span>See all projects</span>
      </a>
    </div>
  </div>
</section>
