<!-- =========================
Accessibility section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="main-container">
    <div
      class="grid grid-cols-1 max-md:space-y-18 md:grid-cols-2 items-center rounded-[32px] py-18 px-[42px] bg-secondary dark:bg-background-7 overflow-hidden border border-stroke-1 dark:border-stroke-6 relative z-10"
    >
      <!-- bg img   -->
      <figure
        data-ns-animate
        data-delay="0.6"
        data-offset="100"
        data-direction="up"
        class="-z-10 absolute xl:-top-[123%] md:-top-[100%] md:-right-[50%] lg:-top-[133%] -top-[100%] -right-[100%] sm:-top-[100%] sm:-right-[100%] xl:-right-[40%] lg:-right-[40%] md:-rotate-[130deg] -rotate-[130deg] size-[1060px] pointer-events-none select-none"
      >
        <img src="./images/ns-img-513.png" alt="gradient" />
      </figure>
      <div class="space-y-14 max-w-[630px]">
        <div class="space-y-5 text-center md:text-left">
          <span data-ns-animate data-delay="0.1" class="badge badge-blur text-ns-green"
            >Accessible</span
          >
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.2" class="text-white">
              Guiding you with intelligence and heart
            </h2>
            <p data-ns-animate data-delay="0.3" class="text-accent/60">
              Whether you're just starting or optimizing your legacy, we’re here with a blend of
              automated intelligence and real human advice—accessible anywhere, anytime.
            </p>
          </div>
        </div>
        <div data-ns-animate data-delay="0.4" class="text-center md:text-left">
          <a
            href="./wealth-management-affiliates.html"
            class="btn btn-dark btn-lg hover:btn-primary"
          >
            <span>Start earning more</span>
          </a>
        </div>
      </div>
      <div class="flex flex-col md:items-center justify-center">
        <ul class="flex flex-col gap-y-4">
          <li data-ns-animate data-delay="0.5" class="flex items-center gap-3 shrink-0">
            <span>
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                <path
                  d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="text-accent/60"> iOS, android, web app</span>
          </li>
          <li data-ns-animate data-delay="0.6" class="flex items-center gap-3 shrink-0">
            <span>
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                <path
                  d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="text-accent/60">24/7 portfolio access</span>
          </li>
          <li data-ns-animate data-delay="0.7" class="flex items-center gap-3 shrink-0">
            <span>
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                <path
                  d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="text-accent/60">Dedicated wealth coaches</span>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center gap-3 shrink-0">
            <span>
              <svg
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="shrink-0"
              >
                <rect y="0.5" width="24" height="24" rx="12" fill="white" fill-opacity="0.15" />
                <path
                  d="M11.3166 16.2561L16.7491 10.9214C17.0836 10.5959 17.0836 10.0697 16.7491 9.74416C16.4145 9.41861 15.8736 9.41861 15.539 9.74416L10.7116 14.4901L8.46096 12.2881C8.12636 11.9625 7.58554 11.9625 7.25095 12.2881C6.91635 12.6136 6.91635 13.1398 7.25095 13.4654L10.1066 16.2561C10.2735 16.4184 10.4925 16.5 10.7116 16.5C10.9307 16.5 11.1497 16.4184 11.3166 16.2561Z"
                  fill="white"
                />
              </svg>
            </span>
            <span class="text-accent/60">Live support when you need it</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
