<!-- =========================
CTA section
===========================-->
<section class="relative">
  <div
    class="lg:main-container xl:max-w-[1440px] mx-auto w-full -mb-10 md:-mb-8 lg:-mb-6 px-5 lg:px-0 xl:-mb-14 relative z-10"
  >
    <div
      class="py-[76px] bg-secondary dark:bg-background-8 rounded-4xl relative z-10 overflow-hidden"
    >
      <figure
        data-ns-animate
        data-delay="0.3"
        data-direction="left"
        data-offset="100"
        class="cta-bg-gradient -z-10 absolute -left-[30%] -top-[90%] md:-left-[30%] md:-top-[190%] lg:-left-[30%] xl:-left-[15%] lg:-top-[190%] size-[550px] md:size-[1050px] pointer-events-none select-none"
      >
        <img src="./images/ns-img-520.png" alt="gradient" />
      </figure>
      <div class="text-center space-y-5">
        <span data-ns-animate data-delay="0.1" class="badge badge-blur text-ns-green"
          >Let’s started</span
        >
        <div class="space-y-6">
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.2" class="max-w-[830px] mx-auto text-white">
              Ready to build real wealth?
            </h2>
            <p data-ns-animate data-delay="0.3" class="text-accent/60 px-4 sm:px-0">
              Let’s take the guesswork out of your financial future.
            </p>
          </div>
          <ul class="flex flex-col sm:flex-row items-center gap-y-5 sm:gap-x-3 justify-center">
            <li
              data-ns-animate
              data-delay="0.4"
              data-direction="left"
              data-offset="50"
              class="w-full sm:w-auto"
            >
              <a
                href="./wealth-management-pricing.html"
                class="btn btn-primary border-0 hover:btn-white btn-md w-[90%] sm:w-auto"
              >
                <span>Sign up free</span>
              </a>
            </li>
            <li
              data-ns-animate
              data-delay="0.4"
              data-direction="right"
              data-offset="50"
              class="w-full sm:w-auto"
            >
              <a
                href="./wealth-management-contact.html"
                class="btn btn-white hover:btn-primary btn-md dark:btn-transparent w-[90%] sm:w-auto"
              >
                <span>Talk to a wealth coach</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
