<!-- =========================
Hero section
===========================-->
<section
  class="hero-section pt-[230px] lg:pb-[200px] pb-[100px] bg-[url('/images/ns-img-261.svg')] bg-no-repeat bg-top-right"
>
  <div class="main-container">
    <div class="grid grid-cols-1 md:grid-cols-2 max-sm:space-y-18 2xl:gap-x-[100px]">
      <div>
        <div class="space-y-14">
          <div class="space-y-5 text-center md:text-left">
            <span data-ns-animate data-delay="0.1" class="badge badge-cyan">Finance</span>
            <div class="space-y-4">
              <h1 data-ns-animate data-delay="0.2">
                Manage and protect your wealth with confidence.
              </h1>
              <p data-ns-animate data-delay="0.3" class="max-w-[550px]">
                We combine modern technology with experienced advisors to help you plan for
                retirement, grow your portfolio, and make smarter financial decisions.
              </p>
            </div>
          </div>
          <div data-ns-animate data-delay="0.4" class="text-center md:text-left">
            <a
              href="./wealth-management-contact.html"
              class="btn hover:btn-secondary dark:hover:btn-accent btn-primary btn-lg"
            >
              <span>Start managing</span>
            </a>
          </div>
        </div>
        <div class="my-8">
          <div class="divider h-[1px] bg-stroke-1 dark:bg-stroke-5 w-0"></div>
        </div>
        <div class="space-y-2 text-center md:text-left">
          <p data-ns-animate data-delay="0.5" class="max-w-[320px]">
            “I finally feel in control of my financial future — and I barely have to lift a finger.”
          </p>
          <div
            data-ns-animate
            data-delay="0.6"
            class="flex items-center gap-2 justify-center md:justify-start"
          >
            <img
              src="./images/ns-avatar-1.png"
              alt="author image"
              class="size-9 rounded-full bg-ns-yellow border-2 border-ns-yellow dark:border-black"
            />
            <p class="text-tagline-2 text-secondary dark:text-accent">– Alex Monroe.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="relative h-[650px] w-full max-w-[724px] ml-auto z-0">
          <figure
            data-ns-animate
            data-delay="0.1"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            data-direction="up"
            class="absolute w-[200px] lg:w-[273px] max-sm:top-[10px] left-[40px] md:top-5 lg:top-0 sm:left-0 z-1 rotate-[8deg]"
          >
            <img
              src="./images/ns-img-262.png"
              alt="hero-image"
              class="rounded-[20px] w-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-176.png"
              alt="hero-image"
              class="rounded-[20px] w-full hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.2"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            class="absolute max-w-full w-[350px] lg:w-[370px] xl:w-[408px] left-0 md:left-[10px] lg:left-[100px] xl:left-[135px] top-[150px] -z-1"
          >
            <img
              src="./images/ns-img-263.png"
              alt="hero-image"
              class="rounded-[20px] w-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-177.png"
              alt="hero-image"
              class="rounded-[20px] w-full hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.3"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            data-direction="right"
            class="absolute max-w-full w-[150px] md:[250px] xl:w-[280px] right-0 xl:right-[25px] lp:right-[-20px] top-[250px] z-1 rotate-[-15deg] shadow-2 rounded-[20px] overflow-hidden"
          >
            <img
              src="./images/ns-img-264.png"
              alt="hero-image"
              class="w-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-178.png"
              alt="hero-image"
              class="w-full hidden dark:block"
            />
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            data-offset="100"
            data-spring="true"
            data-duration="2"
            data-direction="left"
            class="absolute max-w-full w-[600px] md:w-[357px] left-[2px] sm:-left-[45px] bottom-[-20px] sm:-bottom-[60px] z-1"
          >
            <img
              src="./images/ns-img-265.png"
              alt="hero-image"
              class="rounded-[20px] w-full dark:hidden"
            />
            <img
              src="./images/ns-img-dark-179.png"
              alt="hero-image"
              class="rounded-[20px] w-full hidden dark:block"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
