<div>
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[320px] pointer-events-none bg-transparent opacity-0"
  ></div>

  <ul
    id="people-dropdown-menu"
    class="dropdown-menu mt-2 w-[320px] rounded-3xl p-2 bg-white dark:bg-background-6 shadow-14 absolute left-1/2 -translate-x-1/2 top-full z-50 pointer-events-none transition-all duration-300 opacity-0 border border-stroke-1 dark:border-background-7"
  >
    <li>
      <a
        href="./wealth-management-process.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/process-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Process</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Explore our process
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./wealth-management-team.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/team-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Team</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Explore team members
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./wealth-management-career.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/career-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Career</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Discover open positions
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./wealth-management-testimonial.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/testimonial-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Testimonial</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            See what clients say
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./wealth-management-customers.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/customer-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Customer</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Plan, track, and deliver
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./wealth-management-contact.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/contact-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Contact</p>
          <p class="text-tagline-3 font-normal text-secondary/60 dark:text-accent/60">
            Get support help
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>

